@charset "UTF-8";

//
// Featured Card
//

// Decanter
@import
  'decanter-no-markup';

.featured-card__container {
  .featured-card__img {
    position: relative;

    img {
      width: 100%;
    }
  }
}

.featured-card__content-container {
  background: $color-white;

  @include padding(55px 35px 0px 35px);

  .featured-card__time {
    @include margin(null null 5px null);
  }

  .featured-card__title {
    h2 {
      @include margin(20px null null);
    }
  }
}
