@charset "UTF-8";

@import 'decanter-no-markup';

//
// Debug
//

// Adds background colors to Decanter grid for debugging.
//.decanter-grid {
//  background-color: mix(transparent, black, 75%);
//  > div {
//    &:nth-child(odd) {
//      background-color: mix(transparent, white, 75%);
//    }
//    &:nth-child(even) {
//      background-color: mix(transparent, black, 75%);
//    }
//  }
//}
.node--unpublished {
  max-width: 1170px;
  display: block;
  margin: 0 auto;
  background-color: rgba(234, 171, 0, 0.6);
  padding: 20px;
}
