@charset "UTF-8";

//
// Footer
//

// Decanter
@import 'decanter-no-markup';

#footer {
  box-shadow: 0 -2px 2px rgba(0, 0, 0, .2);

  @include margin(3rem null null);
  @include padding(2em null null null);
  @include media($medium-screen) {
    @include margin(6rem null null);
  }

  @include media($large-screen) {
    @include margin(10rem null null);
  }

  h2 {
    font-size: $h3-font-size;
  }

  a {
    text-decoration: none;
  }
}
