@charset "UTF-8";

//
// Global
//
// Decanter
@import 'decanter-no-markup';
// SU HumSci
@import '../utilities/mixins/index';

// Need to ensure that the new WYSIWYG text-editor classes are supported with the
// update made by the Sparkbox team to the Humsci Basic Theme
// For example, instead of .decanter-font-splash, you can now use
// .hs-font-splash as a more unspecific override of WYSIWYG styles
.hs-external-link {
  @include external-link(external-link, external-link-hover);
}

.hs-more-link {
  @include more-link(more-link, more-link-hover);
}

.hs-table--borderless {
  @include table-borderless;
}

.hs-font-lead {
  @include font-lead;
}

.hs-font-splash {
  @include font-splash;
}

.hs-short-line-length {
  @include short-line-length;
}

.hs-well {
  @include hs-well;
}

.hs-caption {
  @include caption;
}

.hs-credits {
  @include credits;
}

.hs-button,
a.hs-button {
  @include button-primary;
}

.hs-secondary-button,
a.hs-secondary-button {
  @include button-secondary;
}

.hs-button--big,
a.hs-button--big {
  @include button-big;
}

a.hs-file-link {
  @include hs-file-link;

  //Outline file icon option
  &--outline {
    @include hs-file-link;

    &::before {
      font-weight: 400;
    }
  }
}

a.hs-pdf-link {
  @include hs-pdf-link;

  //Outline pdf icon option
  &--outline {
    @include hs-pdf-link;

    &::before {
      font-weight: 400;
    }
  }
}

// Logged in fixes

// Move entity queue contextual links so they don't cover view contextual links.
div[data-contextual-id^="entityqueue"] {
  right: 26px;
}


#main-content {
  @include padding(null null 10rem);
}

// Date stacked style
.date-stacked {
  @include date-stacked;
}

// Fixes for layout builder.
// see https://www.drupal.org/node/3305664
#drupal-off-canvas:not(.drupal-off-canvas-reset),
#drupal-off-canvas-wrapper {
  li {
    border-bottom: 1px solid #fff;
    padding: 5px;
  }

  a {
    font-size: 14px;
  }

  .view-form {
    color: #fff;
  }
}

// Embedded media in WYSIWYG.
.embedded-entity {
  @include margin(0 0 1em);

  width: fit-content;
  float: none;

  &.align-left {
    @media (min-width: 768px) {
      @include margin(null 1em 1em null);

      width: auto;
      max-width: 50%;
      float: left;
    }

    @media (min-width: 960px) {
      max-width: 75%;
    }
  }

  &.align-right {
    @media (min-width: 768px) {
      @include margin(null null 1em 1em);

      width: auto;
      max-width: 50%;
      float: right;
    }

    @media (min-width: 960px) {
      max-width: 75%;
    }
  }

  &.align-center {
    margin: 0 auto;
  }
}

// Exposed filter spacing
.views-exposed-form {
  .form-item,
  .form-actions {
    @include margin(0.5rem null 0 null);
  }

  .form-item:first-child {
    @include margin(3rem null null);
  }

  label {
    @include margin(1rem null 0.5rem);
  }
}

// Emphasized text style
.emphasized-text,
.hs-emphasized-text {
  font-weight: $font-bold;
  font-style: italic;
}

// Further nesting of Decanter's button styles

body {
  .decanter-button:not(a),
  .hs-button:not(a) {
    padding: 0;

    a {
      color: $color-white;
      text-decoration: none;
      padding: 1rem 2rem 1.5rem;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .decanter-button--secondary:not(a),
  .hs-secondary-button:not(a) {
    padding: 0;

    a {
      padding: 1rem 2rem 1.5rem;
      display: block;
    }
  }
}

// External Link icons.
a span.ext {
  #footer__global-footer & {
    display: none;
  }
}

.label-inline {
  display: flex;
  flex-wrap: wrap;

  @include margin(null null 0.25em);

  .field-label {
    padding-right: 5px;
  }
}

.field-label {
  font-weight: $font-bold;
}

figure {
  span.media--type-image & {
    position: relative;
    margin: 0;

    figcaption {
      position: absolute;
      background: rgba(255, 255, 255, 0.75);
      padding: 5px;
      opacity: 0;
      bottom: 0;
      width: 100%;
      text-align: right;
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
    }

    &:hover figcaption {
      opacity: 1;
      left: 0;
    }

    p {
      @include caption;
      margin-bottom: 0;
    }
  }
}

figcaption {
  @include caption;
}

a[class*="heading-link-"] {
  text-decoration: none;
}

a[data-extlink] {
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline;
  }

  .extlink {
    font-size: 60%;
    padding: 0 5px;

    .fa-arrow-right {
      transform: rotate(-45deg);
    }

    // Duplicated text "Link is External" occurs in screen readers.
    // Hide this one from screen readers to prevent repeated text.
    .visually-hidden {
      display: none;
    }
  }
}

// Decanter unsets focus style provided by the browser. We NEED this.
body *:focus {
  outline: rgb(77, 144, 254) auto 5px;
}

.brand-bar *:focus,
.decanter-button *:focus,
.hs-button *:focus {
  outline: #fff auto 5px;
}

.decanter-font-lead,
.hs-font-lead {
  max-width: 100%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

img.lazy[src*="su_humsci_theme/img/loading.png"] {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

