@charset "UTF-8";

//
// Search
//

// Decanter
@import
  'decanter-no-markup';

.search-block-form {
  form {
    display: inline-block;
    float: right;
    position: relative;

    &.expanded {
      input.button {
        z-index: 999;
      }

      input.form-search {
        background: $color-white;
        width: 145px;
      }
    }
  }

  input {
    &.button {
      display: block;
      position: absolute;
      background: url("../../img/search.svg") no-repeat;
      background-size: 45px 45px;
      top: 21px;
      right: 1px;
      border: 0;
      font-size: 0;
      width: 45px;
      height: 45px;
      z-index: -999;
    }

    &.form-search {
      background: url("../../img/search.svg") no-repeat center right;
      background-color: $color-white;
      background-size: 45px 45px;
      -webkit-transition: width 0.6s, border-radius 0.6s, background 0s, box-shadow 0.6s;
      transition: width 0.6s, border-radius 0.6s, background 0s, box-shadow 0.6s;
      width: 0;
      height: auto;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 0 1.5px $color-bright-red;

      @include padding(null 32px null null);

      .user-is-tabbing &:hover,
      .user-is-tabbing &:focus {
        box-shadow: 0 0 0 2px $color-bright-red;
        border: none;
      }

      .user-is-tabbing &:focus {
        background-size: 45px 45px;
        cursor: text;
        width: 145px;

        @include padding(null 50px null 15px);
      }
    }
  }
}
