@charset "UTF-8";

//
// Search
//

// Decanter

@import
  'decanter-no-markup';

#search-region {
  .search-block-form,
  .views-exposed-filter-block.hs-search-search-page {
    label {
      @include hide-visually;
    }

    form {
      float: right;
      position: relative;

      @include margin(null null -7rem);

      @include media($medium-screen) {
        @include margin((-7rem) null 0);
      }

      &.expanded {
        input.button {
          z-index: 999;
        }

        input.form-search,
        input[type=text] {
          background: $color-white;
          width: 145px;
        }
      }

      .js-form-item-search {
        @include margin(0);
      }
    }

    input {
      &.button {
        display: block;
        position: absolute;
        background: url('../../img/search.svg') no-repeat;
        background-size: 45px 45px;
        top: 5px;
        right: 0;
        border: 0;
        font-size: 0;
        width: 45px;
        height: 45px;
        z-index: -999;
      }

      &.form-search,
      &[type=text] {
        background: url('../../img/search.svg') no-repeat center right;
        background-color: $color-white;
        background-size: 45px 45px;
        -webkit-transition: width 0.6s, border-radius 0.6s, background 0s, box-shadow 0.6s;
        transition: width 0.6s, border-radius 0.6s, background 0s, box-shadow 0.6s;
        width: 0;
        height: auto;
        border-radius: 25px;
        border: 0;
        cursor: pointer;
        box-shadow: 0 0 0 1.5px $color-cloud;

        @include padding(null 32px null null);

        .user-is-tabbing &:hover,
        .user-is-tabbing &:focus {
          box-shadow: 0 0 0 2px $color-bright-red;
          border: 0;
        }

        .user-is-tabbing &:focus {
          background-size: 45px 45px;
          cursor: text;
          width: 145px;

          @include padding(null 50px null 15px);
        }
      }
    }
  }
}
