@charset "UTF-8";

//
// Site Title Lockup
//
// Decanter
@import 'decanter-no-markup';

.block--lockup {
  .block--lockup__site-name-and-slogan {
    a {
      color: $color-black;
      display: inherit;
      text-decoration: none;
    }

    &.two-line-name {
      font-size: 2.3rem;
      line-height: 2.3rem;
    }
  }
}
