@charset "UTF-8";

//
// Base
//

// Footer
@import
  'debug',
  'footer',
  'header',
  'search',
  'site-title-lockup';

img {
  max-width:100%;
}

.js .overflow-hero {
  > div {
    width: 100vw;
    position: absolute;
    left: 0;
  }
}