@charset "UTF-8";

///
/// NEWS NODE STYLES
///
// Decanter
@import 'decanter-no-markup';
// Stanford Math Research Center
@import '../utilities/mixins/mixins';

.mrc-news__date-source {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;

  .mrc-news__date {
    margin: 0 0 0.25em 0;

    @include media($medium-screen) {
      margin: 0;
    }
  }

  .mrc-news__source {
    margin-top: 0;
  }
}

.mrc-news__img {
  img {
    height: auto;
    width: 100%;
  }
}

.mrc-news__author {
  font-style: italic;
  font-weight: $font-bold;
  margin-top: 1em;

  > div {
    display: inline-block;
  }
}

h1.page-title {
  margin-top: 0;
}