@charset "UTF-8";

//
// Hover Main Menu
//
// Decanter
@import 'decanter-no-markup';

// Styles for no JavaScript
// Fallback styles, which are also applied to the page when
// loading and in-between navigation page refreshes
#header {
  .decanter-main-menu--hover-reveal {
    .no-js & {
      .fas {
        display: none;
      }
    }

    @include media($large-screen) {
      ul ul {
        display: none;
      }

      &.menu--main {
        box-shadow: none;
        float: none;
        height: 40px;

        a:hover,
        a.is-active,
        .menu-item--active-trail a {
          border-bottom: solid 3px $color-black;
        }

        li {
          @include margin(null 0 null null);

          &.menu-item > a {
            font-size: $base-font-size;
            font-weight: $font-normal;
            text-decoration: none;

            @include margin(0 1em 0 0);
            @include padding(6px 0);
            @include media($large-screen) {
              @include margin(null 1.5em null null);
            }
          }
        }
      }
    }
  }

  .fa:before,
  .far:before,
  .fas:before {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
  }

  .js & .decanter-main-menu--hover-reveal {
    button {
      width: auto;
    }

    @include media($large-screen) {
      .fa,
      .far,
      .fas {
        display: none;
      }

      &.menu--main {
        box-shadow: none;
        float: none;
        height: 40px;

        a:hover,
        a.is-active,
        .menu-item--active-trail a,
        a.ui-state-active {
          border-bottom: solid 3px $color-black;
        }
      }

      .ui-menu.decanter-nav-primary {
        border: 0;

        &.ui-menu {
          float: right;

          li.menu-item--active-trail .decanter-nav-submenu .ui-menu-item-wrapper {
            border-bottom: 0;
            color: $color-bright-red;
          }

          li.menu-item--active-trail .ui-menu-item-wrapper {
            border-bottom: 3px solid $color-black;
            color: $color-bright-red;
          }

          .ui-menu-item-wrapper {
            @include margin(0 1em -1rem 0);
            @include padding(6px 0);
            @include media($large-screen) {
              @include margin(null 1.5em null null);
            }
          }
        }

        &.ui-menu li.menu-item--active-trail .decanter-nav-submenu .ui-menu-item-wrapper:hover,
        &.ui-menu li.menu-item--active-trail .decanter-nav-submenu .ui-menu-item-wrapper:focus {
          color: $color-black;
        }

        > li {
          color: $color-bright-red;
          position: relative;

          > a {
            font-weight: $font-normal;

            @media (min-width: 951px) {
              font-size: $base-font-size;
            }
          }

          // If menu is too close to right edge, make it hug the right (js menuEdgeCheck function).
          &.edge ul.decanter-nav-submenu {
            right: 0;
          }
        }

        > li:hover {
          color: $color-black;
        }

        > li:last-of-type .ui-menu-item-wrapper {
          margin-right: 0;
        }

        .ui-state-active,
        .ui-widget-content .ui-state-active,
        .ui-widget-header .ui-state-active,
        a.ui-button:active,
        .ui-button:active,
        .ui-button.ui-state-active:hover {
          background-color: transparent;
          border: 0;
          border-bottom: 3px solid $color-black;

          @include media($large-screen) {
            color: $color-black;
          }
        }

        .decanter-nav-submenu .menu-item a,
        .decanter-nav-submenu .menu-item span {
          border-bottom: 0;
          color: $color-bright-red;

          @include margin(0 1.5em 10px 0);
          @include padding(0);

          @include media($large-screen) {
            @include margin(0 0 10px 0);
          }
        }

        .decanter-nav-submenu .menu-item a:hover,
        .decanter-nav-submenu .menu-item span:hover {
          background-color: transparent;
          border: 0;
          color: $color-black;
        }
      }

      .ui-menu.decanter-nav-primary .decanter-nav-submenu {
        .ui-state-active,
        .ui-widget-content .ui-state-active,
        a.ui-button:active,
        .ui-button:active,
        .ui-button.ui-state-active:hover {
          background-color: transparent;
        }
      }

      .ui-menu.decanter-nav-primary.ui-menu.ui-widget-content {
        background: $color-black;

        @include media($large-screen) {
          background: none;
        }

        &.ui-widget {
          border: 0;
        }

        .ui-icon {
          background-image: none;
        }

        .ui-widget {
          background: $color-white;

          @include margin(1rem null null);
          @include padding(0.7em 1em);

          &.decanter-nav-submenu li a {
            font-size: 1.8rem;
            line-height: 1.25;
          }
        }
      }

      ul ul {
        display: none;

        li {
          position: relative;
          display: block;
        }

        li:hover {
          cursor: auto;
        }

        ul {
          left: 100%;
          top: 0;
        }
      }
    }

    // Mobile styles for the main menu in header region.
    @include media(max-width ($large-screen - 1)) {
      ul {
        display: none;
        background: $color-white;
        position: absolute;
        z-index: 1;
        width: calc(100% - 10px);

        &.expanded {
          border: 1px solid $color-fog;
          display: block;
          width: 95%;
        }

        .expanded.decanter-nav-submenu {
          background: $color-fog;

          a:hover {
            background-color: transparent;
          }

          a.is-active {
            border-bottom: 0;
          }
        }

        ul {
          border: 1px solid $color-white;
          z-index: 2;

          ul {
            display: none;
          }
        }

        button {
          @include padding(4px);
        }
      }

      li {
        border-bottom: 1px solid $color-fog;
        display: block;
        position: relative;

        @include margin(null 0 null null);
        @include padding(0.2em null 0.2em 0.75em);
      }

      a,
      span {
        border: 0;
        color: $color-bright-red;
        font-weight: $font-normal;

        @include padding(null null null 1rem);

        &:hover,
        &:focus {
          color: $color-black;
          text-decoration: none;
        }

        &.is-active {
          border-left: 3px solid $color-bright-red;
          color: $color-bright-red;
          font-weight: $font-bold;
          text-decoration: none;
        }
      }

      button.fa-plus,
      button.fa-minus {
        color: $color-black;
        float: right;
        width: auto;

        @include margin(null 1rem null null);
      }
    }
  }
}

// Subnavigation - no JavaScript
// No JavaScript is applied to the menu when
// it does not appear in the Header region.
nav.menu-block {
  font-size: $base-font-size;

  ul ul {
    font-size: .9em;
  }

  .menu-item--expanded {
    list-style-image: none;
    list-style-type: none;
  }

  li.menu-item--active-trail > a {
    color: $color-black;
    border-left: 1px solid $color-black;
  }

  a {
    text-decoration: none;
    display: block;
    font-weight: 400;
    @include padding(0 0 0 10px);
    @include margin(0 0 15px 0);

    &.is-active {
      border-left: 1px solid $color-black;
    }
  }
}

li[data-unpublished-node=true] {
  background: rgba(234, 171, 0, 0.6);
}
