@charset "UTF-8";

//
// Hover Main Menu
//

// Decanter
@import
  'decanter-no-markup';

// Styles for no JavaScript
// Fallback styles, which are also applied to the page when
// loading and in-between navigation page refreshes
#header {
  .decanter-main-menu--hover-reveal {
    .no-js & {
      .fas {
        display: none;
      }
    }

    @include media($medium-screen) {
      ul ul {
        display: none;
      }

      &.menu--main {
        box-shadow: none;
        float: none;
        height: 40px;

        a:hover,
        a.is-active,
        .menu-item--active-trail a {
          border-bottom: solid 3px $color-black;
        }

        li {
          @include margin(null 0 null null);

          &.menu-item > a {
            font-size: $base-font-size;
            font-weight: $font-normal;
            text-decoration: none;

            @include margin(0 1em 0 0);
            @include padding(6px 0);
            @include media($large-screen) {
              @include margin(null 1.5em null null);
            }
          }
        }
      }
    }
  }
}

// Main menu in header region
#header {
  .fa:before, .far:before, .fas:before {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
  }

  .js & {
    .decanter-main-menu--hover-reveal {
      @include media($medium-screen) {
        .fa, .far, .fas {
          display: none;
        }

        &.menu--main {
          box-shadow: none;
          float: none;
          height: 40px;

          a:hover,
          a.is-active,
          .menu-item--active-trail a,
          a.ui-state-active {
            border-bottom: solid 3px $color-black;
          }
        }

        .ui-menu.decanter-nav-primary {
          border: none;

          &.ui-menu {
            float: right;

            &.ui-widget-content {
              background: $color-black;

              @include media($medium-screen) {
                background: none;
              }

              &.ui-widget {
                border: none;
              }

              .ui-icon {
                background-image: none;
              }

              .ui-widget {
                background: $color-white;

                @include padding(.7em 1em);

                &.decanter-nav-submenu li a {
                  font-size: 1.8rem;
                  line-height: 1.25;
                }
              }
            }

            li.menu-item--active-trail {
              .ui-menu-item-wrapper {
                border-bottom: 3px solid $color-black;
                color: $color-bright-red;
              }

              .decanter-nav-submenu .ui-menu-item-wrapper {
                color: $color-bright-red;
                border-bottom: none;

                &:hover,
                &:focus {
                  color: $color-black;
                }
              }
            }

            .ui-menu-item-wrapper {
              @include margin(0 1em 0 0);
              @include padding(6px 0);
              @include media($large-screen) {
                @include margin(null 1.5em null null);
              }
            }
          }

          > li {
            color: $color-bright-red;
            position: relative;

            &:hover {
              color: $color-black;
            }

            &:last-of-type {
              .ui-menu-item-wrapper {
                margin-right: 0;
              }
            }
            // Last two submenus should hug the right.
            &:last-of-type,
            &:nth-last-of-type(2) {
              ul.decanter-nav-submenu {
                right: 0;
              }
            }
          }

          > li > a {
            font-weight: $font-normal;

            @media (min-width: 951px) {
              font-size: $base-font-size;
            }

            & .ui-menu-icon {
              right: -18px;
              top: -23px;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          .ui-state-active,
          .ui-widget-content .ui-state-active,
          .ui-widget-header .ui-state-active,
          a.ui-button:active,
          .ui-button:active,
          .ui-button.ui-state-active:hover {
            background-color: transparent;
            border: none;
            border-bottom: 3px solid $color-black;
            color: $color-cloud;

            @include media($medium-screen) {
              color: $color-black;
            }
          }

          .decanter-nav-submenu {
            .menu-item a,
            .menu-item span {
              border-bottom: none;
              color: $color-bright-red;

              @include margin(0 1.5em 10px 0);
              @include padding(0);

              @include media($medium-screen) {
                @include margin(0 0 10px 0);
              }

              &:hover {
                background-color: transparent;
                border: none;
                color: $color-black;
              }

              &.is-active {
                color: $color-cloud;
              }
            }

            .ui-state-active,
            .ui-widget-content .ui-state-active
            a.ui-button:active,
            .ui-button:active,
            .ui-button.ui-state-active:hover {
              background-color: transparent;
              color: $color-cloud;
            }
          }
        }

        ul ul {
          display: none;

          li {
            position: relative;
            display: block;
          }

          ul {
            left: 100%;
            top: 0;
          }
        }
      }

      // Mobile styles for the main menu in header region.
      @include media(max-width ($medium-screen - 1)) {
        ul {
          display: none;
          background: $color-white;
          position: absolute;
          z-index: 1;
          width: calc(100% - 10px);

          &.expanded {
            border: 1px solid $color-fog;
            display: block;
            width: 95%;
            &.decanter-nav-submenu {
              background: $color-fog;
              a {
                &.is-active {
                  border-bottom: none;
                }
              }
            }
          }

          ul {
            border: 1px solid $color-white;
            z-index: 2;

            ul {
              z-index: 3;

              ul {
                z-index: 4;
              }
            }
          }

          button {
            @include padding(4px);
          }
        }

        li {
          border-bottom: 1px solid $color-fog;
          display: block;
          position: relative;

          @include margin(null 0 null null);
          @include padding(0.2em null 0.2em 0.75em);
        }

        a, span {
          border: 0;
          color: $color-bright-red;
          font-weight: $font-normal;

          @include padding(null null null 1rem);

          &:hover,
          &:focus {
            color: $color-black;
            text-decoration: none;
          }
          &.is-active {
            border-left: 3px solid $color-bright-red;
            color: $color-bright-red;
            font-weight: $font-bold;
            text-decoration: none;
          }
        }

        button.fa-plus,
        button.fa-minus {
          color: $color-black;
          float: right;
          width: auto;
          @include margin(null 1rem null null);
        }
      }
    }
  }
}

// Subnavigation - no JavaScript
// No JavaScript is applied to the menu when
// it does not appear in the Header region.
.main-container {
  .menu--main {
    float: none;

    @include media(max-width $medium-screen) {
      display: none;
    }

    h2#menu-blockmain-menu {
      @include margin(0 null null);

      a {
        font-size: $h2-font-size;
        font-weight: $font-bold;
      }
    }

    a {
      font-size: $base-font-size;
      line-height: 1.125;
      text-decoration: none;

      @include padding(0 0 0 10px);
      @include margin(0 0 15px 0);

      &:hover,
      &.is-active,
      &.ui-state-active {
        border-bottom: none;
      }

      &.is-active {
        border-left: 2px solid $color-black;
      }
    }

    ul {
      @include margin(null null 0);

      li {
        display: block;
      }
    }

    .menu-item--active-trail {
      a {
        border-bottom: none;
        color: $color-bright-red;

        &:hover {
          color: $color-black;
        }

        &.is-active {
          color: $color-black;
        }
      }

      &.menu-item--expanded > a {
        border-left: 1px solid $color-black;
        color: #2e2d29;
      }

      ul.menu .menu-item a.is-active {
        border-left: none;
        color: $color-black;
      }
    }

    ul.menu ul.menu .menu-item a {
      font-weight: $font-normal;

      @include padding(null null null 20px);
    }
  }
}
