<section class="su-brand-bar {{ modifier_class }}">
  <div class="su-brand-bar__container hb-page-width">
    <a class="su-brand-bar__logo" href="https://www.stanford.edu">Stanford University</a>
  </div>
</section>
