{% set label = paragraph.field_label.0.value ?: name %}
<a href="{{ paragraph.field_url.0.uri }}" class="social-media-link">
  <i class="social-media-link__icon {{ icon_classes }}"></i>
  <span class="social-media-link__label">{{ label }}</span>
</a>
