
.hs-person.full.node {

  .main-above.layout-region {
    > div {
      margin-bottom: .5em;
    }
  }

  // This title might need to be styled as part of overall typography.
  .node-hs-person-title {
    h1 {
      margin-bottom: .75em;
    }
  }

  .field-hs-person-title {
    font-size: 1.125em;
    padding: 0;

    > div {
      display: inline;

      &:after {
        content: "; ";
      }

      &:last-of-type,
      &:only-of-type {
        &:after {
          content: "";
        }
      }
    }
  }

}