{% set attributes = attributes.addClass('hero-text-overlay', 'color-' ~ variant) %}

{% spaceless %}
  {{ variant }}
  <div{{ attributes }}>

    <div class="image">
      {{ image }}
    </div>

    <div class="overlay-text">
      {{ overlay_text }}
    </div>

  </div>
{% endspaceless %}
