{% set attributes = attributes.addClass('hb-timeline') %}

{% if variant == 'collapsed' %}
  {% set attributes = attributes.addClass('hb-timeline__collapsed') %}
{% endif %}

{% if variant == 'expanded' %}
  {% set attributes = attributes.addClass('hb-timeline__expanded') %}
{% endif %}

<div {{ attributes }}>
  <div class="hb-timelime__wrapper">
    {% if timeline %}
      {{ timeline }}
    {% endif %}
  </div>
</div>
