{%- set attributes = attributes.addClass('hb-timeline') -%}

{# Figure out how to make this trigger timeline items open. What is the default state? #}
{% if variant == 'open' %}
  {% set attributes = attributes.setAttribute('open', 'open') %}
{% endif %}

<div{{ attributes }}>
  <div class="hb-timelime__wrapper">

    {% if timeline %}
      {{ timeline }}
    {% endif %}

  </div>
</div>
