///
/// The responsive spacing values from step -2 to 10 at 3 device width ranges.
///
$su-responsive-spacing-map: (
  -2: (
      mobile: 0.5rem,
      tablet: 0.5625rem,
      desktop: 0.625rem,
    ),
  -1: (
      mobile: 0.6875rem,
      tablet: 0.75rem,
      desktop: 0.8125rem,
    ),
  0: (
    mobile: 0.9375rem,
    tablet: 1.125rem,
    desktop: 1.1875rem,
  ),
  1: (
    mobile: 1.25rem,
    tablet: 1.625rem,
    desktop: 1.6875rem,
  ),
  2: (
    mobile: 1.875rem,
    tablet: 2.25rem,
    desktop: 2.375rem,
  ),
  3: (
    mobile: 2rem,
    tablet: 2.8125rem,
    desktop: 3rem,
  ),
  4: (
    mobile: 2.125rem,
    tablet: 3.625rem,
    desktop: 3.8125rem,
  ),
  5: (
    mobile: 2.375rem,
    tablet: 4.5rem,
    desktop: 4.75rem,
  ),
  6: (
    mobile: 2.8125rem,
    tablet: 5.625rem,
    desktop: 5.9375rem,
  ),
  7: (
    mobile: 3.125rem,
    tablet: 6.75rem,
    desktop: 7.125rem,
  ),
  8: (
    mobile: 3.75rem,
    tablet: 7.875rem,
    desktop: 8.3125rem,
  ),
  9: (
    mobile: 4.375rem,
    tablet: 10.125rem,
    desktop: 10.6875rem,
  ),
  10: (
    mobile: 5rem,
    tablet: 13.5rem,
    desktop: 14.25rem,
  )
);
