////
/// Colors
///
$su-color-cardinal-red: #8c1515;
$su-color-white: #ffffff;
$su-color-black: #2e2d29;
$su-color-black-true: #000;
$su-color-digital-red: #b1040e;
$su-color-digital-red-light: #e50808;
$su-color-digital-red-dark: #820000;
$su-color-digital-blue: #006cb8;

// Stanford University core colors mapping.
$su-core-colors: (
  su-brand: $su-color-cardinal-red,
  su-brand-bright: $su-color-digital-red,
  su-brand-dark: $su-color-digital-red-dark,
  su-bg: $su-color-white,
  su-bg-reverse: $su-color-black,
  su-text: $su-color-black,
  su-text-high-contrast: $su-color-black-true,
  su-text-reverse: $su-color-white,
  su-link: $su-color-digital-blue,
  su-link-hover: $su-color-black,
  su-link-alt: $su-color-digital-red,
  su-link-alt-hover: $su-color-black,
  su-link-reverse: $su-color-white,
  su-link-reverse-hover: $su-color-digital-red-light,
);
