@use '../functions/general' as *;
@use '../mixins/layout' as *;

.hb-page-width {
  @include hb-page-width;
}

.hb-vertical-page-padding {
  margin: 0 auto hb-spacing-width();

  &:not(:has(.hs-full-width:first-child)) {
    margin-top: hb-spacing-width();
  }

  // Remove bottom margin when last item is a collection with full-bleed.
  &:has(.field-hs-page-components > .ptype-hs-collection:last-child .hs-paragraph-style--well-full-width) {
    margin-bottom: 0;

    // Remove margin-bottom on the the LAST collection too.
    .field-hs-page-components > .ptype-hs-collection:last-child {
      margin-bottom: 0;
    }
  }

  &:has(.field-hs-page-components > .ptype-hs-priv-collection:last-child .hs-paragraph-style--well-full-width) {
    margin-bottom: 0;

    // Remove margin-bottom on the the LAST priv collection too.
    .field-hs-page-components > .ptype-hs-priv-collection:last-child {
      margin-bottom: 0;
    }
  }
}

// If a component needs *any* additional styles, move the rule into /src/scss/components.
.layout-builder__message {
  @include hb-page-width;
}

.layout-builder-form .form-actions {
  @include hb-page-width;

  .button {
    width: auto;
  }
}

.layout-builder-form .js-form-type-vertical-tabs {
  @include hb-page-width;
}

.layout-builder-update-block {
  margin-bottom: hb-spacing-width(xxs);
  margin-top: hb-spacing-width(xxs);

  .token-dialog {
    position: relative;
    top: -(hb-calculate-rems(8px));
  }
}

.layout-builder-update-block .form-item {
  margin-bottom: hb-spacing-width(xs);

  label {
    margin-bottom: hb-calculate-rems(8px);
  }

  select {
    margin-bottom: hb-spacing-width(xxxs);
  }
}

.block-help {
  @include hb-page-width;
  padding-top: hb-calculate-rems(40px);
}

// The !important rules are needed to override default drupal settings
.ptype-hs-text-area,
.ptype-hs-priv-text-area,
.ptype-hs-accordion,
.ptype-hs-postcard,
.ptype-hs-hero-image,
.ptype-hs-gradient-hero,
.ptype-hs-spotlight,
.ptype-hs-banner,
.ptype-hs-carousel,
.ptype-hs-cmap,
.ptype-hs-sptlght-slder,
.field-hs-page-hero,
.ptype-hs-timeline,
.ptype-hs-view,
.ptype-hs-testimonial,
.ptype-stanford-gallery {
  width: 100%;
  margin-bottom: hb-spacing-width() !important;

  .hs-paragraph-style--well &,
  .hs-paragraph-style--well-full-width & {
    margin-top: hb-spacing-width() !important;
  }
}

.views-row:not(:last-child) {
  margin-bottom: hb-spacing-width() !important;
}

.ptype-hs-accordion {
  margin-bottom: hb-spacing-width(xxs) !important;

  .hs-paragraph-style--well &:last-child,
  .hs-paragraph-style--well-full-width &:last-child {
    margin-bottom: hb-spacing-width() !important;
  }
}

.ptype-hs-gradient-hero-slider {
  width: 100%;
  margin-bottom: hb-spacing-width(lg) !important;

  .hs-paragraph-style--well &,
  .hs-paragraph-style--well-full-width & {
    margin-top: hb-spacing-width() !important;
    padding-bottom: hb-calculate-rems(16px);
  }
}

// Use it here because we don't want and need the !important rules anymore, but
// remove it only for collections. Not sure what would cause to remove it in other components.
.ptype-hs-collection,
.ptype-hs-priv-collection {
  width: 100%;
  margin-bottom: hb-spacing-width();

  .hs-paragraph-style--well &,
  .hs-paragraph-style--well-full-width & {
    margin-top: hb-spacing-width();
  }
}

// When 2 collections are added next to each other, there is not gap between the 2 BG colors.
.ptype-hs-collection,
.ptype-hs-priv-collection {
  &:has(+ :is(.ptype-hs-collection, .ptype-hs-priv-collection) [class*="--well"]):has([class*="--well"]) {
    margin-bottom: 0;
  }
}

