// COLORFUL
//
// Set the default color pairing value
// The default color pairing also serves as the fallback color
// pairing for browsers that do not support CSS custom properties
$hb-airy-default: 'blue';

// Each color pairing has a palette of color swatches
$ha-airy-pairings: (
  "blue": (
    "primary": midnightblue,
    "secondary": teal,
    "tertiary": rgb(5, 38, 44),
    "primary-hero-overlay": rgba(5, 38, 44, 0.92),
    "primary-dark": darken(#600e0e, 10%),
    "secondary-active": #b1040e,
    "secondary-highlight": #daebed,
    "secondary-highlight-darken": darken(#daebed, 20%),
    "secondary-darken-12": darken(#8c1515, 12%),
    "tertiary-highlight": #e9f5f6,
    "tertiary-highlight-darken-10": darken(#e9f5f6, 10%),
    "tertiary-reversed": #daebed,
    "tertiary-reversed-darken-10": darken(#daebed, 10%),
    "tertiary-darken-20": darken(#b1040e, 20%)
  ),
  "green": (
    "primary": seagreen,
    "secondary": olive,
    "tertiary": rgb(5, 38, 44),
    "primary-hero-overlay": rgba(5, 38, 44, 0.92),
    "primary-dark": darken(#600e0e, 10%),
    "secondary-active": #b1040e,
    "secondary-highlight": #daebed,
    "secondary-highlight-darken": darken(#daebed, 20%),
    "secondary-darken-12": darken(#8c1515, 12%),
    "tertiary-highlight": #e9f5f6,
    "tertiary-highlight-darken-10": darken(#e9f5f6, 10%),
    "tertiary-reversed": #daebed,
    "tertiary-reversed-darken-10": darken(#daebed, 10%),
    "tertiary-darken-20": darken(#b1040e, 20%)
  ),
);

// Specific shades of gray that compliment colorful pairing palettes
$ha-airy-globals: (
  "gray": $su-color-driftwood,
  "gray-dark": #413e39,
  "gray-medium": #d9d7d2,
  "gray-light": #f1f0ee,
  "white": #ffffff,
  "black": #000000
);
