// Set the default color pairing value
// The default color pairing also serves as the fallback color
// pairing for browsers that do not support CSS custom properties
$hb-colorful-default: "ocean";
$hb-colorful-variation: "colorful-teal"; // WIP!!! We may or may not need both $hb-colorful-default AND $hb-colorful-variation

// TODO: UPDATE hex codes with color variables
// TODO: UPDATE variables.themes.colors with new color swatches
// TODO: Add file for global variable sass map
// TODO: Finish updating pattern.hero.scss colors and background-colors to use add-palette mixin

// Each color pairing has a palette of color swatches
$color-pairings: (
  "ocean": (
    "primary": $su-color-teal, // #00050C
    "secondary": $hb-color--mint, // #148762
    "tertiary": #007C8F,
    "primary-hero-overlay": rgba(0, 36, 41, 0.97),
    "secondary-active": #00CE9D,
    "secondary-highlight": #E4F4EE,
    "tertiary-reversed": #00D5F5
  ),
  "mountain": (
    "primary": #64305F,
    "secondary": #00405B,
    "tertiary": #148762,
    "primary-hero-overlay": rgba(100, 48, 95, 0.97),
    "secondary-active": #0098DB,
    "secondary-highlight": #D5EFFE,
    "tertiary-reversed": #74FBC7
  ),
  "stanford": (
    "primary": #600E0E,
    "secondary": #85703E,
    "tertiary": #413E39,
    "primary-hero-overlay": rgba(96, 14, 14, 0.97),
    "secondary-active": #B3995D,
    "secondary-highlight": #F4ECD7,
    "tertiary-reversed": #D9D7D2
  )
);
