$global-theme-list: ('airy', 'colorful', 'traditional');
$colorful-theme-variation-list: ('colorful-teal', 'colorful-mint');

// We can use Decanter's breakpoints, but we don't need their largest one so we'll omit it from our map below.
// See: https://github.com/SU-SWS/decanter/blob/master/core/src/scss/utilities/variables/core/_breakpoints.scss
$hb-grid-media: (
  'xs': $su-breakpoint-xs,
  'sm': $su-breakpoint-sm,
  'md': $su-breakpoint-md,
  'lg': $su-breakpoint-lg,
  'xl': $su-breakpoint-xl,
) !default;

$hb-screen-margins: (
  'xs': 1rem,
  'sm': 1.5rem,
  'md': 2rem,
  'lg': 2.5rem,
  'xl': 3rem,
) !default;
