// Default table color variables. These variables are used for tables in the WYSIWYG and Table UI Pattern.
$border-color: lighten($su-color-driftwood, 15%);
$header-background-color: $su-color-warm-grey;
$header-foreground-color: $hb-color--white;
$header-border-color: $hb-color--white;
