// TRADITIONAL

// Set the default color pairing value
// The default color pairing also serves as the fallback color
// pairing for browsers that do not support CSS custom properties
$hb-traditional-default: 'cardinal';

// Each color pairing has a palette of color swatches
$ht-traditional-pairings: (
  "cardinal": (
    "primary": #600e0e,
    "secondary": #8c1515,
    "tertiary": #b1040e,
    "primary-hero-overlay": rgba(47, 36, 36, 0.97),
    "primary-dark": #2f2424,
    "secondary-active": #b1040e,
    "secondary-highlight": #e8e9ea,
    "secondary-highlight-darken": darken(#e8e9ea, 20%),
    "secondary-darken-12": darken(#8c1515, 12%),
    "tertiary-highlight": #e8e9ea,
    "tertiary-highlight-darken-10": darken(#e8e9ea, 10%),
    "tertiary-reversed": #cecfd1,
    "tertiary-reversed-darken-10": darken(#cecfd1, 10%),
    "tertiary-darken-20": darken(#b1040e, 20%)
  )
);

// Specific shades of gray that compliment traditional pairing palettes
$ht-traditional-globals: (
  $hc-colorful-globals
);
