// TRADITIONAL

// Set the default color pairing value
// The default color pairing also serves as the fallback color
// pairing for browsers that do not support CSS custom properties
$hb-traditional-default: 'cardinal';

// Each color pairing has a palette of color swatches
$ht-traditional-pairings: (
  "cardinal": (
    "primary": #600e0e,
    "secondary": #8c1515,
    "tertiary": #b1040e,
    "primary-hero-overlay": rgba(28, 29, 30, 0.85),
    "primary-dark": darken(#600e0e, 10%),
    "secondary-active": #b1040e,
    "secondary-highlight": #e8e9ea,
    "secondary-highlight-darken": darken(#e8e9ea, 20%),
    "secondary-darken-12": #343639,
    "tertiary-highlight": #f4f4f4,
    "tertiary-highlight-darken-10": darken(#f4f4f4, 10%),
    "tertiary-reversed": #dbdcde,
    "tertiary-darken-20": darken(#b1040e, 20%),
    "spotlight": #dde0e0
  ),
  "bluejay": (
    "primary": #600e0e,
    "secondary": #8c1515,
    "tertiary": #b1040e,
    "primary-hero-overlay": rgba(5, 38, 44, 0.85),
    "primary-dark": darken(#600e0e, 10%),
    "secondary-active": #b1040e,
    "secondary-highlight": #daebed,
    "secondary-highlight-darken": darken(#daebed, 20%),
    "secondary-darken-12": darken(#8c1515, 12%),
    "tertiary-highlight": #e9f5f6,
    "tertiary-highlight-darken-10": darken(#e9f5f6, 10%),
    "tertiary-reversed": #daebed,
    "tertiary-darken-20": darken(#b1040e, 20%),
    "spotlight": #e9f5f6
  ),
  "warbler": (
    "primary": #003b45,
    "secondary": #005b6c,
    "tertiary": #616a5d,
    "primary-hero-overlay": rgba(24, 21, 8, 0.8),
    "primary-dark": #00171b,
    "secondary-active": #8c897d,
    "secondary-highlight": #ece8e1,
    "secondary-highlight-darken": #d4d1cc,
    "secondary-darken-12": #003b45,
    "tertiary-highlight": #faf8f7,
    "tertiary-highlight-darken-10": #e0dfdc,
    "tertiary-reversed": #dcd9d3,
    "tertiary-darken-20": #41473e,
    "spotlight": #e1eadd
  ),
  "firefinch": (
    "primary": #A64C47,
    "secondary": #C74632,
    "tertiary": #8C1515,
    "primary-hero-overlay": rgba(21, 10, 9, 0.92),
    "primary-dark": darken(#A64C47, 10%),
    "secondary-active": #8C1515,
    "secondary-highlight": #F4F4F4,
    "secondary-highlight-darken": darken(#F4F4F4, 20%),
    "secondary-darken-12": darken(#C74632, 12%),
    "tertiary-highlight": #FEF6E2,
    "tertiary-highlight-darken-10": darken(#FEF6E2, 10%),
    "tertiary-reversed": #F4F4F4,
    "tertiary-darken-20": darken(#8C1515, 20%),
    "spotlight": #E0E0D1
  )
);

// Specific shades of gray that compliment traditional pairing palettes
$ht-traditional-globals: (
  "gray": #b3b5b9,
  "gray-dark": #343639,
  "gray-medium": #dbdcde,
  "gray-light": #f4f4f4,
  "white": #ffffff,
  "black": #000000,
  "cardinal": #8c1515
);
