// I cannott call these teal, purple, etc because sass tries to parse it beforehand
// All named colors are reserved values in Sass and will be turned into hex values regardless of placement and use.
// so I prefixed everything with "su-"
$humsci-basic--theme-colors: (
  airy: (),
  colorful: (
    su-teal: $su-color-teal,
    su-mint: $su-color-mint,
    su-sun: $su-color-sun,
    su-poppy: $su-color-poppy,
    su-purple: $su-color-purple,
    su-sky: $su-color-sky
  ),
  traditional: ()
);
