// SVG ICONS
// All SVGs used in the CSS should be stored as variables in this file.
// Icons should be minified as much as possible to remove any uncessary junk added
// by image editors

// ⚠️ Icons should not have height and width attributes, viewBox only. This will
// allow the icons to scale when used.

$hb-icon-plus: '<svg viewBox="0 0 18 18"><g stroke-width="2" stroke="#{darken($su-color-driftwood, 30%)}" stroke-linecap="round"><path d="M1,9 17,9" /><path d="M9,1 9,17" /></g></svg>';

$hb-icon-minus: '<svg viewBox="0 0 18 2"><path d="M1,1 17,1" stroke-width="2" stroke="#{darken($su-color-driftwood, 30%)}" stroke-linecap="round" /></svg>';

$hb-icon-down-arrow: '<svg viewBox="0 0 10 7"><path d="M1 1L5.14815 5L9 1" fill="transparent" stroke="#{$hb-color--black}" stroke-width="2" /></svg>';

// to pass a different color into the link arrow icon, use the hb-icon-link-arrow mixin
$hb-icon-link-arrow: '<svg viewBox="0 0 23 24"><path fill="#{$hb-color--black}" d="M11 23l-2-2 7-7H0v-3h16L9 3l2-2 10 10 1 1-11 11z"/></svg>';

$hb-icon-external-link: '<svg viewBox="0 0 12 12"><path d="M11.273 5.818v5.455H.727V.727h5.091m1.455 0h4v4m0-4L6.182 5.818" fill="transparent" stroke="#{$hb-color--black}" stroke-width="2" stroke-miterlimit="10"/></svg>';
