$hb-index-negative: -1;
$hb-z-index-zero: 0;
$hb-z-index-small-1: 1;
$hb-z-index-small-2: 2;
$hb-z-index-small-3: 3;
$hb-z-index-small-4: 4;
$hb-z-index-small-5: 5;
$hb-z-index-1: 100;
$hb-z-index-2: 200;
$hb-z-index-3: 300;
$hb-z-index-4: 400;

// Drupal admin menu is zindex 501
$hb-z-index-5: 500;
$hb-z-index-6: 600;
$hb-z-index-7: 700;
$hb-z-index-8: 800;
$hb-z-index-9: 900;
$hb-z-index-10: 1000;
$hb-z-index-11: 1100;
$hb-z-index-12: 1200;

// All z-index values used in partials should be mapped to a variable in this file.
// For example:
// $hb-z-index-modal: $hb-z-index-1;

$hb-z-index-lockup: $hb-z-index-5; // keeps the lockup from laying on top of the admin menu
$hb-z-index-search: $hb-z-index-5; // keeps the search input from being hidden by the navigation
$hb-z-index-hero1-overlay: $hb-z-index-small-2;
$hb-z-index-figure: $hb-z-index-small-1;
$hb-z-index-ckedit-button: $hb-z-index-small-2;
$hb-z-index-hero1-background: $hb-z-index-small-1;
$hb-z-index-decorative-link: $hb-z-index-1;
$hb-z-index-masthead: $hb-z-index-1;
$hb-z-index-hero-fallback: $hb-z-index-zero;
$hb-z-index-global-footer: $hb-z-index-12; // Makes sure the global footer lays on top of the back to top button
