$hb-global-theme-list: (
  'airy',
  'colorful',
  'traditional'
);
$hb-grid-count: 12;
$hb-counted-items-count: 4;

// We can use Decanter's breakpoints, but we don't need their largest one so we'll omit it from our map below.
// See: https://github.com/SU-SWS/decanter/blob/master/core/src/scss/utilities/variables/core/_breakpoints.scss
$hb-grid-media: (
  'xs': $su-breakpoint-xs,
  'sm': $su-breakpoint-sm,
  'md': $su-breakpoint-md,
  'lg': $su-breakpoint-lg,
  'xl': $su-breakpoint-xl,
  '2xl': $su-breakpoint-2xl,
) !default;

// Theme Spacing
$hb-spacing-list: (
  "colorful": ("xxxs": 14px,
  "xxs": 16px,
  "xs": 24px,
  "sm": 28px,
  "md": 32px,
  "default": 48px,
  "lg": 60px,
),
"airy": ("xxxs": 14px,
"xxs": 16px,
"xs": 24px,
"sm": 28px,
"md": 32px,
"default": 48px,
"lg": 60px,
),
"traditional": ("xxxs": 10px,
"xxs": 14px,
"xs": 20px,
"sm": 24px,
"md": 28px,
"default": 32px,
"lg": 48px,
)
);

// Theme sidebar widths
$hb-sidebar-list: (
  "colorful": (22.5%),
  "airy": (22.5%),
  "traditional": (18%)
);

// Theme animations
$hb-animation-list: (
  "colorful": (150ms ease-in-out),
  "airy": (150ms ease-in-out),
  "traditional": (300ms ease-in-out)
);
$hb-layout-max-width: 1200px;
$hb-layout-XXL-width: 1500px; // matches the XXL value set in Decanter https://decanter.stanford.edu/page/layouts-modular-spacing/
$hb-border-radius: 4px;
$hb-button-border-radius: 30px;
$hb-image-hover-scale: 1.07;

// Card Patterns
// Horiontal card images and content area are stacked like the vertical card until
// this breakpoint
$hb-horizontal-card-breakpoint: 'md';

// Menu Variables
$hb-thin-border: 1px solid;
$hb-medium-border: 2px solid;

// Three column layout w/ and w/o image variables
$hb-three-column-w-image-main-body-width: 784px;
$hb-three-column-w-image-main-width: 800px;
$hb-three-column-one-sidebar-width: 1100px;
$hb-three-column-main-width: 1200px;

// Use Decanter's root font size
// $su-root-font-size: 62.5%
// See: https://github.com/SU-SWS/decanter/blob/fe2a297f776b7e75f389c87759b8df5272c7229b/core/src/scss/utilities/variables/core/_typography.scss
$hb-root-font-size: 10px; // 62.5% / 16px = 10px

// Drupal brand colors
// https://www.drupal.org/drupalorg/style-guide/colors
$hb-color--drupal-light: #53b0eb;
$hb-color--drupal-dark: #0678be;
$hb-color--drupal-black: #000;
$hb-color--drupal-white: #fff;

// Transparencies
$hb-color--transparent: rgba(0 0 0 0);
