$default-theme: "teal"; // move to settings.color-pairings
$hb-colorful-default: "colorful-teal";
$hb-colorful-variation: 'colorful-teal'; // WIP!!! We may or may not need both $hb-colorful-default AND $hb-colorful-variation

// Colorful Ocean Theme (primary: teal, secondary: mint, tertiary: sky)
// Colorful Mountain Theme (primary: purple, secondary: sky, tertiary: mint)
// Colorful Stanford Theme (primary: cardinal, secondary: gold, tertiary: driftwood)
