// Grayscale
@function hb-gray($level) {
  @return lighten(#000000, $level * 1%);
}

$hb-gray--95: hb-gray(95);
$hb-gray--90: hb-gray(90);
$hb-gray--85: hb-gray(85);
$hb-gray--80: hb-gray(80);
$hb-gray--75: hb-gray(75);
$hb-gray--70: hb-gray(70);
$hb-gray--60: hb-gray(60);
$hb-gray--50: hb-gray(50);
$hb-gray--45: hb-gray(45);
$hb-gray--40: hb-gray(40);
$hb-gray--30: hb-gray(30);
$hb-gray--20: hb-gray(20);
$hb-gray--15: hb-gray(15);
$hb-gray--10: hb-gray(10);

$hb-color--black: hb-gray(0);
$hb-color--white: hb-gray(100);

$hb-color--mint: #148762; // darken $sb-color-mint to pass color contrast

// We can see if this ends up being useful with future themes
$hb-theme--colors: (
  airy: (),
  colorful: (
    color-teal: $su-color-teal,
    color-mint: $hb-color--mint,
    color-sun: $su-color-sun,
    color-poppy: $su-color-poppy,
    color-purple: $su-color-purple,
    color-sky: $su-color-sky
  ),
  traditional: ()
);

$hb-colorful--variations: (
  colorful-teal: (
    primary: $su-color-teal,
    secondary: $hb-color--mint,
    tertiary: $su-color-sky
  ),
  colorful-mint: (
    primary: $hb-color--mint,
    secondary: $su-color-purple,
    tertiary: darken($su-color-sky, 30%)
  )
);

// Drupal brand colors
// https://www.drupal.org/drupalorg/style-guide/colors
$hb-color--drupal-light: #53b0eb;
$hb-color--drupal-dark: #0678be;
