// Set the default color pairing value
// The default color pairing also serves as the fallback color
// pairing for browsers that do not support CSS custom properties
$hb-colorful-default: 'ocean';

// Each color pairing has a palette of color swatches
$hc-colorful-pairings: (
  "ocean": (
    "primary": $su-color-teal,
    "secondary": #148762,
    "tertiary": #007c8f,
    "primary-hero-overlay": rgba(0, 36, 41, 0.97),
    "primary-dark": #002429,
    "secondary-active": #00ce9d,
    "secondary-highlight": #e4f4ee,
    "secondary-highlight-darken": darken(#e4f4ee, 20%),
    "secondary-darken-12": darken(#148762, 12%),
    "tertiary-highlight": #c2f7ff,
    "tertiary-highlight-darken-10": darken(#c2f7ff, 10%),
    "tertiary-reversed": #00d5f5,
    "tertiary-reversed-darken-10": darken(#00d5f5, 10%),
    "tertiary-darken-20": darken(#007c8f, 20%)
  ),
  "mountain": (
    "primary": #64305f,
    "secondary": #00638e,
    "tertiary": #148762,
    "primary-hero-overlay": rgba(100, 48, 95, 0.97),
    "primary-dark": #64305f,
    "secondary-active": #0098db,
    "secondary-highlight": #d5effe,
    "secondary-highlight-darken": darken(#d5effe, 20%),
    "secondary-darken-12": darken(#00638e, 12%),
    "tertiary-highlight": #befde5,
    "tertiary-highlight-darken-10": darken(#befde5, 10%),
    "tertiary-reversed": #74fbc7,
    "tertiary-reversed-darken-10": darken(#74fbc7, 10%),
    "tertiary-darken-20": darken(#148762, 20%)
  ),
  "sand": (
    "primary": #600e0e,
    "secondary": #85703e,
    "tertiary": #413e39,
    "primary-hero-overlay": rgba(96, 14, 14, 0.97),
    "primary-dark": #600e0e,
    "secondary-active": #b3995d,
    "secondary-highlight": #f4ecd7,
    "secondary-highlight-darken": darken(#f4ecd7, 20%),
    "secondary-darken-12": darken(#85703e, 12%),
    "tertiary-highlight": #f1f0ee,
    "tertiary-highlight-darken-10": darken(#f1f0ee, 10%),
    "tertiary-reversed": #d9d7d2,
    "tertiary-reversed-darken-10": darken(#d0d7d2, 10%),
    "tertiary-darken-20": darken(#413e39, 20%)
  )
);

// Specific shades of gray that compliment colorful pairing palettes
$hc-colorful-globals: (
  "gray": $su-color-driftwood,
  "gray-dark": #413E39,
  "gray-medium": #d9d7d2,
  "gray-light": #f1f0ee,
  "white": #fff,
  "black": #000
);
