// Set the default color pairing value
// The default color pairing also serves as the fallback color
// pairing for browsers that do not support CSS custom properties
$hb-colorful-default: 'ocean';

// Each color pairing has a palette of color swatches
$hc-colorful-pairings: (
  "ocean": (
    "primary": $su-color-teal,
    "secondary": #148762,
    "tertiary": #007C8F,
    "primary-hero-overlay": rgba(0, 36, 41, 0.97),
    "primary-dark": #002429,
    "secondary-active": #00CE9D,
    "secondary-highlight": #E4F4EE,
    "secondary-highlight-darken": darken(#E4F4EE, 20%),
    "secondary-darken-12": darken(#148762, 12%),
    "tertiary-highlight": #C2F7FF,
    "tertiary-highlight-darken-10": darken(#C2F7FF, 10%),
    "tertiary-reversed": #00D5F5,
    "tertiary-reversed-darken-10": darken(#00D5F5, 10%),
    "tertiary-darken-20": darken(#007C8F, 20%)
  ),
  "mountain": (
    "primary": #64305F,
    "secondary": #00638E,
    "tertiary": #148762,
    "primary-hero-overlay": rgba(100, 48, 95, 0.97),
    "primary-dark": #64305F,
    "secondary-active": #0098DB,
    "secondary-highlight": #D5EFFE,
    "secondary-highlight-darken": darken(#D5EFFE, 20%),
    "secondary-darken-12": darken(#00638E, 12%),
    "tertiary-highlight": #BEFDE5,
    "tertiary-highlight-darken-10": darken(#BEFDE5, 10%),
    "tertiary-reversed": #74FBC7,
    "tertiary-reversed-darken-10": darken(#74FBC7, 10%),
    "tertiary-darken-20": darken(#148762, 20%)
  ),
  "sand": (
    "primary": #600E0E,
    "secondary": #85703E,
    "tertiary": #413E39,
    "primary-hero-overlay": rgba(96, 14, 14, 0.97),
    "primary-dark": #600E0E,
    "secondary-active": #B3995D,
    "secondary-highlight": #F4ECD7,
    "secondary-highlight-darken": darken(#F4ECD7, 20%),
    "secondary-darken-12": darken(#85703E, 12%),
    "tertiary-highlight": #F1F0EE,
    "tertiary-highlight-darken-10": darken(#F1F0EE, 10%),
    "tertiary-reversed": #D9D7D2,
    "tertiary-reversed-darken-10": darken(#D0D7D2, 10%),
    "tertiary-darken-20": darken(#413E39, 20%)
  )
);

// Specific shades of gray that compliment colorful pairing palettes
$hc-colorful-globals: (
  "gray": $su-color-driftwood,
  "gray-dark": #413E39,
  "gray-medium": #D9D7D2,
  "gray-light": #F1F0EE,
  "white": #FFFFFF,
  "black": #000000
);
