.stanford-gallery.default .su-gallery-images {
  display: grid;
  justify-content: space-between;
  row-gap: 4rem;
}

@media (min-width: 768px) {
  .stanford-gallery.default .su-gallery-images {
    grid-template-columns: repeat(auto-fill, calc(50% - 2rem));
  }
}

@media (min-width: 975px) {
  .stanford-gallery.default .su-gallery-images {
    grid-template-columns: repeat(auto-fill, calc(33% - 2rem));
  }
}

.stanford-gallery.hs-gallery-slideshow .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.stanford-gallery.hs-gallery-slideshow .slick-dots li {
  display: inline-block;
  margin: 10px;
}

.stanford-gallery.hs-gallery-slideshow .slick-next {
  float: right;
}
