.hb-three-column-w-image {
  display: flex;
  flex-wrap: wrap;

  @include grid-media('lg') {
    flex-wrap: nowrap;
  }

  &.hb-page-width {
    @include hb-page-width;
  }

  &--no-sidebar {
    max-width: $hb-three-column-w-image-main-width;
    margin: auto;
  }

  &__sidebar-1 {
    width: 100%;
    margin: 0 0 $hb-gutter-width 0;

    @include grid-media('md') {
      width: $hb-sidebar-width;
      margin-right: map-get($hb-screen-margins, 'md');
    }

    @include grid-media('lg') {
      margin-right: map-get($hb-screen-margins, 'lg');
    }

    @include grid-media('xl') {
      margin-right: map-get($hb-screen-margins, 'xl');
    }
  }

  &__main {
    width: 100%;
    margin-bottom: $hb-gutter-width;

    @include grid-media('md') {
      .hb-three-column-w-image--one-sidebar &,
      .hb-three-column-w-image--two-sidebar & {
        width: calc(100% - #{$hb-sidebar-width} - #{map-get($hb-screen-margins, 'md')});
      }

      .hb-three-column-w-image--no-sidebar & {
        width: 100%;
        margin-bottom: 0;
      }
    }

    @include grid-media('lg') {
      width: 100%;
      margin-bottom: 0;

      .hb-three-column-w-image--two-sidebar & {
        width: calc(100% - #{2 * $hb-sidebar-width} - 2 * #{map-get($hb-screen-margins, 'md')});
      }
    }
  }

  &__main-top {
    display: flex;
    flex-wrap: wrap;

    .hb-three-column-w-image--one-sidebar & {
      @include grid-media('lg') {
        flex-wrap: nowrap;
      }
    }

    .hb-three-column-w-image--no-sidebar & {
      @include grid-media('md') {
        flex-wrap: nowrap;
      }
    }
  }

  &__main-top-text {
    width: 100%;
    margin-bottom: 1rem;

    .hb-three-column-w-image--one-sidebar & {
      @include grid-media('lg') {
        width: 60%;
        display: flex;
        flex-direction: column;
      }
    }

    .hb-three-column-w-image--no-sidebar & {
      @include grid-media('md') {
        width: 60%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__main-top-image {
    width: 100%;
    margin-bottom: 1rem;

    @include grid-media('md') {
      margin-bottom: $hb-gutter-width;
    }

    .hb-three-column-w-image--one-sidebar & {
      @include grid-media('lg') {
        width: 40%;
        margin-left: 1.25rem;
      }
    }

    .hb-three-column-w-image--no-sidebar & {
      @include grid-media('md') {
        width: 40%;
        margin-left: 1.25rem;
      }
    }

    img {
      display: block;

      @supports (object-fit: cover) {
        object-fit: cover;
        width: 100%;
        max-height: 23.4375rem;

        @include grid-media('md') {
          max-height: 15.625rem;
        }
      }
    }
  }

  &__main-body {
    max-width: $hb-three-column-w-image-main-width;

    .hb-three-column-w-image--no-sidebar & {
      margin: 0 auto;
    }
  }

  &__sidebar-2 {
    width: 100%;
    margin-left: 0;

    .hb-three-column-w-image--one-sidebar & {
      @include grid-media('md') {
        width: $hb-sidebar-width;
        margin-left: map-get($hb-screen-margins, 'md');
      }
    }

    @include grid-media('lg') {
      width: $hb-sidebar-width;
      margin-left: map-get($hb-screen-margins, 'lg');
    }

    @include grid-media('xl') {
      margin-left: map-get($hb-screen-margins, 'xl');
    }
  }
}
