.hb-three-column {
  display: flex;
  flex-wrap: wrap;

  @include grid-media-min('lg') {
    flex-wrap: nowrap;
  }

  // If this uses the "limited width" section width
  // option in layout builder, then apply our
  // hb-page-width mixin. Otherwise, the section will
  // go full width.
  &:not(.hs-full-width) {
    @include hb-page-width;
  }

  &__sidebar-1 {
    .block,
    .block-hs-blocks,
    .hb-sidebar-block {
      @include hb-sidebar;
    }

    @include grid-media-min('lg') {
      width: hb-sidebar-width();
      margin: 0 hb-spacing-width() 0 0;
    }
  }

  &__main {
    width: 100%;

    .hb-three-column--no-sidebar:not(.hs-full-width) & {
      max-width: hb-calculate-rems($hb-three-column-main-width);
    }

    @include grid-media-min('lg') {
      .hb-three-column--one-sidebar & {
        width: calc(100% - #{hb-sidebar-width()} - #{hb-spacing-width()});
      }

      .hb-three-column--no-sidebar & {
        width: 100%;
        margin-bottom: 0;
      }
    }

    @include grid-media-min('lg') {
      width: 100%;
      margin-bottom: 0;

      .hb-three-column--two-sidebar & {
        width: calc(100% - #{2 * hb-sidebar-width()} - (2 * #{hb-spacing-width()}));
      }
    }

    .hb-three-column--one-sidebar:not(.hs-full-width) & {
      @include grid-media-min('2xl') {
        max-width: hb-calculate-rems($hb-three-column-one-sidebar-width);
      }
    }
  }

  &__sidebar-2 {
    margin: 0;

    .block,
    .block-hs-blocks,
    .hb-sidebar-block {
      @include hb-sidebar;
    }


    @include hb-traditional {
      font-size: hb-calculate-rems(16px);
      line-height: 127%;
    }

    .hb-three-column--one-sidebar & {
      @include grid-media-min('lg') {
        width: hb-sidebar-width();
        margin: 0 0 0 hb-spacing-width();
      }
    }

    @include grid-media-min('lg') {
      width: hb-sidebar-width();
      margin: 0 0 0 hb-spacing-width();
    }
  }
}
