$sidebar-width: 16.5rem;

.hb-obj-three-column-w-image {
  display: flex;
  flex-wrap: wrap;

  @include grid-media('md') {
    flex-wrap: nowrap;
  }

  &--no-sidebar {
    max-width: 49rem;
    margin: auto;
  }

  &__sidebar-1 {
    flex: 1 1 100%;
    margin-right: 0;

    @include grid-media('md') {
      flex: 0 0 $sidebar-width;
      margin-right: map-get($hb-screen-margins, 'md');
    }

    @include grid-media('lg') {
      margin-right: map-get($hb-screen-margins, 'lg');
    }

    @include grid-media('xl') {
      margin-right: map-get($hb-screen-margins, 'xl');
    }
  }

  &__main {
    flex: 1 1 100%;
  }

  &__main-top {
    display: flex;
    flex-wrap: wrap;

    .hb-obj-three-column-w-image--one-sidebar & {
      @include grid-media('lg') {
        flex-wrap: nowrap;
      }
    }

    .hb-obj-three-column-w-image--no-sidebar & {
      @include grid-media('md') {
        flex-wrap: nowrap;
      }
    }
  }

  &__main-top-text {
    width: 100%;
    margin-bottom: 1rem;

    .hb-obj-three-column-w-image--one-sidebar & {
      @include grid-media('lg') {
        width: 60%;
        display: flex;
        flex-direction: column;
      }
    }

    .hb-obj-three-column-w-image--no-sidebar & {
      @include grid-media('md') {
        width: 60%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__main-top-image {
    width: 100%;
    margin-bottom: 1rem;

    @include grid-media('md') {
      margin-bottom: 3rem;
    }

    .hb-obj-three-column-w-image--one-sidebar & {
      @include grid-media('lg') {
        width: 40%;
        margin-left: 1.25rem;
      }
    }

    .hb-obj-three-column-w-image--no-sidebar & {
      @include grid-media('md') {
        width: 40%;
        margin-left: 1.25rem;
      }
    }

    img {
      display: block;

      @supports (object-fit: cover) {
        object-fit: cover;
        width: 100%;
        max-height: 250px;
      }
    }
  }

  &__main-body {
    max-width: 49rem;
  }

  &__sidebar-2 {
    flex: 1 1 100%;
    margin-left: 0;

    @include grid-media('md') {
      flex: 0 0 $sidebar-width;
      margin-left: map-get($hb-screen-margins, 'md');
    }

    @include grid-media('lg') {
      margin-left: map-get($hb-screen-margins, 'lg');
    }

    @include grid-media('xl') {
      margin-left: map-get($hb-screen-margins, 'xl');
    }
  }
}
