.hb-page-width {
  @include hb-page-width;
}

.hb-vertical-page-padding {
  margin: hb-calculate-rems(hb-gutter-width()) auto !important;
}

// If a component needs *any* additional styles, move the rule into /src/scss/components.
.layout-builder__message {
  @include hb-page-width;
}

.layout-builder-form .form-actions {
  @include hb-page-width;

  .button {
    width: auto;
  }
}

.block-help {
  @include hb-page-width;
  padding-top: hb-calculate-rems(40px);
}

// Add margin bottom to all paragraph rows
.ptype-hs-row {
  margin-bottom: hb-calculate-rems(hb-gutter-width());
}
