// These are styles for views blocks specifically added through Layout Builder.
.layout__region .block-views {
  // prevent floated hb-main-body-detail-image from breaking views layout.
  clear: both;

  &:not(:last-child) {
    margin-bottom: hb-spacing-width();
  }

  &.hb-dark-pattern {
    // Allows hb-dark-pattern to be added with Layout Builder Attributes block class
    padding: hb-spacing-width('xs');
  }
}
