$sidebar-width: 16.5rem;

.hb-obj-three-column-w-image {
  display: flex;
  flex-wrap: wrap;

  @include grid-media('md') {
    flex-wrap: nowrap;
  }

  &__sidebar-1 {
    flex: 1 1 100%;
    order: 2;
    margin-right: 0;

    @include grid-media('md') {
      flex: 0 0 $sidebar-width;
      order: 1;
      margin-right: map-get($hb-screen-margins, 'md');
    }

    @include grid-media('lg') {
      margin-right: map-get($hb-screen-margins, 'lg');
    }

    @include grid-media('xl') {
      margin-right: map-get($hb-screen-margins, 'xl');
    }
  }

  &__main {
    flex: 1 1 100%;
    order: 1;

    @include grid-media('md') {
      order: 2;
    }
  }

  &__sidebar-2 {
    flex: 1 1 100%;
    order: 3;
    margin-left: 0;

    @include grid-media('md') {
      flex: 0 0 $sidebar-width;
      order: 3;
      margin-left: map-get($hb-screen-margins, 'md');
    }

    @include grid-media('lg') {
      margin-left: map-get($hb-screen-margins, 'lg');
    }

    @include grid-media('xl') {
      margin-left: map-get($hb-screen-margins, 'xl');
    }
  }
}
