// citing use of this codepen https://codepen.io/chriscoyier/pen/NeRNBO

.hb-masonry {
  columns: 3 200px;
  column-gap: hb-spacing-width();
  
  .hb-card {
    display: inline-block;
    width: 100%;
  } 
}