# Ignore configuration files that may contain sensitive information.
local.settings.php
local.sites.php
local.drushrc.php
local.drush.yml
local.site.yml
local.aliases.drushrc.php
local.services.yml
tests/behat/local.yml
box/local.config.yml
*.local
local.blt.yml
.lando.yml
.lando/
.vscode/
blt/**/Local*
simplesamlphp/config/local*
.env
docroot/themes/humsci/humsci_basic/backstop/*backstop.json

# Ignore drupal core.
docroot/core

# Ignore paths that contain user-generated content.
docroot/sites/*/files
/files-private
docroot/sites/*/private
docroot/sites/simpletest
/artifacts
keys
backstop_data

# Ignore custom test configuration.
tests/codeception.yml
tests/codeception/*.suite.yml
tests/codeception/_output
tests/codeception/_support/_generated

# Ignore contrib modules. These should be created during build process.
docroot/modules/contrib
docroot/modules/custom
docroot/themes/contrib
docroot/themes/custom
docroot/profiles/contrib
docroot/profiles/custom
docroot/libraries
drush/contrib

# Ignore stanford contrib items.
docroot/modules/stanford
docroot/themes/stanford
docroot/profiles/stanford

# Ignore custom theme build artifacts and compiled files
node_modules
styleguide
docroot/themes/humsci/humsci_airy/css/humsci_airy.css
docroot/themes/humsci/humsci_colorful/css/humsci_colorful.css
docroot/themes/humsci/humsci_traditional/css/humsci_traditional.css
docroot/themes/humsci/humsci_airy/css/humsci_airy-ckeditor.css
docroot/themes/humsci/humsci_colorful/css/humsci_colorful-ckeditor.css
docroot/themes/humsci/humsci_traditional/css/humsci_traditional-ckeditor.css
docroot/themes/humsci/humsci_traditional/js/index.js
docroot/themes/humsci/humsci_colorful/js/index.js
# Ignore build artifacts
deployment_identifier
/deploy
bin/*
tmp
reports
console

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# User-specific stuff:
.idea/

#XHProf
xhprof_*

#Composer vendor
vendor/
vendor/.git

#Sass
.sass-cache
*.css.map

#Netbeans IDE
nbproject
nbproject/*

# DrupalVM
.vagrant/

# DevDesktop
*.dd

#Exports
*.gz
*.sql
*.zip

# PHPStorm
atlassian-ide-plugin.xml

#NPM
npm-debug.log

# Drush 9 Checksums
drush/sites/.checksums

# Deprecation detector rules
.rules

# sed artifacts in Docker Desktop on Mac on Apple Silicon when configured to
# use VirtioFS.
docroot/sites/*/settings/sed*
docroot/sites/*/sed*
