includes:
  - phpstan-baseline.neon
parameters:
  level: 5
  paths:
    - docroot/modules/humsci
    - docroot/profiles/humsci
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    # Ignore common errors for now.
    # See: docroot/core/phpstan.neon.dist
    - "#Drupal calls should be avoided in classes, use dependency injection instead#"
    - "#^Class .* extends @internal class#"
