@charset "UTF-8";

//
// Person Node Type
//

// Decanter
@import
  'decanter-no-markup';

.hs-person {
  .field-block {
    @include margin(null null 0.5rem 0);
  }

  .email-office-wrapper {
    > div {
      float: left;

      &:last-child {
        float: none;
      }
    }

    .divider {
      @include margin(0 0.5rem);
    }
  }

  .node-hs-person-field-hs-person-faculty-status,
  .node-hs-person-field-hs-person-staff-type {
    font-size: $h4-font-size;
    font-weight: $font-bold;
  }
}
