@charset "UTF-8";

//
// Person node type.
//
// Decanter
@import 'decanter-no-markup';

.email-office-wrapper {

  > div {
    float: left;

    &:last-child {
      float: none;
    }
  }

  .divider {
    margin: 0 5px;
  }
}