///
/// Media query that spans multiple breakpoint widths (between the min and max breakpoints).
///
/// @name su-grid-media-between
///
/// @param {key code} $lower - The lower breakpoint key code eg: 'sm'
/// @param {key code} $upper - The upper breakpoint key code eg: 'xl'
/// @param {map} $breakpoints - A map of each of the screen breakpoint sizes.
///
@mixin grid-media-between($lower: 'xs', $upper: 'sm', $breakpoints: $su-grid-screens) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
  @else if $max == null {
    @include grid-media-min($lower, $breakpoints) {
      @content;
    }
  }
  @else if $min == null {
    @include grid-media-max($upper, $breakpoints) {
      @content;
    }
  }
}

///
/// A helper to quickly generate a media query
///
/// @name su-grid-media-device
///
/// @param {key code} $breakpoint - The breakpoint shortcode - 'mobile', 'tablet' or 'desktop'
///
@mixin grid-media-device($breakpoint: 'tablet') {
  @if $breakpoint == 'mobile' {
    @content;
  }
  @else {
    @media #{map-get($su-grid-device, $breakpoint)} {
      @content;
    }
  }
}

///
/// Media query of at most the maximum breakpoint width. No query for the largest breakpoint.
/// Applies to the passed through breakpoint and below.
///
/// @name su-grid-media-max
///
/// @param {breakpoint} $name - The breakpoint key code eg: 'sm'
/// @param {breakpoint} $breakpoints - A map of each of the screen breakpoint sizes.
///
@mixin grid-media-max($name: 'xs', $breakpoints: $su-grid-screens) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  }
  @else {
    @content;
  }
}

///
/// Media query of at least the minimum breakpoint width.
/// No query for the smallest breakpoint.
/// Applies to the passed through breakpoint and above.
///
/// @name su-grid-media-min
///
/// @param {breakpoint} $name - The breakpoint key code eg: 'sm'
/// @param {map} $breakpoints - A map of each of the screen breakpoint sizes.
///
@mixin grid-media-min($name, $breakpoints: $su-grid-screens) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  }
  @else {
    @content;
  }
}

///
/// A helper to quickly generate a media query for single breakpoints.
///
/// @name su-grid-media-only
///
/// @param {key code} $breakpoint - The breakpoint key code eg: 'sm', or 'all' for all breakpoints.
///
@mixin grid-media-only($breakpoint: 'xs') {
  @if $breakpoint == 'all' {
    @each $id, $query in $su-grid-media-only {
      @media #{$query} {
        @content;
      }
    }
  }
  @else {
    @media #{map-get($su-grid-media-only, $breakpoint)} {
      @content;
    }
  }
}

///
/// A helper to quickly generate a media query
///
/// @name su-grid-media
///
/// @param {key code} $breakpoint - The breakpoint shortcode. Eg: xs
///
@mixin grid-media($breakpoint: 'xs') {
  @media #{map-get($su-grid-media, $breakpoint)} {
    @content;
  }
}
