///
/// Creates a grid column of requested size.
///
/// @name flex-column
///
/// @param {list} $columns - Specifies the number of columns an element should span based on the total columns of the grid. eg: `3 of 5`
/// @param {unit} $gutter - A left and right spacing around the element
/// @param {integer} $su-grid-columns - The number of columns in the grid
///
@mixin flex-column($columns, $gutter: $su-gutter-xs, $grid-columns: $su-grid-columns) {
  flex: 0 0 calc(#{flex-column-width($columns, $gutter, $grid-columns)});
  max-width: calc(#{flex-column-width($columns, $gutter, $grid-columns)});
}

///
/// Mixin to apply to the wrapper of all class-based layouts.
///
/// @name flex-container
///
@mixin flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

///
/// Pushes a grid column by changing its left margin.
///
/// @name flex-grid-push
///
/// @param {integer} $size - The number of columns to 'push'
/// @param {integer} $columns - The number of columns in the grid.
///
@mixin flex-grid-push($size: 1, $columns: $su-grid-columns) {
  $number: calc($size / $columns);
  margin-left: if($number == 0, 0, percentage($number));
}

///
/// Loops through the breakpoints and dynamically calculates the width for each
/// breakpoint based on the number of columns passed in.
///
/// @name responsive-flex-column
///
/// @param {list} $columns - something like 1 of 12
/// @param {map} $grid - A key value map where the key is the shortcode of the breakpoint and the value is the full media query.
/// @param {map} $gutters - A complimentary map to the $grid map where the size of the css grid gutter is applied at each breakpoint.
///
@mixin responsive-flex-column($columns, $grid: $su-grid-media, $gutters: $su-grid-gutters) {
  @each $key, $breakpoint in $grid {
    @include grid-media($key) {
      @include flex-column($columns, map-get($gutters, $key));
    }
  }
}
