@charset "UTF-8";

//
// Table Row
//

// Decanter
@import
  'decanter-no-markup';

.table-row {
  display: table-row;

  > div {
    @include padding(1.5rem);

    border: 1px solid $color-driftwood;
    display: table-cell;
  }
}
