@charset "UTF-8";

//
// Table Row
//

// Decanter
@import
  'decanter-no-markup';

.table-row {
  display: table-row;

  > div {
    display: table-cell;
    border: 1px solid $color-driftwood;
    @include padding(1.5rem);
  }
}
