// Source Sans 3.
@import 'https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap';

// Source Serif 4.
@import 'https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap';

// Ligature font: Stanford.
// The Stanford font is being hosted and loaded from our AWS bucket.
@font-face {
  font-family: Stanford;
  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"),
       url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");
  font-weight: 300;
}
