@charset "UTF-8";

//
// Masonry Item
//

// Decanter
@import
  'decanter-no-markup';

// SU HumSci
@import
  '../utilities/mixins/index';

.masonry-item {
  .masonry-item--image {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .masonry-item--inner {
    .masonry-item--image {
      img {
        display: block;
      }
    }

    .masonry-item--body {
      overflow: hidden;

      @include card;

      p {
        font-size: 1.8rem;
        line-height: 1.3;

        @include margin(0 null 0.5em);
      }

      a {
        font-size: 1.8rem;
        line-height: 1.3;
      }

      .masonry-item--type {
        font-size: $small-font-size;
        font-weight: $font-light;

        @include margin(null null 0.5em);
      }

      h3,
      h3 a {
        font-size: 2.1rem;

        @include margin(0 0 0.5em);
      }

      .masonry-item--author-year {
        font-weight: $font-light;

        .author {
          font-weight: $font-normal;
        }
      }
    }
  }
}
