@charset "UTF-8";

///
/// MASONRY ITEM COMPONENT
///

.masonry-item {

  &--inner {
    background-color: #fff;
    border: 1px solid mix(#000, transparent, 25%);
    box-shadow: 3px 3px 3px mix(#000, transparent, 25%);
    margin-bottom: 2em;
  }
}

.masonry-item--image {
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.masonry-item--inner {

  .masonry-item--image {
    .publication--image {
      img {
        display: block;
      }
    }
  }

  .masonry-item--body {
    overflow: hidden;
    padding: .75em;

    p {
      margin: 0;
    }

    .publication--type {
      font-size: .9em;
      font-weight: 300;
      margin-bottom: .5em;
    }

    h3.publication--title {
      margin: 0 0 .5em;
    }

    .publication--author-year {
      font-weight: 300;
      .author {
        font-weight: 400;
      }
    }
  }
}

