@charset "UTF-8";

//
// Masonry Item
//

// Decanter
@import
  'decanter-no-markup';

// SU HumSci
@import
  '../utilities/mixins/index';

.masonry-item {
  .masonry-item--image {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .masonry-item--inner {
    .masonry-item--image {
      img {
        display: block;
      }
    }

    .masonry-item--body {
      overflow: hidden;

      @include card;

      p {
        @include margin(0);
      }

      .masonry-item--type {
        font-size: $small-font-size;
        font-weight: $font-light;

        @include margin(null null 0.5em);
      }

      h3.masonry-item--title {
        margin: 0 0 .5em;
      }

      .masonry-item--author-year {
        font-weight: $font-light;

        .author {
          font-weight: $font-normal;
        }
      }
    }
  }
}
