.react-paragraphs-widget {
  input {
    max-width: 100%;
  }

  .row {
    margin-bottom: 15px;
    background-color: #fff;
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .item-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 0;
    min-height: 50px;
  }

  .item {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background: #fff;
  }

  .item-contents {
    width: 100%;
    padding: 10px;
  }

  .item-header {
    width: 100%;
    display: flex;
  }

  .item-actions {
    margin-left: auto;
    position: relative;
    display: flex;

    .actions-toggle {
      display: block;
      height: 36px;
      width: 36px;
      background: url(icons/icon-actions.svg) no-repeat center;
      background-size: 26px 26px;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
      cursor: pointer;
    }

    .actions-list {
      display: block;
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 5px 10px;
      right: 10px;
      z-index: 100;
      background: #f9f8f6;
      border: 1px solid #a6a6a6;
      border-radius: 5px 0 5px 5px;
      -webkit-box-shadow: 0 2px 6px 0 #aaa;
      box-shadow: 0 2px 6px 0 #aaa;
    }

    .edit-button {
      float: left;
    }
  }

  .toolbox {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2)
  }

  .draggable-handle {
    text-align: center;
    width: 20px;
    border-right: 1px solid #ccc;

    span {
      margin-top: 10px;
      display: block;
    }

    .handle-icon {
      font-size: 0;
      background: url(icons/move.svg) no-repeat center;
    }
  }

}
