.react-paragraphs-widget {
  input {
    max-width: 100%;
  }

  .row {
    margin-bottom: 15px;
    background-color: #fff;
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    > .draggable-handle {
      border-right: 1px solid #ccc;
    }
  }

  .item-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 50px;
    padding: 10px 0;
  }

  .resizeable-item {
    padding: 5px;
  }

  .item {
    display: flex;
    width: 100%;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
  }

  .item-contents {
    width: 100%;
  }

  .item-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;

    > * {
      margin: 10px;
    }
  }

  .item-summary {
    width: 100%;
    font-size: 1.4em;
    line-height: 1.4em;
    height: 2.8em;
    overflow: hidden;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 3em;
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
      content: '\00a0';
    }
  }

  .item-form {
    margin: 10px;
  }

  .item-actions {
    margin-left: auto;
    display: flex;
  }

  .resize-handle {
    background: url('icons/resize.png') no-repeat center;
    height: 100%;
    display: block;
    background-size: 11px;
  }

  .row-actions {
    width: 40px;
    background-color: #edede8;
    border-left: 1px solid #ccc;
  }
}

.react-loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
