@charset "UTF-8";

///
/// RECENT NEWS COMPONENT
///
// Decanter
@import 'decanter-no-markup';
// Stanford Math Research Center
@import '../utilities/mixins/mixins';

.mrc-news-recent-card {

  @include mrc-card-container;

  .mrc-news-recent__item {
    clear: both;

    @include margin(null null 1em);

    .mrc-news-recent__content {
      display: table-cell;

      .mrc-news-recent__title {
        @include margin(0 null 0.25em);
      }
    }
  }

  .mrc-news-recent__img {
    float: left;

    @include margin(null 1em 1em null);
  }

  .mrc-news-recent__date-source {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    font-size: $lead-font-size;
  }
}
