@charset "UTF-8";

//
// Mathematics
// Mathematics website specific styles.
//
// Decanter
@import 'decanter-no-markup';
// Decanter Overrides
@import '../../su_humsci_theme/scss/decanter-overrides/decanter-overrides';
// SU HumSci
@import '../../su_humsci_theme/scss/utilities/mixins/index';

//*******************************************************************************
// Vertical rhythm and spacing
//*******************************************************************************/

.vertical-card .vertical-card__content-container {
  padding: 2rem 4rem 4rem;
}

.horizontal-card {
  padding: 4rem;

  .horizontal-card__img {
    margin: 0 2.5rem 0 0;
  }
}

.paragraph-item {
  margin-top: 75px;

  &.ptype-hs-hero-image {
    margin-top: 0;
  }

  &.ptype-hs-view .more-link {
    text-align: left;
  }
}

.embedded-entity.align-left {
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
}

.vertical-card .vertical-card__content-container .decanter-button {
  margin-top: 3rem;
}

.horizontal-card__category.accent-dash {
  display: none;
}

.views-field-field-hs-news-date {
  margin-bottom: .75rem;
}
