@charset "UTF-8";

//
// Mathematics
// Mathematics website specific styles.
//
// Decanter
@import 'decanter-no-markup';
// Decanter Overrides
@import '../../su_humsci_theme/scss/decanter-overrides/decanter-overrides';
// SU HumSci
@import '../../su_humsci_theme/scss/utilities/mixins/index';

//*******************************************************************************
// Row with Background
//*******************************************************************************/
.ptype-custm-row-w-background {
  background: #336159;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  margin-bottom: 20px;
  color: #fff;

  .ptype-hs-accordion {
    color: initial;
  }

  .ptype-hs-postcard {
    border: 1px solid #fff;

    .field-hs-postcard-link {
      border: 1px solid #fff;
    }
  }
}

.custm-row-components {
  .ptype-hs-view .date-stacked-vertical-card__content-container, .decanter-button,
  a.decanter-button, .decanter-button--secondary,
  a.decanter-button--secondary, .more-link a {
    border: 1px solid #fff;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding: 3em 0;

  .ptype-hs-postcard, .ptype-hs-view {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .ptype-hs-postcard {
    font-weight: 300;

    h2 {
      font-weight: 300;
    }

    a {
      font-weight: 400;
    }
  }

  .ptype-hs-view {
    font-weight: 300;

    h2 {
      font-weight: 300;
    }

    a {
      font-weight: 400;
    }
  }

  .vertical-card .vertical-card__content-container {
    box-shadow: none;
  }

  .ptype-hs-view {
    .date-stacked-vertical-card__content-container,
    .horizontal-card {
      box-shadow: none;
    }
  }

  .vertical-card__content-container,
  .ptype-hs-view .date-stacked-vertical-card__content-container {
    padding: 1.5em;
  }

  .vertical-card .vertical-card__content-container,
  .view .vertical-card .vertical-card__content-container,
  .field-block .vertical-card .vertical-card__content-container {
    margin: 0;
  }

  .text-long {
    padding-bottom: 1em;
  }
}

@media (max-width: 1200px) {
  .custm-row-components {
    padding-right: 30px;
    padding-left: 30px;
  }
}

#main-content .custm-row-components {
  .hs-postcard a,
  .ptype-hs-view a {
    color: #fff;
  }
  .hs-postcard .heading-link-h3 {
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }

  .ptype-hs-view .heading-link-h3 {
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }

  .hs-postcard a {
    &:hover,
    &:focus {
      color: #a4ded6;
    }
  }

  .ptype-hs-view a {
    &:hover,
    &:focus {
      color: #a4ded6;
    }
  }

  .decanter-button,
  .decanter-button--secondary,
  .more-link {
    background: transparent;

    a {
      background: transparent;
    }
  }

  .decanter-button {
    &:hover,
    a:hover {
      background: #437f76;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.5s ease;
    }
  }

  .ptype-hs-view .decanter-button:hover,
  .decanter-button--secondary a:hover,
  .more-link a:hover {
    background: #437f76;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease;
  }

  .decanter-button {
    &:focus,
    a:focus {
      background: #437f76;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.5s ease;
    }
  }

  .ptype-hs-view .decanter-button:focus,
  .decanter-button--secondary a:focus,
  .more-link a:focus {
    background: #437f76;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease;
  }
}

.custm-row-components > div {
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .custm-row-components > div:first-child:nth-last-child(2) {
    width: calc(50% - 25px);
    margin-bottom: 0;

    ~ div {
      width: calc(50% - 25px);
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .custm-row-components > div:first-child:nth-last-child(2) {
    width: calc(50% - 25px);
    margin-bottom: 0;

    ~ div {
      width: calc(50% - 25px);
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 960px) {
  .custm-row-components > div:first-child:nth-last-child(3) {
    width: calc(33.334% - 30px);

    ~ div {
      width: calc(33.334% - 30px);
    }
  }
}

@media screen and (min-width: 768px) {
  .custm-row-components > div:first-child:nth-last-child(4) {
    width: calc(50% - 25px);
    margin-bottom: 0;

    ~ div {
      width: calc(50% - 25px);
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 960px) {
  .custm-row-components > div:first-child:nth-last-child(4) {
    width: calc(33.334% - 30px);

    ~ div {
      width: calc(33.334% - 30px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .custm-row-components > div:first-child:nth-last-child(4) {
    width: calc(25% - 35px);

    ~ div {
      width: calc(25% - 35px);
    }
  }
}
