@charset "UTF-8";

//
// Masonry
//

// Decanter
@import
  'decanter-no-markup';

.masonry {
  width: 100%;
}

.masonry-sizer {
  display: block;
  visibility: hidden;
  height: 0;

  &--item {
    width: 100%;
  }

  &--gap {
    width: 0;
  }

  @include media(700px) {
    &--item {
      width: 47%;
    }

    &--gap {
      width: 6%;
    }
  }

  @include media(960px) {
    &--item {
      width: 30%;
    }

    &--gap {
      width: 5%;
    }
  }

  // If we want four items across at xl breakpoint.
  // @include media(1200px) {
  //  &--item { width: 23%; }
  //  &--gap { width: 2.67%; }
  // }
}

.masonry-item {
  width: 100%;

  @include media(700px) {
    width: 47%;
  }

  @include media(960px) {
    width: 30%;
  }

  // If we want four items across at xl breakpoint.
  // @include media(1200px) {
  //   width: 23%;
  // }
}

html.no-js .masonry {
  display: flex;
  flex-wrap: wrap;

  > div {
    @include padding(0 10px);
  }
}
