{% set attributes = attributes.addClass('table-pattern') %}

{% set columns = {
  'column_1': 0,
  'column_2': 0,
  'column_3': 0,
  'column_4': 0,
  'column_5': 0
} %}

{% for item in items %}
  {% if item['#column_1'] %}
    {% set columns = columns | merge({'column_1': 'true'}) %}
  {% endif %}
  {% if item['#column_2'] %}
    {% set columns = columns | merge({'column_2': 'true'}) %}
  {% endif %}
  {% if item['#column_3'] %}
    {% set columns = columns | merge({'column_3': 'true'}) %}
  {% endif %}
  {% if item['#column_4'] %}
    {% set columns = columns | merge({'column_4': 'true'}) %}
  {% endif %}
  {% if item['#column_5'] %}
    {% set columns = columns | merge({'column_5': 'true'}) %}
  {% endif %}
{% endfor %}

{% set empty_cell = {
  '#markup': ''
} %}

<div{{ attributes.setAttribute('role', 'grid').setAttribute('aria-readonly', 'true') }}>
  {% if caption | render | striptags | trim %}
    <div class="table-caption">
      {{ caption }}
    </div>
  {% endif %}

  {% if header %}
    <div class="table-header" role="row">
      <div class="table-row">
        {{ header }}
      </div>
    </div>
  {% endif %}

  <div class="table-body">
    {% for item in items %}
      {% if not item['#column_1'] and columns.column_1 %}
        {% set item = item | merge({'#column_1': empty_cell}) %}
      {% endif %}
      {% if not item['#column_2'] and columns.column_2 %}
        {% set item = item | merge({'#column_2': empty_cell}) %}
      {% endif %}
      {% if not item['#column_3'] and columns.column_3 %}
        {% set item = item | merge({'#column_3': empty_cell}) %}
      {% endif %}
      {% if not item['#column_4'] and columns.column_4 %}
        {% set item = item | merge({'#column_4': empty_cell}) %}
      {% endif %}
      {% if not item['#column_5'] and columns.column_5 %}
        {% set item = item | merge({'#column_5': empty_cell}) %}
      {% endif %}

      {{ item }}
    {% endfor %}
  </div>
</div>
