
{% set attributes = attributes.addClass('mrc-event-past-card') %}

<div{{ attributes }}>
  <div class="mrc-event-past__content">
    {% if title %}
      <h2 class="mrc-event-past__title">{{ title }}</h2>
    {% endif %}
    {% if description %}
      <div class="mrc-event-past__description">{{ description }}</div>
    {% endif %}
  </div>
</div>
