.addtocal-inner {
  background-color: var(--palette--white);
  position: relative;
  display: flex;
  margin-top: -(hb-calculate-rems(38px));
  margin-left: -(hb-calculate-rems(4px));
  padding: hb-calculate-rems(11px) hb-calculate-rems(6px) hb-calculate-rems(8px) hb-calculate-rems(18px);
  border: 2px solid;
  border-radius: hb-calculate-rems(12px);

  border-color: var(--palette--tertiary-darken-20);

  @include hb-traditional {
    margin-top: -(hb-calculate-rems(40px));
    border-radius: 0;
  }
}

.addtocal-title {
  color: var(--palette--secondary);

  font-size: hb-calculate-rems(16px);
  margin: 0 hb-calculate-rems(6px);

  @include hb-traditional {
    margin-left: hb-calculate-rems(11px);
    font-family: $hb-traditional-font--sans;
    font-weight: hb-theme-font-weight(semibold);
  }
}

.addtocal-links {
  margin: 0;
}

.addtocal-link {
  margin-bottom: hb-calculate-rems(4px);
  font-size: hb-calculate-rems(16px);

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--palette--gray-dark);
    display: flex;
    align-items: center;
    background-image: none;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--palette--secondary);
      background-image: none;

      &::before {
        @include hb-icon-background('plus', 'secondary');
      }
    }

    &::before {
      @include hb-icon-background('plus', 'white');

      content: ' ';
      display: block;
      width: hb-calculate-rems(10px);
      height: hb-calculate-rems(10px);
      margin-right: hb-calculate-rems(4px);
    }
  }
}
