.block-layout-builder {
  &:not(:last-child) {
    margin-bottom: hb-calculate-rems(20px);
  }

  // Trigger change in fa-ext icon color when hovering over it's associated link text.
  .link a {
    &:hover,
    &:focus {
      @include hb-colorful {
        @include hb-ext-icon-color('tertiary-darken-20');
      }
    }
  }
}

.block-hs-blocks {
  padding: hb-calculate-rems(20px) hb-calculate-rems(18px);

  @include hb-colorful {
    border: $hb-thin-border;
    @include hb-global-color('border-color', 'gray');
  }

  &:not(:last-child) {
    margin-bottom: hb-calculate-rems(18px);
  }
}

.block__title {
  @include hb-block-heading;
  margin-top: 0;
  margin-bottom: hb-calculate-rems(20px);
  width: 100%;
}

.field-label,
.views-label {
  @include hb-field-label;
}

.label-inline {
  display: flex;

  .field-label {
    margin-right: hb-calculate-rems(6px);
  }
}

.title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.email {
  [class^="fa-"] {
    display: none;
  }
}

.datetime {
  line-height: 1.4;

  @include hb-colorful {
    @include hb-global-color('color', 'gray-dark');
  }
}

.address {
  margin: 0;
  font-style: italic;

  @include hb-colorful {
    @include hb-global-color('color', 'gray-dark');
  }
}

.given-name,
.family-name {
  font-weight: hb-theme-font-weight(semibold);
  font-style: normal;
}

.string {
  // Adds spacing between lines of text
  div div {
    margin-bottom: hb-calculate-rems(6px);
  }
}

// Improve readability of the Drupal admin interface
.layout-builder-form,
.ui-dialog-off-canvas,
.block-categories,
.layout-builder-discard-changes {
  font-size: hb-calculate-rems(16px);
}
