.button {
  @include button-style;

  // This is our only option for targeting the exposed filters reset button
  &[data-drupal-selector="edit-reset"] {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;

    padding: hb-calculate-rems(4px) 0;
    line-height: 1;
    min-height: auto;

    @include hb-colorful {
      color: hb-colorful-variation(secondary);
      border-bottom: 1px solid hb-colorful-variation(secondary);

      &:hover {
        color: darken(hb-colorful-variation(secondary), 10%);
        border-bottom-color: darken(hb-colorful-variation(secondary), 10%);
      }

      &:focus {
        border-bottom-color: transparent;
      }
    }
  }
}
