.hb-card {
  margin-bottom: $hb-gutter-width;
  display: flex;
  flex-direction: column;

  &--horizontal {
    @include grid-media-min('md') {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__category {
    ol,
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 0 hb-calculate-rems(10px);
    }

    li:not([class]) { // increase specificity so that these styles override the base list styles
      @include hb-category-item;
    }

    a {
      @include hb-category-link;
    }
  }

  &__subcontent {
    width: 100%;
    @include grid-media-min('sm') {
      display: flex;
    }

    .hb-grid &,
    .ptype-hs-row & {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: hb-calculate-rems(16px);
    }

    &-item {
      color: darken($su-color-driftwood, 45%);
      font-size: hb-calculate-rems(16px);
      @include grid-media-min('sm') {
        display: flex;
      }

      &:not(:last-child) {
        margin-bottom: hb-calculate-rems(4px);

        @include grid-media-min('sm') {
          margin-bottom: 0;
        }
      }

      // Adds a "pipe" after each field
      &::after {
        @include grid-media-min('sm') {
          content: '';
          margin: 0 hb-calculate-rems(8px);
          border-left: 1px solid darken($su-color-driftwood, 45%);
        }

        .hb-grid &,
        .ptype-hs-row & {
          border-left: 0 none;
        }
      }

      // Removes the pipe from the last field
      &:last-of-type {
        &::after {
          content: '';
          margin: 0;
          border: 0;
        }
      }

      a {
        font-weight: hb-theme-font-weight(semibold);
      }
    }
  }

  &__location {
    color: darken($su-color-driftwood, 45%);
    font-size: hb-calculate-rems(14px);
    margin-bottom: hb-calculate-rems(16px);

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(16px);
    }
  }

  &__highlighted {
    color: darken($su-color-driftwood, 45%);
    font-size: hb-calculate-rems(14px);

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(16px);
    }

    &:not(:last-child) {
      margin-bottom: hb-calculate-rems(20px);
    }

    .views-label {
      @include hb-field-label--featured;
      display: inline-block;
      margin-right: hb-calculate-rems(6px);
    }
  }

  &__graphics {
    position: relative;
    margin-bottom: hb-calculate-rems(20px);
  }

  &__img {
    overflow: hidden;

    // override default link styles that might go here
    a {
      display: block;

      &:hover,
      &:focus {
        box-shadow: none;
        border-bottom: 0 none;

        img {
          transform: scale($hb-image-hover-scale);
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      transform: scale(1);
      transition: transform 140ms ease-in-out;
    }

    .hb-card--horizontal & {
      @include grid-media-min('md') {
        @include flex-column(5);
        margin-right: hb-calculate-rems($hb-gutter-width);
        margin-bottom: 0;
      }
    }
  }

  &__date-tile {
    display: inline-block;
    text-align: center;
    background: $hb-color--black;
    color: $hb-color--white;
    min-width: hb-calculate-rems(100px);
    padding: hb-calculate-rems(12px) hb-calculate-rems(10px) hb-calculate-rems(8px);
    position: absolute;
    bottom: hb-calculate-rems(18px);
    left: hb-calculate-rems(-10px);

    @include hb-colorful {
      background: hb-colorful-variation(secondary);
    }

    @include grid-media-min('sm') {
      bottom: hb-calculate-rems(22px);
      left: hb-calculate-rems(-14px);
    }

    &:only-child {
      position: initial;
    }
  }

  &__date-tile-month {
    text-transform: uppercase;
    font-weight: hb-theme-font-weight(semibold);
  }

  &__date-tile-day {
    font-size: hb-calculate-rems(52px);
    font-weight: hb-theme-font-weight(semibold);
    line-height: 100%;
  }

  &__content {
    .hb-card--horizontal & {
      @include grid-media-min('md') {
        @include flex-column(6);
        // have to overwrite some Decanter things
        // to allow this to grow if no image present
        flex-grow: 1;

        @supports (max-width: 100%) {
          max-width: 100%; // Apply max-width to all browsers except IE. This allows the fallback settings written in flex-column to work correctly.
        }
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: hb-calculate-rems(20px);

    @include grid-media-min('md') {
      margin-bottom: hb-calculate-rems(24px);
    }

    h2 {
      @include hb-heading-5;
      margin: 0;
      overflow-wrap: break-word;

      @include grid-media-min('sm') {
        font-weight: hb-theme-font-weight(semibold);
        font-size: hb-calculate-rems(24px);
        line-height: 124%;
      }

      @include grid-media-min('md') {
        font-weight: hb-theme-font-weight(semibold);
        font-size: hb-calculate-rems(27px);
        line-height: 119%;
      }

      // If this h2 is in a grid or row,
      // keep it smaller longer.
      .hb-grid &,
      .ptype-hs-row & {
        @include grid-media-min('sm') {
          @include hb-heading-5;
        }

        @include grid-media-min('lg') {
          font-weight: hb-theme-font-weight(semibold);
          font-size: hb-calculate-rems(24px);
          line-height: 124%;
        }
      }
    }
  }

  &__description {
    @include hb-body--small;

    @include grid-media-min('lg') {
      @include hb-body--medium;
    }

    &:not(:last-child) {
      margin-bottom: hb-calculate-rems(24px);
    }

    .views-field:not(:last-child) {
      display: block;
      margin-bottom: hb-calculate-rems(16px);
    }
  }

  &__decorative-link {
    display: flex;
    align-items: center;
    width: 100%; // large area to click

    .views-field {
      width: 100%;
      z-index: $hb-z-index-decorative-link; // align the link above the arrow icon to make it clickable on the horizontal card
    }

    a {
      display: block;
      color: transparent; // `hide` the text but make sure screen readers can still read it
      height: hb-calculate-rems(44px);
      width: 100%;
      margin-left: hb-calculate-rems(-44px);
      text-decoration: none;
      z-index: $hb-z-index-decorative-link; // align the link above the arrow icon to make it clickable on the vertical card

      &:hover,
      &:focus {
        box-shadow: none;
        color: transparent;
      }
    }

    &::before {
      content: '';
      display: block;
      height: hb-calculate-rems(44px); // WCAG AAA target size
      width: hb-calculate-rems(44px);

      @include hb-colorful {
        @include hb-icon-link-arrow($color: hb-colorful-variation(secondary));

        transform: translateX(0);
        transition: transform 200ms ease-in-out;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;

      &::before {
        transform: translateX(0.625rem);

        @include hb-colorful {
          @include hb-icon-link-arrow(darken(hb-colorful-variation(secondary), 10%));
        }
      }
    }
  }
}
