// In order to avoid specificity issues the vendor chosen.js sass file has been
// copied to this file and all styles removed, leaving only the nested classes.
// https://github.com/harvesthq/chosen/blob/master/sass/chosen.scss
// Any unused classes have been commented out to prevent linter errors but have
// not been deleted in case they are needed for future use.
// Base
.chosen-container {
  width: 100% !important; // This overrides an inline width
  @include hb-global-color('background', 'white');

  @include hb-themes(('colorful', 'airy')) {
    border-radius: $hb-border-radius;
  }

  @include hb-traditional {
    // Need this to override Chosen JS
    border-radius: 0;
  }

  .chosen-drop {
    @include hb-input-border;
    @include hb-input-focus;
    font-size: hb-calculate-rems(16px);
  }
  //
  // &.chosen-with-drop .chosen-drop {
  //
  // }
  //
  // a {
  //
  // }
  //
  // .search-choice, .chosen-single {
  //   .group-name {
  //
  //     &:after {
  //
  //     }
  //   }
  // }
  //
  // Results
  .chosen-results {
    margin: 0;
    padding: 0;

    li {
      padding: $hb-input-padding;
      line-height: 122%;

      &:last-child {
        border-radius: 0 0 $hb-border-radius $hb-border-radius;
      }
      //
      // &.active-result {
      //
      // }
      //
      // &.disabled-result {
      //
      // }
      //
      &.highlighted {
        @include hb-global-color('color', 'black');
        font-weight: hb-theme-font-weight(semibold);
        background-image: none;
        @include hb-global-color('background-color', 'gray-light');
      }
      //
      // &.no-results {
      //
      // }
      //
      // &.group-result {
      //
      // }
      //
      // &.group-option {
      //
      // }
      //
      // em {
      //
      // }
    }
  }
}

// Single Chosen
.chosen-container-single {
  .chosen-single {
    display: block;
    // scss-lint:disable ImportantRule
    background: none !important;
    // scss-lint:enable ImportantRule
    box-shadow: none;
    font-size: hb-calculate-rems(16px);
    line-height: 1;
    height: auto;
    min-height: $hb-input-min-height;
    padding: hb-calculate-rems(8px) $hb-input-icon-spacing hb-calculate-rems(8px) hb-calculate-rems(8px);
    @include hb-input-border;

    .hb-dark-pattern &,
    .hb-dark-inversion .views-element-container & {
      @include hb-global-color('background', 'white', '!important');
    }

    &:focus {
      @include hb-input-focus;
    }

    span {
      margin-right: 0;
      // hack so that overflow-y of descenders isnt hidden:
      margin-bottom: -3px;
      padding-bottom: 3px;
    }

    div {
      width: $hb-input-icon-spacing;
      background-repeat: no-repeat;
      background-position: center;
      background-size: hb-calculate-rems(12px) hb-calculate-rems(8px);
      @include hb-icon-background('chevron', 'secondary');

      b {
        display: none; // hides the chosen.js icon
      }
    }
  }
  //
  // .chosen-default {
  //
  // }
  //
  //
  // .chosen-single-with-deselect span {
  //
  // }
  //
  // .chosen-single abbr {
  //
  //   &:hover {
  //
  //   }
  // }
  //
  // &.chosen-disabled .chosen-single abbr:hover {
  //
  // }

  .chosen-search {
    // We cannot completely hide the search input without losing keyboard
    // accessibility. The search input will still be accessible to screen reader
    // users.
    // Note: This does create an edge case where if someone types while the focus
    // is in the search it will attempt to search the dropdown list. This should
    // be a rare occurance.
    @include visually-hidden;
    // input[type="text"] {
    //
    // }
  }
  //
  // .chosen-drop {
  //
  // }
  //
  // &.chosen-container-single-nosearch .chosen-search {
  //
  // }
}

// Multi Chosen
.chosen-container-multi {
  @include hb-input-border;

  &:focus-within {
    @include hb-input-focus;
  }

  .chosen-choices {
    display: block;
    // scss-lint:disable ImportantRule
    background: none !important;
    // scss-lint:enable ImportantRule
    box-shadow: none;
    font-size: hb-calculate-rems(16px);
    line-height: 1;
    height: auto;
    min-height: $hb-input-min-height;
    margin: -1px 0;
    padding: 0 $hb-input-icon-spacing 0 hb-calculate-rems(8px);
    border: 0 none;
  }

  .chosen-choices li {
    &.search-field {
      input[type="text"] {
        margin: 0;
        padding: 0;
        font-size: hb-calculate-rems(16px);
        font-family: inherit;
      }
    }

    &.search-choice {
      margin: hb-calculate-rems(5px) hb-calculate-rems(5px) hb-calculate-rems(5px) 0;
      @include hb-global-color('background-color', 'white');
      font-family: inherit;
      background-image: none;
      box-shadow: none;
      @include hb-input-border;
      padding: hb-calculate-rems(6px) hb-calculate-rems(22px) hb-calculate-rems(6px) hb-calculate-rems(6px);
      transition: hb-transition(background-color);

      &:hover {
        @include hb-global-color('background-color', 'gray-light');
        @include hb-global-color('color', 'black');
      }

      // when you click on the close button
      &:focus {
        @include hb-input-focus;
      }

      // span {}

      .search-choice-close {
        // scss-lint:disable ImportantRule
        background: none !important;
        background-size: 0 !important;
        background-repeat: no-repeat !important;
        // scss-lint:enable ImportantRule
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;

        &:focus {
          @include hb-input-focus;
        }

        &::before,
        &::after {
          content: '';
          display: block;
          height: hb-calculate-rems(2px);
          width: hb-calculate-rems(12px);
          @include hb-global-color('background-color', 'gray-dark');

          position: absolute;
          right: 4px;
          top: 12px;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &:hover {
          &::before,
          &::after {
            @include hb-global-color('background-color', 'black');
          }
        }
      }
    }

    // &.search-choice-disabled {}

    &.search-choice-focus {
      .search-choice-close {
        @include hb-input-focus;
      }
    }
  }

  .chosen-drop {
    margin: 1px 0;
    border-top: 0 none; // Overwrite this border because the input above it already has the borer.
  }

  // .chosen-drop .result-selected {}
}

// Active
.chosen-container-active {
  .chosen-single {
    @include hb-input-focus;
  }

  &.chosen-with-drop {
    .chosen-single {
      @include hb-input-focus;

      div {
        background-repeat: no-repeat;
        background-position: center;
        background-size: hb-calculate-rems(12px) hb-calculate-rems(8px);
        transform: rotate(180deg);
        @include hb-icon-background('chevron', 'secondary');
        //
        // b {
        //
        // }
      }
    }
  }
  //
  // .chosen-choices {
  //
  //   li.search-field input[type="text"] {
  //
  //   }
  // }
}

// Disabled Support
// .chosen-disabled {
//
//   .chosen-single {
//
//   }
//
//   .chosen-choices .search-choice .search-choice-close {
//
//   }
// }
