.hb-vertical-card,
.hb-card--date-stacked {
  // Needed to make the styles work when the anchor is the wrapper.
  .hb-card__title a,
  .hb-card__title a > div > * {
    @include hb-link;
  }

  // Needed to make the styles work when the anchor is the wrapper.
  .hb-card__title a > div > * {
    display: inline;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    @include hb-colorful {
      .hb-raised-cards & {
        border-color: var(--palette--secondary-darken-12);
      }
    }

    .hb-card__img img {
      transform: scale($hb-image-hover-scale);
    }

    // Needed to make the styles work when the anchor is the wrapper.
    .hb-card__title a,
    .hb-card__title a > div > * {
      color: var(--palette--black);

      @include hb-themes(('airy', 'colorful')) {
        border-bottom-color: var(--palette--tertiary-highlight-darken-10);
        transition-delay: 0s, 0s;
        box-shadow: inset 0 hb-calculate-rems(-14px) 0 var(--palette--tertiary-highlight);
      }

      @include hb-traditional {
        color: var(--palette--black);
        background-image: none;
        text-decoration-color: var(--palette--primary);
      }
    }
  }

  .hb-card__img {
    overflow: hidden;

    img {
      width: 100%;
      transition: hb-transition(transform);
    }
  }

  .field-media-image {
    margin: 0;
  }
}
