.hb-local-footer {
  font-size: hb-calculate-rems(16px);
  padding: hb-calculate-rems(48px) 0;
  border-top: $hb-thin-border;
  @include hb-global-color('border-color', 'gray');

  .hb-secondary-nav {
    // overwrite default secondary nav styles for menu items
    // in the local footer to display at all times
    display: block;
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    margin-bottom: hb-calculate-rems(14px);
    padding-right: hb-calculate-rems(18px);

    @include grid-media-min('lg') {
      font-size: hb-calculate-rems(18px);
    }

    @include hb-colorful {
      a {
        &:hover,
        &:focus {
          @include hb-ext-icon-color('tertiary-darken-20');
        }
      }
    }
  }

  .block__title,
  .hb-secondary-nav__heading {
    font-size: hb-calculate-rems(14px);
    font-weight: hb-theme-font-weight(bold);
    margin: 0 0 hb-calculate-rems(20px);
    text-transform: uppercase;
  }

  @include hb-colorful {
    a:not([class]) {
      background-image: none;

      &:hover,
      &:focus {
        @include hb-pairing-color('color', 'tertiary-darken-20');
      }
    }
  }
}

.hb-local-footer--dark {
  @include hb-colorful {
    @include hb-pairing-color('background-color', 'primary-dark');
    @include hb-global-color('color', 'white');
    border-top: 0;

    .menu-item {
      margin-bottom: hb-calculate-rems(14px);

      a {
        &:hover,
        &:focus {
          @include hb-ext-icon-color('tertiary-highlight');
        }
      }
    }
  }
}
