// Note: In the event that there is no JS enabaled we want to show the mobile
// navigation with all links being visible. We use the .js class on the HTML
// element to only show large screen styles if JS is enabled.
.hb-main-nav {
  position: relative;
  font-size: hb-calculate-rems(18px);

  &__toggle {
    @include unbuttonize;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: hb-calculate-rems(-120px);

    font-weight: hb-theme-font-weight(bold);

    display: flex;
    align-items: center;
    width: hb-calculate-rems(70px);
    flex-direction: initial;
    padding: hb-calculate-rems(10px) 0;

    // If there is no JS then the navigation is automatically expanded and
    // toggle buttons are unnecessary.
    .no-js & {
      display: none;
    }

    @include grid-media-min('lg') {
      .js & {
        display: none;
      }
    }

    .hb-main-nav__toggle-icon {
      @include hb-menu-hamburger-icon;
      margin-left: hb-calculate-rems(10px);
    }

    &[aria-expanded="true"] .hb-main-nav__toggle-icon {
      @include hb-menu-close-icon;
    }
  }

  &__menu {
    // scss-lint:disable ImportantRule
    box-shadow: none !important;
    transform: translate(0) !important;
    width: auto !important;
    // scss-lint:enable ImportantRule

    list-style-type: none;
    margin: 0;
    padding: 0;

    @include grid-media-min('sm') {
      max-width: none;
    }

    &[aria-hidden="true"] {
      display: none;
    }

    &-lv1 {
      font-weight: hb-theme-font-weight(semibold);
      font-size: hb-calculate-rems(20px);
      border-bottom: $hb-menu-light-border;

      &[aria-hidden="false"] {
        margin-bottom: hb-calculate-rems(28px);
      }

      @include grid-media-min('md') {
        font-size: hb-calculate-rems(24px);
      }

      @include grid-media-min('lg') {
        .js & {
          font-size: hb-calculate-rems(18px);
          font-weight: hb-theme-font-weight(semibold);
          display: flex;
          align-items: flex-end;
          border: 0;

          &[aria-hidden="false"] {
            margin: 0;
          }
        }
      }
    }

    &-lv2 {
      font-weight: hb-theme-font-weight(regular);
      font-size: hb-calculate-rems(18px);

      @include grid-media-min('md') {
        font-size: hb-calculate-rems(22px);
      }

      @include grid-media-min('lg') {
        .js & {
          font-weight: hb-theme-font-weight(semibold);
          font-size: inherit;
        }
      }
    }

    &-lv3 {
      @include grid-media-min('lg') {
        .js & {
          display: none;
        }
      }
    }
  }

  &__item {
    position: relative;

    .hb-main-nav__menu-lv1 > & {
      border-top: $hb-menu-light-border;

      @include grid-media-min('lg') {
        .js & {
          margin-right: hb-calculate-rems(24px);
          border: 0;
        }
      }
    }

    .hb-main-nav__menu-lv2 &:not(:last-child) {
      border-bottom: $hb-menu-light-border;

      @include grid-media-min('lg') {
        .js & {
          border: 0;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: hb-calculate-rems(21px) hb-calculate-rems(17px);

    color: $hb-color--black;
    text-decoration: none;
    line-height: 120.3%;

    @include grid-media-min('md') {
      line-height: 128%;
    }

    @include grid-media-min('lg') {
      .js & {
        padding: hb-calculate-rems(10px) 0 hb-calculate-rems(20px);
        line-height: 110%;
      }
    }

    .hb-main-nav__item--parent > & {
      padding: hb-calculate-rems(21px) hb-calculate-rems(48px) hb-calculate-rems(21px) hb-calculate-rems(17px);

      @include grid-media-min('lg') {
        .js & {
          padding: hb-calculate-rems(10px) hb-calculate-rems(20px) hb-calculate-rems(20px) 0;
        }
      }
    }

    &:hover:not(.is-active) {
      background-color: $hb-menu-link-background-hover;
      color: $hb-color--black;
    }

    // Targeting only the first level of navigation on desktop
    .hb-main-nav__menu-lv1 > li > & {
      @include grid-media-min('lg') {
        .js &::before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: hb-calculate-rems(4px);
          bottom: hb-calculate-rems(8px);
          top: auto;
          left: 0;
          background: transparent;
        }

        .js &.is-active {
          background-color: transparent;
        }

        .js &.hb-main-nav__link--active-trail::before {
          @include hb-colorful {
            background: hb-colorful-variation(secondary);
          }
        }

        .js &:hover {
          background-color: transparent;

          &:not(.is-active):not(.hb-main-nav__link--active-trail)::before {
            background: $hb-menu-link-border-hover;
          }
        }
      }
    }

    .hb-main-nav__menu-lv2 & {
      color: darken($su-color-driftwood, 30%);

      @include grid-media-min('lg') {
        .js & {
          font-size: hb-calculate-rems(16px);
          padding: hb-calculate-rems(10px) hb-calculate-rems(14px);
        }
      }

      &:focus {
        background-color: $hb-menu-link-background-hover;
        color: $hb-color--black;
      }
    }

    &--active-trail {
      &::before {
        content: '';
        display: block;
        width: hb-calculate-rems(5px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        background: $hb-menu-link-border-active;
      }

      &.is-active {
        @include hb-colorful {
          background: rgba(darken(hb-colorful-variation(secondary), 2%), 0.2);
          color: $hb-color--black;

          &::before {
            background: hb-colorful-variation(secondary);
          }
        }
      }
    }

    &.hb-nested-toggler {
      position: relative;

      &::after {
        @include hb-menu-icon-wrapper(48px, 48px);
        @include hb-menu-plus-icon;
        content: '';
        display: block;

        position: absolute;
        top: hb-calculate-rems(8px);
        right: 0;

        // If there is no JS then the navigation is automatically expanded and
        // toggle buttons are unnecessary.
        .no-js & {
          display: none;
        }

        @include grid-media-min('md') {
          top: hb-calculate-rems(16px);
        }

        @include grid-media-min('lg') {
          .js & {
            @include hb-menu-icon-wrapper(20px, 15px);
            @include hb-menu-down-arrow-icon;

            bottom: hb-calculate-rems(20px);
            top: auto;
          }
        }
      }


      &[aria-expanded="true"]::after {
        @include hb-menu-minus-icon;

        @include grid-media-min('lg') {
          .js & {
            @include hb-menu-up-arrow-icon;
          }
        }
      }
    }
  }

  &__button {
    @include unbuttonize;
    @include hb-menu-icon-wrapper(48px, 48px);
    @include hb-menu-plus-icon;
    cursor: pointer;

    position: absolute;
    top: hb-calculate-rems(8px);
    right: 0;

    // If there is no JS then the navigation is automatically expanded and
    // toggle buttons are unnecessary.
    .no-js & {
      display: none;
    }

    @include grid-media-min('md') {
      top: hb-calculate-rems(12px);
    }

    @include grid-media-min('lg') {
      .js & {
        @include hb-menu-icon-wrapper(20px, 15px);
        @include hb-menu-down-arrow-icon;

        bottom: hb-calculate-rems(20px);
        top: auto;
      }

      .hb-main-nav__menu-lv2 & {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      @include hb-menu-minus-icon;

      @include grid-media-min('lg') {
        .js & {
          @include hb-menu-up-arrow-icon;
        }
      }
    }
  }

  &__menu-container {
    padding-left: hb-calculate-rems(20px);
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
    border-top: $hb-menu-light-border;

    &[aria-hidden="true"] {
      display: none;
    }

    @include grid-media-min('lg') {
      .js & {
        position: absolute;
        background-color: $hb-color--white;
        border: $hb-menu-light-border;
        border-radius: hb-calculate-rems($hb-border-radius);
        min-width: hb-calculate-rems(200px);
        width: 100%;
        padding: 0;
      }

      // Prevents the last dropdown from hanging off the edge of the screen if
      // there is not enough room betwee the nav and the edge of the page.
      .js .hb-main-nav__item:last-child & {
        right: 0;
      }
    }
  }
}
