// Note: In the event that there is no JS enabled we want to show the mobile
// navigation, with all links being visible, at all screen sizes. The desktop
// styles require two things: 1) larger screen widths and 2) JS to be enabled.
// Thus we require media queries AND the .js class to show these larger screen styles.
$item-line-height-sm: 120.3%;
$item-line-height-md: 128%;
$item-line-height-lg: 110%;

.hb-main-nav {
  position: relative;
  font-size: hb-calculate-rems(18px);

  &__toggle {
    @include hb-unbuttonize;

    cursor: pointer;
    position: absolute;
    right: 0;
    top: hb-calculate-rems(-46.75px);
    font-weight: hb-theme-font-weight(bold);
    display: flex;
    align-items: center;
    width: hb-calculate-rems(70px);
    flex-direction: initial;
    padding: hb-calculate-rems(10px) 0;

    // If there is no JS then the navigation is automatically expanded and
    // toggle buttons are unnecessary.
    .no-js & {
      display: none;
    }

    @include grid-media-min('lg') {
      .js & {
        display: none;
      }
    }

    .hb-main-nav__toggle-icon {
      @include hb-menu-hamburger-icon;
      margin-left: hb-calculate-rems(10px);

      .hb-dark-pattern &,
      .hb-dark-pattern &::after,
      .hb-dark-pattern &::before {
        background-color: var(--palette--white);
      }
    }

    &[aria-expanded="true"] .hb-main-nav__toggle-icon {
      @include hb-menu-close-icon;
    }
  }

  &__menu {
    box-shadow: none !important;
    transform: translate(0) !important;
    width: auto !important;

    list-style-type: none;
    margin: 0;
    padding: 0;

    @include grid-media-min('sm') {
      max-width: none;
    }

    &[aria-hidden="true"] {
      display: none;
    }

    &-lv1 {
      font-weight: hb-theme-font-weight(semibold);
      font-size: hb-calculate-rems(20px);
      border-bottom: $hb-thin-border;
      border-color: var(--palette--gray);

      &[aria-hidden="false"] {
        margin-bottom: hb-calculate-rems(28px);
      }

      @include grid-media-min('md') {
        font-size: hb-calculate-rems(24px);
      }

      @include grid-media-min('lg') {
        .js & {
          font-size: hb-calculate-rems(18px);
          font-weight: hb-theme-font-weight(semibold);
          display: flex;
          align-items: flex-end;
          border: 0;

          &[aria-hidden="false"] {
            margin: 0;
          }
        }
      }
    }

    &-lv2 {
      font-weight: hb-theme-font-weight(regular);
      font-size: hb-calculate-rems(18px);

      @include grid-media-min('md') {
        font-size: hb-calculate-rems(22px);
      }

      @include grid-media-min('lg') {
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1) !important;

        .js & {
          font-weight: hb-theme-font-weight(semibold);
          font-size: inherit;
        }
      }
    }

    &-lv3 {
      @include grid-media-min('lg') {
        .js & {
          display: none;
        }
      }
    }
  }

  &__item {
    position: relative;

    .hb-main-nav__menu-lv1 > & {
      border-top: $hb-thin-border;
      border-color: var(--palette--gray);

      @include grid-media-min('lg') {
        .js & {
          margin-right: hb-calculate-rems(24px);
          border: 0;
        }
      }
    }

    .hb-main-nav__menu-lv2 &:not(:last-child) {
      border-bottom: $hb-thin-border;
      border-color: var(--palette--gray);

      @include grid-media-min('lg') {
        .js & {
          border: 0;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: hb-calculate-rems(21px) hb-calculate-rems(17px);
    text-decoration: none;
    line-height: $item-line-height-sm;

    @include hb-themes(('airy', 'colorful')) {
      color: var(--palette--black);
    }

    @include hb-traditional {
      color: var(--palette--gray-dark);
    }

    @include grid-media-min('md') {
      line-height: $item-line-height-md;
    }

    @include grid-media-min('lg') {
      .js & {
        padding: hb-calculate-rems(10px) 0 hb-calculate-rems(20px);
        line-height: $item-line-height-lg;
      }
    }

    .hb-main-nav__item.hb-main-nav__item--parent > & {
      padding: hb-calculate-rems(21px) hb-calculate-rems(48px) hb-calculate-rems(21px) hb-calculate-rems(17px);

      @include grid-media-min('lg') {
        .js & {
          padding: hb-calculate-rems(10px) hb-calculate-rems(20px) hb-calculate-rems(20px) 0;
        }
      }
    }

    &:hover:not(.is-active) {
      color: var(--palette--black);
      
      .hb-dark-pattern & {
        color: var(--palette--black);

        & + .hb-main-nav__button,
        &.hb-nested-toggler::after {
          @include hb-icon-background('plus', 'black');
        }

        & + .hb-main-nav__button[aria-expanded=true],
        &.hb-nested-toggler[aria-expanded=true]::after {
          @include hb-icon-background('minus', 'black');
        }

        @include grid-media-min('lg') {
          color: var(--palette--white);

          .no-js & {
            color: var(--palette--black);
          }

          & + .hb-main-nav__button,
          &.hb-nested-toggler::after {
            @include hb-icon-background('chevron', 'white');
          }

          & + .hb-main-nav__button[aria-expanded=true],
          &.hb-nested-toggler[aria-expanded=true]::after {
            @include hb-icon-background('chevron', 'white');
          }
        }
      }

      @include hb-themes(('airy', 'colorful')) {
        background-color: var(--palette--gray-light);
      }

      @include hb-traditional {
        background-color: var(--palette--tertiary-highlight);
      }
    }

    // Targeting only the first level of navigation on desktop
    .hb-main-nav__menu-lv1 > li > & {
      color: var(--palette--black);

      .hb-dark-pattern & {
        color: var(--palette--white);

        &.is-active {
          color: var(--palette--black);
          background-color: var(--palette--secondary-highlight);
          
          @include grid-media-min('lg') {
            color: var(--palette--white);
          }
        }

        .js & {
          &.hb-main-nav__link--active-trail {
            /* stylelint-disable max-nesting-depth */
            &::before {
              background-color: var(--palette--tertiary-reversed);
            }

            &:hover,
            &:focus {
              &::before {
                background-color: var(--palette--secondary);

                @include grid-media-min('lg') {
                  background-color: var(--palette--tertiary-reversed);
                }
              }
            }
            /* stylelint-enable max-nesting-depth */
          }
        }
      }

      @include grid-media-min('lg') {
        .js &::before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: hb-calculate-rems(4px);
          bottom: hb-calculate-rems(8px);
          top: auto;
          left: 0;
          background: transparent;
        }

        .js &.is-active {
          background-color: transparent;
        }

        .js &.hb-main-nav__link--active-trail::before {
          background-color: var(--palette--secondary);
        }

        .js &:hover {
          background-color: transparent;

          &:not(.is-active):not(.hb-main-nav__link--active-trail)::before {
            background-color: var(--palette--gray);
          }
        }
      }
    }

    .hb-main-nav__menu.hb-main-nav__menu-lv2 & {
      @include grid-media-min('lg') {
        .js & {
          font-size: hb-calculate-rems(16px);
          padding: hb-calculate-rems(10px) hb-calculate-rems(14px);
        }
      }

      &:focus,
      &:hover:not(.is-active) {
        color: var(--palette--black);

        @include hb-themes(('colorful', 'airy')) {
          background-color: var(--palette--gray-light);
        }

        @include hb-traditional {
          background-color: var(--palette--tertiary-highlight);
        }

        .hb-dark-pattern & {
          color: var(--palette--black);

          & + .hb-nested-toggler,
          &::after {
            @include hb-icon-background('plus', 'black');
          }

          & + .hb-nested-toggler[aria-expanded="true"],
          &[aria-expanded="true"]::after {
            @include hb-icon-background('minus', 'black');
          }
        }
      }

      .hb-dark-inversion & {
        @include grid-media-min('lg') {
          &:hover,
          &:focus {
            color: var(--palette--white);
            background-color: var(--palette--primary-dark);
          }
        }
      }

      .hb-dark-pattern & {
        color: var(--palette--white);

        &.is-active {
          color: var(--palette--black);
          background-color: var(--palette--secondary-highlight);

          &::before {
            background-color: var(--palette--secondary);
          }
        }

        @include grid-media-min('lg') {
          .no-js & {
            color: var(--palette--white);
          }

          &,
          &:hover:not(.is-active),
          &.is-active {
            color: var(--palette--black);
          }

          .hb-dark-inversion & {
            /* stylelint-disable max-nesting-depth */
            &:hover:not(.is-active) {
              color: var(--palette--white);
            }
            /* stylelint-enable max-nesting-depth */
          }
        }
      }
    }

    &--active-trail,
    &[data-drupal-link-system-path="<front>"].is-active {
      &::before {
        content: '';
        display: block;
        width: hb-calculate-rems(5px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: var(--palette--secondary);
      }

      &.is-active {
        background-color: var(--palette--secondary-highlight);
        color: var(--palette--black);

        &::before {
          background-color: var(--palette--secondary);
        }
      }
    }

    &.hb-nested-toggler {
      @include hb-unbuttonize;

      position: relative;
      padding: hb-calculate-rems(21px) hb-calculate-rems(17px);
      width: 100%;
      line-height: $item-line-height-sm;
      cursor: pointer;

      @include grid-media-min('md') {
        line-height: $item-line-height-md;
      }

      @include grid-media-min('lg') {
        padding: hb-calculate-rems(10px) hb-calculate-rems(20px) hb-calculate-rems(20px) 0;
        width: auto;

        .js & {
          line-height: $item-line-height-lg;
        }
      }

      &::after {
        @include hb-menu-icon-wrapper(48px, 48px);
        @include hb-menu-plus-icon;
        content: '';
        display: block;

        position: absolute;
        top: hb-calculate-rems(8px);
        right: 0;

        // If there is no JS then the navigation is automatically expanded and
        // toggle buttons are unnecessary.
        .no-js & {
          display: none;
        }

        .hb-dark-pattern & {
          @include hb-icon-background('plus', 'white');
        }

        @include grid-media-min('md') {
          top: hb-calculate-rems(16px);
        }

        @include grid-media-min('lg') {
          .js & {
            @include hb-menu-icon-wrapper(20px, 15px);
            @include hb-menu-down-arrow-icon;

            bottom: hb-calculate-rems(20px);
            top: auto;
          }

          .hb-dark-pattern & {
            @include hb-icon-background('chevron', 'white');
          }
        }
      }

      // The minus and arrow up icons representing the expanded state of a nav item
      // should only apply when item has the .hb-main-nav__item--parent class.
      // This class is only added when there are children in the nested toggler.
      .hb-main-nav__item--parent &[aria-expanded="true"]::after {
        @include hb-menu-minus-icon;

        .hb-dark-pattern & {
          @include hb-icon-background('minus', 'white');
        }

        @include grid-media-min('lg') {
          .js & {
            @include hb-menu-up-arrow-icon;
          }

          .hb-dark-pattern & {
            @include hb-icon-background('chevron', 'white');
          }
        }
      }
    }
  }

  &__button {
    @include hb-unbuttonize;
    @include hb-menu-icon-wrapper(48px, 48px);
    @include hb-menu-plus-icon;
    cursor: pointer;

    position: absolute;
    top: hb-calculate-rems(8px);
    right: 0;

    // If there is no JS then the navigation is automatically expanded and
    // toggle buttons are unnecessary.
    .no-js & {
      display: none;
    }

    .hb-dark-pattern & {
      @include hb-icon-background('plus', 'white');
    }

    .hb-dark-pattern .hb-main-nav__item--active-trail .is-active + & {
      @include hb-icon-background('plus', 'black');
    }

    @include grid-media-min('md') {
      top: hb-calculate-rems(12px);
    }

    @include grid-media-min('lg') {
      .js & {
        @include hb-menu-icon-wrapper(20px, 15px);
        @include hb-menu-down-arrow-icon;

        bottom: hb-calculate-rems(20px);
        top: auto;
      }

      .hb-dark-pattern &,
      .hb-dark-pattern .hb-main-nav__item--active-trail .is-active + & {
        @include hb-icon-background('chevron', 'white');
      }

      .hb-main-nav__menu-lv2 & {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      @include hb-menu-minus-icon;

      .hb-dark-pattern & {
        @include hb-icon-background('minus', 'white');
      }

      .hb-dark-pattern .hb-main-nav__item--active-trail .is-active + & {
        @include hb-icon-background('minus', 'black');
      }

      @include grid-media-min('lg') {
        .js & {
          @include hb-menu-up-arrow-icon;
        }

        .hb-dark-pattern &,
        .hb-dark-pattern .hb-main-nav__item--active-trail .is-active + & {
          @include hb-icon-background('chevron', 'white');
        }
      }
    }
  }

  &__menu-container {
    padding-left: hb-calculate-rems(20px);
    border-top: $hb-thin-border;
    border-color: var(--palette--gray);

    &[aria-hidden="true"] {
      display: none;
    }

    @include grid-media-min('lg') {
      .js & {
        position: absolute;
        border-radius: hb-calculate-rems($hb-border-radius);
        min-width: hb-calculate-rems(200px);
        width: 100%;
        padding: 0;
        border: $hb-thin-border;
        border-color: var(--palette--gray);
        background-color: var(--palette--white);
      }

      // Prevents the last dropdown from hanging off the edge of the screen if
      // there is not enough room betwee the nav and the edge of the page.
      .js .hb-main-nav__item:last-child & {
        right: 0;
      }
    }
  }
}

// If JS is enabled, but the menu JavaScript is still loading, we preemptively
// force-collapse all menus to prevent a flash of expanded menu content. This
// class gets removed once the menu JS has loaded and manually collapsed the menus.
.js .hb-main-nav--is-still-loading {
  .hb-main-nav__menu-lv1 {
    display: none;

    @include grid-media-min('lg') {
      display: flex; // the default value defined above.
    }
  }

  .hb-main-nav__menu-container {
    display: none;
  }
}

.su-site-search {
  + nav {
    .hb-main-nav__toggle {
      top: hb-calculate-rems(-120px);
    }
  }
}
