.su-masthead {
  box-shadow: none;
  border-bottom: $hb-menu-light-border;
  z-index: $hb-z-index-masthead;

  .su-lockup {
    z-index: $hb-z-index-lockup;

    &__line1,
    &__line2,
    &__line3,
    &__line4, {
      margin-bottom:hb-calculate-rems(12px);
      word-break: break-all;
      line-height: 1em;
    }
  }

  .su-site-search {
    display: block;
    padding-top: hb-calculate-rems(11px);
    padding-bottom: hb-calculate-rems(28px);
    max-width: $hb-input-max-width;
    z-index: $hb-z-index-search;
  }

  .su-main-nav {
    margin-top: 0;
    width: 100%;

    @include grid-media-min('sm') {
      flex: unset;
      max-width: none;
    }
  }
}

.su-lockup {
  &__line1 {
    margin-bottom: hb-calculate-rems(2px);
  }
}
