.su-masthead {
  box-shadow: none;
  z-index: $hb-z-index-masthead;
  border-bottom: $hb-thin-border;
  @include hb-global-color('border-color', 'gray');

  .su-lockup {
    z-index: $hb-z-index-lockup;

    &__line1,
    &__line2,
    &__line3,
    &__line4 {
      line-height: 1em;
    }

    &__wordmark,
    &__line1,
    &__line2,
    &__line3,
    &__line4 {
      margin-bottom: hb-calculate-rems(8px);

      @include grid-media-min('md') {
        margin-bottom: 0;
      }
    }

    &__cell1 {
      border-right: none;
    }
  }

  .su-site-search {
    display: block;
    padding-top: hb-calculate-rems(11px);
    padding-bottom: hb-calculate-rems(28px);
    z-index: $hb-z-index-search;
    width: 100%;

    @include grid-media-min('sm') {
      width: 60%;
    }

    @include grid-media-min('lg') {
      max-width: $hb-input-max-width;
    }
  }

  .su-main-nav {
    margin-top: 0;
    width: 100%;

    @include grid-media-min('sm') {
      flex: unset;
      max-width: none;
    }
  }

  // Dark mode masthead lockup
  &.hb-dark-pattern {
    .su-lockup {
      &__wordmark,
      &__line1,
      &__line2,
      &__line3,
      &__line4,
      &__line5 {
        @include hb-global-color('color', 'white');
      }

      // Dark mode masthead lockup vertical pipe
      &__cell1,
      &__cell2,
      &__line4::after,
      &__line5::before {
        @include hb-global-color('border-color', 'white');
      }
    }
  }
}

.su-lockup {
  &__line1 {
    margin-bottom: hb-calculate-rems(2px);
  }
}
