.more-link {
  margin-bottom: hb-calculate-rems(20px);

  a {
    font-weight: hb-theme-font-weight(bold);
    color: $hb-gray--15;
    text-decoration: none;

    @include hb-colorful {
      border-bottom: 2px solid lighten(hb-colorful-variation(primary), 10%);
    }
  }
}
