.more-link {
  margin-bottom: hb-calculate-rems(20px);

  a {
    font-weight: hb-theme-font-weight(bold);
    text-decoration: none;

    @include hb-colorful {
      border-bottom: 2px solid;
      @include hb-pairing-color('border-bottom-color', 'tertiary');
      @include hb-global-color('color', 'black');

      &:hover,
      &:focus {
        @include hb-global-color('color', 'black');
      }
    }
  }
}
