.node__title {
  h1 {
    font-size: 1.6875rem;
    font-weight: hb-theme-font-weight(semibold);
    line-height: 109%;
    margin: 0 0 1.25rem;

    @include grid-media('sm') {
      font-size: 2.375rem;
      margin: 0 0 1.75rem;
    }
  }
}
