.field-hs-news-categories {
  @include hb-subheading;
  text-transform: uppercase;
  margin: 0 0 hb-calculate-rems(6px);

  div {
    display: inline-block;
    margin-right: hb-calculate-rems(12px);
    margin-bottom: hb-calculate-rems(5px);

    &:last-of-type {
      margin-right: 0;
    }

    @include hb-colorful {
      &::before {
        content: '';
        display: inline-block;
        height: hb-calculate-rems(12px);
        width: hb-calculate-rems(3px);
        margin-right: hb-calculate-rems(6px);
        @include hb-pairing-color('background-color', 'secondary');
      }
    }
  }

  a {
    @include hb-colorful {
      @include hb-global-color('color', 'black');
    }

    text-decoration: none;

    &:hover,
    &:focus {
      @include hb-colorful {
        @include hb-global-color('color', 'black');
        border-bottom: $hb-thin-border;
        @include hb-global-color('border-color', 'black');
      }

      box-shadow: none;
    }
  }
}

.field-hs-news-date {
  @include hb-colorful {
    @include hb-global-color('color', 'gray-dark');
  }
}

// This class is only present on the standalone page for this node, so we use it
// for scoping styles that we don't want to appear in any other places (like
// styling for accommodating layout-builder, etc).
.node-news-item-full {
  .field-hs-news-categories {
    margin: 0 0 hb-calculate-rems(20px);

    @include grid-media-min('sm') {
      margin-bottom: hb-calculate-rems(26px);
    }
  }

  .views-field-field-hs-news-link,
  .field-hs-news-date,
  .field-hs-news-link {
    line-height: 1.4;
  }
}

.views-field-field-hs-news-link a, // horizontal view link to external article default class
.field-hs-news-link a {
  @include hb-colorful {
    position: relative;
    margin-right: hb-calculate-rems(24px);
    display: inline;
    border-bottom: $hb-thin-border;
    @include hb-pairing-color('border-color', 'tertiary');
    @include hb-link--hover-style('tertiary-highlight', 'primary');

    &:hover,
    &:focus {
      .fa-ext::before {
        @include hb-icon-background('ext-link', 'tertiary');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
