.field-hs-news-categories {
  @include hb-subheading;
  text-transform: uppercase;
  margin: 0 0 0.4rem;

  div {
    display: inline-block;
    margin-right: 0.75rem;
    margin-bottom: 0.3125rem;

    &:last-of-type {
      margin-right: 0;
    }

    @include hb-colorful {
      &::before {
        content: '';
        display: inline-block;
        height: 0.75rem;
        width: 0.1875rem;
        margin-right: 0.4rem;
        background-color: hb-colorful-variation(secondary);
      }
    }
  }

  a {
    color: $hb-color--black;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $hb-color--black;
      border-bottom: 1px solid $hb-color--black;
      box-shadow: none;
    }
  }
}

.field-hs-news-date {
  color: darken($su-color-driftwood, 45%);
}

// This class is only present on the standalone page for this node, so we use it
// for scoping styles that we don't want to appear in any other places (like
// styling for accommodating layout-builder, etc).
.node-news-item-full {
  .field-hs-news-categories {
    margin: 0 0 1.25rem;

    @include grid-media('sm') {
      margin-bottom: 1.625rem;
    }
  }

  .views-field-field-hs-news-link,
  .field-hs-news-date,
  .field-hs-news-link {
    line-height: 1.4;
  }
}

.views-field-field-hs-news-link a, // horizontal view link to external article default class
.field-hs-news-link a {
  @include hb-colorful {
    $hb-color--primary: hb-colorful-variation(primary);
    position: relative;
    margin-right: 1.5rem;
    display: inline-block;
    border-bottom: 1px solid lighten(hb-colorful-variation(primary), 10%);

    @include hb-link--hover-style(lighten(hb-colorful-variation(primary), 70%), (hb-colorful-variation(primary)));

    &:hover,
    &:focus {
      .fa-ext::before {
        background: svg('<svg viewBox="0 0 12 12"><path d="M11.273 5.818v5.455H.727V.727h5.091m1.455 0h4v4m0-4L6.182 5.818" fill="transparent" stroke="#{$hb-color--primary}" stroke-width="2" stroke-miterlimit="10"/></svg>') center center no-repeat;
      }
    }
  }
}
