// WHAT FORM STYLES ARE THESE FOR??
// lets add comment here
.hb-not-layout-builder-main-content {
  padding-bottom: hb-calculate-rems(42px);

  // Form Styles
  form {
    margin-bottom: hb-calculate-rems(42px);
  }

  .form-actions {
    display: inline-block;
  }

  .form-item {
    margin-bottom: hb-calculate-rems(20px);

    @include grid-media-min('sm') {
      display: inline-block;
      margin-right: hb-calculate-rems(hb-spacing-width('xxs'));
    }
  }
}
