// Base pager styles
.js-pager__items {
  padding: 0;
  text-align: center;

  li:not(.pager__item) { // pager__item styles are written below
    display: inline;
    font-weight: hb-theme-font-weight(semibold);
    margin: hb-calculate-rems(10px);

    a {
      @include hb-pairing-color('color', 'secondary');
      text-decoration: none;

      &:focus,
      &:hover {
        @include hb-pairing-color('color', 'secondary');
        text-decoration: underline;
        background-image: none;
      }
    }
  }
}

// Full pager classes
.pager {
  &__items {
    list-style: none;
    margin: hb-calculate-rems(6px) 0 0;
  }

  &__item {
    display: inline;
    font-weight: hb-theme-font-weight(semibold);
    margin: hb-calculate-rems(10px);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      @include hb-global-color('color', 'gray-dark');
      display: inline-block;
      padding: hb-calculate-rems(6px) hb-calculate-rems(9px);
      border-radius: $hb-button-border-radius;
      min-width: hb-calculate-rems(31px);
      text-align: center;
      text-decoration: none;
      transition: background-color $hb-animation-duration $hb-animation-timing-function;
      background-image: none;

      // adjust padding for increase of font-size and line-height
      @include grid-media-min('md') {
        padding: hb-calculate-rems(6px) hb-calculate-rems(12px);
      }

      &:hover,
      &:focus {
        @include hb-global-color('background-color', 'gray-medium');
      }
    }

    &.is-active {
      @include hb-global-color('background-color', 'gray-dark');
      display: inline-block;
      border-radius: $hb-button-border-radius;

      a {
        @include hb-global-color('color', 'white');

        &:hover,
        &:focus {
          cursor: default;
          background-color: transparent;
        }
      }
    }

    &--first,
    &--last,
    &--previous,
    &--next {
      a {
        @include hb-pairing-color('color', 'secondary');
        text-decoration: none;

        &:focus,
        &:hover {
          @include hb-pairing-color('color', 'secondary');
          text-decoration: underline;
          background-color: transparent;
          background-image: none;
        }
      }
    }
  }
}
