.hb-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  // Default to two column
  &__item {
    margin-bottom: calc(#{hb-spacing-width('default', false)} / 2);
    width: 100%;

    // This is our grid maker, it defines classes for each breakdown
    // of the grid and gives human readable versions when it can.
    // 1-2 cols exist starting at the "sm" breakpoint
    // 3-4 cols start at the "md" breakpoint
    // all others start at "lg"
    @for $i from 1 through $hb-grid-count {
      .hb-grid--cols-#{$i} & {
        @include hb-column($i);
      }
    }
  }
}
