.paragraph--type--hs-carousel {
  // Get rid of the colorful overlay on carousels (for both image-only and text-content ones)
  .field-hs-hero-image::before {
    display: none;
  }

  .hs-full-width & {
    // Special negative margin for the Carousel
    // to get rid of the vertical padding on all basic pages
    margin: calc(-1 * #{hb-spacing-width()}) 0 hb-spacing-width();
  }

  .hb-hero-overlay {
    display: block;

    @include hb-themes(('colorful', 'airy')) {
      @include clearfix;
      padding: hb-calculate-rems(40px) 0 hb-spacing-width() 8%;
      min-height: auto;

      .hb-three-column--one-sidebar &,
      .hb-three-column--two-sidebar & {
        padding-top: 0;
      }

      @include grid-media-min('md') {
        padding: 0;
        display: grid;
        grid-template-columns: 8% 7% 45% 20% 20%; // 5 cols, position 1-6
        grid-template-rows: 120px 100px auto auto 25px 15px; // 6 rows, position 1-7
        min-height: 60vh;

        .hb-three-column--one-sidebar &,
        .hb-three-column--two-sidebar & {
          grid-template-columns: 8% 22% 30% 20% 20%;
          grid-template-rows: 60px 60px auto auto 20px 15px;
        }
      }

      @include grid-media-min('xl') {
        grid-template-columns: 8% 22% 20% 25% 25%; // 5 cols, position 1-6
      }

      // Offset background color psuedo element
      &::before {
        @include hb-global-color('background-color', 'gray-light');
        z-index: $hb-z-index-hero1-background;
        width: 75%;

        @include grid-media-min('md') {
          position: unset;
          width: unset;
          padding: hb-spacing-width() 0 hb-spacing-width() 10%;
          grid-column-start: 1;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 5;
        }
      }

      // Secondary color block psuedo element that shows up in the grid
      &::after {
        content: '';
        display: block;
        height: 100%;
        z-index: $hb-z-index-hero1-overlay;
        @include hb-pairing-color('background-color', 'secondary');

        @include grid-media-min('md') {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }
    }

    &__image-wrapper {
      @include hb-themes(('colorful', 'airy')) {
        position: relative;

        @include grid-media-min('md') {
          // This will make sure that the image fills the entire area
          display: flex;
          margin-top: 0;
          grid-column-start: 3;
          grid-column-end: 6;
          grid-row-start: 1;
          grid-row-end: 5;
          padding-top: 0;
        }

        // On mobile, make the secondary color box out of psuedo element,
        // then on 'md' breakpoint, it becomes part of the grid
        &::before {
          display: block;
          bottom: 0;
          left: -8.75%;
          top: initial;
          @include psuedo-background-box('secondary', 28%, 8.75%);
          opacity: 1;

          @include grid-media-min('md') {
            display: none;
          }
        }

        img {
          object-fit: initial;
          min-height: auto;

          @include grid-media-min('sm') {
            min-height: auto;
          }

          @include grid-media-min('md') {
            object-fit: cover;
            min-height: 45rem;
            max-height: 49rem;
          }

          @include grid-media-min('lg') {
            min-height: 49rem;
          }
        }
      }
    }

    &__text {
      @include hb-themes(('colorful', 'airy')) {
        @include hb-pairing-color('background-color', 'primary-hero-overlay');
        padding: calc(#{hb-calculate-rems(64px)} / 2) calc(#{hb-spacing-width()} / 2) calc(#{hb-spacing-width()} / 2);
        position: relative;
        width: auto !important;
        height: 100%;
        margin: 0 0 !important;
        transform: none;
        top: 0;
        left: 0;

        @include grid-media-min('md') {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 7;
          padding: hb-calculate-rems(64px) hb-spacing-width() hb-spacing-width();
          width: auto !important;
        }

        @include grid-media-min('lg') {
          width: auto !important;
        }

        // Line decoration pseudo element
        &::after {
          top: hb-calculate-rems(32px);
          @include hb-colorful-text-bar('tertiary-reversed');

          @include grid-media-min('md') {
            top: hb-calculate-rems(56px);
          }
        }

        h2 {
          @include hb-heading-4;
          margin: hb-spacing-width('xs') 0;

          @include grid-media-min('lg') {
            @include hb-heading-3;
            margin: hb-spacing-width('sm') 0;
          }
        }

        h2,
        .field-hs-hero-body {
          width: auto;

          @include grid-media-min('sm') {
            width: auto;
          }

          @include grid-media-min('md') {
            width: auto;
          }

          @include grid-media-min('lg') {
            width: auto;
          }
        }
      }

      @include hb-traditional {
        @include hb-pairing-color('background-color', 'primary-hero-overlay');
        bottom: 15%;
        padding: 8% 0;
        margin: 0 !important; // override margin set in hb-page-width mixin in the hero pattern hb-hero-overlay__text styles
        text-align: left;
        left: hb-spacing-width('md');
        transform: translateX(0) translateY(0);

        @include grid-media-min('sm') {
          bottom: 25%;
        }

        @include grid-media-min('md') {
          padding: 5rem 0 5rem;
          left: hb-spacing-width();
          width: 50% !important; // override width set in hb-page-width mixin in the hero pattern hb-hero-overlay__text styles
        }

        @include grid-media-min('lg') {
          width: 43% !important; // override width set in hb-page-width mixin in the hero pattern hb-hero-overlay__text styles

          .hb-three-column--two-sidebar & {
            width: calc(100% - (2 * #{hb-calculate-rems(hb-spacing-width('default', false))})) !important;
          }
        }

        @include grid-media-min('xl') {
          width: 37% !important; // override width set in hb-page-width mixin in the hero pattern hb-hero-overlay__text styles
        }

        @include grid-media-min('2xl') {
          width: 650px !important; // override width set in hb-page-width mixin in the hero pattern hb-hero-overlay__text styles
        }

        h2 {
          width: auto;
          margin: 0 hb-spacing-width();

          @include grid-media-min('lg') {
            margin: 0 hb-calculate-rems(50px);
          }

          .hb-three-column--two-sidebar & {
            /* stylelint-disable max-nesting-depth */
            @include grid-media-min('lg') {
              margin: 0 hb-spacing-width();
            }
            /* stylelint-enable max-nesting-depth */
          }
        }

        .field-hs-hero-body {
          margin: hb-spacing-width('xxs') hb-spacing-width() 0;
          width: auto;

          @include grid-media-min('md') {
            width: calc(100% - #{hb-calculate-rems(100px)});
            margin: hb-spacing-width('sm') hb-spacing-width() 0;
          }

          @include grid-media-min('lg') {
            margin: hb-spacing-width('sm') hb-calculate-rems(50px) 0;
          }

          .hb-three-column--two-sidebar & {
            /* stylelint-disable max-nesting-depth */
            @include grid-media-min('lg') {
              margin: hb-spacing-width('sm') hb-spacing-width() 0;
            }
            /* stylelint-enable max-nesting-depth */
          }
        }

        .field-hs-hero-link {
          margin: 0 hb-spacing-width();

          @include grid-media-min('md') {
            width: calc(90% - #{hb-calculate-rems(64px)});
          }

          @include grid-media-min('lg') {
            margin: 0 hb-calculate-rems(50px);
            width: calc(85% - #{hb-calculate-rems(140px)});
          }

          @include grid-media-min('xl') {
            width: calc(80% - #{hb-calculate-rems(140px)});
          }

          .hb-three-column--one-sidebar & {
            /* stylelint-disable max-nesting-depth */
            @include grid-media-min('lg') {
              width: calc(95% - #{hb-calculate-rems(140px)});
            }

            @include grid-media-min('xl') {
              width: calc(90% - #{hb-calculate-rems(140px)});
            }
            /* stylelint-enable max-nesting-depth */
          }

          .hb-three-column--two-sidebar & {
            /* stylelint-disable max-nesting-depth */
            @include grid-media-min('lg') {
              width: calc(100% - #{hb-calculate-rems(64px)});
              margin: 0 hb-spacing-width();
            }
            /* stylelint-enable max-nesting-depth */
          }
        }

        .field-hs-hero-link a {
          max-width: unset;
        }
      }
    }
  }

  // Position carousel controls
  .slick {
    position: relative;

    .hb-hero-overlay__text {
      @include hb-themes(('colorful', 'airy')) {
        padding-bottom: hb-calculate-rems(60px);

        @include grid-media-min('md') {
          padding-bottom: hb-calculate-rems(65px);
        }
      }

      @include hb-traditional {
        padding-bottom: hb-calculate-rems(75px);

        @include grid-media-min('md') {
          padding-bottom: hb-calculate-rems(80px);
        }
      }
    }

    .slick-dots {
      @include visually-hidden;

      @include grid-media-min('md') {
        display: inline-block;
        clip: inherit;
        height: auto;
        width: auto;
        overflow: visible;
        list-style-type: none;
        position: absolute;
      }

      @include hb-themes(('airy', 'colorful')) {
        @include grid-media-min('md') {
          bottom: hb-spacing-width();
          margin: 0 0 hb-calculate-rems(10px);
          right: calc(40% + #{hb-calculate-rems(90px)} + #{hb-calculate-rems(10px)}); // move it past the slick arrows and their padding

          .hb-three-column--one-sidebar &,
          .hb-three-column--two-sidebar & {
            bottom: 0;
          }
        }

        @include grid-media-min('lg') {
          .hb-three-column--two-sidebar & {
            @include visually-hidden;
          }
        }

        @include grid-media-min('xl') {
          right: calc(50% + #{hb-calculate-rems(90px)} + #{hb-calculate-rems(10px)}); // move it past the slick arrows and their padding

          .hb-three-column--one-sidebar &,
          .hb-three-column--two-sidebar & {
            right: calc(40% + #{hb-calculate-rems(90px)} + #{hb-calculate-rems(10px)});
          }
        }
      }

      @include hb-traditional {
        bottom: 15%;
        margin: 0 0 hb-calculate-rems(18px);
        right: calc(50% + #{hb-calculate-rems(95px)}); // move it past the slick arrows

        @include grid-media-min('md') {
          right: calc(50% + #{hb-calculate-rems(95px)}); // move it past the slick-next arrow
        }

        @include grid-media-min('lg') {
          right: calc(57% + #{hb-calculate-rems(95px)}); // move it past the slick arrows

          .hb-three-column--two-sidebar & {
            right: hb-calculate-rems(135px); // move it past the slick arrows
          }
        }

        @include grid-media-min('xl') {
          right: calc(63% + #{hb-calculate-rems(95px)}); // move it past the slick arrows
        }

        @include grid-media-min('2xl') {
          right: calc((100% - #{hb-calculate-rems(650px)}) + #{hb-calculate-rems(95px)}); // move it past the slick arrows
        }

        .hs-full-width & {
          bottom: calc(15% + #{hb-calculate-rems(15px)});
        }

        @include grid-media-min('sm') {
          bottom: 27%;

          .hs-full-width & {
            bottom: calc(27% + #{hb-calculate-rems(15px)});
          }
        }
      }

      li {
        display: inline-block;
      }

      .slick-active {
        button {
          &::before {
            @include hb-icon-ellipse('gray-light');
            font-size: hb-calculate-rems(40px);
          }
        }
      }

      button {
        @include hb-unbuttonize;
        font-size: 0;

        &::before {
          color: white;
          content: '';
          @include hb-icon-ellipse-border('gray-light');
          height: hb-calculate-rems(11px);
          width: hb-calculate-rems(11px);
          display: block;
          margin: 0 hb-calculate-rems(10px);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          border-radius: 50%;
        }

        &:hover::before,
        &:focus::before {
          @include hb-icon-ellipse('gray-light');
        }
      }
    }

    &__arrow {
      margin: 0;
      padding: 0;
      font-size: 0;

      .slick-prev,
      .slick-next {
        @include hb-unbuttonize;
        position: absolute;

        @include hb-themes(('airy', 'colorful')) {
          bottom: calc(#{hb-spacing-width()} * 2);

          @include grid-media-min('md') {
            bottom: hb-spacing-width();

            /* stylelint-disable max-nesting-depth */
            .hb-three-column--one-sidebar &,
            .hb-three-column--two-sidebar & {
              bottom: 0;
            }
            /* stylelint-enable max-nesting-depth */
          }
        }

        @include hb-traditional {
          bottom: 16%;

          .hs-full-width & {
            bottom: calc(16% + #{hb-calculate-rems(15px)});
          }

          @include grid-media-min('sm') {
            bottom: 27%;

            /* stylelint-disable max-nesting-depth */
            .hs-full-width & {
              bottom: calc(27% + #{hb-calculate-rems(15px)});
            }
            /* stylelint-enable max-nesting-depth */
          }
        }

        &::before {
          content: '';
          display: inline-block;
          @include hb-icon-link-arrow-box-shadow('gray-light');
          background-size: 85%;
          height: hb-calculate-rems(25px);
          width: hb-calculate-rems(25px);
          transition: hb-transition(transform);
        }

        &:hover,
        &:focus {
          cursor: pointer;
        }
      }

      .slick-prev {
        transform: rotate(180deg);

        @include hb-themes(('airy', 'colorful')) {
          margin-bottom: hb-calculate-rems(25px);
          right: calc(#{hb-calculate-rems(25px)} + #{hb-calculate-rems(40px)});// move it past the slick-next arrow

          @include grid-media-min('md') {
            right: calc(40% + #{hb-calculate-rems(25px)} + #{hb-calculate-rems(40px)});// move it past the slick-next arrow
          }

          @include grid-media-min('xl') {
            right: calc(50% + #{hb-calculate-rems(25px)} + #{hb-calculate-rems(40px)}); // move it past the slick-next arrow

            /* stylelint-disable max-nesting-depth */
            .hb-three-column--one-sidebar &,
            .hb-three-column--two-sidebar & {
              right: calc(40% + #{hb-calculate-rems(25px)} + #{hb-calculate-rems(40px)});
            }
            /* stylelint-enable max-nesting-depth */
          }
        }

        @include hb-traditional {
          margin-bottom: hb-calculate-rems(30px);
          right: calc(#{hb-calculate-rems(50px)} + #{hb-calculate-rems(40px)}); // move it past the slick-next arrow

          @include grid-media-min('md') {
            right: inherit;
            left: calc(50% - #{hb-calculate-rems(85px)}); // move it past the slick-next arrow
          }

          @include grid-media-min('lg') {
            left: calc(43% - #{hb-calculate-rems(85px)}); // move it past the slick arrows

            /* stylelint-disable max-nesting-depth */
            .hb-three-column--two-sidebar & {
              left: inherit;
              right: calc(#{hb-calculate-rems(50px)} + #{hb-calculate-rems(40px)}); // move it past the slick arrows
            }
            /* stylelint-enable max-nesting-depth */
          }

          @include grid-media-min('xl') {
            left: calc(37% - #{hb-calculate-rems(85px)}); // move it past the slick arrows;
          }

          @include grid-media-min('2xl') {
            left: calc(#{hb-calculate-rems(650px)} - #{hb-calculate-rems(85px)}); // move it past the slick arrows;;
          }
        }
      }

      .slick-next {

        @include hb-themes(('airy', 'colorful')) {
          margin-bottom: hb-calculate-rems(15px);
          right: 25px;

          @include grid-media-min('md') {
            right: calc(40% + #{hb-calculate-rems(25px)});
          }

          @include grid-media-min('xl') {
            right: calc(50% + 25px);

            /* stylelint-disable max-nesting-depth */
            .hb-three-column--one-sidebar &,
            .hb-three-column--two-sidebar & {
              right: calc(40% + #{hb-calculate-rems(25px)});
            }
            /* stylelint-enable max-nesting-depth */
          }
        }

        @include hb-traditional {
          margin-bottom: hb-calculate-rems(20px);
          right: hb-calculate-rems(50px);

          @include grid-media-min('md') {
            right: inherit;
            left: calc(50% - #{hb-calculate-rems(40px)});
          }

          @include grid-media-min('lg') {
            left: calc(43% - #{hb-calculate-rems(40px)}); // move it past the slick arrows

            /* stylelint-disable max-nesting-depth */
            .hb-three-column--two-sidebar & {
              left: inherit;
              right: hb-calculate-rems(50px); // move it past the slick arrows
            }
            /* stylelint-enable max-nesting-depth */
          }

          @include grid-media-min('xl') {
            left: calc(37% - #{hb-calculate-rems(40px)}); // move it past the slick arrows;
          }

          @include grid-media-min('2xl') {
            left: calc(#{hb-calculate-rems(650px)} - #{hb-calculate-rems(40px)}); // move it past the slick arrows;;
          }
        }
      }
    }
  }
}
