.hb-testimonial {
  margin-top: hb-calculate-rems(40px);

  .field-hs-row-components .ptype-hs-testimonial &,
  .field-hs-collection-items .ptype-hs-testimonial & {
    margin-top: 0;
  }

  &__wrapper {
    @include hb-quote-wrapper;
    padding-bottom: hb-calculate-rems(34px);
    margin: 0;

    @include grid-media-min('lg') {
      // override hb-quote-wrapper mixin
      padding-bottom: hb-calculate-rems(34px);
    }

    .counted-items-2 &,
    .counted-items-3 & {
      @include grid-media-min('sm') {
        margin: 0;
      }
    }

    // Reset some of the styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      border-left-style: solid;
      border-right-style: solid;
      border-color: var(--palette--primary);

      &::before {
        content: none;
      }

      @include grid-media-min('lg') {
        padding: hb-calculate-rems(42px) hb-calculate-rems(45px);
      }
    }
  }

  &__author-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;

    @include grid-media-min('sm') {
      max-width: 80%;
      flex-direction: row;

      // Reset some of the styles for Testimonial in collections
      .field-hs-collection-items .ptype-hs-testimonial & {
        max-width: 100%;
        width: 100%;
      }
    }

    // allow more breathing room for content when 2 testimonials
    // are placed beside each other in a well
    .counted-items-2 & {
      max-width: 100%;
      flex-direction: column;

      @include grid-media-min('xl') {
        flex-direction: row;
      }
    }

    .counted-items-3 & {
      max-width: 100%;
      flex-direction: column;
    }

    // Add some styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      border-width: hb-calculate-rems(1px);
      border-color: var(--palette--tertiary);
    }

    .hb-testimonial--top & {
      padding-top: hb-calculate-rems(36px);

      // Reset some of the styles for Testimonial in collections
      .field-hs-collection-items .ptype-hs-testimonial & {
        border-top-style: solid;
        padding-top: hb-calculate-rems(32px);
        margin-top: hb-calculate-rems(18px);
      }
    }

    .hb-testimonial--bottom & {
      // Reset some of the styles for Testimonial in collections
      .field-hs-collection-items .ptype-hs-testimonial & {
        border-bottom-style: solid;
        padding-bottom: hb-calculate-rems(32px);
        margin-bottom: hb-calculate-rems(18px);
      }
    }
  }

  &__image {
    min-width: hb-calculate-rems(100px);
    width: hb-calculate-rems(100px);
    margin: 0 hb-calculate-rems(20px) hb-calculate-rems(20px) 0;

    // Reset some of the styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      margin-bottom: 0;
    }

    img {
      max-width: inherit;
      width: hb-calculate-rems(100px);
      height: hb-calculate-rems(100px);
      object-fit: cover;
    }

    @include hb-themes(('colorful', 'airy')) {
      img {
        border-radius: 50%;
      }
    }
  }

  &__author-credits {
    margin-bottom: hb-calculate-rems(20px);

    // Reset some of the styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      margin-bottom: 0;
    }
  }

  &__name {
    font-weight: hb-theme-font-weight(semibold);

    // Reset some of the styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      color: var(--palette--primary);
    }
  }

  &__position {
    font-size: hb-calculate-rems(16px);

    + .hb-testimonial__link {
      padding-top: hb-calculate-rems(16px);
    }

    // Reset some of the styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      color: var(--palette--gray-dark);
    }
  }

  &__link {
    position: relative;

    a {
      @include hb-more-link;

      [class*='-pairing-'] .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        // make arrow and text color white for all themes
        color: var(--palette--white);

        &::after {
          @include hb-icon-link-arrow('white');
          background-size: 85%;
        }

        &:hover,
        &:focus {
          color: var(--palette--white);

          &::after {
            @include hb-icon-link-arrow('white');
            background-size: 85%;
          }
        }
      }

      .hb-dark-pattern .hs-paragraph-style--well &,
      .hb-dark-pattern .hs-paragraph-style--well-full-width & {
        color: var(--palette--secondary);

        &::after {
          @include hb-icon-link-arrow('secondary');
          background-size: 85%;
        }

        &:hover,
        &:focus {
          color: var(--palette--secondary-darken-12);

          &::after {
            @include hb-icon-link-arrow('secondary-darken-12');
            background-size: 85%;
          }
        }
      }

      // Reset some of the styles for Testimonial in collections
      .field-hs-collection-items .ptype-hs-testimonial & {
        font-weight: hb-theme-font-weight(regular);
        
        @include hb-traditional {
          font-size: hb-calculate-rems(14px);

          &::after {
            height: hb-calculate-rems(22.5px);
            width: hb-calculate-rems(22.5px);
          }
        }
      }
    }
  }

  figure.hb-testimonial__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    .hb-testimonial--bottom & {
      padding-top: hb-calculate-rems(6px);
    }

    // Reset some of the styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      align-items: flex-start;
    }
  }

  blockquote.hb-testimonial__quote {
    width: 100%;
    margin: 0;

    // Testimonial blockquote includes styling from hb-blockquote mixin,
    // so we need to reset some of the styles.
    color: var(--palette--secondary);
    font-style: italic;
    text-align: center;

    @include hb-themes(('colorful', 'airy')) {
      line-height: 140%;
    }

    @include hb-traditional {
      line-height: 136%;
    }

    .hb-dark-pattern .hs-paragraph-style--well &,
    .hb-dark-pattern .hs-paragraph-style--well-full-width & {
      color: var(--palette--secondary);
    }

    // quote marks around quote
    .field-hs-testimonial-quote, // paragraph type
    .views-field .field-content p:first-of-type {
      // views
      &::before {
        position: absolute;
        content: open-quote;
        margin-left: hb-calculate-rems(-16px);
      }

      &::after {
        position: absolute;
        content: close-quote;
        margin-right: hb-calculate-rems(10px);
      }
    }

    &.hb-testimonial__quote--bottom {
      padding-bottom: hb-calculate-rems(16px);
    }

    // Reset some of the styles for Testimonial in collections
    .field-hs-collection-items .ptype-hs-testimonial & {
      color: var(--palette--black);
      font-size: hb-calculate-rems(20px);
      line-height: hb-calculate-rems(28.4px);
      text-align: left;

      .field-hs-testimonial-quote,
      .views-field .field-content p:first-of-type {
        &::before,
        &::after {
          content: none;
        }
      }
    }
  }
}

// When a testimonial is the first paragraph type on a page and the hb-dark-pattern class has been applied via layout builder, add padding to the first testimonial paragraph type to compensate for the quotation mark
.hb-dark-pattern:first-child {
  .ptype-hs-testimonial:first-of-type {
    padding-top: hb-calculate-rems(20px);

    .hb-testimonial__wrapper {
      margin-top: hb-calculate-rems(40px);
    }
  }

  // Testimonials in a row on with the hb-dark-pattern utility class
  .ptype-hs-row,
  .ptype-hs-row .hs-paragraph-style--well {
    .counted-items-1 {
      .ptype-hs-testimonial:first-of-type {
        padding-top: initial;

        // when there is only one, we need more spacing
        .hb-testimonial__wrapper {
          margin-top: hb-calculate-rems(60px);
        }
      }
    }

    .counted-items-2,
    .counted-items-3 {
      .ptype-hs-testimonial:first-of-type {
        padding-top: initial;
      }
    }
  }
}
