// Note: this scss is the base of the hero, AND the carousel patterns
// If you change something here, you will likely need to change it and override it in the carousel.scss
.field-hs-hero-image {
  @include hb-hero-image-field;

  &::before {
    @include hb-pairing-color('background-color', 'primary-hero-overlay');
  }
}

.hb-hero-overlay {
  @include hb-hero-component;

  &__image-wrapper {
    @include hb-hero-image-wrapper;
  }

  &__text {
    @include hb-hero-text;
    @include hb-traditional {
      text-align: center;
    }

    @include grid-media-min('sm') {
      padding: hb-calculate-rems(60px) 0;
    }

    @include grid-media-min('lg') {
      padding: hb-calculate-rems(66px) 0;
    }

    h2,
    .field-hs-hero-body {
      @include hb-traditional {
        margin: 0 auto;
      }
    }

    .field-hs-hero-body {
      @include hb-hero-body-field;
    }

    a {
      @include hb-hero-anchor-link;
    }

    .field-hs-hero-link {
      @include hb-hero-link-field;
    }
  }
}

@include hb-hero-animation-keyframes;
