.hb-spotlight {
  padding: hb-spacing-width('md') 0;
  @include hb-pairing-color('background-color', 'spotlight');

  // Add a unique background-color for Lake on Colorful.
  // Note this is an extraordinary use case.
  // Targeting styles per color pairing should not become standard practice.
  .hc-pairing-lake & {
    @include hb-pairing-color('background-color', 'secondary-highlight');
  }

  @include grid-media-min('md') {
    padding: hb-spacing-width() 0;
    margin: hb-spacing-width() 0;
  }

  @include hb-hero-full-width();

  &__wrapper {
    @include hb-page-width;
    display: block;

    @include grid-media-min('md') {
      display: flex;
      align-items: center;
    }

    .hb-spotlight--image-default & {
      @include grid-media-min('md') {
        flex-direction: row-reverse;
      }
    }

    .hb-spotlight--image-left & {
      @include grid-media-min('md') {
        flex-direction: row;
      }
    }
  }

  &__text {
    @include hb-themes(('colorful', 'airy')) {
      position: relative;
      padding-top: hb-spacing-width('md');

      &::before {
        top: 0;
        @include hb-colorful-text-bar('secondary');
      }
    }

    @include grid-media-min('md') {
      flex-basis: 55%;
      flex-grow: 1;
      max-width: 75%;
    }

    .field-hs {
      &-spotlight-title {
        h2 {
          @include hb-hero-title;
          margin: 0 0 hb-spacing-width('xs');

          @include grid-media-min('md') {
            margin: 0 0 hb-spacing-width('xs');
          }
        }
      }

      &-spotlight-link {
        margin-top: hb-spacing-width('md');

        a,
        button {
          @include hb-themes(('colorful', 'airy')) {
            @include hb-secondary-button;
          }

          @include hb-traditional {
            @include hb-button;
          }

          padding: hb-calculate-rems(4px) hb-calculate-rems(20px);
        }
      }
    }
  }

  &__image-wrapper {
    margin-bottom: hb-spacing-width('md');

    @include grid-media-min('md') {
      width: 45%;
      margin-bottom: 0;
    }

    .hb-spotlight--image-default & {
      @include grid-media-min('md') {
        margin-left: hb-spacing-width();
      }
    }

    .hb-spotlight--image-left & {
      @include grid-media-min('md') {
        margin-right: hb-spacing-width();
      }
    }

    img {
      width: 100%;
    }
  }
}
