// This styling is for the Photo Gallery Grid and Photo Gallery Slideshow
.ptype-stanford-gallery {
  .su-gallery-images article,
  .slick__slide article {
    position: relative;
  }

  .su-gallery-description {
    margin-bottom: hb-calculate-rems(32px);
  }

  .su-gallery-button a {
    @include hb-button;
    margin-top: hb-calculate-rems(32px);
  }

  // Photo Gallery Slideshow
  .hs-gallery-slideshow {
    @include slick-container;
    @include slick-arrows;

    .su-gallery-headline {

    }
  }


}
