// Table styles specific to the Table UI Pattern
.hb-table-pattern {
  .views-view-pattern & {
    overflow-x: auto; // prevent horizontal page scroll on 5 column tables
  }

  @include grid-media-min('sm') {
    font-size: hb-calculate-rems(16px);
  }

  @include grid-media-min('md') {
    display: table;
  }

  &__header {
    display: none;

    @include grid-media-min('md') {
      display: table-header-group;
    }
  }

  &__caption {
    display: table-row-group;
    border: 1px solid $border-color;
  }

  &__description {
    font-weight: hb-theme-font-weight(semibold);
    padding: hb-calculate-rems(16px);
  }

  &__row {
    @include grid-media-min('md') {
      display: table-row;
    }

    // column header cells
    > :nth-child(n) {
      @include grid-media-min('md') {
        display: table-cell;
      }
    }
  }

  &__body {
    @include grid-media-min('md') {
      display: table-row-group;
    }
  }
}
