.hb-color-band {
  position: relative;
  padding: hb-calculate-rems(20px);
  text-align: center;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 50vw;
    position: absolute;
    top: 0;
    bottom: 0;

    .layout-builder & {
      display: none;
    }
  }

  &::before {
    left: -50vw;
  }

  &::after {
    right: -50vw;
  }

  &--limited-width,
  .hb-three-column--one-sidebar & {
    &::before,
    &::after {
      display: none;
    }
  }

  &--default,
  &--default::before,
  &--default::after {
    @include hb-pairing-color('background-color', 'primary-hero-overlay');
  }

  &--cardinal,
  &--cardinal::before,
  &--cardinal::after {
    @include hb-global-color('background-color', 'cardinal');
  }

  &--gray,
  &--gray::before,
  &--gray::after {
    @include hb-global-color('background-color', 'gray-dark');
  }

  &--light,
  &--light::before,
  &--light::after {
    @include hb-pairing-color('background-color', 'spotlight-lighten-8');
  }

  &--light {
    .hb-color-band--title {
      @include hb-global-color('color', 'black');
    }

    .hb-color-band--text {
      @include hb-global-color('color', 'black');
    }

    .hb-color-band--link .hs-more-link a,
    .hb-color-band--link.hs-more-link a,
    .hb-color-band--link .hs-more-link button,
    .hb-color-band--link.hs-more-link button {
      @include hb-global-color('color', 'black');

      &:hover,
      &:focus {
        @include hb-global-color('color', 'black');

        &::after {
          @include hb-icon-link-arrow('black');

          background-size: 85%;

          *[class^="hc-pairing-"] &,
          *[class^="ht-pairing-"] & {
            @include hb-icon-link-arrow('black');

            background-size: 85%;
          }
        }
      }
    }

    .hb-color-band--link .hs-more-link a::after,
    .hb-color-band--link.hs-more-link a::after,
    .hb-color-band--link .hs-more-link button::after,
    .hb-color-band--link.hs-more-link button::after {
      @include hb-icon-link-arrow('black');

      background-size: 85%;

      *[class^="hc-pairing-"] &,
      *[class^="ht-pairing-"] & {
        @include hb-icon-link-arrow('black');

        background-size: 85%;
      }
    }
  }

  &--title {
    @include hb-global-color('color', 'white');

    margin: 0;
  }

  &--text {
    @include hb-global-color('color', 'white');

    margin: 0;
    padding: hb-calculate-rems(12px);
    font-size: hb-calculate-rems(24px);
    font-weight: hb-theme-font-weight(semibold);
    line-height: 127%;

    @include hb-themes(('colorful', 'airy')) {
      padding: hb-calculate-rems(12px);
    }

    @include hb-traditional {
      padding: hb-calculate-rems(20px);
    }
  }

  &--link .hs-more-link {
    @include hb-global-color('color', 'white');
  }

  &--link .hs-more-link a,
  &--link.hs-more-link a,
  &--link .hs-more-link button,
  &--link.hs-more-link button {
    @include hb-global-color('color', 'white');

    &:hover,
    &:focus {
      @include hb-global-color('color', 'white');

      &::after {
        @include hb-icon-link-arrow('white');

        background-size: 85%;

        *[class^="hc-pairing-"] &,
        *[class^="ht-pairing-"] & {
          @include hb-icon-link-arrow('white');

          background-size: 85%;
        }
      }
    }
  }

  &--link .hs-more-link a::after,
  &--link.hs-more-link a::after,
  &--link .hs-more-link button::after,
  &--link.hs-more-link button::after {
    @include hb-icon-link-arrow('white');

    background-size: 85%;

    *[class^="hc-pairing-"] &,
    *[class^="ht-pairing-"] & {
      @include hb-icon-link-arrow('white');

      background-size: 85%;
    }
  }

  hr {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    border: 0;
    font-size: 3.6rem;
  }
}
