.hb-spotlight {
  padding: hb-spacing-width('md') 0;
  margin: hb-spacing-width() 0 hb-spacing-width();

  @include hb-themes(('colorful', 'airy')) {
    @include hb-global-color('background-color', 'gray-light');
  }

  @include hb-traditional {
    @include hb-pairing-color('background-color', 'tertiary-highlight');
  }

  @include grid-media-min('md') {
    padding: hb-calculate-rems(2 * hb-spacing-width('default', false)) 0;
  }

  .hs-full-width & {
    // Special negative margin for the Spotlight
    // to get rid of the vertical padding on all basic pages
    margin: calc(-1 * #{hb-spacing-width()}) 0 hb-spacing-width();
  }

  &__wrapper {
    @include hb-page-width;
    display: flex;
    flex-direction: column-reverse;

    @include grid-media-min('md') {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__text {
    @include grid-media-min('md') {
      flex-basis: 50%;
      flex-grow: 1;
      max-width: 75%;
    }

    .field-hs {
      &-spotlight-title {
        h2 {
          @include hb-hero-title;
        }
      }

      &-spotlight-link {
        margin-top: hb-spacing-width('md');

        a,
        button {
          @include hb-button;
          padding: hb-calculate-rems(4px) hb-calculate-rems(20px);
        }
      }
    }
  }

  &__image-wrapper {
    margin-bottom: hb-spacing-width('md');

    @include grid-media-min('md') {
      margin-left: hb-spacing-width();
      width: 50%;
    }

    img {
      width: 100%;
    }
  }
}
