.hb-spotlight {
  padding: hb-spacing-width('md') 0;
  background-color: var(--palette--spotlight);

  &--background-gray {
    background-color: var(--palette--gray-medium);
  }

  // Add a unique background-color for Lake on Colorful.
  // Note this is an extraordinary use case.
  // Targeting styles per color pairing should not become standard practice.
  .hc-pairing-lake & {
    background-color: var(--palette--secondary-highlight);
  }

  @include grid-media-min('md') {
    padding: hb-spacing-width() 0;
    margin: hb-spacing-width() 0;
  }

  @include hb-hero-full-width();

  &__wrapper {
    @include hb-page-width;
    display: block;

    @include grid-media-min('md') {
      display: flex;
      align-items: center;
    }

    .hb-spotlight--image-default & {
      @include grid-media-min('md') {
        flex-direction: row-reverse;
      }
    }

    .hb-spotlight--image-left & {
      @include grid-media-min('md') {
        flex-direction: row;
      }
    }
  }

  &__title {
    @include hb-hero-title;
    margin: 0 0 hb-spacing-width('xs');

    @include grid-media-min('md') {
      margin: 0 0 hb-spacing-width('xs');
    }
  }

  &__text {
    @include hb-themes(('colorful', 'airy')) {
      position: relative;
      padding-top: hb-spacing-width('md');

      &::before {
        top: 0;
        @include pseudo-background-box('secondary', hb-calculate-rems(4px), hb-calculate-rems(65px));

        // Add a unique secondary color for Ocean on Colorful.
        // Note this is an extraordinary use case.
        // Targeting styles per color pairing should not become standard practice.
        .hc-pairing-ocean & {
          @include pseudo-background-box('secondary-darken-12', hb-calculate-rems(4px), hb-calculate-rems(65px));
        }
      }
    }

    @include grid-media-min('md') {
      flex-basis: 55%;
      flex-grow: 1;
      max-width: 75%;
    }

    .field-hs {
      &-spotlight-link {
        margin-top: hb-spacing-width('md');

        a,
        button {
          @include hb-themes(('colorful', 'airy')) {
            @include hb-secondary-button;

            // Add a unique secondary color for Ocean on Colorful.
            // Note this is an extraordinary use case.
            // Targeting styles per color pairing should not become standard practice.
            .hc-pairing-ocean & {
              color: var(--palette--secondary-darken-12);
              border-color: var(--palette--secondary-darken-12);

              &:hover {
                background-color: var(--palette--secondary-darken-12);
                border-color: var(--palette--secondary-darken-12);
                color: var(--palette--white);
              }
            }
          }

          @include hb-traditional {
            @include hb-button;
          }

          padding: hb-calculate-rems(4px) hb-calculate-rems(20px);
        }
      }
    }
  }

  &__image-wrapper {
    margin-bottom: hb-spacing-width('md');

    @include grid-media-min('md') {
      width: 45%;
      margin-bottom: 0;
    }

    .hb-spotlight--image-default & {
      @include grid-media-min('md') {
        margin-left: hb-spacing-width();
      }
    }

    .hb-spotlight--image-left & {
      @include grid-media-min('md') {
        margin-right: hb-spacing-width();
      }
    }

    img {
      width: 100%;
    }
  }
}

// Spotlight Slider styles
.paragraph--type--hs-sptlght-slder {
  @include hb-hero-full-width();
  @include slick-container;
  @include slick-dots;
  @include slick-arrows;
  position: relative;

  .hs-full-width & {
    .hb-spotlight {
      margin-top: 0;
    }
  }
}

.paragraph--type--hs-sptlght-slder.paragraph--type--hs-sptlght-slder--no-image {
  @media only screen and (max-width: 767px) {
    .hb-spotlight {
      height: 100%;
    }

    .slick-track {
      bottom: 0;
      height: 100%;
    }

    .slick__slide > div:first-child {
      height: 100%;
    }

    .slick-prev {
      @include hb-traditional {
        bottom: 15% !important;
      }

      @include hb-themes(('colorful', 'airy')) {
        bottom: 25% !important;
      }
    }

    .slick-next {
      @include hb-traditional {
        bottom: 55% !important;
      }

      @include hb-themes(('colorful', 'airy')) {
        bottom: 55% !important;
      }
    }
  }
}
