.hb-color-band {
  text-align: center;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 50vw;
    position: absolute;
    top: 0;
    bottom: 0;

    .layout-builder & {
      display: none;
    }
  }

  &::before {
    left: -50vw;
  }

  &::after {
    right: -50vw;
  }

  &--limited-width,
  .hb-three-column--one-sidebar & {
    &::before,
    &::after {
      display: none;
    }
  }

  &--default,
  &--default::before,
  &--default::after {
    @include hb-pairing-color('background-color', 'primary-hero-overlay');
  }

  &--cardinal,
  &--cardinal::before,
  &--cardinal::after {
    @include hb-global-color('background-color', 'cardinal');
  }

  &--gray,
  &--gray::before,
  &--gray::after {
    @include hb-global-color('background-color', 'gray-dark');
  }

  &--light,
  &--light::before,
  &--light::after {
    @include hb-pairing-color('background-color', 'spotlight-lighten-8');
  }

  &--light {
    .hb-color-band--text {
      @include hb-global-color('color', 'black');
    }
  }

  &--text {
    @include hb-global-color('color', 'white');

    @include hb-themes(('colorful', 'airy')) {
      padding: hb-calculate-rems(12px);
    }

    @include hb-traditional {
      padding: hb-calculate-rems(20px);
    }
  }

  hr {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    border: 0;
    font-size: 3.6rem;
  }
}
