// Note: this scss is the base of the hero, AND the carousel patterns
// If you change something here, you will likely need to change it and override it in the carousel.scss
.field-hs-hero-image {
  @include hb-hero-image-field;

  &::before {
    @include hb-pairing-color('background-color', 'primary-hero-overlay');
  }
}

.hb-hero-overlay {
  @include hb-hero-component;
  
  .ptype-hs-hero-image & {
    @include hb-pairing-color('background-color', 'primary-hero-overlay');
  }

  &::before {
    .ptype-hs-hero-image & {
      content: none;
    }
  }

  &__image-wrapper {
    @include hb-hero-image-wrapper;
  }

  &__text {
    @include hb-hero-text;
    @include hb-traditional {
      text-align: center;
    }

    @include grid-media-min('sm') {
      padding: hb-calculate-rems(60px) 0;
    }

    @include grid-media-min('lg') {
      padding: hb-calculate-rems(66px) 0;
    }

    h2,
    h3,
    .field-hs-hero-body {
      @include hb-traditional {
        margin: 0 auto;
      }
    }

    // Add the margin in the heading so there's space between 
    // the body and the heading only when there's a heading
    h2,
    h3 {
      @include hb-traditional {
        margin-bottom: hb-spacing-width('xxs');
    
        @include grid-media-min('md') {
          margin-bottom: hb-spacing-width('sm');
        }
      }
    }

    .field-hs-hero-body {
      @include hb-hero-body-field;

      // If there isn't a heading, there will be a margin that won't 
      // allow to be the text align to the center of the banner
      margin-top: 0 !important;
    }

    a {
      @include hb-hero-anchor-link;
    }

    .field-hs-hero-link {
      @include hb-hero-link-field;
    }
  }
}

@include hb-hero-animation-keyframes;
