.ptype-hs-postcard {
  .hb-card {
    &__content {
      background-color: magenta; // only inside of postcards!!
      display: flex;
      flex-direction: column;
    }

    &__description {
      margin-bottom: 0;
    }

    &__subcontent {
      order: 2; // Note: From an accessibility standup, this not recommended. It takes the content out of it's normal flow in the DOM.
      margin-bottom: 0;
    }

    &__subcontent-item {
      width: 100%;
    }
  }
}

.field-hs-postcard {
  &-title {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include hb-heading-3;
      margin: 0;
      overflow-wrap: break-word;
    }
  }

  &-link {
    width: 100%;
    position: relative;

    a {
      opacity: 0;
      display: block;
      height: hb-calculate-rems(44px);
    }

    &.decanter-button {
      height: 100%;
      width: 100%;
      // opacity: 0;
      background-color: yellow;
    }

    &::before {
      content: '';
      position: absolute;
      height: hb-calculate-rems(44px); // WCAG AAA target size
      width: hb-calculate-rems(44px);

      @include hb-colorful {
        @include hb-link-arrow-icon($color: hb-colorful-variation(secondary));

        transform: translateX(0);
        transition: transform 200ms ease-in-out;
      }
    }

    &:hover,
    &:focus {
      &::before {
        transform: translateX(0.625rem);

        @include hb-colorful {
          @include hb-link-arrow-icon(darken(hb-colorful-variation(secondary), 10%));
        }
      }
    }

    .fa-ext {
      display: none;
    }
  }

  &-body {
    @include hb-body--small;
    margin-bottom: hb-calculate-rems(28px);

    @include grid-media-min('lg') {
      @include hb-body--medium;
    }
  }
}
