.ptype-hs-postcard {
  // Override the hb-card styles so that they display correctly within paragraph postcard components.
  .hb-card {
    &__title {
      @include hb-traditional {
        margin-bottom: hb-spacing-width('xxxs');

        // If the heading is in a grid or row,
        // keep it smaller longer.
        h2,
        h3,
        h4,
        h5,
        h6 {
          .hb-grid & {
            font-size: hb-calculate-rems(22px);
          }
        }
      }
    }

    &__img {
      flex-shrink: 0; // prevent horizontal card image from collapsing
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__description {
      margin-bottom: 0;
    }

    // For horizontal postcards, Content to Link (which is represented by
    // the arrow link / decorative link style) is mapped to the Time field,
    // this places the Content to Link within the subcontent.
    &__subcontent {
      order: 2; // Note: From an accessibility standpoint, this not recommended. It takes the content out of it's normal flow in the DOM.
      margin-bottom: 0;
    }

    &__subcontent-item {
      width: 100%;
    }

    &__decorative-link {
      &::before {
        display: none; // The decorative link for postcards is added via the field-hs-postcard-link class.
      }
    }
  }
}

.field-hs-postcard {
  &-title {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include hb-heading-3;
      margin: 0;
      overflow-wrap: break-word;
    }
  }

  &-link {
    position: relative;
    width: 100%;

    a {
      .fa-mailto {
        display: none;
      }

      @include hb-themes(('colorful', 'airy')) {
        @include hb-card-arrow-link;
      }

      @include hb-traditional {
        @include hb-more-link;
      }
    }

    &.decanter-button {
      @include hb-unbuttonize;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  &-body {
    @include hb-description;

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-spacing-width('xs');
    }

    @include hb-traditional {
      margin-bottom: hb-spacing-width('xxxs');
    }
  }
}
