// TODO: this is too specific!!
// need generic class for non builder layout classes
// need something like .not-layout-builder-main-content
.block-custm-humsci-colorful-exposed-form-hs-search-search-page {
  margin-bottom: hb-calculate-rems(42px);

  .form-actions {
    display: inline-block;
  }

  .form-item {
    margin-bottom: hb-calculate-rems(20px);

    @include grid-media-min('sm') {
      display: inline-block;
      margin-right: hb-calculate-rems(16px);
    }
  }
}
