.hb-secondary-nav {
  background-color: transparent;
  display: none;

  @include grid-media-min('lg') {
    display: block;
  }

  &__heading {
    @include hb-heading-4;
    margin: 0 0 hb-calculate-rems(39px);

    a {
      @include hb-link;
    }
  }

  &__menu {
    background-color: transparent;
    list-style-type: none;
    padding-left: hb-calculate-rems(16px);
    display: none;

    .no-js & {
      // no JS - keep all menus expanded
      display: block;
    }
  }

  .su-secondary-nav__item--expanded {
    > .hb-secondary-nav__menu {
      display: block;
    }
  }

  &__menu-lv1 {
    padding-left: 0;
    // always show top menu
    display: block;
    border-top: 1px solid lighten($su-color-driftwood, 15%);
  }

  &__menu-lv1 > &__item > &__link {
    font-weight: hb-theme-font-weight(semibold);
  }

  &__item,
  &__link {
    color: $hb-color--black;
    font-size: hb-calculate-rems(16px);
  }

  &__item {
    position: relative;

    &--active-trail > .hb-secondary-nav__link {
      font-weight: hb-theme-font-weight(semibold);

      @include hb-colorful {
        @include hb-fancy-hover(darken($su-color-driftwood, 30%), darken($su-color-driftwood, 50%), 'left');
      }
    }

    &--parent {
      .hb-secondary-nav__link {
        &::after {
          content: '';
          display: block;
        }
      }
    }
  }

  &__link {
    display: block;
    border-bottom: 1px solid lighten($su-color-driftwood, 15%);
    padding: hb-calculate-rems(16px) 0 hb-calculate-rems(16px) hb-calculate-rems(16px);
    text-decoration: none;

    &.is-active {
      font-weight: hb-theme-font-weight(semibold);

      @include hb-colorful {
        $grey-mint: rgba(darken(hb-colorful-variation(secondary), 2%), 0.2);

        background-color: $grey-mint;
        @include hb-fancy-hover(hb-colorful-variation(secondary), darken(hb-colorful-variation(secondary), 8%), 'left');

        &:hover,
        &:focus {
          background-color: darken($grey-mint, 5%);
        }
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &:not(.is-active) {
        background-color: lighten($su-color-driftwood, 25%);
      }
    }
  }

  &__toggle,
  .su-nav-toggle {
    // Use Decanter classes for Accordion Button JS
    margin: 0;
    cursor: pointer;
    font-size: 0;
    font-weight: hb-theme-font-weight(regular);
    background: transparent;
    border: 0 none;
    top: hb-calculate-rems(15px);
    right: hb-calculate-rems(15px);
    position: absolute;

    &::before {
      content: '';
      background: no-repeat left / 100% svg('<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="plus" fill="#{darken($su-color-driftwood, 30%)}"><path d="M10,1 C10,0.447715 9.55228,0 9,0 C8.44771,0 8,0.447715 8,1 L8,8 L1,8 C0.447715,8 0,8.44772 0,9 C0,9.55229 0.447715,10 1,10 L8,10 L8,17 C8,17.5523 8.44772,18 9,18 C9.55229,18 10,17.5523 10,17 L10,10 L17,10 C17.5523,10 18,9.55229 18,9 C18,8.44772 17.5523,8 17,8 L10,8 L10,1 Z" id="Shape"></path></g></g></svg>');
      color: darken($su-color-driftwood, 30%);
      height: hb-calculate-rems(18px);
      width: hb-calculate-rems(18px);
      display: block;
      transform: rotate(0deg);
      transition: transform 200ms ease-in-out;
    }

    &[aria-expanded="true"] {
      &::before {
        transform: rotate(180deg);
        background: no-repeat left / 100% svg('<svg width="18px" height="2px" viewBox="0 0 18 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="bevel"><g id="minus" transform="translate(1.000000, 0.000000)" stroke="#{darken($su-color-driftwood, 30%)}" stroke-width="2"><path d="M0,1 L16,1" id="Line"></path></g></g></svg>');
      }
    }
  }
}
