// Note:
// This was copied from Decanter and then updated to target HMTL elements in the
// site search.
// Source: `/node_modules/decanter/core/src/scss/components/site-search/_site-search.scss`
.su-site-search {
  position: relative;

  label {
    @include hide-visually;
  }

  .form-actions {
    position: relative;
  }

  input {
    @include font-smoothing;
    padding: hb-calculate-rems(12px) hb-calculate-rems(36px) hb-calculate-rems(10px) hb-calculate-rems(14px);

    display: inline-block;
    height: hb-calculate-rems(38px);
    max-width: 100%;
    font-size: hb-calculate-rems(16px);

    &::placeholder {
      color: var(--palette--gray-dark);
      opacity: 1; // For Firefox
    }
  }

  input[type="submit"] {
    @include margin(0 0 0 null);
    padding: 0;

    @include hb-icon-background('search', 'gray-dark');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: hb-calculate-rems(18px);
    border-width: 0;
    position: absolute;
    bottom: 0;
    right: hb-calculate-rems(10px);
    width: hb-calculate-rems(24px);
    height: hb-calculate-rems(15px);
    transform: scaleX(-1);
    opacity: 0.6;

    text-indent: -99999px;
    overflow: hidden;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      opacity: 1;
    }

    &:active,
    &:focus {
      box-shadow: none;
    }

    &:focus {
      @include hb-focus;

      @include hb-themes(('colorful', 'airy')) {
        border-radius: hb-calculate-rems(4px);
      }
    }
  }
}
