.hb-card--structured {
  width: 100%;
  padding-bottom: hb-calculate-rems(28px);

  @include hb-colorful {
    border-bottom: $hb-thin-border;
    @include hb-global-color('border-color', 'gray');
  }

  .hb-card__img {
    margin-bottom: hb-calculate-rems(20px);
  }

  h3.field-content {
    margin-top: 0;
  }

  .hb-card__subtitle {
    @include hb-subtitle;
    margin-bottom: hb-calculate-rems(13px);
  }

  .hb-card__category,
  .hb-card__columns {
    .views-field {
      margin-bottom: hb-calculate-rems(14px);

      @include grid-media-min('sm') {
        margin-bottom: hb-calculate-rems(28px);
      }
    }
  }

  .hb-card__category {
    margin-bottom: hb-calculate-rems(14px);

    @include grid-media-min('sm') {
      margin-bottom: hb-calculate-rems(28px);
    }

    .views-label {
      margin-bottom: hb-calculate-rems(14px);
    }
  }

  .hb-card__columns {
    display: flex;
    flex-wrap: wrap;

    .views-field {
      margin-bottom: hb-calculate-rems(28px);
      padding-right: hb-calculate-rems(11px);
      width: 100%;
      @include grid-media-min('sm') {
        width: 50%;
      }
    }
  }
}
