.hb-card--structured {
  width: 100%;

  .hb-card__img {
    margin-bottom: hb-calculate-rems(20px);
  }

  .hb-card__subtitle {
    font-weight: hb-theme-font-weight(semibold);
    line-height: 122%;
    margin-bottom: hb-calculate-rems(13px);
    font-size: hb-calculate-rems(16px);

    @include grid-media-min('lg') {
      font-size: hb-calculate-rems(18px);
    }
  }

  .hb-card__description {
    .views-label {
      display: inline-block;
      font-size: hb-calculate-rems(15px);
      color: $hb-color--black;
      text-transform: uppercase;
      margin-bottom: hb-calculate-rems(2px);
    }
  }

  .hb-card__category {
    .views-field {
      margin-bottom: hb-calculate-rems(28px);
    }

    .views-label {
      display: inline-block;
      margin-bottom: hb-calculate-rems(14px);
      color: $hb-color--black;
    }
  }

  .hb-card__columns {
    display: flex;
    flex-wrap: wrap;

    .views-field {
      margin-bottom: hb-calculate-rems(28px);
      padding-right: hb-calculate-rems(11px);
      width: 50%;

      .views-label {
        display: inline-block;
        font-size: hb-calculate-rems(15px);
        color: $hb-color--black;
        text-transform: uppercase;
        margin-bottom: hb-calculate-rems(2px);
      }
    }
  }
}
