$unpublished-color: rgba(234, 171, 0, 0.6);

.node--unpublished {
  @include hb-page-width;

  background-color: $unpublished-color;
  padding: hb-calculate-rems(20px);
  margin-bottom: hb-calculate-rems(40px);
}

.hb-main-nav__menu,
.hb-secondary-nav__menu,
.megamenu {
  a[data-unpublished-node="true"] {
    background-color: $unpublished-color;

    &:hover {
      background-color: darken($unpublished-color, 10%);
    }
  }
}

// We need extra specificity to override the background-colors set on the
// top level of the main-nav at desktop widths (especially active and hover states).
.js .hb-main-nav__menu-lv1 > li > .hb-main-nav__link[data-unpublished-node="true"] {
  background-color: $unpublished-color;

  &:hover {
    background-color: darken($unpublished-color, 10%);
  }
}
