.hb-vertical-button-card {
  position: relative;

  .hb-card__graphics {
    img {
      width: 100%;
    }
  }

  .hb-card__title:only-child {
    margin-bottom: 0;
  }

  .field-hs-postcard-body {
    margin-bottom: 0;
  }

  .hs-button {
    width: 100%;
    font-size: hb-calculate-rems(18px);
    hyphens: auto;
    word-break: break-word;

    &:hover,
    &:focus,
    &.is-focused {
      background-color: var(--palette--primary-dark);
      border-color: var(--palette--primary-dark);
    }
  }

  @include hb-traditional {
    border: 2px solid var(--palette--secondary);
    background-color: var(--palette--white);

    .hb-card__content-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .hb-card__title {
      margin-bottom: hb-calculate-rems(16px);
    }

    .hb-card__graphics {
      padding: hb-calculate-rems(24px) hb-spacing-width('sm') 0;

      &, .hb-raised-cards & {
        margin-bottom: hb-calculate-rems(32px);
      }
    }

    .hb-card__content {
      padding: hb-calculate-rems(32px) hb-spacing-width('sm');
    }

    .hs-button {
      @include hb-secondary-button;

      position: relative;
      width: 100%;
      border-width: 0;
      border-top-width: 2px;
      margin-top: auto;

      // Warbler color pairing override.
      .ht-pairing-warbler & {
        color: var(--palette--secondary);

        &:hover, &:focus {
          color: var(--palette--white);
        }
      }
    }

    &:has(.hb-card__graphics) {
      .hb-card__content {
        padding-top: 0;
      }
    }

    &:has(.hs-button) {
      .hb-card__content {
        padding-bottom: hb-calculate-rems(16px);
      }
    }
  }

  @include hb-colorful {
    .hb-card__graphics {
      &, .hb-raised-cards & {
        padding: 0 hb-calculate-rems(36px);
        margin-bottom: hb-calculate-rems(-20px);
      }
    }

    .hb-card__title {
      color: var(--palette--secondary);
    }

    .hb-card__content {
      padding: hb-calculate-rems(62px) hb-calculate-rems(36px) hb-calculate-rems(32px);
      border: 2px solid var(--palette--tertiary-highlight);
      box-shadow: hb-calculate-rems(1px) hb-calculate-rems(7.5px) hb-calculate-rems(35px) color-mix(in srgb, var(--palette--black) 10%, transparent);
      background-color: var(--palette--white);

      .hb-raised-cards--uniform-height & {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    &:has(.hb-card__description) {
      .hb-card__title {
        &, .hb-raised-cards & {
          margin-bottom: hb-calculate-rems(16px);
        }
      }
    }

    &:has(.hs-button) {
      .hb-card__title {
        &,
        .hb-raised-cards,
        &:only-child {
          margin-bottom: hb-calculate-rems(24px);
        }
      }

      .hb-card__description {
        margin-bottom: hb-calculate-rems(24px);
      }
    }

    .hs-button {
      padding: hb-calculate-rems(4px) hb-calculate-rems(24px) hb-calculate-rems(6px);
      background-color: var(--palette--primary);
      border-color: var(--palette--primary);
    }
  }
}
