.views-exposed-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  margin-bottom: 2rem;

  .form-item {
    width: 100%;
    margin-bottom: 1rem;

    @include grid-media-min('md') {
      width: calc(50% - 1rem);
      margin-right: 1rem;
    }

    @include grid-media-min('lg') {
      width: calc(33% - 1rem);
    }
  }

  .form-actions {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .form-submit:not(:last-child) {
    margin-right: 1rem;
  }
}
