.main-content .views-exposed-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: hb-calculate-rems(32px);

  .form-item {
    width: 100%;
    margin-bottom: hb-calculate-rems(24px);
    @include grid-media-min('md') {
      width: calc(50% - #{hb-calculate-rems(18px)});
      margin-right: hb-calculate-rems(18px);
    }
    @include grid-media-min('lg') {
      width: calc(33% - #{hb-calculate-rems(18px)});
    }
  }

  .form-actions {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    @include grid-media-min('md') {
      margin-bottom: hb-calculate-rems(24px);
    }
  }

  .form-submit:not(:last-child) {
    margin-right: hb-calculate-rems(16px);
  }
}
