.views-field-field-hs-course {
  &-code {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    margin-bottom: hb-calculate-rems(6px);
  }

  &-section-location {
    font-weight: hb-theme-font-weight(bold);
  }

  &-section-st-time,
  &-section-end-time {
    display: inline-block;
  }

  &-section-id {
    .field-content {
      display: inline-block;
    }
  }

  &-tags,
  &-explore-tags {
    .field-content {
      margin-bottom: hb-calculate-rems(14px);
    }

    .field-content ol,
    .field-content ul {
      padding: 0;
      margin-bottom: 0;

      li {
        display: inline-block;
        margin-right: hb-calculate-rems(8px);

        &::before {
          display: none;
        }

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      li a {
        color: $hb-color--black;
        font-size: hb-calculate-rems(14px);
        padding: hb-calculate-rems(3px) hb-calculate-rems(12px);
        text-decoration: none;
        border-radius: hb-calculate-rems(13px);
        border: 2px solid transparent;
        background-color: lighten($su-color-driftwood, 16%);
        transition: background-color $hb-animation-duration $hb-animation-timing-function;

        @include hb-colorful {
          background-color: lighten(hb-colorful-variation(secondary), 55%);
        }

        &:focus,
        &:hover {
          box-shadow: none;
          border: 2px solid lighten($su-color-driftwood, 16%);
          background-color: $hb-color--white;

          @include hb-colorful {
            border: 2px solid lighten(hb-colorful-variation(secondary), 55%);
          }
        }
      }
    }
  }
}
