.hb-three-column__main .views-exposed-form,
.hb-three-column__sidebar-1 .views-exposed-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: hb-spacing-width('md');

  form {
    max-width: 100%;
  }

  .form-item {
    width: 100%;
    margin-bottom: hb-spacing-width('xs');
    @include grid-media-min('md') {
      width: calc(50% - #{hb-calculate-rems(18px)});
      margin-right: hb-calculate-rems(18px);
    }
  }

  .form-actions {
    display: flex;
    align-self: flex-end;
    margin-bottom: 0;

    @include grid-media-min('md') {
      margin-bottom: hb-spacing-width('xs');
    }
  }

  .form-submit:not(:last-child) {
    width: auto;

    &:not(:last-child) {
      margin-right: hb-spacing-width('xxs');
    }
  }
}

.hb-three-column__main .views-exposed-form {
  .form-item {
    @include grid-media-min('lg') {
      width: calc(33% - #{hb-calculate-rems(18px)});
    }
  }
}

.hb-three-column__sidebar-1 .views-exposed-form {
  .form-item {
    @include grid-media-min('lg') {
      margin-right: 0;
      width: 100%;
    }
  }
}

.views-exposed-form .select-preact {
  button {
    @include hb-global-color('border-color', 'gray', true);
  }
}
