.views-field-field-hs-person {
  &-email {
    word-break: break-all;

    a span {
      display: none; // hide email icon
    }
  }

  &-education {
    li {
      @include hb-colorful {
        &::before {
          background-color: hb-colorful-variation(tertiary);
        }
      }
    }
  }
}
