.views-field-field-hs-course {
  &-code {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    margin-bottom: hb-calculate-rems(6px);
  }

  &-section-location {
    font-weight: hb-theme-font-weight(bold);
  }

  &-section-st-time,
  &-section-end-time {
    display: inline-block;
  }

  &-section-id {
    .field-content {
      display: inline-block;
    }
  }
}
