// Map through a list of color pairings to return a list of colors
@function hb-get-pairing-list($theme-map, $palette) {
  $result: map-get($theme-map, $palette);

  @if $result {
    // Return value if it exists
    @return $result;
  } @else {
    // Error if value doesn't exist
    @error 'Couldn\'t find a value for this key: #{$key}';
  }
}

// Map through all color pairings to return a single color
@function hb-get-pairing-color($key, $palette, $theme-map) {
  // Assign a single color from the mapped palette
  $result: map-get(hb-get-pairing-list($theme-map, $palette), $key);

  @if $result {
    // Return value if it exists
    @return $result;
  } @else {
    // Error if value doesn't exist
    @error 'Couldn\'t find a value for this key: #{$key}';
  }
}

// Map through all global colors and return a single color
@function hb-get-global-color($key, $globals-map) {
  $result: map-get($globals-map, $key);

  @if $result {
    // Return value if it exists
    @return $result;
  } @else {
    // Error if value doesn't exist
    @error 'Couldn\'t find a value for this key: #{$key}';
  }
}
