// Returns the proper transition based on the theme.
// Filters through $hb-animation-list array to find the relevant
// duration and timing values for the theme.
@function hb-transition($property) {
  $theme-animation-list: get-theme-array-list($hb-animation-list);

  @if length($theme-animation-list) > 0 {
    $duration: nth($theme-animation-list, 1);
    $timing-function: nth($theme-animation-list, 2);
    @return $property $duration $timing-function;
  } @else {
    // Error if value doesn't exist
    @error "Couldn't find a value for this property: #{$property}";
  }
}
