@keyframes colorfulHeroText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes colorfulHeroImage {
  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Traditional Hero Animations
@keyframes traditionalHeroText {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes traditionalHeroOverlay {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}