// Colorful Splash Font Animation
@keyframes colorfulSplashFont {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

// Traditional Splash Font Animations
@keyframes traditionalSplashFont {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

