@mixin hb-category-item {
  @include hb-subheading;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 0 hb-calculate-rems(12px) hb-calculate-rems(5px);
  padding: 0;

  @include hb-themes(('airy', 'colorful')) {
    @include hb-global-color('color', 'black');

    &::before {
      height: hb-calculate-rems(12px);
      width: hb-calculate-rems(3px);
      top: hb-calculate-rems(4px);
    }
  }

  @include hb-traditional {
    @include hb-global-color('color', 'gray-dark');

    &::before {
      height: hb-calculate-rems(5px);
      width: hb-calculate-rems(5px);
      top: hb-calculate-rems(8px);
    }
  }

  &::before {
    content: '';
    display: inline-block;
    margin-right: hb-calculate-rems(6px);
    @include hb-pairing-color('background-color', 'secondary');
    border-radius: 0;

    position: absolute;
    left: hb-calculate-rems(-12px);
  }
}

@mixin hb-category-link {
  text-decoration: none;
  border-bottom: $hb-thin-border;
  border-color: transparent;
  transition: hb-transition(border-color);
  background-image: none;

  @include hb-themes(('airy', 'colorful')) {
    @include hb-global-color('color', 'black');

    &:hover,
    &:focus {
      @include hb-global-color('border-color', 'black');
    }
  }

  @include hb-traditional {
    @include hb-global-color('color', 'gray-dark');

    &:hover,
    &:focus {
      @include hb-pairing-color('border-color', 'primary');
    }
  }

  &:hover,
  &:focus {
    @include hb-global-color('color', 'black');
  }
}

@mixin hb-pill($link: true) {
  display: inline-block;
  font-size: hb-calculate-rems(14px);
  text-decoration: none;
  transition: hb-transition(background-color);

  @include hb-themes(('colorful', 'airy')) {
    @include hb-pairing-color('background-color', 'secondary-active');
    @include hb-global-color('color', 'gray-dark');
    padding: hb-calculate-rems(1px) hb-calculate-rems(12px);
    border-radius: hb-calculate-rems(13px);
    border: 2px solid transparent;
  }

  @include hb-traditional {
    @include hb-pairing-color('background-color', 'secondary-highlight');
    @include hb-global-color('color', 'gray-dark');
    padding: hb-calculate-rems(1px) hb-calculate-rems(6px);
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;
  }

  @if $link {
    @include hb-ext-icon-color('black');
    background-image: none;

    &:focus,
    &:hover {
      @include hb-themes(('colorful', 'airy')) {
        @include hb-pairing-color('border-color', 'secondary-active');
        @include hb-global-color('background-color', 'white');
      }

      @include hb-traditional {
        @include hb-pairing-color('background-color', 'secondary-highlight-darken');
      }
    }
  }
}
