@mixin hb-category-item {
  @include hb-subheading;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 0 hb-calculate-rems(12px) 0 0;
  padding: 0 0 hb-calculate-rems(2px) hb-calculate-rems(12px);

  @include hb-themes(('airy', 'colorful')) {
    color: var(--palette--black);

    &::before {
      height: hb-calculate-rems(12px);
      top: hb-calculate-rems(4px);
      transform: scaleX(0.5);
      width: hb-calculate-rems(6px);
    }
  }

  @include hb-traditional {
    color: var(--palette--gray-dark);

    &::before {
      height: hb-calculate-rems(5px);
      width: hb-calculate-rems(5px);
      top: hb-calculate-rems(8px);
    }
  }

  &::before {
    content: '';
    display: inline-block;
    margin-right: hb-calculate-rems(6px);
    background-color: var(--palette--secondary);
    border-radius: 0;

    position: absolute;
    left: 0;
  }

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    color: var(--palette--white);
  }
}

@mixin hb-category-link {
  text-decoration: none;
  border-bottom: $hb-thin-border;
  border-color: transparent;
  transition: hb-transition(border-color);
  background-image: none;
  line-height: 134%; // Increase the line height to override the hb-subheading mixin on line 2. This will allow the hover state of links to display as expected.

  @include hb-themes(('airy', 'colorful')) {
    color: var(--palette--black);

    &:hover,
    &:focus {
      border-color: var(--palette--black);
    }
  }

  @include hb-traditional {
    color: var(--palette--gray-dark);

    &:hover,
    &:focus {
      border-color: var(--palette--primary);
    }

    // Warbler color pairing override.
    .ht-pairing-warbler & {
      color: var(--palette--gray-dark);

      &:hover, &:focus {
        color: var(--palette--black);
      }
    }
  }

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    color: var(--palette--white);
    border-color: transparent;
  }

  &:hover,
  &:focus {
    color: var(--palette--black);
  }
}

@mixin hb-pill($link: true) {
  display: inline-block;
  font-size: hb-calculate-rems(14px);
  text-decoration: none;
  transition: hb-transition(background-color);
  margin-bottom: hb-calculate-rems(5px);

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    color: var(--palette--gray-dark) !important;
  }

  @include hb-themes(('colorful', 'airy')) {
    background-color: var(--palette--tertiary-highlight-darken-10);
    color: var(--palette--gray-dark);
    padding: hb-calculate-rems(1px) hb-calculate-rems(12px);
    border-radius: hb-calculate-rems(13px);
    border: 2px solid transparent;
  }

  @include hb-traditional {
    background-color: var(--palette--secondary-highlight);
    color: var(--palette--gray-dark);
    padding: hb-calculate-rems(1px) hb-calculate-rems(6px);
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;
  }

  @if $link {
    @include hb-ext-icon-color('black');
    background-image: none;

    @include hb-themes(('colorful', 'airy')) {
      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        border-color: transparent;
      }
    }

    &:focus,
    &:hover {
      @include hb-themes(('colorful', 'airy')) {
        border-color: var(--palette--tertiary-highlight-darken-10);
        background-color: var(--palette--white);
      }

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        border-color: transparent;
      }

      @include hb-traditional {
        background-color: var(--palette--secondary-highlight-darken);
      }
    }
  }
}
