@mixin hb-input-border {
  border: $hb-thin-border;
  @include hb-global-color('border-color', 'gray');

  @include hb-themes(('colorful', 'airy')) {
    border-radius: $hb-border-radius;
  }

  @include hb-traditional {
    // Need this to override Chosen JS
    border-radius: 0;
  }
}

/* @TODO: SHS-138
   This violates accessibility patterns and should be deprecated
   and removed with the updated focus mixin. */
@mixin hb-input-focus {
  @include hb-global-color('background-color', 'white');
  box-shadow: none;
  outline: none;

  @include hb-themes(('colorful', 'airy')) {
    @include hb-pairing-color('border-color', 'secondary-active');
  }

  @include hb-traditional {
    @include hb-global-color('border-color', 'gray-dark');
  }
}

@mixin hb-focus {
  @include hb-pairing-color('outline-color', 'primary');

  outline-width: hb-calculate-rems(3px);
  outline-style: solid;
  outline-offset: hb-calculate-rems(1px);
}
