// This mixin could use some additional work to DRY up the code.
@mixin hb-icon-background($icon, $color) {
  @include hb-themes(('colorful', 'airy')) {
    @if (map-has-key($hc-colorful-globals, $color)) {
      $icon-color: hb-get-global-color($color, $hc-colorful-globals);

      background-image: svg(hc-get-icons($icon, $icon-color));
    } @else {
      $icon-color: hb-get-pairing-color($color, $hb-colorful-default, $hc-colorful-pairings);
      background-image: svg(hc-get-icons($icon, $icon-color));

      .hc-pairing-ocean & {
        $icon-color: hb-get-pairing-color($color, 'ocean', $hc-colorful-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-mountain & {
        $icon-color: hb-get-pairing-color($color, 'mountain', $hc-colorful-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-cardinal & {
        $icon-color: hb-get-pairing-color($color, 'cardinal', $hc-colorful-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-lake & {
        $icon-color: hb-get-pairing-color($color, 'lake', $hc-colorful-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-canyon & {
        $icon-color: hb-get-pairing-color($color, 'canyon', $hc-colorful-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-cliff & {
        $icon-color: hb-get-pairing-color($color, 'cliff', $hc-colorful-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }
    }
  }

  @include hb-traditional {
    @if (map-has-key($ht-traditional-globals, $color)) {
      $icon-color: hb-get-global-color($color, $ht-traditional-globals);

      background-image: svg(hc-get-icons($icon, $icon-color));
    } @else {
      $icon-color: hb-get-pairing-color($color, $hb-traditional-default, $ht-traditional-pairings);
      background-image: svg(hc-get-icons($icon, $icon-color));

      .ht-pairing-cardinal & {
        $icon-color: hb-get-pairing-color($color, 'cardinal', $ht-traditional-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .ht-pairing-bluejay & {
        $icon-color: hb-get-pairing-color($color, 'bluejay', $ht-traditional-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .ht-pairing-warbler & {
        $icon-color: hb-get-pairing-color($color, 'warbler', $ht-traditional-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }

      .ht-pairing-firefinch & {
        $icon-color: hb-get-pairing-color($color, 'firefinch', $ht-traditional-pairings);
        background-image: svg(hc-get-icons($icon, $icon-color));
      }
    }
  }
}

// The external link icon base implementation which sets the sizing and spacing.
// This has two use cases.
// It is used alongside the hb-link--inline mixin when an external icon is needed. The WYSIWYG hs-external-link class is an example of this.
// And within the fa-ext class in block-layout.scss to add an external link icon.
@mixin hb-external-link-icon {
  margin-right: hb-calculate-rems(2px);
  position: relative;

  &::after {
    content: '';
    @include hb-icon-background('ext-link', 'tertiary');
    display: inline-block;
    position: relative;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: hb-calculate-rems(11px);
    height: hb-calculate-rems(20px);
    width: hb-calculate-rems(11px);
    margin-bottom: hb-calculate-rems(-5px);
    padding-left: hb-calculate-rems(15px);
  }

  &:hover::after,
  &:focus::after {
    @include hb-icon-background('ext-link', 'tertiary-darken-20');
  }

  .hb-dark-pattern & {
    &::after {
      @include hb-themes(('colorful', 'airy')) {
        @include hb-icon-background('ext-link', 'tertiary-reversed');
      }

      @include hb-traditional {
        @include hb-icon-background('ext-link', 'tertiary-highlight');
      }
    }

    &:hover::after,
    &:focus::after {
      @include hb-themes(('colorful', 'airy')) {
        @include hb-icon-background('ext-link', 'tertiary-highlight');
      }

      @include hb-traditional {
        @include hb-icon-background('ext-link', 'tertiary-highlight-darken-10');
      }
    }
  }
}

// Return a specific color of the fa-ext icon
// This mixin can be used to trigger the icon to change colors when the
// containing element it is associated with changes state (such as hover and/or focus).
@mixin hb-ext-icon-color($color) {
  .fa-ext::after {
    @include hb-icon-background('ext-link', $color);
    background-repeat: no-repeat;
    background-position: center right;
  }
}

@mixin hb-icon-link-arrow($color: 'black') {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 55%;

  @include hb-themes(('airy', 'colorful')) {
    @include hb-icon-background('arrow-right', $color);
  }

  @include hb-traditional {
    @include hb-icon-background('arrow-right-long', $color);
  }
}

@mixin hb-icon-link-arrow-box-shadow($color: 'black') {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 55%;

  @include hb-themes(('airy', 'colorful')) {
    @include hb-icon-background('arrow-right-box-shadow', $color);
    filter: drop-shadow(hb-calculate-rems(1.75px) hb-calculate-rems(2px) 0 hb-get-global-color('black', $hc-colorful-globals));
  }

  @include hb-traditional {
    @include hb-icon-background('arrow-right-long-box-shadow', $color);
    filter: drop-shadow(hb-calculate-rems(1.75px) hb-calculate-rems(2px) 0 hb-get-global-color('black', $ht-traditional-globals));
  }
}

@mixin hb-icon-calendar($color: 'black') {
  @include hb-icon-background('calendar', $color);
  background-repeat: no-repeat;
  background-position: top left;
}

@mixin hb-icon-location($color: 'black') {
  @include hb-icon-background('location', $color);
  background-repeat: no-repeat;
  background-position: top left;
}

@mixin hb-icon-speaker($color: 'black') {
  @include hb-icon-background('speaker', $color);
  background-repeat: no-repeat;
  background-position: top left;
}

@mixin hb-icon-ellipse($color: 'black') {
  @include hb-icon-background('ellipse', $color);
  background-repeat: no-repeat;
  background-position: top left;
}

@mixin hb-icon-ellipse-border($color: 'black') {
  @include hb-icon-background('ellipse-border', $color);
  background-repeat: no-repeat;
  background-position: top left;
}

@mixin hb-fa-mailto-icon {
  span.fa-mailto {
    margin-left: hb-calculate-rems(4px);

    span.fa-envelope {
      @include hb-pairing-color('color', 'tertiary');
    }
  }

  &:hover,
  &:focus {
    span.fa-mailto {
      span.fa-envelope {
        @include hb-pairing-color('color', 'tertiary-darken-20');
      }
    }
  }
}
