@mixin hb-category-item {
  @include hb-subheading;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 0 hb-calculate-rems(12px) hb-calculate-rems(5px);
  padding: 0;

  &::before {
    content: '';
    display: inline-block;
    height: hb-calculate-rems(12px);
    width: hb-calculate-rems(3px);
    margin-right: hb-calculate-rems(6px);
    @include hb-pairing-color('background-color', 'secondary');
    border-radius: 0;

    position: absolute;
    left: hb-calculate-rems(-12px);
    top: hb-calculate-rems(4px);
  }
}

@mixin hb-category-link {
  @include hb-global-color('color', 'black');
  text-decoration: none;
  border-bottom: $hb-thin-border;
  border-color: transparent;
  transition: 100ms ease-in-out;
  background-image: none;

  &:hover,
  &:focus {
    @include hb-global-color('color', 'black');
    @include hb-global-color('border-color', 'black');
  }
}

@mixin hb-pill($link: true) {
  @include hb-pairing-color('background-color', 'secondary-active');
  @include hb-global-color('color', 'black');
  display: inline-block;
  font-size: hb-calculate-rems(14px);
  padding: hb-calculate-rems(1px) hb-calculate-rems(12px);
  text-decoration: none;
  border-radius: hb-calculate-rems(13px);
  border: 2px solid transparent;
  transition: background-color $hb-animation-duration $hb-animation-timing-function;

  @if $link {
    @include hb-ext-icon-color('black');
    background-image: none;

    &:focus,
    &:hover {
      @include hb-pairing-color('border-color', 'secondary-active');
      @include hb-global-color('background-color', 'white');
    }
  }
}
