// This removes styles added by default to button elements.
// For when something should semantically be a button,
// but isn't buttony in appearance.
@mixin hb-unbuttonize {
  background-color: transparent;
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
  text-decoration: none;
}

@mixin hb-button-base {
  @include hb-unbuttonize;
  display: inline-block;
  width: auto;
  font-weight: hb-theme-font-weight(semibold);
  font-size: hb-calculate-rems(16px);
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  border-width: hb-calculate-rems(2px);
  border-style: solid;
  transition: hb-transition(background-color), hb-transition(border-color);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
    background-image: none;
    outline: none;
  }

  @include hb-themes(('colorful', 'airy')) {
    font-family: $hb-colorful-font--sans;
    border-radius: $hb-button-border-radius;
    padding: hb-calculate-rems(4px) hb-calculate-rems(20px);
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--sans;
    padding: hb-calculate-rems(6px) hb-calculate-rems(26px);
  }
}

@mixin hb-button {
  @include hb-button-base;
  @include hb-global-color('color', 'white');
  @include hb-pairing-color('background-color', 'secondary');
  @include hb-pairing-color('border-color', 'secondary');

  &:hover {
    @include hb-pairing-color('background-color', 'secondary-darken-12');
    @include hb-pairing-color('border-color', 'secondary-darken-12');
    @include hb-global-color('color', 'white');
  }

  &:active,
  &:focus {
    @include hb-pairing-color('background-color', 'secondary');
    @include hb-global-color('border-color', 'white');
    @include hb-global-color('color', 'white');
  }

  @include hb-themes(('colorful', 'airy')) {
    &:active,
    &:focus {
      box-shadow: 0 0 0 hb-calculate-rems(2px) hb-get-pairing-color('secondary-active', $hb-colorful-default, $hc-colorful-pairings);
      box-shadow: 0 0 0 hb-calculate-rems(2px) var(--palette--secondary-active);
    }
  }

  @include hb-traditional {
    &:active,
    &:focus {
      box-shadow: 0 0 0 hb-calculate-rems(1px) hb-get-pairing-color('secondary-active', $hb-traditional-default, $ht-traditional-pairings);
      box-shadow: 0 0 0 hb-calculate-rems(1px) var(--palette--secondary-active);
    }
  }

  .hc-pairing-ocean & {
    @include hb-pairing-color('background-color', 'secondary-darken-12');
    @include hb-pairing-color('border-color', 'secondary-darken-12');

    &:hover {
      @include hb-pairing-color('background-color', 'primary-dark');
      @include hb-pairing-color('border-color', 'primary-dark');
    }
  }
}

@mixin hb-big-button {
  @include hb-button;
  font-size: hb-calculate-rems(18px);
  border-width: hb-calculate-rems(3px);

  @include hb-themes(('colorful', 'airy')) {
    padding: hb-calculate-rems(8px) hb-calculate-rems(20px);
  }

  @include hb-traditional {
    padding: hb-calculate-rems(8px) hb-calculate-rems(35px);
  }
}

@mixin hb-secondary-button {
  @include hb-button-base;
  @include hb-pairing-color('border-color', 'secondary');
  @include hb-pairing-color('color', 'secondary');

  &:hover {
    @include hb-global-color('color', 'white');
    @include hb-pairing-color('background-color', 'secondary');
    @include hb-pairing-color('border-color', 'secondary');
  }

  &:active,
  &:focus {
    background-color: transparent;
    @include hb-pairing-color('color', 'secondary');
    box-shadow: 0 0 0 hb-calculate-rems(2px) hb-get-global-color('white', $hc-colorful-globals), 0 0 0 hb-calculate-rems(4px) hb-get-pairing-color('secondary-active', $hb-colorful-default, $hc-colorful-pairings);
    box-shadow: 0 0 0 hb-calculate-rems(2px) hb-get-global-color('white', $hc-colorful-globals), 0 0 0 hb-calculate-rems(4px) var(--palette--secondary-active);
  }

  @include hb-traditional {
    border-width: hb-calculate-rems(1px);

    &:hover {
      @include hb-global-color('color', 'white');
      @include hb-pairing-color('background-color', 'secondary');
    }

    &:active,
    &:focus {
      outline: hb-calculate-rems(2px) solid;
      @include hb-global-color('outline-color', 'white');
      box-shadow: 0 0 0 hb-calculate-rems(3px) hb-get-pairing-color('secondary-active', $hb-traditional-default, $ht-traditional-pairings);
      box-shadow: 0 0 0 hb-calculate-rems(3px) var(--palette--secondary-active);
    }
  }

  .hb-dark-pattern & {
    &:hover {
      background-color: transparent;
    }

    &:active,
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    @include hb-themes(('colorful', 'airy')) {
      @include hb-pairing-color('color', 'tertiary-reversed');
      @include hb-pairing-color('border-color', 'tertiary-reversed');

      &:hover,
      &:active,
      &:focus {
        @include hb-pairing-color('color', 'secondary-highlight');
        @include hb-pairing-color('border-color', 'secondary-highlight');
      }
    }

    @include hb-traditional {
      @include hb-pairing-color('color', 'tertiary-highlight');
      @include hb-pairing-color('border-color', 'tertiary-highlight');

      &:hover,
      &:active,
      &:focus {
        @include hb-pairing-color('color', 'tertiary-highlight-darken-10');
        @include hb-pairing-color('border-color', 'tertiary-highlight-darken-10');
      }
    }
  }

  .hc-pairing-ocean & {
    @include hb-pairing-color('border-color', 'secondary-darken-12');
    @include hb-pairing-color('color', 'secondary-darken-12');

    &:hover {
      @include hb-global-color('color', 'white');
      @include hb-pairing-color('background-color', 'secondary-darken-12');
    }
  }
}

@mixin hb-reset-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;

  line-height: 1;
  min-height: auto;

  @include hb-pairing-color('color', 'secondary');

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    @include hb-pairing-color('color', 'tertiary-reversed');
  }

  &:hover {
    @include hb-pairing-color('color', 'secondary-darken-12');

    .hb-dark-pattern &,
    .hb-dark-inversion .views-element-container & {
      @include hb-pairing-color('color', 'tertiary-highlight');
    }
  }

  &:focus {
    border-bottom-color: transparent;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  @include hb-themes(('colorful', 'airy')) {
    padding: hb-calculate-rems(4px) 0;
    border-bottom: $hb-thin-border;
    @include hb-pairing-color('border-bottom-color', 'secondary');

    .hb-dark-pattern &,
    .hb-dark-inversion .views-element-container & {
      @include hb-pairing-color('border-bottom-color', 'tertiary-reversed');
    }

    &:hover {
      @include hb-pairing-color('border-bottom-color', 'secondary-darken-12');

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        @include hb-pairing-color('border-bottom-color', 'tertiary-highlight');
      }
    }
  }

  @include hb-traditional {
    text-decoration: underline;
    line-height: 1.4;
    border: $hb-thin-border;
    border-color: transparent;
    padding: hb-calculate-rems(3px) hb-calculate-rems(6px);

    &:focus,
    &:active {
      @include hb-pairing-color('border-color', 'secondary');
      box-shadow: none;
    }
  }
}
