@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin visually-hidden($status:null) {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;

  @if $status == 'disable' {
    position: static;
    clip: auto;
    height: auto;
    width: auto;
    overflow: visible;
  }
}

// Adds a background box pseudo element
// You can choose the color and height
// Remember to add position: relative to the parent element
@mixin psuedo-background-box($color, $height: 100%, $width: 100%) {
  content: ' ';
  position: absolute;
  height: $height;
  width: $width;

  @include hb-colorful {
    @include hb-pairing-color('background-color', $color);
  }
}

@mixin hb-unordered-list {
  @include hb-colorful {
    list-style-type: none;
    margin: 0 0 hb-calculate-rems(24px);

    li {
      position: relative;
      line-height: 122%;
      padding-bottom: hb-calculate-rems(10px);

      &::before {
        content: '';
        display: block;
        height: hb-calculate-rems(6px);
        width: hb-calculate-rems(6px);
        border-radius: 50%;
        @include hb-pairing-color('background-color', 'secondary');

        position: absolute;
        left: hb-calculate-rems(-18px);
        top: hb-calculate-rems(8px);

        .hb-local-footer--dark & {
          @include hb-pairing-color('background-color', 'secondary-highlight');
        }
      }
    }
  }
}

@mixin hb-ordered-list {
  @include hb-colorful {
    counter-reset: li;
    list-style-type: none;
    margin: 0 0 hb-calculate-rems(24px);

    li {
      position: relative;
      line-height: 122%;
      padding-bottom: hb-calculate-rems(10px);

      &::before {
        content: counter(li) '.';
        counter-increment: li;
        font-size: hb-calculate-rems(16px);
        font-weight: hb-theme-font-weight(semibold);
        @include hb-pairing-color('color', 'secondary');

        position: absolute;
        left: hb-calculate-rems(-18px);

        .hb-local-footer--dark & {
          @include hb-pairing-color('color', 'secondary-highlight');
        }
      }
    }
  }
}
