// Table
@mixin table {
  // DO NOT set display: block; on a table
  // Tables need display: table; in order to semantically be a table
  // display: block; will negatively affect screen reader a11y
  width: 100%;
  border-collapse: collapse;
  font-size: hb-calculate-rems(13px);
  text-align: left;
  border: $hb-thin-border;
  border-color: var(--palette--gray-medium);

  .hb-dark-pattern & {
    color: var(--palette--black);
    background-color: var(--palette--white);
  }

  @include grid-media-min('sm') {
    font-size: hb-calculate-rems(16px);
  }
}

// Table Column Heading
@mixin table-heading {
  position: sticky;
  top: 0;
  border-color: var(--palette--white);

  a,
  a:not([class]) {
    color: var(--palette--white);
    background-image: none;

    &:hover,
    &:focus {
      color: var(--palette--secondary-highlight);
      box-shadow: none;
    }
  }
}

// Table Rows
@mixin table-head-row {
  text-transform: uppercase;
  // set themed color for header background color table variable
  background-color: var(--palette--primary);
  color: var(--palette--white);

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    @include hb-themes(('colorful', 'airy')) {
      background-color: var(--palette--secondary-darken-12);
    }
    
    @include hb-traditional {
      background-color: var(--palette--primary);
    }
  }

  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(bold);
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
  }
}

@mixin table-row {
  background-color: var(--palette--gray-light);
}

// Table Data
@mixin table-data {
  padding: hb-calculate-rems(16px);
  vertical-align: top;
  border: $hb-thin-border;
  border-color: var(--palette--gray-medium);

  a {
    &:hover,
    &:focus {
      @include hb-ext-icon-color('tertiary-darken-20');
    }
  }
}
