@mixin button-style {
  @include unbuttonize;
  display: inline-block;
  padding: 0 hb-calculate-rems(20px);
  font-weight: hb-theme-font-weight(semibold);
  text-align: center;
  border-width: hb-calculate-rems(2px);
  border-style: solid;
  @include hb-global-color('color', 'white', $important: true);
  @include hb-pairing-color('background-color', 'secondary');
  @include hb-pairing-color('border-color', 'secondary');
  transition: 125ms background-color ease-out, 125ms border-color ease-out;

  &:hover,
  &:focus {
    cursor: pointer;
    @include hb-pairing-color('background-color', 'secondary-darken-12');
    @include hb-pairing-color('border-color', 'secondary-darken-12');
  }

  &:active,
  &:focus {
    @include hb-pairing-color('background-color', 'secondary');
    @include hb-global-color('border-color', 'white');
  }

  @include hb-themes(('colorful', 'airy')) {
    font-family: $hb-colorful-font--sans;
    border-radius: $hb-button-border-radius;

    &:hover,
    &:focus {
      background-image: none;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 hb-calculate-rems(2px) hb-get-pairing-color('secondary-active', $hb-colorful-default, $hc-colorful-pairings);
      box-shadow: 0 0 0 hb-calculate-rems(2px) var(--palette--secondary-active);
      background-image: none;
    }
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--sans;
  }
}

// This removes styles added by default to button elements.
// For when something should semantically be a button,
// but isn't buttony in appearance.
@mixin unbuttonize {
  background-color: transparent;
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
  text-decoration: none;
}

@mixin hb-border-button($button-color, $button-color-hover) {
  display: inline-block;
  background-color: transparent;
  border-radius: hb-calculate-rems(42px);
  font-weight: hb-theme-font-weight(semibold);
  padding: hb-calculate-rems(12px);
  text-decoration: none;
  text-align: center;
  transition: all 200ms ease-in-out;
  @include hb-pairing-color('color', $button-color);
  @include hb-pairing-color('border-color', $button-color);
  border-width: 3px;
  border-style: solid;

  &:hover,
  &:focus {
    @include hb-pairing-color('border-color', $button-color-hover);
    @include hb-pairing-color('color', $button-color-hover);
    box-shadow: none;
  }
}
