@mixin hb-external-link-icon {
  margin-right: hb-calculate-rems(20px);

  @include hb-colorful {
    $hb-lighten-color--primary: lighten(hb-colorful-variation(primary), 10%);
    $hb-color--primary: hb-colorful-variation(primary);
    position: relative;

    &::before {
      content: '';
      background: svg('<svg viewBox="0 0 12 12"><path d="M11.273 5.818v5.455H.727V.727h5.091m1.455 0h4v4m0-4L6.182 5.818" fill="transparent" stroke="#{$hb-lighten-color--primary}" stroke-width="2" stroke-miterlimit="10"/></svg>') center center no-repeat;
      height: hb-calculate-rems(11px);
      width: hb-calculate-rems(11px);
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: hb-calculate-rems(4px);
      right: hb-calculate-rems(-18px);
    }

    &:hover::before,
    &:focus::before {
      background: svg('<svg viewBox="0 0 12 12"><path d="M11.273 5.818v5.455H.727V.727h5.091m1.455 0h4v4m0-4L6.182 5.818" fill="transparent" stroke="#{$hb-color--primary}" stroke-width="2" stroke-miterlimit="10"/></svg>') center center no-repeat;
    }
  }
}

@mixin hb-icon-link-arrow($color: $hb-color--black) {
  background: no-repeat left / 55% svg('<svg viewBox="0 0 23 24"><path fill="#{$color}" d="M11 23l-2-2 7-7H0v-3h16L9 3l2-2 10 10 1 1-11 11z"/></svg>');
}
