// Table
@mixin table {
  // DO NOT set display: block; on a table
  // Tables need display: table; in order to semantically be a table
  // display: block; will negatively affect screen reader a11y
  width: 100%;
  border-collapse: collapse;
  font-size: hb-calculate-rems(13px);
  text-align: left;
  border: $hb-thin-border;
  @include hb-global-color('border-color', 'gray-medium');

  .hb-dark-pattern & {
    @include hb-global-color('color', 'black');
    @include hb-global-color('background-color', 'white');
  }

  @include grid-media-min('sm') {
    font-size: hb-calculate-rems(16px);
  }
}

// Table Column Heading
@mixin table-heading {
  position: sticky;
  top: 0;
  @include hb-global-color('border-color', 'white');

  a,
  a:not([class]) {
    @include hb-global-color('color', 'white');
    background-image: none;

    &:hover,
    &:focus {
      @include hb-pairing-color('color', 'secondary-highlight');
      box-shadow: none;
    }
  }
}

// Table Rows
@mixin table-head-row {
  text-transform: uppercase;

  // set themed color for header background color table variable
  @include hb-pairing-color('background-color', 'primary');
  @include hb-global-color('color', 'white');

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    @include hb-themes(('colorful', 'airy')) {
      @include hb-pairing-color('background-color', 'secondary-darken-12');
    }

    @include hb-traditional {
      @include hb-pairing-color('background-color', 'primary');
    }
  }

  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(bold);
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
  }
}

@mixin table-row {
  @include hb-global-color('background-color', 'gray-light');
}

// Table Data
@mixin table-data {
  padding: hb-calculate-rems(16px);
  vertical-align: top;
  border: $hb-thin-border;
  @include hb-global-color('border-color', 'gray-medium');

  a {
    &:hover,
    &:focus {
      @include hb-ext-icon-color('tertiary-darken-20');
    }
  }
}
