@mixin hb-block-heading {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(24px);
    line-height: 120%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(27px);
      line-height: 117%;
    }
  }
}

@mixin hb-heading-1 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(38px);
    line-height: 112%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(48px);
    }
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(58px);
    line-height: 117%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(40px);
      line-height: 127%;
    }
  }
}

@mixin hb-heading-2 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(32px);
    line-height: 112%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(38px);
    }
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(48px);
    line-height: 112%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(33px);
      line-height: 125%;
    }
  }
}

@mixin hb-heading-3 {
  @include hb-themes(('colorful', 'airy')) {
    @include hb-block-heading;
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(38px);
    line-height: 110%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(27px);
      line-height: 109%;
    }
  }
}

@mixin hb-heading-4 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(20px);
    line-height: 122%;
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(32px);
    line-height: 121%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(22px);
    }
  }
}

@mixin hb-heading-5 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(18px);
    line-height: 124%;
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(20px);
    line-height: 117%;
  }
}

@mixin hb-heading-6 {
  text-transform: uppercase;

  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(16px);
    line-height: 128%;
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(16px);
    line-height: 117%;
  }
}

@mixin hb-subtitle {
  font-weight: hb-theme-font-weight(semibold);
  line-height: 122%;
  font-size: hb-calculate-rems(16px);

  @include grid-media-min('lg') {
    font-size: hb-calculate-rems(18px);
  }
}

@mixin hb-subheading {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(15px);
    line-height: 131%;
  }

  @include hb-traditional {
    text-transform: uppercase;
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(15px);
    line-height: 131%;
  }
}

@mixin hb-body--small {
  font-weight: hb-theme-font-weight(regular);
  font-size: hb-calculate-rems(16px);
  line-height: 122%;
}

@mixin hb-body--medium {
  font-weight: hb-theme-font-weight(regular);
  font-size: hb-calculate-rems(18px);
  line-height: 127%;
}

@mixin hb-link--hover-style($box-shadow-color, $border-color) {
  margin-bottom: 0.0625em;
  text-decoration: none;
  transition-delay: 0s, 100ms;
  transition: box-shadow 100ms, border-bottom-color 0s;

  &:hover,
  &:focus {
    transition-delay: 0s, 0s;
    border-bottom-color: $border-color;
  }

  @include hb-themes(('colorful', 'airy')) {
    &:hover,
    &:focus {
      @include hb-pairing-color('border-bottom-color', $border-color);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 hb-get-pairing-color($box-shadow-color, $hb-colorful-default, $hc-colorful-pairings);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 var(--palette--#{$box-shadow-color});
    }
  }

  @include hb-traditional {
    &:hover,
    &:focus {
      @include hb-pairing-color('border-bottom-color', $border-color);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 hb-get-pairing-color($box-shadow-color, $hb-traditional-default, $ht-traditional-pairings);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 var(--palette--#{$box-shadow-color});
    }
  }
}

// Link style for headings
@mixin hb-link {
  // no font size by default
  @include hb-global-color('color', 'black');
  font-weight: hb-theme-font-weight(semibold);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  @include hb-global-color('border-bottom-color', 'gray-medium');
  @include hb-link--hover-style('tertiary-highlight', 'tertiary-reversed');
}

// Link style for main content that is not a heading
@mixin hb-link--inline($icon: false) {
  // no font size by default
  background-size: 100% 200%;
  background-position-y: -100%;
  background-repeat: no-repeat;

  // TODO need a mixin or function for all this
  @include hb-themes(('colorful', 'airy')) {
    @include hb-pairing-color('color', 'tertiary');
    // For links without an icon
    // Fallback for IE
    background-image: linear-gradient(to top, transparent 50%, hb-get-pairing-color('tertiary-highlight', $hb-colorful-default, $hc-colorful-pairings) 50%);

    // Color Pairing Custom Variable
    background-image: linear-gradient(to top, transparent 50%, var(--palette--tertiary-highlight) 50%);

    // For links with an icon
    // Changes the value passed into background-image to
    // create space for the external link space to exist
    @if $icon {
      // Fallback for IE
      background-image: linear-gradient(to left, transparent 16px, hb-get-pairing-color('tertiary-highlight', $hb-colorful-default, $hc-colorful-pairings) 16px);

      // Color Pairing Custom Variable
      background-image: linear-gradient(to left, transparent 16px, var(--palette--tertiary-highlight) 16px);
    }
  }

  @include hb-traditional {
    @include hb-pairing-color('color', 'tertiary');
    // For links without an icon
    // Fallback for IE
    background-image: linear-gradient(to top, transparent 50%, hb-get-pairing-color('tertiary-highlight', $hb-traditional-default, $ht-traditional-pairings) 50%);

    // Color Pairing Custom Variable
    background-image: linear-gradient(to top, transparent 50%, var(--palette--tertiary-highlight) 50%);

    // For links with an icon
    // Changes the value passed into background-image to
    // create space for the external link space to exist
    @if $icon {
      // Fallback for IE
      background-image: linear-gradient(to left, transparent 16px, hb-get-pairing-color('tertiary-highlight', $hb-traditional-default, $ht-traditional-pairings) 16px);

      // Color Pairing Custom Variable
      background-image: linear-gradient(to left, transparent 16px, var(--palette--tertiary-highlight) 16px);
    }
  }

  &:hover,
  &:focus {
    @include hb-pairing-color('color', 'tertiary-darken-20');
    background-position-y: -50%;
  }

  .hb-local-footer & {
    &:focus,
    &:hover {
      background-image: none;
    }
  }

  .hb-local-footer--dark & {
    @include hb-pairing-color('color', 'tertiary-reversed');

    &:hover,
    &:focus {
      @include hb-pairing-color('color', 'tertiary-highlight', $important: true);
    }
  }
}

@mixin hb-blockquote {
  @include hb-body--medium;
  font-style: italic;
  line-height: 140%;
  position: relative;
  quotes: '"' '"';
  @include hb-global-color('color', 'gray-dark');

  &::before {
    position: absolute;
    content: open-quote;
    margin-left: -10px;
  }

  &::after {
    position: absolute;
    content: close-quote;
    margin-right: 10px;
  }
}

@mixin hb-field-label {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: hb-calculate-rems(4px);
  @include hb-global-color('color', 'black');

  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(bold);
    font-size: hb-calculate-rems(15px);
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(14px);
  }
}

@mixin hb-field-label--featured {
  font-size: hb-calculate-rems(16px);
  font-style: normal;
  text-transform: inherit;
  @include hb-pairing-color('color', 'secondary');

  .hb-well & {
    @include hb-pairing-color('color', 'secondary-darken-12', $important: true);
  }
}

@mixin hb-descriptor {
  @include hb-global-color('color', 'gray-dark');
  font-size: hb-calculate-rems(16px);

  @include grid-media-min('lg') {
    font-size: hb-calculate-rems(18px);
  }
}
