// Link hover style for certain elements
@mixin hb-link--hover-style($box-shadow-color, $border-color) {
  margin-bottom: 0.0625em;
  text-decoration: none;
  transition: box-shadow 100ms 0s, border-bottom-color 0s 100ms;

  &:hover,
  &:focus {
    transition-delay: 0s, 0s;
    border-bottom-color: $border-color;
  }

  @include hb-themes(('colorful', 'airy')) {
    &:hover,
    &:focus {
      @include hb-pairing-color('border-bottom-color', $border-color);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 hb-get-pairing-color($box-shadow-color, $hb-colorful-default, $hc-colorful-pairings);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 var(--palette--#{$box-shadow-color});
    }
  }

  @include hb-traditional {
    &:hover,
    &:focus {
      @include hb-pairing-color('border-bottom-color', $border-color);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 hb-get-pairing-color($box-shadow-color, $hb-traditional-default, $ht-traditional-pairings);
      box-shadow: inset 0 hb-calculate-rems(-14px) 0 var(--palette--#{$box-shadow-color});
    }
  }
}

// Link style for headings
@mixin hb-link {
  // no font size by default
  @include hb-global-color('color', 'black');
  font-weight: hb-theme-font-weight(semibold);

  @include hb-themes(('colorful', 'airy')) {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    @include hb-global-color('border-bottom-color', 'gray-medium');
    @include hb-link--hover-style('tertiary-highlight', 'tertiary-highlight-darken-10');

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        @include hb-pairing-color('border-bottom-color', 'tertiary-highlight');
        box-shadow: none;
        background-position-y: bottom;
      }
    }
  }

  @include hb-traditional {
    text-decoration: underline;
    transition: hb-transition(text-decoration-color);
    @include hb-global-color('text-decoration-color', 'gray-medium');

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');
      background-image: none;
      @include hb-pairing-color('text-decoration-color', 'primary');
    }
  }
}

@mixin hb-heading-link-color {
  @include hb-pairing-color('color', 'tertiary');

  &:hover,
  &:focus {
    @include hb-pairing-color('color', 'tertiary-darken-20');
  }

  @include hb-themes(('colorful', 'airy')) {
    border-bottom-color: inherit;
  }

  @include hb-traditional {
    @include hb-pairing-color('text-decoration-color', 'tertiary');
    transition: hb-transition(all); // set the color and text-decoration-color to transition together on hover

    &:hover,
    &:focus {
      @include hb-pairing-color('text-decoration-color', 'tertiary-darken-20');
    }

    .hb-dark-inversion & {
      text-decoration-color: inherit;
    }
  }
}

// Link style for main content that is not a heading
// The default $icon-width is set for the width of external link icons
@mixin hb-link--inline($icon: false, $icon-width: 16px, $icon-position: right) {
  // no font size by default
  @include hb-pairing-color('color', 'tertiary');

  &:hover,
  &:focus {
    @include hb-pairing-color('color', 'tertiary-darken-20');
  }

  @include hb-themes(('colorful', 'airy')) {
    @include hb-link-background-image($icon, $icon-width, $icon-position, $hb-colorful-default, $hc-colorful-pairings);
    background-size: 100% 200%;
    background-position-y: -102%;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position-y: -50%;

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        @include hb-pairing-color('border-bottom-color', 'tertiary-highlight');
        box-shadow: none;
        background-position-y: bottom;
      }
    }

    .hb-vertical-linked-card__description & {
      @include hb-colorful {
        @include hb-global-color('color', 'white');
        background-image: none;
      }

      :hover,
      :focus {
        @include hb-colorful {
          @include hb-global-color('color', 'gray-medium');
        }
      }
    }
  }

  @include hb-traditional {
    background-image: none;

    // It is very difficult to override links for a specific color scheme without clobbering things like titles, labels, and buttons that are styled differently.
    #main-content .body &,
    .text-long:not(.field-hs-postcard-body) &,
    .field-hs-person-links &,
    .field-hs-publication-link &,
    .field-hs-news-link &,
    .field-hs-event-map-link &,
    .field-speaker-person &,
    .field-hs-person-external-profile &,
    .field-hs-person-cv-link &,
    .field-hs-person-email &,
    .hb-card__subcontent &,
    .hb-table-wrap &,
    .hb-columns &,
    .hb-timeline-item__heading &,
    .views-field:not(.views-field-title):not(.views-field-edit-node):not(.views-field-field-hs-event-series):not(.views-field-field-hs-news-categories):not(.views-field-field-hs-person-research) :not(.hs-button) & {
      .ht-pairing-warbler & {
        @include hb-pairing-color('color', 'secondary');

        &:hover,
        &:focus {
          @include hb-pairing-color('color', 'tertiary');
        }
      }
    }
  }

  .hb-local-footer & {
    background-image: none;

    &:hover,
    &:focus {
      @include hb-pairing-color('color', 'tertiary-darken-20');
      background-image: none;
    }
  }

  .hb-local-footer.hb-dark-pattern & {
    @include hb-colorful {
      @include hb-global-color('color', 'white');
    }
  }

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    @include hb-themes(('colorful', 'airy')) {
      @include hb-pairing-color('color', 'tertiary-reversed');
      @include hb-pairing-color('border-bottom-color', 'tertiary-reversed');
    }

    @include hb-traditional {
      @include hb-pairing-color('color', 'tertiary-highlight');
    }

    &:hover,
    &:focus {
      @include hb-themes(('colorful', 'airy')) {
        @include hb-pairing-color('color', 'tertiary-highlight');
        @include hb-ext-icon-color('tertiary-highlight');
      }

      @include hb-traditional {
        @include hb-pairing-color('color', 'tertiary-highlight-darken-10');
        @include hb-ext-icon-color('tertiary-highlight-darken-10');
        @include hb-pairing-color('text-decoration-color', 'tertiary-highlight-darken-10');
      }
    }
  }

  .hc-pairing-ocean .hb-well & {
    @include hb-pairing-color('color', 'primary');
  }
}

// More Link Styles
// For Traditional Theme, this is used on cards in combination with a long arrow
@mixin hb-more-link {
  font-size: hb-calculate-rems(18px);
  text-decoration: none;

  // Overrides button styles when used on a button
  border: none;
  background: none;
  padding: 0;
  @include hb-pairing-color('color', 'secondary');

  &::after {
    content: '';
    display: inline-block;
    @include hb-icon-link-arrow('secondary');
    margin-left: hb-calculate-rems(8px);
    background-size: 85%;
    transition: hb-transition(transform);
    will-change: contents;

    .hc-pairing-ocean & {
      @include hb-icon-link-arrow('primary');
      background-size: 85%;
    }

    .hc-pairing-ocean .hb-well & {
      @include hb-icon-link-arrow('secondary-darken-12');
      background-size: 85%;
    }
  }

  &:hover,
  &:focus {
    @include hb-pairing-color('color', 'secondary-darken-12');

    background-image: none;
    background-color: transparent;

    &::after {
      @include hb-icon-link-arrow('secondary-darken-12');
      background-size: 85%;
      transform: translateX(0.25rem);

      .hc-pairing-ocean & {
        @include hb-icon-link-arrow('primary-dark');
        background-size: 85%;
      }
    }
  }

  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(bold);

    &::after {
      height: hb-calculate-rems(19px);
      width: hb-calculate-rems(19px);
      margin-bottom: hb-calculate-rems(-4px);
    }
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
    word-break: break-word;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &::after {
      height: hb-calculate-rems(25px);
      width: hb-calculate-rems(25px);
      margin-bottom: hb-calculate-rems(-7px);
    }
  }

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    @include hb-themes(('colorful', 'airy')) {
      @include hb-pairing-color('color', 'tertiary-reversed');

      &::after {
        @include hb-icon-link-arrow('tertiary-reversed');
        background-size: 85%;
      }

      &:hover,
      &:focus {
        @include hb-pairing-color('color', 'secondary-highlight');

        &::after {
          @include hb-icon-link-arrow('secondary-highlight');
          background-size: 85%;
        }
      }
    }

    @include hb-traditional {
      @include hb-pairing-color('color', 'tertiary-highlight');

      &::after {
        @include hb-icon-link-arrow('tertiary-highlight');
        background-size: 85%;
      }

      &:hover,
      &:focus {
        @include hb-pairing-color('color', 'tertiary-highlight-darken-10');

        &::after {
          @include hb-icon-link-arrow('tertiary-highlight-darken-10');
          background-size: 85%;
        }
      }
    }
  }

  .hc-pairing-ocean & {
    @include hb-pairing-color('color', 'secondary-darken-12');

    &:hover {
      @include hb-pairing-color('color', 'primary-dark');
    }
  }
}

// Arrow style link for Colorful Theme
// Used on cards
@mixin hb-card-arrow-link {
  display: block;
  color: transparent; // `hide` the text but make sure screen readers can still read it
  height: hb-calculate-rems(44px);
  text-decoration: none;
  background-image: none;
  width: 100%;

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    color: transparent;

    &:hover,
    &:focus {
      color: transparent;
    }
  }

  &:hover,
  &:focus {
    color: transparent;
    cursor: pointer;

    &::before {
      transform: translateX(0.625rem);
      @include hb-icon-link-arrow('secondary-darken-12');

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        @include hb-icon-link-arrow('gray-medium');
      }

      .hb-raised-cards .hb-dark-pattern &,
      .hb-dark-inversion .hb-raised-cards .views-element-container & {
        @include hb-icon-link-arrow('secondary-darken-12');
      }
    }
  }

  &::before { // postcard arrow
    content: '';
    position: absolute;
    left: 0;
    height: hb-calculate-rems(44px); // WCAG AAA target size
    width: hb-calculate-rems(44px);
    @include hb-icon-link-arrow('secondary');
    transform: translateX(0);
    transition: hb-transition(transform);
    will-change: contents;

    .hb-dark-pattern &,
    .hb-dark-inversion .views-element-container & {
      @include hb-icon-link-arrow('white');
    }

    .hb-raised-cards .hb-dark-pattern &,
    .hb-dark-inversion .hb-raised-cards .views-element-container & {
      @include hb-icon-link-arrow('secondary');
    }
  }
}

//PDF Icon Link
@mixin hb-pdf-link {
  @include hb-link--inline;
  @include hb-pairing-color('color', 'secondary');

  &::before {
    content: "\f1c1";
    /* stylelint-disable */
    font-family: "Font Awesome 5 Free";
    /* stylelint-enable */
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    margin-right: hb-calculate-rems(5px);
  }

  .hb-dark-pattern.hb-local-footer & {
    @include hb-colorful {
      @include hb-global-color('color', 'white');
    }

    &:hover {
      @include hb-colorful {
        @include hb-global-color('color', 'gray-medium');
      }
    }
  }

  .hb-dark-pattern &::before {
    color: var(--palette--secondary-highlight);
  }

  .hb-local-footer.hb-dark-pattern &::before {
    @include hb-colorful {
      @include hb-global-color('color', 'white');
    }

    @include hb-traditional {
      @include hb-pairing-color('color', 'tertiary-highlight');
    }
  }

  &:hover,
  &:focus {
    .hb-local-footer.hb-dark-pattern &::before {
      @include hb-colorful {
        @include hb-global-color('color', 'gray-medium');
      }

      @include hb-traditional {
        @include hb-pairing-color('color', 'tertiary-highlight-darken-10');
      }
    }
  }

  @include hb-themes(('colorful', 'airy')) {
    &:hover,
    &:focus {
      @include hb-link-background-image(true, 0.9em, left, $hb-colorful-default, $hc-colorful-pairings);
    }
  }
}

//File Icon Link
@mixin hb-file-link {
  @include hb-link--inline;
  @include hb-pairing-color('color', 'secondary');

  .hb-dark-pattern.hb-local-footer & {
    @include hb-colorful {
      @include hb-global-color('color', 'white');
    }

    &:hover {
      @include hb-colorful {
        @include hb-global-color('color', 'gray-medium');
      }
    }
  }

  &::before {
    content: "\f15b";
    /* stylelint-disable */
    font-family: "Font Awesome 5 Free";
    /* stylelint-enable */
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    margin-right: hb-calculate-rems(5px);
  }

  .hb-dark-pattern &::before {
    color: var(--palette--secondary-highlight);
  }

  .hb-local-footer.hb-dark-pattern &::before {
    @include hb-colorful {
      @include hb-global-color('color', 'white');
    }

    @include hb-traditional {
      @include hb-pairing-color('color', 'tertiary-highlight');
    }
  }

  &:hover,
  &:focus {
    .hb-local-footer.hb-dark-pattern &::before {
      @include hb-colorful {
        @include hb-global-color('color', 'gray-medium');
      }

      @include hb-traditional {
        @include hb-pairing-color('color', 'tertiary-highlight-darken-10');
      }
    }
  }

  @include hb-themes(('colorful', 'airy')) {
    &:hover,
    &:focus {
      @include hb-link-background-image(true, 0.9em, left, $hb-colorful-default, $hc-colorful-pairings);
    }
  }
}
