// The hb-pairing-color() mixin is used in place of the css property that needs
// to have a color pairing:
// .example {
//   @include hb-pairing-color('background-color', 'primary', $important: true);
// }
// There is an option to add `!important` to any style rule if we ever need the
// extra specificity. This is set to false by default.
@mixin hb-pairing-color($property, $color-swatch, $important: false) {
  @include hb-themes(('colorful', 'airy')) {
    @if $important {
      // Fallback for browsers that do not support CSS variables
      #{$property}: hb-get-pairing-color($color-swatch, $hb-colorful-default, $hc-colorful-pairings) !important;

      // All modern browsers that support CSS variables
      #{$property}: var(--palette--#{$color-swatch}) !important;
    } @else {
      // Fallback for browsers that do not support CSS variables
      #{$property}: hb-get-pairing-color($color-swatch, $hb-colorful-default, $hc-colorful-pairings);

      // All modern browsers that support CSS variables
      #{$property}: var(--palette--#{$color-swatch});
    }
  }

  @include hb-traditional {
    @if $important {
      // scss-lint:disable ImportantRule
      // Fallback for browsers that do not support CSS variables
      #{$property}: hb-get-pairing-color($color-swatch, $hb-traditional-default, $ht-traditional-pairings) !important;

      // All modern browsers that support CSS variables
      #{$property}: var(--palette--#{$color-swatch}) !important;

      // scss-lint:enable ImportantRule
    } @else {
      // Fallback for browsers that do not support CSS variables
      #{$property}: hb-get-pairing-color($color-swatch, $hb-traditional-default, $ht-traditional-pairings);

      // All modern browsers that support CSS variables
      #{$property}: var(--palette--#{$color-swatch});
    }
  }
}

@mixin hb-global-color($property, $color-swatch, $important: false) {
  @include hb-themes(('colorful', 'airy')) {
    @if $important {
      #{$property}: hb-get-global-color($color-swatch, $hc-colorful-globals) !important;
    } @else {
      #{$property}: hb-get-global-color($color-swatch, $hc-colorful-globals);
    }
  }

  @include hb-traditional {
    @if $important {
      // scss-lint:disable ImportantRule
      #{$property}: hb-get-global-color($color-swatch, $ht-traditional-globals) !important;

      // scss-lint:enable ImportantRule
    } @else {
      #{$property}: hb-get-global-color($color-swatch, $ht-traditional-globals);
    }
  }
}

// Generates a list of custom properties for a specific color pairing
// These custom properties are used in the CSS :root and utility classes to
// update the colors used in a theme.
@mixin hb-pairing-custom-properties($theme-list, $color-pairing) {
  $palette-list: hb-get-pairing-list($theme-list, $color-pairing);

  @each $key, $value in $palette-list {
    --palette--#{$key}: #{$value};
  }
}
