@mixin hb-input-border {
  border: $hb-thin-border;
  border-color: var(--palette--gray);

  @include hb-themes(('colorful', 'airy')) {
    border-radius: $hb-border-radius;
  }

  @include hb-traditional {
    // Need this to override Chosen JS
    border-radius: 0;
  }
}

@mixin hb-focus {
  outline-color: var(--palette--primary);

  outline-width: hb-calculate-rems(3px);
  outline-style: solid;
  outline-offset: hb-calculate-rems(1px);
}
