@mixin hb-text-reset {
  background: initial;
  border: initial;
  color: initial;
  font-size: inherit;
  font-style: initial;
  font-weight: initial;
  line-height: inherit;
  margin: initial;
  padding: initial;
  position: initial;
  quotes: initial;
  text-decoration: initial;
  text-transform: initial;
  transition: none;
}

@mixin hb-block-heading {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(24px);
    line-height: 120%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(27px);
      line-height: 117%;
    }
  }
}

@mixin hb-heading-1 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(36px);
    line-height: 112%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(46px);
    }
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(34px);
    line-height: 110%;

    .hb-font-sans-serif & {
      font-family: $hb-traditional-font--sans;
    }

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(42px);
    }
  }
}

@mixin hb-heading-2 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(32px);
    line-height: 112%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(38px);
    }
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(30px);
    line-height: 108%;

    .hb-font-sans-serif & {
      font-family: $hb-traditional-font--sans;
    }

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(36px);
    }
  }
}

@mixin hb-heading-3 {
  @include hb-themes(('colorful', 'airy')) {
    @include hb-block-heading;
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    font-weight: hb-theme-font-weight(regular);
    font-size: hb-calculate-rems(22px);
    line-height: 120%;

    .hb-font-sans-serif & {
      font-family: $hb-traditional-font--sans;
    }

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(25px);
      line-height: 115%;
    }
  }
}

@mixin hb-heading-4 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(20px);
    line-height: 122%;
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(18px);
    line-height: 124%;
  }
}

@mixin hb-heading-5 {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(18px);
    line-height: 124%;
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(16px);
    line-height: 126%;
  }
}

@mixin hb-heading-6 {
  text-transform: uppercase;

  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(16px);
    line-height: 128%;
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(bold);
    font-size: hb-calculate-rems(14px);
    line-height: 124%;
  }
}

@mixin hb-subtitle {
  font-weight: hb-theme-font-weight(semibold);
  line-height: 122%;
  font-size: hb-calculate-rems(16px);

  @include grid-media-min('lg') {
    font-size: hb-calculate-rems(18px);
  }
}

@mixin hb-subheading {
  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(15px);
    line-height: 131%;
  }

  @include hb-traditional {
    text-transform: uppercase;
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(15px);
    line-height: 131%;
  }
}

@mixin hb-body--small {
  font-weight: hb-theme-font-weight(regular);
  font-size: hb-calculate-rems(16px);
  line-height: 122%;
}

@mixin hb-body--medium {
  font-weight: hb-theme-font-weight(regular);
  font-size: hb-calculate-rems(18px);
  line-height: 127%;
}

@mixin hb-description {
  @include hb-themes(('colorful', 'airy')) {
    @include hb-body--small;

    @include grid-media-min('lg') {
      @include hb-body--medium;
    }
  }

  @include hb-traditional {
    @include hb-body--medium;
  }
}

@mixin hb-blockquote {
  @include hb-quote-wrapper;
  @include hb-pairing-color('color', 'secondary');
  font-size: hb-calculate-rems(24px);
  font-weight: hb-theme-font-weight(regular);
  font-style: italic;
  text-align: center;

  @include grid-media-min('lg') {
    font-size: hb-calculate-rems(28px);
  }

  @include hb-themes(('colorful', 'airy')) {
    line-height: 140%;
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--serif;
    line-height: 136%;
  }

  // A utility class that can be applied via layout builder to override the text color to black
  .hb-blockquote-black-text & {
    @include hb-global-color('color', 'black');
  }

  > p,
  > div {
    margin: 0;

    &::before {
      position: absolute;
      content: open-quote;
      margin-left: hb-calculate-rems(-16px);
    }

    &::after {
      position: absolute;
      content: close-quote;
      margin-right: hb-calculate-rems(10px);
    }
  }

  .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    @include hb-global-color('color', 'white');
  }
}

@mixin hb-field-label {
  font-style: normal;
  text-transform: uppercase;
  @include hb-global-color('color', 'black');

  @include hb-themes(('colorful', 'airy')) {
    font-weight: hb-theme-font-weight(bold);
    font-size: hb-calculate-rems(15px);
    margin-bottom: hb-calculate-rems(4px);
  }

  @include hb-traditional {
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(14px);
    margin-bottom: 0;
  }
}

@mixin hb-field-label--featured {
  font-size: hb-calculate-rems(16px);
  font-style: normal;
  text-transform: inherit;
  @include hb-pairing-color('color', 'secondary');

  .hb-well & {
    @include hb-pairing-color('color', 'secondary-darken-12', $important: true);
  }
}

@mixin hb-descriptor {
  @include hb-global-color('color', 'gray-dark');
  font-size: hb-calculate-rems(16px);

  @include grid-media-min('lg') {
    font-size: hb-calculate-rems(18px);
  }
}

// Styles for WYSIWYG / text captions
@mixin hb-caption($italic: false) {
  @include hb-text-reset;
  @include hb-global-color('color', 'gray-dark');

  @if $italic {
    font-style: italic;
  }

  @include hb-themes(('colorful', 'airy')) {
    font-size: hb-calculate-rems(14px);
  }

  @include hb-traditional {
    font-size: hb-calculate-rems(16px);
  }

  .hb-dark-pattern & {
    @include hb-themes(('colorful', 'airy')) {
      @include hb-global-color('color', 'white');
    }

    @include hb-traditional {
      @include hb-global-color('color', 'gray-light');
    }
  }
}

// Styles for captions and credits
@mixin hb-caption-credit {
  @include hb-global-color('color', 'white');
  font-style: italic;
  font-size: hb-calculate-rems(12px);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: $hb-z-index-small-5;
  text-align: right;
  line-height: 120%;
  height: auto;
  padding: hb-calculate-rems(16px) hb-calculate-rems(7px) hb-calculate-rems(8px) 15%; // Using a percentage to the left to control the width of the captions

  @include grid-media-min('sm') { // the right side calculation is lower to adjust for the margin-right on the child elements
    padding: hb-calculate-rems(24px) hb-calculate-rems(12px) hb-calculate-rems(16px) 15%;
  }

  @include hb-themes(('colorful', 'airy')) {
    background: linear-gradient(to top, hb-get-global-color('black', $hc-colorful-globals), transparent);

    .paragraph--type--hs-carousel & { // the percentage on this left side is larger to prevent the caption from running under carousel overlay
      @include grid-media-min('md') {
        padding: hb-calculate-rems(24px) hb-calculate-rems(12px) hb-calculate-rems(16px) 58%;
      }
    }
  }

  @include hb-traditional {
    background: linear-gradient(to top, hb-get-global-color('black', $ht-traditional-globals), transparent);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  cite,
  code,
  li,
  dd,
  dt,
  span,
  strong,
  em,
  a,
  .hs-button,
  .hs-button--big,
  .hs-secondary-button,
  .hs-more-link,
  .hs-external-link,
  .hs-file-link,
  .hs-pdf-link,
  .hs-private-link {
    @include hb-text-reset;
    font-style: italic;
    @include hb-global-color('color', 'white');
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a,
  a {
    @include hb-global-color('color', 'white');
    text-decoration: underline !important;
    display: inline;

    &::before,
    &::after {
      display: none !important;
    }

    &:hover,
    &:focus {
      text-decoration: none !important;
      box-shadow: none;
    }
  }

  dl,
  ul,
  ol {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  li {
    &::before {
      display: none;
    }
  }

  strong {
    font-weight: 600;
  }
}
