{# Defines the list for the main nav and all nested menu levels #}

{% set list_attributes = create_attribute() %}
{% set list_attributes = list_attributes.addClass(menu_base_class ~ "__list", menu_modifiers) %}
{% if menu_level == 0 %}
  {% set list_attributes = list_attributes.addClass([menu_base_class ~ "__list--main", 'js-' ~ menu_base_class ~ "__list--main"]) %}
{% endif %}

{# List #}
{% if menu_level == 1 %}
<span class="megamenu__expanded-container js-megamenu__expanded-container">
{% endif %}
<ul{{ list_attributes }}>
{% block list_content %}
  {% for item in items %}
    {% set list_item_attributes = create_attribute() %}
    {% set list_item_attributes = list_item_attributes.addClass(menu_base_class ~ "__item") %}
    {% if menu_level == 0 %}
      <li{{list_item_attributes}}>
        {% include "@humsci_basic/menus-twig/menu-item.twig" %}
      </li>
    {% endif %}
    {% if loop.index < 5 and menu_level > 0  %}
      <li{{list_item_attributes}}>
        {% include "@humsci_basic/menus-twig/menu-item.twig" %}
      </li>
    {% endif %}
    {% if loop.index >= 5 and menu_level > 0  %}
      {% set list_item_attributes = list_item_attributes.addClass(menu_base_class ~ "__column-addon") %}
      <span{{list_item_attributes}}>
        {% include "@humsci_basic/menus-twig/menu-item.twig" %}
      </span>
    {% endif %}
  {% endfor %}
{% endblock %}
</ul>
{% if menu_level == 1 %}
</span>
{% endif %}
