@charset "UTF-8";

//
// Decanter Overrides
// These styles should eventually be moved to the Decanter project and removed
// from this file/project.
//

// Decanter
@import
  'decanter-no-markup';

// Primary and secondary button overrides
// Optical alignment adjunstment
.decanter-button,
.decanter-button--secondary {
  @include padding(1rem 2rem 1.5rem 2rem);
}

// Primary button overrides
// The hover state of the button text needs fixing
.decanter-button a:hover,
.decanter-button a:focus,
.decanter-button a:active {
  color: $color-white;
}

// Secondary button overrides
// The button-secondary mixin should be modified
.decanter-button--secondary {
  font-weight: $font-normal;

  @include margin(null 0.2rem null null);

  a {
    text-decoration: none;
  }
}

.no-wrap {
  white-space: nowrap;
}
