@charset "UTF-8";

//
// Decanter Overrides
//

// Decanter
@import
  'decanter-no-markup';

// Secondary button overrides
// The button-secondary mixin should be modified
.decanter-button--secondary {
  font-weight: $font-normal;

  @include margin(null 0.2rem null null);

  a {
    text-decoration: none;
  }
}

.no-wrap {
  white-space: nowrap;
}
