@charset "UTF-8";

//
// Decanter Overrides
//

// Decanter
@import
  'decanter-no-markup';

// Secondary button overrides
// The button-secondary mixin should be modified
.decanter-button--secondary {
  display: inline-block;

  @include padding(0);
  @include margin(0.25em calc(.5em - 4px) 0.25em 0);

  a {
    display: block;
    font-weight: $font-normal;
    text-decoration: none;

    @include padding(0.4em 0.65em 0.45em);
  }
}

// Heading overrides
// The margins on headings should be modified
h1:first-child {
  @include margin(0 null null);
}
