.su-card {
  border: 1px solid #c60807;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .13), 0 3px 6px rgba(0, 0, 0, .1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .13), 0 3px 6px rgba(0, 0, 0, .1);
  display: block;
  background-color: #f2ff5a
}

@media only screen and (min-width: 0) and (max-width: 575px) {
  .su-card img {
    display: none
  }
}

.su-card .su-card__contents {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif
}

@media only screen and (min-width: 0) {
  .su-card .su-card__contents {
    padding: 3.2rem
  }
}

@media only screen and (min-width: 768px) {
  .su-card .su-card__contents {
    padding: 3.6rem
  }
}

@media only screen and (min-width: 1500px) {
  .su-card .su-card__contents {
    padding: 3.8rem
  }
}

.su-card .su-card__contents > :first-child {
  padding-top: 0;
  margin-top: -.2em
}

.su-card .su-card__contents > :last-child {
  padding-bottom: 0;
  margin-bottom: 0
}

.su-card .su-card__contents > h2, .su-card .su-card__contents > span {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif
}

.su-card .su-card__contents > span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  clear: both;
  font-weight: 700;
  line-height: 1.2;
  font-size: .8em;
  text-transform: uppercase;
  display: block
}

@media only screen and (min-width: 0) {
  .su-card .su-card__contents > span {
    margin-bottom: .8rem
  }
}

@media only screen and (min-width: 768px) {
  .su-card .su-card__contents > span {
    margin-bottom: .9rem
  }
}

@media only screen and (min-width: 1500px) {
  .su-card .su-card__contents > span {
    margin-bottom: .95rem
  }
}

.su-card .su-card__contents > span a {
  text-decoration: none;
  font-weight: 700
}

.su-card .su-card__contents > h2 {
  font-size: 1.5625em;
  letter-spacing: -.012em
}

@media only screen and (min-width: 0) {
  .su-card .su-card__contents > h2 {
    margin-bottom: 1.07rem
  }
}

@media only screen and (min-width: 768px) {
  .su-card .su-card__contents > h2 {
    margin-bottom: 1.2rem
  }
}

@media only screen and (min-width: 1500px) {
  .su-card .su-card__contents > h2 {
    margin-bottom: 1.27rem
  }
}

.su-card .su-card__contents > h2 > a {
  font-weight: 700;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out
}

.su-card .su-card__contents > h2 > a:focus, .su-card .su-card__contents > h2 > a:hover {
  color: #b1040e;
  text-decoration: underline
}

.su-card .su-card__contents > div:not(.su-card__button) {
  line-height: 1.4
}

.su-card .su-card__contents > div:not(.su-card__button), .su-card .su-card__contents > p:last-of-type {
  margin-bottom: 0
}

.su-card .su-card__contents .su-link--action, .su-card .su-card__contents > a {
  display: inline-block
}

@media only screen and (min-width: 0) {
  .su-card .su-card__contents .su-link--action, .su-card .su-card__contents > a {
    margin-top: 1.07rem
  }
}

@media only screen and (min-width: 768px) {
  .su-card .su-card__contents .su-link--action, .su-card .su-card__contents > a {
    margin-top: 1.2rem
  }
}

@media only screen and (min-width: 1500px) {
  .su-card .su-card__contents .su-link--action, .su-card .su-card__contents > a {
    margin-top: 1.27rem
  }
}

.su-card .su-card__button {
  text-align: center
}

@media only screen and (min-width: 0) {
  .su-card .su-card__button {
    margin-top: 2.31rem
  }
}

@media only screen and (min-width: 768px) {
  .su-card .su-card__button {
    margin-top: 2.6rem
  }
}

@media only screen and (min-width: 1500px) {
  .su-card .su-card__button {
    margin-top: 2.74rem
  }
}

@media only screen and (min-width: 0) and (max-width: 575px) {
  .su-card .su-card__button .su-button {
    width: auto
  }
}

.su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
  display: -ms-grid;
  display: grid
}

@media only screen and (min-width: 0) {
  .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
    padding: 3.2rem
  }
}

@media only screen and (min-width: 768px) {
  .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
    padding: 3.6rem
  }
}

@media only screen and (min-width: 1500px) {
  .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
    padding: 3.8rem
  }
}

@media only screen and (min-width: 0) {
  .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
    margin-right: 2.31rem
  }

  @supports (grid-column-gap:20px) {
    .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
      grid-column-gap: 2.31rem
    }

    .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
      margin-right: 0;
      margin-left: 0
    }
  }
}

@media only screen and (min-width: 576px) {
  .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
    margin-right: 2.31rem
  }

  @supports (grid-column-gap:20px) {
    .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
      grid-column-gap: 2.31rem
    }

    .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
      margin-right: 0;
      margin-left: 0
    }
  }
}

@media only screen and (min-width: 768px) {
  .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
    margin-right: 2.6rem
  }

  @supports (grid-column-gap:20px) {
    .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
      grid-column-gap: 2.6rem
    }

    .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
      margin-right: 0;
      margin-left: 0
    }
  }
}

@media only screen and (min-width: 992px) {
  .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
    margin-right: 2.6rem
  }

  @supports (grid-column-gap:20px) {
    .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
      grid-column-gap: 2.6rem
    }

    .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
      margin-right: 0;
      margin-left: 0
    }
  }
}

@media only screen and (min-width: 1200px) {
  .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
    margin-right: 2.6rem
  }

  @supports (grid-column-gap:20px) {
    .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
      grid-column-gap: 2.6rem
    }

    .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
      margin-right: 0;
      margin-left: 0
    }
  }
}

@media only screen and (min-width: 1500px) {
  .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
    margin-right: 2.74rem
  }

  @supports (grid-column-gap:20px) {
    .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
      grid-column-gap: 2.74rem
    }

    .su-card--horizontal.su-card--link > a > *, .su-card--horizontal:not(.su-card--link) > * {
      margin-right: 0;
      margin-left: 0
    }
  }
}

@media only screen and (min-width: 0) {
  .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%
  }

  .su-card--horizontal.su-card--link > a > :first-child, .su-card--horizontal:not(.su-card--link) > :first-child {
    -ms-grid-column: 1
  }
}

@media only screen and (min-width: 576px) {
  .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr
  }

  .su-card--horizontal.su-card--link > a > :first-child, .su-card--horizontal:not(.su-card--link) > :first-child {
    -ms-grid-column: 1
  }

  .su-card--horizontal.su-card--link > a > :nth-child(2), .su-card--horizontal:not(.su-card--link) > :nth-child(2) {
    -ms-grid-column: 2
  }
}

@media only screen and (min-width: 768px) {
  .su-card--horizontal.su-card--link > a, .su-card--horizontal:not(.su-card--link) {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr
  }

  .su-card--horizontal.su-card--link > a > :first-child, .su-card--horizontal:not(.su-card--link) > :first-child {
    -ms-grid-column: 1
  }

  .su-card--horizontal.su-card--link > a > :nth-child(2), .su-card--horizontal:not(.su-card--link) > :nth-child(2) {
    -ms-grid-column: 2
  }
}

.su-card--horizontal.su-card--link > a img, .su-card--horizontal:not(.su-card--link) img {
  -ms-grid-row: 1;
  -ms-grid-column: 1
}

.su-card--horizontal.su-card--link > a .su-card__contents, .su-card--horizontal:not(.su-card--link) .su-card__contents {
  padding: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1
}

@media only screen and (min-width: 576px) {
  .su-card--horizontal.su-card--link > a .su-card__contents, .su-card--horizontal:not(.su-card--link) .su-card__contents {
    padding-left: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 2
  }
}

.su-card--link {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0
}

.su-card--link > a {
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .13), 0 3px 6px rgba(0, 0, 0, .1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .13), 0 3px 6px rgba(0, 0, 0, .1);
  display: block;
  text-decoration: none;
  color: #2e2d29
}

.su-card--link > a:focus, .su-card--link > a:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .15), 0 6px 6px rgba(0, 0, 0, .2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15), 0 6px 6px rgba(0, 0, 0, .2);
  border: 1px solid #b6b1a9;
  -webkit-transition: -webkit-box-shadow .3s ease-out;
  transition: -webkit-box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out, -webkit-box-shadow .3s ease-out
}

.su-card--link > a:focus h2, .su-card--link > a:hover h2 {
  text-decoration: underline;
  color: #b1040e;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out
}

.su-card--link > a p {
  font-weight: 400
}

.su-card--minimal {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: inherit
}

@media only screen and (min-width: 0) {
  .su-card--minimal .su-card__contents {
    padding-top: 2.31rem
  }
}

@media only screen and (min-width: 768px) {
  .su-card--minimal .su-card__contents {
    padding-top: 2.6rem
  }
}

@media only screen and (min-width: 1500px) {
  .su-card--minimal .su-card__contents {
    padding-top: 2.74rem
  }
}

@media only screen and (min-width: 0) and (max-width: 575px) {
  .su-card--minimal .su-card__contents {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .su-card--minimal .su-card__contents {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .su-card--minimal .su-card__contents {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .su-card--minimal .su-card__contents {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .su-card--minimal .su-card__contents {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media only screen and (min-width: 1500px) {
  .su-card--minimal .su-card__contents {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
  }
}

@media only screen and (min-width: 0) and (max-width: 575px) {
  .su-card--minimal .su-card__contents {
    padding-top: 0
  }
}

.su-card--minimal .su-card__button {
  text-align: left
}

@media only screen and (min-width: 0) and (max-width: 575px) {
  .su-card--minimal.su-card--horizontal {
    padding: 0
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .su-card--minimal.su-card--horizontal {
    padding: 0
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .su-card--minimal.su-card--horizontal {
    padding: 0
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .su-card--minimal.su-card--horizontal {
    padding: 0
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .su-card--minimal.su-card--horizontal {
    padding: 0
  }
}

@media only screen and (min-width: 1500px) {
  .su-card--minimal.su-card--horizontal {
    padding: 0
  }
}

@media only screen and (min-width: 0) and (max-width: 575px) {
  .su-card--minimal.su-card--horizontal .su-card__contents {
    padding-top: 0
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .su-card--minimal.su-card--horizontal .su-card__contents {
    padding-top: 0
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .su-card--minimal.su-card--horizontal .su-card__contents {
    padding-top: 0
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .su-card--minimal.su-card--horizontal .su-card__contents {
    padding-top: 0
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .su-card--minimal.su-card--horizontal .su-card__contents {
    padding-top: 0
  }
}

@media only screen and (min-width: 1500px) {
  .su-card--minimal.su-card--horizontal .su-card__contents {
    padding-top: 0
  }
}
