{%- set attributes = attributes.addClass('hb-spotlight', spotlight_bg_class) -%}

{% if variant %}
  {% set variant_class = "hb-spotlight--image-#{variant}" %}
  {% set attributes = attributes.addClass(variant_class) %}
{% endif %}

{% spaceless %}
  <div{{ attributes}}>
    <div class="hb-spotlight__wrapper">
      {% if image %}
        <div class="hb-spotlight__image-wrapper">
          {{ image }}
        </div>
      {% endif %}
      {% if overlay_text %}
        <div class="hb-spotlight__text">
          {{ overlay_text }}
        </div>
      {% endif %}
    </div>
  </div>
{% endspaceless %}
