@charset "UTF-8";

///
/// NEWS CARD COMPONENT
///
// Decanter
@import 'decanter-no-markup';
// Stanford Math Research Center
@import '../utilities/mixins/mixins';

.wide-card {
  @include margin(null null 2em);
  @include mrc-card-container;
  @include mrc-flex-medium;

  .wide-card__img {
    @include margin(null 0 null null);
    flex-shrink: 0;

    img {
      width: 100%;
    }

    @include media($medium-screen) {
      @include margin(null 30px null null);

      img {
        width: auto;
      }
    }
  }

  .wide-card__content {
    .wide-card__date {
      @include margin(0 0 0.25em 0);
    }

    .wide-card__subcontent {
      flex-wrap: wrap;

      @include mrc-flex-medium;

      .wide-card__source {
        @include margin(0 0 0.25em 0);

        @include media($medium-screen) {
          margin: 0;
        }
      }

      .wide-card__program {
        @include margin(0 null null);
      }
    }

    .wide-card__title {
      @include margin(0.5em null null);
    }
  }
}
