@charset "UTF-8";

///
/// VISITORS GRID COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-visitors-grid-card {
  @include mrc-card-container;

  .mrc-visitors-grid__item {
    display: flex;

    .mrc-visitors-grid__img img {
      @include margin(null 1em null null);
    }

    .mrc-visitors-grid__content {
      flex: 1 4 auto;

      .mrc-visitors-grid__name {
        @include margin(0 null);
      }

      .mrc-visitors-grid__title {
        font-weight: 700;

        @include margin(null null 0.25em);
      }
    }
  }
}
