.ck.ck-anchor-form {
  flex-direction: column;
}

.ck-anchor-form_inner {
  display: flex;
}

.ck-reset_all .ck-anchor-form_help-text {
  max-width: 18.125rem;
  margin: 0.5rem 0 0 !important;
}

.ck-reset_all .ck-anchor-form_help-text p {
  white-space: normal;
  font-size: 0.75rem;
}

.ck-reset_all .ck-anchor-form_help-text strong {
  font-size: 0.75rem;
  font-weight: bold;
  white-space: normal;
}

#copy-anchor-name {
  width: 14px;
  height: 14px;
  margin-left: 0.5rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../assets/copy.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#anchor-name-placeholder:not([data-anchor-name-set])+#copy-anchor-name {
  display: none;
}

#copy-anchor-name+span {
  margin-left: 0.5rem;
  color: #999;
  font-size: 0.75rem;
}
