@charset "UTF-8";

//
// Table
//

// Decanter
@import
  'decanter-no-markup';

.table-caption {
  display: table-caption;
  font-size: larger;
  font-weight: $font-bold;
  text-align: center;
}

.table-header {
  display: table-header-group;
  font-weight: $font-normal;
  text-align: center;

  > div {
    background-color: $color-cloud;
    border: 1px solid $color-driftwood;
    color: $color-black;
    display: table-cell;
    text-align: left;

    @include padding(1.5rem);
  }
}

.table-pattern {
  display: table;
  width: 100%;
}
