@charset "UTF-8";

//
// Table
//

// Decanter
@import
  'decanter-no-markup';

.table-pattern {
  display: table;
  width: 100%;
}

.table-header {
  display: table-header-group;
  font-weight: $font-normal;
  text-align: center;

  > div {
    @include padding(1.5rem);

    background-color: $color-cloud;
    border: 1px solid $color-driftwood;
    color: $color-black;
    display: table-cell;
    text-align: left;
  }
}

.table-caption {
  display: table-caption;
  font-size: larger;
  font-weight: $font-bold;
  text-align: center;
}
