
.dated-event {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 18px;

  .dated-event_date {
    width: 100px;
    border-right: 1px solid #e3e3e3;
    text-align: center;

    span.vertical-spacer {
      height: 100%;
      vertical-align: middle;
      display: inline-block;
    }
  }


  .dated-event_month {
    font-size: 16px;
  }

  .dated-event_day {
    font-size: 41px;
    font-weight: 300;
  }

  .dated-event_vertical-centered {
    vertical-align: middle;
    margin: 0;
    display: inline-block;
  }

  .dated-event_details {
    font-size: 18px;
    line-height: 23px;
    padding: 26px 0 26px 26px;
    width: 100%;
  }

  .dated-event_title {
    position: relative;
    font-size: 22.5px;
    line-height: 27px;

    h2,
    h3,
    h4 {
      font-size: 22.5px;
      line-height: 27px;
      font-weight: normal;
      margin: 0;
      display: inline;
    }


    a::after {
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      position: absolute;
      vertical-align: top;
      bottom: 5px;
      height: 1.5rem;
      width: 1.5rem;
      transform: rotate(45deg);
      margin-left: 10px;
    }
  }

  .dated-event_location {
    margin-top: 18px;
  }

  .dated-event_time-room {
    margin-top: 9px;
  }
}
