html {
  @include hb-colorful {
    font-family: $hb-colorful-font--sans;
  }
}

a:not([class]) {
  @include hb-link--inline;
}

h1:not([class]) {
  @include hb-heading-1;

  a:not([class]) {
    @include hb-link;
  }
}

h2:not([class]) {
  @include hb-heading-2;

  a:not([class]) {
    @include hb-link;
  }
}

h3:not([class]) {
  @include hb-heading-3;

  a:not([class]) {
    @include hb-link;
  }
}

h4:not([class]) {
  @include hb-heading-4;

  a:not([class]) {
    @include hb-link;
  }
}

h5:not([class]) {
  @include hb-heading-5;

  a:not([class]) {
    @include hb-link;
  }
}

h6:not([class]) {
  @include hb-heading-6;

  a:not([class]) {
    @include hb-link;
  }
}

p:not([class]) {
  @include hb-body--medium;
  margin-top: 0;
}

// Hide the FontAwesome icon that is configured by default in
// config/default/extlink.settings.yml
// and replace with different icon
.fa-ext {
  @include hb-colorful {
    $hb-lighten-color--primary: lighten(hb-colorful-variation(primary), 10%);

    &::before {
      content: '';
      background: svg('<svg viewBox="0 0 12 12"><path d="M11.273 5.818v5.455H.727V.727h5.091m1.455 0h4v4m0-4L6.182 5.818" fill="transparent" stroke="#{$hb-lighten-color--primary}" stroke-width="2" stroke-miterlimit="10"/></svg>') center center no-repeat;
      height: 0.75rem;
      width: 0.75rem;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 0.25rem;
      right: -1.125rem;
    }

    .fa-arrow-right {
      display: none;
    }
  }
}
