:root {
  // These variables will be used to style color pairings.
  // They will be updated depending on the parent color pairing.
  // We have to set the variables here and give them default values.
  // Colorful Theme
  @include hb-pairing-custom-properties($hc-colorful-pairings, $hb-colorful-default);

  // Traditional Theme
  @include hb-pairing-custom-properties($ht-traditional-pairings, $hb-traditional-default);
}

html {
  // Use Decanter's root font size
  font-size: $hb-root-font-size;
  overflow-x: hidden;
}

body {
  // Apply font smoothing for Mac OS when possible
  // Gives refined look to fonts with more clarity, crispness, and thinner lines.
  @include font-smoothing;

  @include hb-themes(('colorful', 'airy')) {
    font-family: $hb-colorful-font--sans;
  }

  @include hb-traditional {
    font-family: $hb-traditional-font--sans;
  }

  @include hb-description;
}

// If this needs edited again, we should refactor
// how and why the :not is being used. 
a:not([class]):not(.toolbar-tray a),
a.mailto,
a.ext {
  @include hb-link--inline;
}

h1 {
  @include hb-heading-1;

  a:not([class]) {
    @include hb-link;

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');
    }
  }
}

h2 {
  @include hb-heading-2;

  a.is-active,
  a:not([class]) {
    @include hb-link;

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');
    }
  }
}

h3 {
  @include hb-heading-3;

  a:not([class]) {
    @include hb-link;

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');
    }
  }
}

h4 {
  @include hb-heading-4;

  a:not([class]) {
    @include hb-link;

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');
    }
  }
}

h5 {
  @include hb-heading-5;

  a:not([class]) {
    @include hb-link;

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');
    }
  }
}

h6 {
  @include hb-heading-6;

  a:not([class]) {
    @include hb-link;

    &:hover,
    &:focus {
      @include hb-global-color('color', 'black');
    }
  }
}

p:not([class]) {
  margin-top: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

strong:not([class]) {
  font-weight: hb-theme-font-weight(semibold);
  font-size: inherit;
}

em:not([class]) {
  font-style: italic;
  font-weight: inherit;
  font-size: inherit;
}

ul:not([class]) {
  @include hb-unordered-list;
}

ol:not([class]) {
  @include hb-ordered-list;
}

caption:not([class]) {
  font-size: hb-calculate-rems(14px);

  @include hb-colorful {
    @include hb-global-color('color', 'gray');
  }
}

button:not([class]) {
  &:hover {
    cursor: pointer;
  }
}
