html {
  @include colorful {
    font-family: $hb_colorful-font--sans;
  }
}

a:not([class]) {
  @include hb_link--inline;
}

h1:not([class]) {
  @include hb_heading-1;

  a:not([class]) {
    @include hb_link;
  }
}

h2:not([class]) {
  @include hb_heading-2;

  a:not([class]) {
    @include hb_link;
  }
}

h3:not([class]) {
  @include hb_heading-3;

  a:not([class]) {
    @include hb_link;
  }
}

h4:not([class]) {
  @include hb_heading-4;

  a:not([class]) {
    @include hb_link;
  }
}

h5:not([class]) {
  @include hb_heading-5;

  a:not([class]) {
    @include hb_link;
  }
}

h6:not([class]) {
  @include hb_heading-6;

  a:not([class]) {
    @include hb_link;
  }
}

p:not([class]) {
  @include hb_body--small;
}
