details {
  margin: hb-spacing-width('xxs') 0;
  clear: both; // Necessary when the toggle all button is added
}

summary:not(.hb-timeline-item__summary) {
  padding: hb-calculate-rems(16px) hb-calculate-rems(52px) hb-calculate-rems(16px) hb-calculate-rems(16px);
  position: relative;
  font-weight: hb-theme-font-weight('semibold');
  cursor: pointer;
  border: $hb-thin-border;
  @include hb-pairing-color('border-color', 'secondary');
  @include hb-pairing-color('background-color', 'secondary');
  color: var(--palette--white);

  // This is to position everything correctly in browsers that do not support the
  // -webkit-details-marker pseudo element
  display: flex;
  align-items: center;

  // Visually removes the default arrow icon. We do need this element for screen
  // reader accessiblilty so we don't want to set display: none;
  &::-webkit-details-marker {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
  }

  &::after {
    content: '';
    display: block;
    height: hb-calculate-rems(20px);
    width: hb-calculate-rems(20px);

    position: absolute;
    top: hb-calculate-rems(18px);
    right: hb-calculate-rems(18px);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include hb-menu-plus-icon('white');

    details[open] & {
      @include hb-menu-minus-icon('white');
    }
  }

  &:hover,
  details[open] & {
    @include hb-pairing-color('background-color', 'secondary-darken-12');
    @include hb-pairing-color('border-color', 'secondary-darken-12');
  }

  &:focus,
  details[open] &:focus {
    outline: none;
    border-color: var(--palette--white);

    @include hb-themes(('colorful', 'airy')) {
      box-shadow: 0 0 0 hb-calculate-rems(2px) hb-get-pairing-color('secondary-active', $hb-colorful-default, $hc-colorful-pairings);
    }

    @include hb-traditional {
      box-shadow: 0 0 0 hb-calculate-rems(2px) hb-get-pairing-color('secondary-active', $hb-traditional-default, $ht-traditional-pairings);
    }

    box-shadow: 0 0 0 hb-calculate-rems(2px) var(--palette--secondary-active);
  }

  .summary {
    color: var(--palette--white);

    font-size: hb-calculate-rems(16px);
    font-weight: hb-theme-font-weight('semibold');
  }

  // Modern browsers don't use anchor tags in the summary but IE adds an anchor
  // as a fallback
  a {
    color: inherit;
    text-decoration: none;
  }
}

// Normally we don't include classes with elements but this is the only way to
// target the details contents.
.revealed-details {
  padding: hb-calculate-rems(20px) hb-calculate-rems(16px);
  border: $hb-thin-border;
  border-color: var(--palette--gray-medium);
  border-top: none;
}
