label {
  display: block;
  width: 100%;
  margin-bottom: hb-calculate-rems(12px);
  font-weight: hb-theme-font-weight(semibold);
}

input {
  line-height: 1;
  font-size: hb-calculate-rems(16px);

  padding: $hb-input-padding;
  min-height: $hb-input-min-height;
  width: 100%;

  @include hb-input-border;

  &:focus {
    @include hb-focus;
  }
}

.form-item {
  select {
    max-width: 100%;
  }
}
