label {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: hb-theme-font-weight(semibold);
}

input {
  line-height: 1;
  font-size: 1rem;

  padding: $hb-input-padding;
  min-height: $hb-input-min-height;
  width: 100%;

  @include hb-input-border;

  &:focus {
    @include hb-input-focus;
  }
}
