.hb-table-wrap {
  margin: auto;
  overflow-x: auto;
}

table {
  @include table;

  th,
  td {
    @include table-data;
  }

  thead th {
    @include table-heading;
  }

  thead tr {
    @include table-head-row;
  }

  tr:nth-child(even) {
    @include table-row;
  }
}
