.hb-table-wrap {
  margin: auto;
  overflow-x: auto;

  &:not(:last-child) {
    margin-bottom: hb-spacing-width();
  }

  details {
    display: none;
  }

  .hb-dark-pattern &,
  .views-element-container .hb-dark-pattern &,
  .hb-dark-inversion .views-element-container & {
    @include hb-global-color('background-color', 'white');

    .views-label,
    .field-content,
    td {
      @include hb-global-color('color', 'black');
    }

    a {
      @include hb-pairing-color('color', 'tertiary');

      &:hover,
      &:focus {
        @include hb-pairing-color('color', 'tertiary-darken-20');
      }
    }
  }
}

table {
  @include table;

  th,
  td {
    @include table-data;
  }

  thead th {
    @include table-heading;

    .ht-pairing-warbler & {
      a {
        color: white !important;
      }

      a:hover {
        color: #e8e9ea !important;
      }
    }
  }

  thead tr {
    @include table-head-row;
  }

  tr:nth-child(even) {
    @include table-row;
  }
}
