@charset "UTF-8";

///
/// BASIC FLEX MIXIN
///

// Basic flexbox positioning for mobile first breakpoints in Decanter.

@mixin mrc-flex-small {
  display: block;

  @include media($small-screen) {
    display: flex;
  }
}

@mixin mrc-flex-medium {
  display: block;

  @include media($medium-screen) {
    display: flex;
  }
}

@mixin mrc-flex-large {
  display: block;

  @include media($large-screen) {
    display: flex;
  }
}
