@charset "UTF-8";

///
/// DATE STACKED MIXIN
///

@mixin mrc-date-stacked {
  color: $color-white;
  background: $color-black;
  height: 80px;
  width: 80px;
  text-align: center;

  @include margin(null null 0.4em);

  .mrc-date-stacked__month {
    font-weight: $font-light;
    line-height: 2.5em;
    text-transform: uppercase;

    @include margin(null null 0.3em);
  }

  .mrc-date-stacked__day {
    font-size: $h2-font-size;
    font-weight: $font-bold;

    @include margin((-22px) null null);
  }
}
