@charset "UTF-8";

///
/// POSTCARD COMPONENT
///

// An extensible content container with options for a wide variety of content.
// Vertical layout.

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-postcard {
  @include mrc-card-container;

  .mrc-postcard__superhead {
    font-weight: $font-bold;

    @include margin(0 0 0.2em);
  }

  .mrc-postcard__img {
    img {
      width: 100%;
    }
  }

  .mrc-postcard__content {
    .mrc-postcard__title {
      text-align: center;

      @include margin(0 null null);
    }

    .mrc-postcard__description {
      text-align: center;
    }

    .mrc-postcard__button {
      text-align: center;

      @include margin(0.5em null null);
      @include more-link(more-link, more-link-hover);
    }
  }
}
