@charset "UTF-8";

///
/// BASE STYLES
///
// For overriding or making additions to the
// stanford_basic theme and/or Decanter.
//
// If overrides exceed resonable number of lines
// in code, create a partial in the base folder
// and import the file here.

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
'../utilities/mixins/mixins',
'../molecules/pager';

// Accessibility helpers
.user-is-tabbing *:focus,
.user-is-tabbing a:focus {
  @include accessible-focus;
}

.ui-pattern {
  @include margin(2rem null null);
}

// Footer
#footer {
  background: $color-cloud;

  @include margin(3rem null null);
  @include padding(2em null null null);
  @include media($medium-screen) {
    @include margin(6rem null null);
  }

  @include media($large-screen) {
    @include margin(10rem null null);
  }

  h2 {
    font-size: $h3-font-size;
  }

  a {
    text-decoration: none;
  }

  #block-givingbutton p,
  .decanter-button,
  a.decanter-button {
    @include margin(0 null null);
  }
}

// Grid
.decanter-grid [class*="decanter-width-"] {
  margin-bottom: 2em;
}

@include media($medium-screen) {
  [class*="__sidebar"].decanter-width-one-fourth {
    width: 23.2317609825%;

    @include margin(null 2.3576520234% null null);
  }

  [class*="__main"].decanter-width-three-fourths {
    width: 74.4105869942%;
  }
}

@media (min-width: 481px) and (max-width: 900px) {
  [class*="__sidebar"].decanter-width-one-fourth {
    width: 47.5854205965%;

    @include margin(null 4.8291588071% null null);
  }

  [class*="__main"].decanter-width-three-fourths {
    width: 100%;
  }
}

// Header
#header {
  background: $color-cloud;

  @include padding(1em null);

  .block--lockup__site-name-and-slogan a {
    color: $color-black;
    display: inherit;
    text-decoration: none;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
}

// Inputs
@import
  'inputs';

// Roles
body.role--authenticated .hide-logged-in {
  display: none;
}

body.role--anonymous .hide-logged-out {
  display: none;
}

// Search
@import
  'search';

// Typography
.decanter-font-lead {
  font-weight: 400;
}

.label-inline > * {
  display: inline-block;
  padding-right: 5px;

  &:last-child {
    padding-right: 0;
  }
}

.decanter-font-lead.text-align-center {
  margin: 0 auto;
}

// Views
.view {
  .more-link {
    text-align: center;
  }

  span.views-label {
    font-weight: $font-bold;

    @include margin(null 0.25em null null);
  }
}
