main:has(.user-login-form) {
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  min-height: hb-calculate-rems(571px);
  padding: hb-calculate-rems(128px) 0;
  background-image: url("/themes/humsci/humsci_basic/images/user-login-background-image.png");
  background-position: center;
  background-repeat: no-repeat;

  .block--page-title {
    display: none;
  }
}

.user-login-form {
  background-color: var(--palette--white);
  padding: hb-calculate-rems(24px);
  max-width: hb-calculate-rems(900px);
  width: auto;
  margin: hb-calculate-rems(24px) !important;

  @include grid-media-min('md') {
    width: fit-content;
    margin: 0 auto !important;
    padding: hb-calculate-rems(24px) hb-calculate-rems(32px);
  }

  @include grid-media-min('lg') {
    padding: hb-calculate-rems(24px) hb-calculate-rems(48px);
  }

  div[data-drupal-selector="edit-intro-text"] h1 {
    display: block;
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(28px);
    line-height: hb-calculate-rems(38px);
    margin: 0;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(30px);
    }
  }

  h4,
  details[open].form-wrapper summary {
    margin-top: hb-calculate-rems(24px);
    margin-bottom: hb-calculate-rems(22px);
    font-weight: hb-theme-font-weight(semibold);
    font-size: hb-calculate-rems(21px);
    line-height: 127%;

    @include grid-media-min('md') {
      font-size: hb-calculate-rems(22px);
    }
  }

  a.samlauth-login {
    @include hb-big-button;

    max-width: hb-calculate-rems(197px);
    margin-top: hb-calculate-rems(26px);
    background-color: var(--palette--cardinal);
    border-color: var(--palette--cardinal);

    &::after {
      content: none;
    }
  }

  &:has(details.form-wrapper) {
    @include grid-media-min('md') {
      width: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      margin: hb-calculate-rems(24px) !important;

      div[data-drupal-selector="edit-intro-text"],
      a.samlauth-login {
        grid-column: 1;
      }

      > details.form-wrapper {
        grid-column: 2;
        grid-row: 6 / -1;
      }

      div[data-drupal-selector="edit-intro-text"] {
        grid-row: 2;
      }

      a.samlauth-login {
        grid-row: 3;
      }
    }

    @include grid-media-min('lg') {
      margin: 0 auto !important;
    }
  }

  details[open].form-wrapper {
    margin: hb-calculate-rems(32px) hb-calculate-rems(-24px) hb-calculate-rems(-24px);
    padding: hb-calculate-rems(24px);
    background-color: var(--palette--secondary-highlight);
    
    @include grid-media-min('md') {
      margin: hb-calculate-rems(-24px) hb-calculate-rems(-32px) hb-calculate-rems(-24px) 0;
      padding-right: hb-calculate-rems(32px);
    }

    @include grid-media-min('lg') {
      margin-right: hb-calculate-rems(-48px);
      padding-right: hb-calculate-rems(48px);
      padding-left: hb-calculate-rems(45px);
    }

    summary {
      background-color: transparent;
      color: var(--palette--black);
      padding: 0;
      border: none;
      cursor: none;
      pointer-events: none;
      width: fit-content;
      margin-top: 0;

      &::marker,
      &::after {
        content: none;
      }
    }

    .form-item {
      display: block;
      box-sizing: border-box;
      margin-right: 0;

      label,
      input {
        @include grid-media-min('md') {
          width: 100%;
        }
      }
    }

    .form-actions {
      display: block;
      padding-top: hb-calculate-rems(6px);

      input {
        width: 100%;
        max-width: hb-calculate-rems(147px);
        
        @include grid-media-min('md') {
          margin-right: hb-calculate-rems(24px);
        }
      }

      a {
        width: 100%;
        display: block;
        margin-top: hb-calculate-rems(16px);
        color: var(--palette--gray-dark);
        font-weight: hb-theme-font-weight(semibold);

        @include grid-media-min('lg') {
          display: inline-block;
          margin-top: 0;
          width: auto;
        }
      }
    }
  }
}
