// Decanter
@import 'decanter-no-markup';

.masonry {
  @include media(min-width ($medium-screen - 1)) {
    > div {
      width: calc(33% - 20px);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}