
{% set attributes = attributes.addClass('mrc-video-list') %}

<div{{ attributes }}>
  <div class="mrc-video-list__item">
    <div class="mrc-video-list__content">
      {% if title %}
        <h2 class="mrc-video-list__title">
          {{ title }}
        </h2>
      {% endif %}

      {% if video %}
        <div class="mrc-video-list__video decanter-embed-container">
          {{ video }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
