{
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "alpha-value-notation": null,
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "block-no-empty": true,
    "color-function-notation": "legacy",
    "color-hex-length": null,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["stylelint-commands"]
      }
    ],
    "comment-no-empty": true,
    "comment-whitespace-inside": "always",
    "custom-property-empty-line-before": [
      "always",
      {
        "except": ["after-custom-property", "first-nested"],
        "ignore": ["after-comment", "inside-single-line-block"]
      }
    ],
    "custom-property-pattern": null,
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": ["consecutive-duplicates-with-different-values"]
      }
    ],
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-empty-line-before": null,
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-name-case": "lower",
    "length-zero-no-unit": true,
    "keyframe-declaration-no-important": true,
    "keyframes-name-pattern": null,
    "max-nesting-depth": 7,
    "media-feature-name-no-unknown": true,
    "media-feature-range-notation": null,
    "no-descending-specificity": null,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": null,
    "no-invalid-double-slash-comments": true,
    "property-no-unknown": true,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "scss/at-if-no-null": null,
    "scss/at-mixin-pattern": null,
    "scss/at-rule-no-unknown": true,
    "scss/comment-no-empty": null,
    "scss/dollar-variable-pattern": null,
    "scss/no-global-function-names": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-not-notation": null,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-case": "lower",
    "selector-type-no-unknown": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "value-keyword-case": "lower"
  }
}
