// Generate Color Palette Classes for Colorful
@each $palette, $color-swatches in $hc-colorful-pairings {
  // These are the classes that update the CSS --palette variable.
  // They should be applied to the parent element.
  // Note: If a hc-pairing- class is not applied, hc-pairing-ocean will apply as the default / fallback color pairing.
  .hc-pairing-#{$palette} {
    // BASE
    --palette--primary: #{hb-get-pairing-color("primary", $palette, $hc-colorful-pairings)};
    --palette--secondary: #{hb-get-pairing-color("secondary", $palette, $hc-colorful-pairings)};
    --palette--tertiary: #{hb-get-pairing-color("tertiary", $palette, $hc-colorful-pairings)};
    // HERO
    --palette--primary-hero-overlay: #{hb-get-pairing-color("primary-hero-overlay", $palette, $hc-colorful-pairings)};
    // PRIMARY VARIANTS
    --palette--primary-dark: #{hb-get-pairing-color("primary-dark", $palette, $hc-colorful-pairings)};
    // SECONDARY VARIANTS
    --palette--secondary-active: #{hb-get-pairing-color("secondary-active", $palette, $hc-colorful-pairings)};
    --palette--secondary-highlight: #{hb-get-pairing-color("secondary-highlight", $palette, $hc-colorful-pairings)};
    --palette--secondary-highlight-darken: #{hb-get-pairing-color("secondary-highlight-darken", $palette, $hc-colorful-pairings)};
    --palette--secondary-darken-12: #{hb-get-pairing-color("secondary-darken-12", $palette, $hc-colorful-pairings)};
    // TERTIARY VARIANTS
    --palette--tertiary-highlight: #{hb-get-pairing-color("tertiary-highlight", $palette, $hc-colorful-pairings)};
    --palette--tertiary-highlight-darken-10: #{hb-get-pairing-color("tertiary-highlight-darken-10", $palette, $hc-colorful-pairings)};
    --palette--tertiary-reversed: #{hb-get-pairing-color("tertiary-reversed", $palette, $hc-colorful-pairings)};
    --palette--tertiary-reversed-darken-10: #{hb-get-pairing-color("tertiary-reversed-darken-10", $palette, $hc-colorful-pairings)};
    --palette--tertiary-darken-20: #{hb-get-pairing-color("tertiary-darken-20", $palette, $hc-colorful-pairings)};
  }
}

// Generate Color Palette Classes for Traditional
@each $palette, $color-swatches in $ht-traditional-pairings {
  // These are the classes that update the CSS --palette variable.
  // They should be applied to the parent element.
  // Note: If a ht-pairing- class is not applied, ht-pairing-default will apply as the default / fallback color pairing.
  .ht-pairing-#{$palette} {
    // BASE
    --palette--primary: #{hb-get-pairing-color("primary", $palette, $ht-traditional-pairings)};
    --palette--secondary: #{hb-get-pairing-color("secondary", $palette, $ht-traditional-pairings)};
    --palette--tertiary: #{hb-get-pairing-color("tertiary", $palette, $ht-traditional-pairings)};
    // HERO
    --palette--primary-hero-overlay: #{hb-get-pairing-color("primary-hero-overlay", $palette, $ht-traditional-pairings)};
    // PRIMARY VARIANTS
    --palette--primary-dark: #{hb-get-pairing-color("primary-dark", $palette, $ht-traditional-pairings)};
    // SECONDARY VARIANTS
    --palette--secondary-active: #{hb-get-pairing-color("secondary-active", $palette, $ht-traditional-pairings)};
    --palette--secondary-highlight: #{hb-get-pairing-color("secondary-highlight", $palette, $ht-traditional-pairings)};
    --palette--secondary-highlight-darken: #{hb-get-pairing-color("secondary-highlight-darken", $palette, $ht-traditional-pairings)};
    --palette--secondary-darken-12: #{hb-get-pairing-color("secondary-darken-12", $palette, $ht-traditional-pairings)};
    // TERTIARY VARIANTS
    --palette--tertiary-highlight: #{hb-get-pairing-color("tertiary-highlight", $palette, $ht-traditional-pairings)};
    --palette--tertiary-highlight-darken-10: #{hb-get-pairing-color("tertiary-highlight-darken-10", $palette, $ht-traditional-pairings)};
    --palette--tertiary-reversed: #{hb-get-pairing-color("tertiary-reversed", $palette, $ht-traditional-pairings)};
    --palette--tertiary-reversed-darken-10: #{hb-get-pairing-color("tertiary-reversed-darken-10", $palette, $ht-traditional-pairings)};
    --palette--tertiary-darken-20: #{hb-get-pairing-color("tertiary-darken-20", $palette, $ht-traditional-pairings)};
  }
}

// Generate Color Palette Classes for Airy
@each $palette, $color-swatches in $ha-airy-pairings {
  // These are the classes that update the CSS --palette variable.
  // They should be applied to the parent element.
  // Note: If a ht-pairing- class is not applied, ht-pairing-default will apply as the default / fallback color pairing.
  .ha-pairing-#{$palette} {
    // BASE
    --palette--primary: #{hb-get-pairing-color("primary", $palette, $ha-airy-pairings)};
    --palette--secondary: #{hb-get-pairing-color("secondary", $palette, $ha-airy-pairings)};
    --palette--tertiary: #{hb-get-pairing-color("tertiary", $palette, $ha-airy-pairings)};
    // HERO
    --palette--primary-hero-overlay: #{hb-get-pairing-color("primary-hero-overlay", $palette, $ha-airy-pairings)};
    // PRIMARY VARIANTS
    --palette--primary-dark: #{hb-get-pairing-color("primary-dark", $palette, $ha-airy-pairings)};
    // SECONDARY VARIANTS
    --palette--secondary-active: #{hb-get-pairing-color("secondary-active", $palette, $ha-airy-pairings)};
    --palette--secondary-highlight: #{hb-get-pairing-color("secondary-highlight", $palette, $ha-airy-pairings)};
    --palette--secondary-highlight-darken: #{hb-get-pairing-color("secondary-highlight-darken", $palette, $ha-airy-pairings)};
    --palette--secondary-darken-12: #{hb-get-pairing-color("secondary-darken-12", $palette, $ha-airy-pairings)};
    // TERTIARY VARIANTS
    --palette--tertiary-highlight: #{hb-get-pairing-color("tertiary-highlight", $palette, $ha-airy-pairings)};
    --palette--tertiary-highlight-darken-10: #{hb-get-pairing-color("tertiary-highlight-darken-10", $palette, $ha-airy-pairings)};
    --palette--tertiary-reversed: #{hb-get-pairing-color("tertiary-reversed", $palette, $ha-airy-pairings)};
    --palette--tertiary-reversed-darken-10: #{hb-get-pairing-color("tertiary-reversed-darken-10", $palette, $ha-airy-pairings)};
    --palette--tertiary-darken-20: #{hb-get-pairing-color("tertiary-darken-20", $palette, $ha-airy-pairings)};
  }
}
