// Generate Color Palette Classes
@each $palette, $color-swatches in $color-pairings {
  // These are the classes that update the CSS --palette variable.
  // They should be applied to the parent element.
  // Note: There is not a .hc-pairing base class as all of the values in each coloring pairing are unique.
  .hc-pairing-#{$palette} {
    --palette--primary: #{get-color("primary", $palette)};
    --palette--secondary: #{get-color("secondary", $palette)};
    --palette--tertiary: #{get-color("tertiary", $palette)};
    --palette--primary-hero-overlay: #{get-color("primary-hero-overlay", $palette)};
    --palette--secondary-active: #{get-color("secondary-active", $palette)};
    --palette--secondary-highlight: #{get-color("secondary-highlight", $palette)};
    --palette--tertiary-reversed: #{get-color("tertiary-reversed", $palette)};
  }
}
