// The helper link text is displayed by default in the Traditional
// theme but visually hidden in the Colorful theme. This utility
// class should be used to display the helper link text
// in date stacked horizontal, date stacked vertical, horizontal,
// and vertical cards in the Colorful theme.

.hb-display-more-link-text {
  .hb-card__decorative-link a, // cards in views
  .field-hs-postcard-link a { // postcards in layout
    @include hb-more-link;

    &::before {
      display: none; // hide large arrow icon when helper link text is displayed
    }
  }

  .hb-dark-pattern .hb-card__decorative-link a, // cards in dark mode views
  .hb-dark-pattern .field-hs-postcard-link a,
  .hb-dark-inversion & .views-element-container .hb-card__decorative-link a,
  .hb-dark-inversion & .views-element-container.field-hs-postcard-link a {
    color: var(--palette--white);

    &::after {
      @include hb-icon-link-arrow('white');
      background-size: 85%;
    }

    &:hover,
    &:focus {
      color: var(--palette--gray-medium);

      &::after {
        @include hb-icon-link-arrow('gray-medium');
        background-size: 85%;
      }
    }
  }
}
