.hb-position-relative {
  @include hb-relative;
}

.hb-columns {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 50%;
    padding-right: hb-calculate-rems(11px);
  }
}

.hb-inline,
.hb-inline-pipe {
  margin-bottom: 2rem;

  @include grid-media-min('sm') {
    display: flex;
    flex-wrap: wrap;
  }

  > div {
    margin-bottom: hb-spacing-width('xxs');
    padding-right: hb-calculate-rems(20px);
  }
}

.hb-inline-pipe {
  > div {
    padding-right: 0;

    @include grid-media-min('sm') {
      display: flex;
    }

    &::after {
      @include grid-media-min('sm') {
        margin: 0 hb-calculate-rems(10px);
        content: '|';
        @include hb-global-color('color', 'gray-dark');
      }
    }

    &:last-child {
      margin-bottom: 2rem;

      @include grid-media-min('sm') {
        margin-bottom: initial;
      }

      &::after {
        content: '';
      }
    }
  }
}

// hb-well is now deprecated and will be refactored out in a future release
.hs-well,
.hb-well,
.pullquote {
  @include hb-well;
}

.hb-divider {
  @include hb-divider;
}

// To create a borderless Group block
.hb-borderless {
  border: 0 none;
  padding: 0;
}

// View utility wrapper class
.hb-views-divider {
  .views-row:not(:last-of-type) {
    @include hb-divider;
    padding-bottom: hb-spacing-width();
  }
}

// Used specifically on node detail pages to float an image.
// If the image is placed within the main content of the page
// in layout builder, this class can be applied.
.hb-main-body-detail-image {
  .hb-three-column-w-image & {
    @include grid-media-min('md') {
      @include clearfix;
      float: right;
      margin: 0 0 hb-spacing-width('sm') hb-spacing-width('sm');
    }
  }
}

.hb-heading-link-color {
  /* stylelint-disable selector-pseudo-class-no-unknown */
  &:is(h1, h2, h3, h4, h5, h6, span) a:not([class]), // added via title field in a view
  /* stylelint-enable selector-pseudo-class-no-unknown */
  .hb-card__title a { // added via view or in layout builder
    @include hb-heading-link-color;
  }
}

// Reset the height of the text boxes within Carousel paragraph types
// to scale according to the amount of content (title, copy, button)
// within the text box.
.hb-carousel-reset-height {
  .paragraph--type--hs-carousel .hb-hero-overlay__text {
    min-height: initial !important;
  }
}

.hb-accordion-toggle-all {
  @include hb-unbuttonize;
  @include hb-link;
  cursor: pointer;
  float: right;
  margin-bottom: hb-spacing-width('xxs');
}

// Vertical timeline headings - change circle icons to squares
// Apply in layout builder block configuration
.hb-timeline-checklist {
  .hb-timeline-item {
    &__heading {
      &::before {
        border-radius: initial;
      }
    }
  }

  // endcap of last item is small square
  .ptype-hs-timeline-item:last-of-type,
  .views-view-pattern .hb-timeline-item:last-of-type {
    .hb-timeline-item[open] {
      &::after {
        border-radius: initial;
      }
    }
  }
}

// Vertical timeline bottom border on last item in each timeline
// Apply in layout builder block configuration
.hb-timeline-border {
  .ptype-hs-timeline-item:last-of-type,
  .views-view-pattern .hb-timeline-item:last-of-type {
    padding-bottom: hb-calculate-rems(28px);
    border-bottom: 1px solid #000;
  }
}
