.hb-position-relative {
  position: relative;
}

.hb-columns {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 50%;
    padding-right: hb-calculate-rems(11px);
  }
}

.hb-inline {
  display: flex;
  flex-wrap: wrap;

  > div {
    padding-right: hb-calculate-rems(20px);
  }
}

.hb-well {
  @include hb-colorful {
    @include hb-global-color('background-color', 'gray-light');
  }

  border: 0 none;
}

.hb-divider {
  @include hb-divider;
}

// To create a borderless Group block
.hb-borderless {
  border: 0 none;
  padding: 0;
}
