.hb-position-relative {
  position: relative;
}

.hb-columns {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 50%;
    padding-right: hb-calculate-rems(11px);
  }
}

.hb-well {
  background-color: lighten($su-color-driftwood, 27%);
  border: 0 none;
}
