.hb-raised-cards {
  // The uniform-height modifier adds the ability for cards to be consistent height regardless of content.
  &--uniform-height .paragraph-item,
  &--uniform-height .hb-grid__item {
    display: flex;
  }

  &--uniform-height .paragraph-item .hb-card,
  &--uniform-height .paragraph-item .hb-vertical-linked-card {
    height: 100%;
  }

  // Adding inherited width and 100% is necessary to keep cards width consistent after applying display:flex for uniform height.
  &--uniform-height .paragraph-item > div:first-child {
    width: inherit;
  }

  &--uniform-height .hb-card {
    width: 100%;
  }

  .hb-card {
    @include hb-global-color('background-color', 'white');

    @include hb-traditional {
      padding: hb-spacing-width('xs');
      box-shadow: hb-calculate-rems(1px) hb-calculate-rems(3px) hb-calculate-rems(17px) hb-get-global-color('gray-medium', $ht-traditional-globals);
    }

    @include hb-themes(('airy', 'colorful')) {
      box-shadow: hb-calculate-rems(1px) hb-calculate-rems(7.5px) hb-calculate-rems(35px) rgba(hb-get-global-color('black', $hc-colorful-globals), 0.12);

      @supports (object-fit: cover) {
        align-items: stretch;

        &__graphics {
          margin: 0;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        &__img,
        &__img * {
          height: 100%;
        }
      }

      &__content {
        padding: hb-spacing-width('xs');

        @include grid-media-min('lg') {
          padding: hb-spacing-width();
        }

        .hb-experimental & {
          padding: hb-spacing-width('xs');
        }
      }

      &.hb-card--horizontal-date-stacked.hb-card--no-image {
        .hb-card__date-tile {
          top: hb-calculate-rems(22px);
          left: hb-calculate-rems(-14px);
        }

        .hb-card__content {
          padding-left: 0;
        }
      }

      &.hb-card--date-stacked.hb-card--no-image {
        .hb-card__date-tile {
          top: hb-calculate-rems(22px);
          left: hb-calculate-rems(-14px);
        }
      }

      &__title:only-child {
        margin: 0;
      }
    }
  }
}
