.hb-raised-cards {
  // The uniform-height modifier adds the ability for cards to be consistent height regardless of content.
  &--uniform-height .hs-paragraph-style .ptype-hs-postcard,
  &--uniform-height .field-hs-row-components .ptype-hs-postcard,
  &--uniform-height .hs-paragraph-style .hb-grid__item,
  &--uniform-height .field-hs-row-components .hb-grid__item,
  &--uniform-height .hb-grid .hb-grid__item,
  &--uniform-height .field-hs-collection-items .ptype-hs-postcard {
    display: flex;

    & div:only-child:not(.hb-card__date-tile, .hb-pill) {
      width: 100%;
    }
  }

  &--uniform-height .hs-paragraph-style .paragraph-item .hb-card,
  &--uniform-height .field-hs-row-components .paragraph-item .hb-card,
  &--uniform-height .hs-paragraph-style .paragraph-item .hb-vertical-linked-card,
  &--uniform-height .field-hs-row-components .paragraph-item .hb-vertical-linked-card,
  &--uniform-height .field-hs-collection-items .paragraph-item .hb-vertical-linked-card,
  &--uniform-height .field-hs-collection-items .paragraph-item .hb-card,
  &--uniform-height .hb-timeline,
  &--uniform-height .hb-timeline .hb-timelime__wrapper {
    height: 100%;
  }

  // Raised cards uniform height styles for Testimonial & Timeline
  &--uniform-height .field-hs-row-components .ptype-hs-testimonial,
  &--uniform-height .field-hs-collection-items .ptype-hs-testimonial,
  &--uniform-height .field-hs-collection-items .ptype-hs-timeline {
    & div:not([class]):only-child:not(.hb-card__date-tile, .hb-pill), // necessary for logged out state
    & div.contextual-region { // necessary for logged in state
      height: 100%;
    }
  }

  &--uniform-height .field-hs-row-components .paragraph-item .hb-testimonial,
  &--uniform-height .field-hs-collection-items .paragraph-item .hb-testimonial {
    display: flex;
    height: inherit;

    &__wrapper {
      width: 100%;
    }
  }

  .hb-card {
    @include hb-global-color('background-color', 'white');
    flex-grow: 1;

    @include hb-traditional {
      padding: hb-spacing-width('xs');
      box-shadow: hb-calculate-rems(1px) hb-calculate-rems(3px) hb-calculate-rems(17px) hb-get-global-color('gray-medium', $ht-traditional-globals);
    }

    @include hb-themes(('airy', 'colorful')) {
      box-shadow: hb-calculate-rems(1px) hb-calculate-rems(7.5px) hb-calculate-rems(35px) rgba(hb-get-global-color('black', $hc-colorful-globals), 0.12);

      @supports (object-fit: cover) {
        align-items: stretch;

        &__graphics {
          margin: 0;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        &__img {
          height: 100%;
        }
      }

      &__content {
        padding: hb-spacing-width('xs');
      }

      &.hb-card--horizontal-date-stacked.hb-card--no-image {
        .hb-card__date-tile {
          top: hb-calculate-rems(22px);
          left: hb-calculate-rems(-14px);
        }

        .hb-card__content {
          padding-left: 0;
        }
      }

      &.hb-card--date-stacked.hb-card--no-image {
        .hb-card__date-tile {
          top: hb-calculate-rems(22px);
          left: hb-calculate-rems(-14px);
        }
      }

      &__title:only-child {
        margin: 0;
      }
    }
  }

  .hb-testimonial,
  .hb-timelime__wrapper {
    @include hb-global-color('background-color', 'white');
    @include hb-raised-cards-shadow;
    padding: hb-spacing-width('md') hb-spacing-width('xs');
    margin-top: 0;
  }

  .hs-paragraph-style--well,
  .hs-paragraph-style--well-full-width {
    .hb-testimonial__wrapper::before {
      @include hb-global-color('background-color', 'white');
    }
  }
}

// Dark Pattern and Inversion settings for hb-card, placed here because of the order of the classes when applied
.hb-raised-cards .hb-dark-pattern .hb-card,
.hb-dark-inversion .hb-raised-cards .views-element-container .hb-card {
  @include hb-global-color('color', 'black');

  .field-content,
  .views-label {
    @include hb-global-color('color', 'black');
  }

  a {
    @include hb-pairing-color('color', 'tertiary');

    &:hover,
    &:focus {
      @include hb-pairing-color('color', 'tertiary-darken-20');
    }
  }

  &__date-tile {
    .field-content {
      @include hb-themes(('airy', 'colorful')) {
        @include hb-global-color('color', 'white');
      }
    }

    &-month .field-content {
      @include hb-traditional {
        @include hb-global-color('color', 'white');
      }
    }

    &-day .field-content {
      @include hb-traditional {
        @include hb-pairing-color('color', 'primary');
      }
    }
  }

  &__title a {
    @include hb-themes(('airy', 'colorful')) {
      @include hb-pairing-color('border-bottom-color', 'tertiary');

      &:hover,
      &:focus {
        @include hb-pairing-color('border-bottom-color', 'tertiary-darken-20', 'important');
      }
    }

    @include hb-traditional {
      @include hb-global-color('color', 'black');
      @include hb-global-color('text-decoration-color', 'black');

      &:hover,
      &:focus {
        @include hb-pairing-color('text-decoration-color', 'tertiary-darken-20');
      }
    }
  }

  &__decorative-link a {
    @include hb-themes(('airy', 'colorful')) {
      color: transparent;

      &:hover,
      &:focus {
        color: transparent;
      }
    }

    @include hb-traditional {
      &::after {
        @include hb-icon-link-arrow('tertiary');
        background-size: 85%;
      }

      &:hover,
      &:focus {
        &::after {
          @include hb-icon-link-arrow('tertiary-darken-20');
          background-size: 85%;
        }
      }
    }
  }
}
