// WYSIWYG text area styles
.field-hs-text-area {
  @include clearfix;
  margin-bottom: hb-spacing-width();

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 0;
    margin-right: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include hb-traditional {
      margin-bottom: hb-calculate-rems(4px);
    }
  }

  h1 {
    margin-top: hb-spacing-width();

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-spacing-width('xxs');
    }
  }

  h2 {
    margin-top: hb-spacing-width('md');

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(12px);

      @include grid-media-min('md') {
        margin-top: hb-spacing-width();
        margin-bottom: hb-spacing-width('xxxs');
      }
    }
  }

  h3 {
    @include hb-traditional {
      margin-top: hb-spacing-width('xs');
    }

    @include hb-themes(('colorful', 'airy')) {
      margin-top: hb-spacing-width('sm');
      margin-bottom: hb-calculate-rems(10px);
    }
  }

  h4 {
    margin-top: hb-calculate-rems(18px);

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(4px);
    }
  }

  h5 {
    margin-top: hb-calculate-rems(18px);

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(3px);
    }
  }

  h6 {
    margin-top: hb-calculate-rems(18px);

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(3px);
    }
  }

  // jump to link target - remove link styles from anchor tag
  a:not([href]):not([class]) {
    border-bottom: 0;
    transition: none;
    background-image: none;
  }

  // Unordered and ordered lists within the WYSIWYG need flexbox to implement proper alignment around floated images
  ol,
  ul {
    display: flex;
    flex-direction: column;
  }
}

// Utility classes used in Content Type WYSIWYGs and in Text Area WYSIWYG components
.hs {
  &-credits {
    font-size: hb-calculate-rems(14px);
    font-style: italic;
    @include hb-global-color('color', 'gray-dark');

    .hb-local-footer--dark & {
      @include hb-global-color('color', 'white');
    }
  }

  &-font-lead {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    line-height: 127%;
    @include hb-global-color('color', 'gray-dark');

    .hb-local-footer--dark & {
      @include hb-global-color('color', 'gray-light');
    }

    @include grid-media-min('lg') {
      font-size: hb-calculate-rems(22px);
    }
  }

  &-font-splash {
    @include hb-heading-1;

    @include grid-media-min('md') {
      margin: hb-spacing-width() 0 hb-spacing-width('xxs');
    }

    @include hb-themes(('colorful', 'airy')) {
      @include hb-pairing-color('color', 'primary');

      .hb-local-footer--dark & {
        @include hb-global-color('color', 'gray-light');
      }
    }

    @include hb-traditional {
      @include hb-pairing-color('color', 'primary');
      font-size: hb-calculate-rems(37px);
      line-height: 125%;
    }
  }

  &-caption {
    font-size: hb-calculate-rems(14px);
    @include hb-global-color('color', 'gray-dark');

    .hb-local-footer--dark & {
      @include hb-global-color('color', 'white');
    }
  }

  &-short-line-length {
    max-width: hb-calculate-rems(700px);
  }

  &-table--borderless {
    thead {
      th {
        border: 0;
      }
    }

    td {
      border-left: 0;
      border-right: 0;
    }
  }
}
// Drupal base classes used in Content Type WYSIWYGs and in Text Area WYSIWYG components

.emphasized-text {
  font-style: italic;
  font-weight: inherit;
  font-size: inherit;
}
// media

.align {
  &-right {
    margin: hb-spacing-width('sm') 0 hb-spacing-width('sm') hb-spacing-width('sm');
  }

  &-left {
    margin: hb-spacing-width('sm') hb-spacing-width('sm') hb-spacing-width('sm') 0;
  }

  &-center {
    img {
      margin: hb-spacing-width('sm') auto;
    }
  }
}
// blockquotes
// The text area blockquote content is placed inside of a paragraph tag.

blockquote:nth-child(n) {
  // remove content set in the base default styles set on the blockquote tag
  &::after,
  &::before {
    content: '';
  }

  .hb-local-footer & {
    margin: 0 0 hb-calculate-rems(20px); // adjust blockquote browser spacing defaults when placed in the local footer
  }

  p {
    @include hb-blockquote;

    .hb-local-footer--dark & {
      @include hb-global-color('color', 'gray-light');
    }
  }
}

a[href*="//"].hs-external-link,
.hs-external-link a[href*="//"] {
  @include hb-link--inline($icon: true);
  @include hb-external-link-icon;
}

a.hs-more-link,
button.hs-more-link,
.hs-more-link a,
.hs-more-link button {
  margin-bottom: hb-calculate-rems(20px);
  @include hb-more-link;
}
