{%
  set classes = [
    'hb-grid',
    'hb-grid--cols-' ~ columns,
  ]
%}

{% if items|length > 0 %}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ create_attribute({'class': ['hb-grid__item']}) }}>
      {{- item -}}
    </div>
  {% endfor %}
</div>
{% endif %}
