@charset "UTF-8";

@import 'decanter-no-markup';

$color-bright-red: #b1040e !default;
$color-bright-red-1: #b1040e !default;
$color-bright-red-2: #b1040e !default;
$color-bright-red-3: #b1040e !default;
$color-bright-red-4: #b1040e !default;

$color-black: #2e2d29 !default;
$color-white: #ffffff !default;
$color-cardinal-red: #8c1515 !default;

// ---------- Color Module Styles -----------

// ------ Base colors ------
a {
  color: $color-bright-red;
}

body {
  color: $color-black;
}

// ------ Branding colors ------

.brand-bar {
  background: $color-bright-red;
  color: $color-white;
}

// ------ Header colors ------
#header {
  background: $color-white;
  color: $color-black;

  a {
    color: $color-bright-red;
  }
}

// ------ Main colors ------

#main-content,
#help-region {
  background: $color-white;
  color: $color-black;

  a {
    color: $color-bright-red;
  }
}

// ------ Footer colors ------
#footer {
  background-color: $color-white;
  color: $color-black;

  a {
    color: $color-bright-red;
  }
}

// ------ Global Footer colors ------

#footer__global-footer {
  background-color: $color-cardinal-red;
  color: $color-white;

  a {
    color: $color-white;
  }
}

// ------ Color Module: Don't touch ------
// Colors below won't be modified by the color module.
