@charset "UTF-8";

$color-bright-red: rgb(177, 4, 14) !default;
$color-bright-red-1: rgb(177, 4, 15) !default;
$color-bright-red-2: rgb(177, 5, 14) !default;
$color-bright-red-3: rgb(178, 4, 14) !default;
$color-bright-red-4: rgb(176, 4, 14) !default;
$color-bright-red-5: rgb(177, 4, 13) !default;

$color-black: rgb(46, 45, 41) !default;
$color-black-1: rgb(46, 45, 42) !default;
$color-black-2: rgb(46, 46, 41) !default;
$color-black-3: rgb(47, 45, 41) !default;

$color-white: rgb(254, 254, 254) !default;
$color-white-1: rgb(255, 255, 254) !default;
$color-white-2: rgb(255, 254, 255) !default;
$color-white-3: rgb(254, 255, 255) !default;
$color-white-4: rgb(254, 254, 255) !default;
$color-white-5: rgb(255, 254, 254) !default;

$color-cardinal-red: rgb(140, 21, 21) !default;



// ---------- Color Module Styles -----------

// ------ Base colors ------
a {
  color: $color-bright-red;
}

body {
  color: $color-black;
}

// ------ Branding colors ------

.brand-bar {
  background: $color-bright-red-1;
  color: $color-white;
}

// ------ Header colors ------
#header {
  background: $color-white-1;
  color: $color-black-1;

  a {
    color: $color-bright-red-2;
  }
}

// ------ Main colors ------

#main-content,
#help-region {
  background: $color-white-2;
  color: $color-black-2;

  a {
    color: $color-bright-red-3;
  }

  .decanter-button,
  .decanter-button a {
    background-color: $color-bright-red-5;
    color: $color-white-5;
  }
}

// ------ Footer colors ------
#footer {
  background-color: $color-white-3;
  color: $color-black-3;

  a {
    color: $color-bright-red-4;
  }
}

// ------ Global Footer colors ------

#footer__global-footer {
  background-color: $color-cardinal-red;
  color: $color-white-4;

  a {
    color: $color-white-4;
  }
}

// ------ Color Module: Don't touch ------
// Colors below won't be modified by the color module.
