#test-groups {
  margin: 0 10px;
}

.row-items {

  border: solid 1px #ddd;
  background: #f0f0f0;
  width: 100%;
  min-height: 65px;

  .item-list-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .item {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 18px;
    background: #fff;
  }

  .resizeable-item {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.row {
  margin-bottom: 15px;
  background-color: #fff;
  display: flex;

  .row-draggable-handle {
    display: table;
    height: 100px;
    text-align: center;
    width: 20px;
    font-size: 18px;
    font-weight: 600;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.drag-handle {
  margin-right: 10px;
  cursor: grab;
  float: left;
}

.item-header {
  .remove-button {
    float: right;
  }
}

input {
  max-width: 100%;
}

.sortable-list {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}

.sortable-item {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  padding: 10px;
}

.react-grid-item,
.toolbox {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2)
}

.toolbox {
  min-height: 50px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

