#toolbar-item-shortcuts-tray li > ul {
  display: none;
  border-bottom: 1px solid #aaa;
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
  position: absolute;
  background: #ffffff;
  margin-top: 0;
  padding-right: 20px;
}

#toolbar-item-shortcuts-tray li:hover > ul {
  display: block;
}
