@charset "UTF-8";

@import 'decanter-no-markup';

.color-preview {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  h2 {
    @include h2;

    font-size: 2.3rem;
  }

  .color-preview-font-lead {
    @include font-lead;
  }

  @include sans;

  > *:after {
    content: "";
    display: table;
    clear: both;
  }

  a {
    color: #b1040e;

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }

  .color-preview-brand-bar {
    background: #b1040e;
    color: #ffffff;
    height: 40px;
    line-height: 30px;
    max-height: 30px;

    .color-preview-branding-logo {
      padding: 0 20px;
    }
  }

  .color-preview-header {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    margin: 5px 0 0;

    img {
      width: 100px;
      padding: 0 5px 0 0;
      margin: 0 5px 0 0;
      border-right: 1px solid black;
    }

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin: 0 5px 2px 0;

      &:hover {
        border-bottom: 2px solid #000;
        margin-bottom: 0;
      }
    }

    .color-preview-menu {
      float: right;
    }
  }

  .color-preview-main {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .color-preview-sidebar {
    width: 25%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 0 5px 2px;
      padding-left: 5px;

      &:hover {
        border-left: 2px solid #000;
        margin-left: 0;
      }
    }
  }

  .color-preview-main-content {
    width: 75%;
  }

  .color-preview-footer {
    background-color: #8c1515;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    img {
      max-width: 80px;
    }

    ul {
      list-style: none;

      &:last-child {
        font-size: 8px;
      }
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      color: #ffffff;
    }

    .color-preview-footer-logo {
      width: 80px;
      margin: 10px 0 0 10px;
    }
  }
}
