@charset "UTF-8";

///
/// HOVER MAIN MENU COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

// Styles for no JavaScript
// Fallback styles, which are also applied to the page when
// loading and in-between navigation page refreshes
#header {
.decanter-main-menu--hover-reveal {
  .no-js & {
    .fa {
      display: none;
    }
  }

  @include media($medium-screen) {
    ul ul {
      display: none;
    }

    &.menu--main {
      box-shadow: none;
      float: right;
      height: 40px;

      a:hover,
      a.is-active,
      .menu-item--active-trail a {
        border-bottom: solid 3px $color-black;
      }

      li {
        @include margin(null 0 null null);

        &.menu-item > a {
          font-size: $base-font-size;
          font-weight: $font-normal;
          text-decoration: none;

          @include margin(0 1.5em 0 0);
          @include padding(6px 0);
        }
      }
    }
  }
}
}

// Main menu in header region
#header {
  .fa {
    font: normal normal normal 14px/1 FontAwesome;
  }

  .js & {
    .decanter-main-menu--hover-reveal {
      @include media($medium-screen) {
        .fa {
          display: none;
        }

        &.menu--main {
          box-shadow: none;
          float: right;
          height: 40px;

          a:hover,
          a.is-active,
          .menu-item--active-trail a,
          a.ui-state-active {
            border-bottom: solid 3px $color-black;
          }
        }

        .ui-menu.decanter-nav-primary {
          border: none;

          &.ui-menu {
            &.ui-widget-content {
              background: $color-black;

              @include media($medium-screen) {
                background: none;
              }


              &.ui-widget {
                border: none;
              }

              .ui-icon {
                background-image: none;
              }

              .ui-widget {
                background: $color-black;

                @include padding(1em);

                &.decanter-nav-submenu li a {
                  font-size: 1.8rem;
                }
              }
            }

            .ui-menu-item-wrapper {
              @include margin(0 1.5em 0 0);
              @include padding(6px 0 6px 0);
            }
          }

          > li > a {
            font-weight: $font-normal;

            @media (min-width: 951px) {
              font-size: $base-font-size;
            }

            & .ui-menu-icon {
              right: -18px;
              top: -23px;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          .ui-state-active,
          .ui-widget-content .ui-state-active,
          .ui-widget-header .ui-state-active,
          a.ui-button:active,
          .ui-button:active,
          .ui-button.ui-state-active:hover {
            background-color: transparent;
            border: none;
            border-bottom: 3px solid $color-black;
            color: $color-cloud;

            @include media($medium-screen) {
              color: $color-black;
            }
          }

          .decanter-nav-submenu {
            .menu-item a {
              border-bottom: none;
              color: $color-white;

              @include margin(0 1.5em 10px 0);
              @include padding(0);

              @include media($medium-screen) {
                @include margin(0 0 10px 0);
              }


              &:hover {
                background-color: transparent;
                border: none;
                color: $color-cloud;
                text-decoration: underline;
              }

              &.is-active {
                color: $color-cloud;
              }
            }

            .ui-state-active,
            .ui-widget-content .ui-state-active
            a.ui-button:active,
            .ui-button:active,
            .ui-button.ui-state-active:hover {
              background-color: transparent;
              color: $color-cloud;
              text-decoration: underline;
            }
          }
        }

        ul ul {
          display: none;

          li {
            position: relative;
            display: block;
          }

          ul {
            left: 100%;
            top: 0;
          }
        }
      }


      // Mobile styles for the main menu in header region.
      @include media(max-width ($medium-screen - 1)) {
        ul {
          display: none;
          background: $color-black;
          position: absolute;
          z-index: 1;
          width: calc(100% - 10px);

          &.expanded {
            display: block;
            width: 95%;
          }

          ul {
            border: 1px solid $color-white;
            z-index: 2;

            ul {
              z-index: 3;

              ul {
                z-index: 4;
              }
            }
          }

          button {
            @include padding(4px);
            @include margin(null null null 1.5em);
          }
        }

        li {
          display: block;
          position: relative;

          @include padding(0.2em null null 0.75em);
        }

        a {
          color: $color-white;
          border: 0;

          @include padding(0);

          &:hover,
          &:focus {
            text-decoration: none;
          }

          &.is-active {
            border-bottom: 2px solid $color-white;
            font-weight: $font-bold;
          }
        }

        button {
          color: $color-white;
          width: auto;
        }
      }
    }
  }
}

// Subnavigation - no JavaScript
// No JavaScript is applied to the menu when
// it does not appear in the Header region.
.main-container {
  .menu--main {
    float: none;

    @include media(max-width $medium-screen) {
      display: none;
    }


    h2#menu-blockmain-menu {
      @include margin(0 null null);

      a {
        font-size: $h2-font-size;
        font-weight: $font-bold;
      }
    }

    a {
      font-weight: $font-bold;
      text-decoration: none;

      @include padding(0 0 5px 10px);

      &:hover,
      &.is-active,
      &.ui-state-active {
        border-bottom: none;
      }

      &.is-active {
        border-left: 2px solid $color-black;
      }
    }

    ul {
      @include margin(null null 0);

      li {
        display: block;
      }
    }

    .menu-item--active-trail {
      a {
        border-bottom: none;
        color: $color-bright-red;

        &:hover {
          color: $color-black;
        }

        &.is-active {
          color: $color-black;
          font-weight: $font-bold;
        }
      }

      &.menu-item--expanded > a {
        border-left: 2px solid $color-black;
        color: #2e2d29;
        font-weight: $font-bold;
      }

      ul.menu .menu-item a.is-active {
        border-left: none;
        color: $color-black;
        font-weight: $font-bold;
      }
    }

    ul.menu ul.menu .menu-item a {
      font-weight: $font-normal;

      @include padding(null null null 20px);
    }
  }
}
