.pager {
  margin-top: 10px;

  li {
    padding: 0 3px;

    a {
      background: $color-bright-red;
      color: $color-white;
      padding: 0 10px;
      text-decoration: none;

      &:hover{
        background: $color-black;
      }
    }

    &.pager__item--active a {
      background: $color-white;
      color: $color-bright-red;
      border: 1px $color-black solid;

      &:hover{
        color: $color-black;
      }
    }
  }
}
