// Overlapping contextual links are difficult.
// Different links show at the top for different users.
// Space them all out so we can see them all.
// Taken from suhumsci theme here: https://github.com/SU-HSDO/suhumsci/blob/develop/docroot/themes/humsci/su_humsci_theme/scss/components/atoms/_contextual_links.scss

$sel: '';
@for $i from 0 through 4 {
  $sel: if($i == 0, '.contextual-region.paragraph', selector-nest($sel, '.contextual-region')) !global;

  #{$sel} {
    .contextual:not(.hb-card__img .contextual-region .contextual) {
      right: 32px * $i;
    }
  }
}

// resets height of contextual links on raised cards
.hb-raised-cards .hb-card__img .contextual-region .contextual {
  height: unset;
}

// Prevent humsci_basic link styles from applying to contextual link items.
// Most properties are overridden by default, but box-shadow isn't.
.contextual-links a:hover,
.contextual-links a:focus {
  box-shadow: initial;

  .hb-dark-pattern & {
    color: $hb-color--drupal-black !important; // override dark variant link styles on hover
  }
}
