// Drupal Administration Toolbar
// Override anchor link styles written for the Humsci Colorful theme.
.toolbar {
  &-tab {
    a.ext {
      background-image: none;

      // Because we removed the background-image styles on line 6, let's
      // add the default Drupal background-image styles for the toolbar back upon hover.
      &:hover {
        background-image: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
      }
    }
  }
}

// Drupal adds an additional div to the footer when you are logged in from the Toolbar module, creating a thin white line below the footer.
// This ID below addresses that div specifically and removes the white line.
#drupal-live-announce.visually-hidden {
  height: 0;
}
