<div class="paragraph-admin-preview">
  <div{{wrapper_attributes}}>
    {% include '@humsci_basic/components/pattern-callout-box--layout--paragraph--hs-callout-box--hs-well.html.twig' %}
  </div>
</div>
