<div class="paragraph-admin-preview">
  <div{{wrapper_attributes.addClass('paragraph-item', 'ptype-hs-hero-image')}}>
    {% include '@hs_layouts/hero-text-overlay/hero-text-overlay.html.twig' %}
  </div>
</div>
