<div class="paragraph-admin-preview">
  <div{{wrapper_attributes.addClass('paragraph-item', 'ptype-hs-testimonial')}}>
    {% include '@hs_layouts/testimonial/testimonial.html.twig' %}
  </div>
</div>
