<div class="paragraph-admin-preview">
  <div{{wrapper_attributes.addClass('paragraph-item', 'ptype-hs-callout-box')}}>
    <p>
      A Callout Box needs to be immediately followed by a Text Area and will be
      displayed inside the Text Area when the page is viewed by users.
    </p>
    {% include '@humsci_basic/components/pattern-callout-box--layout--paragraph--hs-callout-box--hs-well.html.twig' %}
  </div>
</div>
