<div class="paragraph-admin-preview">
  <div{{wrapper_attributes.addClass('paragraph-item', 'ptype-hs-postcard')}}>
    {% include '@patterns/horizontal-card/horizontal-card.html.twig' %}
  </div>
</div>
