<div class="paragraph-admin-preview">
  <div{{wrapper_attributes.addClass('paragraph-item', 'ptype-hs-hero-image')}}>
    {% include '@humsci_basic/components/pattern-hero-text-overlay.html.twig' %}
  </div>
</div>
