@charset "UTF-8";

///
/// SIMPLE NODE STYLES
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.simple-node {
  .mrc-simple__img {
    @include mrc-float-left;
  }

  .node-title h1 {
    clear: none;
  }

  .mrc-simple__separator:before {
    content: "\2014";
    display: block;
    font-size: $lead-font-size;
    font-weight: $font-bold;

    @include margin(1em null null);
  }

  h1.page-title {
    margin-top: 0;
  }
}

