@use '../tools/functions.general' as *;

.social-media-link__list {
  @include hb-list-empty-styles;

  li {
    display: flex;
  }

  a.social-media-link {
    color: unset;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-grow: 1;

    &:hover {
      color: unset;

      .social-media-link__icon,
      .social-media-link__label {
        color: var(--palette--secondary-darken-12);

        .hb-dark-pattern & {
          color: var(--palette--tertiary-highlight-darken-10);
        }
      }
    }
  }

  .social-media-link__icon {
    width: 1em;
    text-align: center;
    color: var(--palette--secondary);

    .hb-dark-pattern & {
      color: var(--palette--secondary-highlight);
    }

    // Override for Soundcloud icon (too wide).
    &.fa-soundcloud {
      font-size: 0.73em;
      width: 1.37em;
    }
  }
}

// Grid Layout.
.block-social-media-footer--layout-grid {
  .social-media-link__list {
    display: grid;
    gap: hb-calculate-rems(16px);
  }

  .social-media-link__label {
    @include visually-hidden;
  }
}

// Vertical List Layout.
.block-social-media-footer--layout-vertical-list {
  .social-media-link__list li {
    margin-bottom: hb-calculate-rems(16px);
  }

  .social-media-link {
    gap: hb-calculate-rems(16px);
  }

  .social-media-link__label {
    font-size: hb-calculate-rems(16px);
    text-decoration: underline;
    color: var(--palette--black);

    .hb-dark-pattern & {
      color: var(--palette--secondary-highlight);
    }
  }
}

// Small icons.
.block-social-media-footer--icons-small {
  .social-media-link {
    font-size: hb-calculate-rems(32px);
  }

  .social-media-link__list {
    grid-template-columns: repeat(auto-fit, minmax(hb-calculate-rems(32px), 1fr));
  }
}

// Large icons.
.block-social-media-footer--icons-large {
  .social-media-link {
    font-size: hb-calculate-rems(48px);
  }

  .social-media-link__list {
    grid-template-columns: repeat(auto-fit, minmax(hb-calculate-rems(48px), 1fr));
  }
}

.social-media-link__text-above {
  margin-bottom: hb-calculate-rems(16px);
}

.social-media-link__text-below {
  margin-top: hb-calculate-rems(16px);
}

// Add a max-width to the media image just in case a big image is being added there.
.social-media-link__text-above,
.social-media-link__text-below {
  .hb-media-image {
    max-width: hb-calculate-rems(200px);
  }
}
