// This is a stylesheet for the Global Message banner
.su-alert {
  background-color: #f4f4f4;
  color: $su-color-black;
  padding: 0;

  & .fa,
  & .fas,
  .hb-dark-pattern & .fa,
  .hb-dark-pattern & .fas,
  .hb-dark-pattern & ol:not([class]) li::before,
  & ol:not([class]) li::before {
    color: $su-color-black;
  }

  .hb-dark-pattern & ul:not([class]) li::before,
  & ul:not([class]) li::before {
    background-color: $su-color-black;
  }

  .hb-dark-pattern & a,
  a:not([class]),
  a.mailto,
  a[href^='mailto:'],
  a.ext,
  a {
    color: $su-color-black;
    border-bottom: 0;
    background-image: none;
    font-weight: hb-theme-font-weight(semibold);

    &:hover,
    &:focus {
      background-color: transparent;
      color: #413e39;
    }
  }

  a {
    &.su-button,
    &.su-button--secondary {
      @include button-secondary;
    }

    &.su-button--big {
      @include button-big;
    }
  }

  &--error,
  &--success,
  &--info {
    a {
      &.su-button,
      &.su-button--secondary,
      &.su-button--big {
        box-shadow: $su-button-stroke $su-color-white;
        color: color(light-text, $su-alert-colors);

        &:hover,
        &:focus {
          box-shadow: $su-button-stroke $su-color-white;
          color: color(light-text, $su-alert-colors);
        }
      }
    }
  }

  &--text-light {
    .hb-dark-pattern & a,
    a:not([class]),
    a.mailto,
    a[href^='mailto:'],
    a.ext,
    a {
      color: var(--palette--white);

      &:hover,
      &:focus {
        color: #ebebeb;
        text-decoration: underline;
      }
    }

    .su-alert__text {
      a {
        &:hover,
        &:focus {
          background-color: $su-color-white;
          color: $su-color-black;
        }
      }
    }

    .su-alert__footer {
      .su-link {
        &::after {
          background: $su-color-white;
        }
      }
    }

    .su-alert__dismiss-button {
      color: color(light-text, $su-alert-colors);

      &:hover,
      &:focus {
        background-color: transparent;
        color: $su-color-white;
      }
    }
  }

  &--text-light,
  &--text-light .fa,
  &--text-light .fas,
  .hb-dark-pattern &.su-alert--text-light .fa,
  .hb-dark-pattern &.su-alert--text-light .fas,
  .hb-dark-pattern &.su-alert--text-light ol:not([class]) li::before,
  &--text-light ol:not([class]) li::before {
    color: var(--palette--white);
  }

  .hb-dark-pattern &--text-light ul:not([class]) li::before,
  &--text-light ul:not([class]) li::before {
    background-color: var(--palette--white);
  }

  &--plain {
    background-color: #f4f4f4;
  }

  &--error {
    background-color: $su-color-bright-red;
    color: color(light-text, $su-alert-colors);

    a {
      color: color(light-text, $su-alert-colors);

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.su-button,
      &.su-button--secondary,
      &.su-button--big {
        background-color: color(error, $su-alert-colors);

        &:hover,
        &:focus {
          background-color: color(error, $su-alert-colors);
        }
      }
    }
  }

  &--success {
    background-color: #00755a;

    a {
      &.su-button,
      &.su-button--secondary,
      &.su-button--big {
        background-color: color(success, $su-alert-colors);

        &:hover,
        &:focus {
          background-color: color(success, $su-alert-colors);
        }
      }
    }
  }

  &--warning {
    background-color: #eaab00;

    a {
      color: $su-color-black;

      &:hover,
      &:focus {
        color: $su-color-black;
        text-decoration: underline;
      }

      &.su-button,
      &.su-button--secondary,
      &.su-button--big {
        background-color: color(warning, $su-alert-colors);
        box-shadow: $su-button-stroke $su-color-black;
        color: $su-color-black;

        &:hover,
        &:focus {
          background-color: color(warning, $su-alert-colors);
          box-shadow: $su-button-stroke $su-color-black;
          color: $su-color-black;
        }
      }
    }
  }

  &--info {
    background-color: $su-color-bright-blue;

    a {
      &.su-button,
      &.su-button--secondary,
      &.su-button--big {
        background-color: color(info, $su-alert-colors);

        &:hover,
        &:focus {
          background-color: color(info, $su-alert-colors);
        }
      }
    }
  }

  &__header {
    margin-bottom: 1em;
    width: 100%;
    margin-right: hb-calculate-rems(20px);
    order: 1;
    flex-shrink: 1;

    @include grid-media-min('lg') {
      margin-right: hb-calculate-rems(26px);
      width: auto;
      margin-bottom: 0;
    }
  }

  &__label {
    height: 100%;
    line-height: 100%;
    display: inline-block;
    font-size: hb-calculate-rems(17px);
    text-transform: uppercase;
    font-weight: hb-theme-font-weight(semibold);
    letter-spacing: 0.1em;

    &::after {
      content: ':';
    }
  }

  &__body {
    order: 2;
    flex-grow: 1;
    flex-basis: hb-calculate-rems(100px);
    padding-left: 0 !important;

    .su-alert & .su-alert__heading {
      margin-bottom: hb-calculate-rems(10px);
      font-weight: hb-theme-font-weight(bold);
      margin-top: 0;
      font-size: hb-calculate-rems(29px);
      letter-spacing: -0.012em;
    }
  }

  &__text {
    margin-bottom: 0;

    a {
      color: $su-color-black;
      text-decoration: underline;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $su-color-black;
        background-color: $su-color-digital-blue-light;
        text-decoration: underline;
      }

      &.su-button,
      &.su-button--secondary {
        @include button-secondary;

        background-color: color(default, $su-alert-colors);
        box-shadow: $su-button-stroke $su-color-black;
        color: color(dark-text, $su-alert-colors);

        &:hover,
        &:focus {
          background-color: color(default, $su-alert-colors);
        }
      }

      &.su-button--big {
        @include button-big;

        background-color: color(default, $su-alert-colors);
        box-shadow: $su-button-stroke $su-color-black;
        color: color(dark-text, $su-alert-colors);

        &:hover,
        &:focus {
          background-color: color(default, $su-alert-colors);
          color: color(dark-text, $su-alert-colors);
        }
      }
    }
  }

  &__icon {
    margin-right: hb-calculate-rems(5px);
    display: inline-block;
    max-width: hb-calculate-rems(20px);

    i,
    .su-far,
    .su-fas {
      font-style: normal;
    }
  }

  &__dismiss {
    @include responsive-spacing('margin', null null null 1);
    order: 3;
    height: 100%;
    align-content: flex-end;
    flex-shrink: 1;
    text-align: right;

    @include grid-media-max('xs') {
      width: 100%;
    }

    .su-alert__dismiss-button {
      padding: 0;
      background-color: transparent;
      text-transform: uppercase;
      font-weight: hb-theme-font-weight(semibold);
      color: color(dark-text, $su-alert-colors);
      font-size: hb-calculate-rems(17px);
      letter-spacing: 0.1em;

      .su-far,
      .su-fas,
      .fas {
        @include margin(null null null 0.5em);
      }

      i,
      .su-far,
      .su-fas,
      .fas {
        font-style: normal;
        text-decoration: none;
      }

      &.su-text-black {
        &:hover,
        &:focus {
          background-color: transparent;
          color: $su-color-black;
        }
      }
    }
  }

  .centered-container {
    @include hb-page-width;
    padding: hb-calculate-rems(16px) 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include grid-media-min('md') {
      padding: hb-calculate-rems(19px) 0;
    }
  }
}

// Optional open footer area.
// -----------------------------------------------------------------------------
.su-alert__footer {
  a {
    color: color(dark-text, $su-alert-colors);
    text-decoration: none;

    &:hover,
    &:focus {
      color: color(dark-text, $su-alert-colors);
      text-decoration: underline;
    }
  }

  .su-link {
    &::after {
      background: color(dark-text, $su-alert-colors);
    }

    &:hover,
    &:focus {
      text-decoration: underline;

      &::after {
        background: color(dark-text, $su-alert-colors);
      }
    }
  }
}

.su-alert__text+.su-alert__footer {
  @include responsive-spacing('margin', 0 null null null);
}

.su-alert__dismiss~.su-alert__body {
  @include grid-media-max('sm') {
    @include margin(null null 1em null);
  }
}
