// This is a stylesheet for the Global Message banner

@use '../variables/su-core-colors' as *;
@use '../functions/fonts' as *;
@use '../functions/color' as *;
@use '../functions/general' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/layout' as *;
@use '../mixins/generate-css-vars' as *;

$su-button-stroke: inset 0 0 0 2px;
$humsci-su-alert-colors: (
  'alert-default': #f4f4f4,
  'alert-error': #b1040e,
  'alert-info': #00548f,
  'alert-success': #008566,
  'alert-warning': #fec51d,
  'alert-warning-link': #8c1515,
  'alert-dark-text': #2e2d29,
  'alert-light-text': #fff,
  'alert-light-hover': #dad7cb,
);

.su-alert {
  // Colors.
  --palette--su-color-digital-blue-light: #6fc3ff; // GLOBAL MESSAGE
  --palette--su-color-digital-blue-dark: #00548f; // GLOBAL MESSAGE
  --palette--su-color-digital-green: #008566; // GLOBAL MESSAGE
  --palette--su-color-illuminating-dark: #fec51d; // GLOBAL MESSAGE
  --palette--su-color-foggy: #dad7cb; // GLOBAL MESSAGE
  --palette--su-color-foggy-light: #f4f4f4; // GLOBAL MESSAGE
  --palette--su-color-bright-blue: var(--palette--su-color-digital-blue); // GLOBAL MESSAGE
  --palette--su-color-bright-red: var(--palette--su-color-digital-red); // GLOBAL MESSAGE

  @include generate-css-vars($humsci-su-alert-colors);

  background-color: #f4f4f4;
  color: var(--palette--su-color-black);
  padding: 0;

  & .fa,
  & .fas,
  .hb-dark-pattern & .fa,
  .hb-dark-pattern & .fas,
  .hb-dark-pattern & ol:not([class]) li::before,
  & ol:not([class]) li::before {
    color: var(--palette--su-color-black);
  }

  .hb-dark-pattern & ul:not([class]) li::before,
  & ul:not([class]) li::before {
    background-color: var(--palette--su-color-black);
  }

  .hb-dark-pattern & a,
  a:not([class]),
  a.mailto,
  a[href^='mailto:'],
  a.ext,
  a {
    color: var(--palette--su-color-black);
    border-bottom: 0;
    background-image: none;
    font-weight: hb-theme-font-weight(semibold);

    &:hover,
    &:focus {
      background-color: transparent;
      color: #413e39;
    }
  }

  &--text-light {
    .hb-dark-pattern & a,
    a:not([class]),
    a.mailto,
    a[href^='mailto:'],
    a.ext,
    a {
      color: var(--palette--white);

      &:hover,
      &:focus {
        color: #ebebeb;
        text-decoration: underline;
      }
    }

    .su-alert__text {
      a {
        &:hover,
        &:focus {
          background-color: var(--palette--su-color-white);
          color: var(--palette--su-color-black);
        }
      }
    }

    .su-alert__footer {
      .su-link {
        &::after {
          background: var(--palette--su-color-white);
        }
      }
    }

    .su-alert__dismiss-button {
      color: color('alert-light-text', $humsci-su-alert-colors);

      &:hover,
      &:focus {
        background-color: transparent;
        color: var(--palette--su-color-white);
      }
    }
  }

  &--text-light,
  &--text-light .fa,
  &--text-light .fas,
  .hb-dark-pattern &.su-alert--text-light .fa,
  .hb-dark-pattern &.su-alert--text-light .fas,
  .hb-dark-pattern &.su-alert--text-light ol:not([class]) li::before,
  &--text-light ol:not([class]) li::before {
    color: var(--palette--white);
  }

  .hb-dark-pattern &--text-light ul:not([class]) li::before,
  &--text-light ul:not([class]) li::before {
    background-color: var(--palette--white);
  }

  &--plain {
    background-color: #f4f4f4;
  }

  &--error {
    background-color: var(--palette--su-color-bright-red);
    color: color('alert-light-text', $humsci-su-alert-colors);

    a {
      color: color('alert-light-text', $humsci-su-alert-colors);

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &--success {
    background-color: #00755a;
  }

  &--warning {
    background-color: #eaab00;

    a {
      color: var(--palette--su-color-black);

      &:hover,
      &:focus {
        color: var(--palette--su-color-black);
        text-decoration: underline;
      }
    }
  }

  &--info {
    background-color: var(--palette--su-color-bright-blue);
  }

  &__header {
    margin-bottom: 1em;
    width: 100%;
    margin-right: hb-calculate-rems(20px);
    order: 1;
    flex-shrink: 1;

    @include grid-media-min('lg') {
      margin-right: hb-calculate-rems(26px);
      width: auto;
      margin-bottom: 0;
    }
  }

  &__label {
    height: 100%;
    line-height: 100%;
    display: inline-block;
    font-size: hb-calculate-rems(17px);
    text-transform: uppercase;
    font-weight: hb-theme-font-weight(semibold);
    letter-spacing: 0.1em;

    &::after {
      content: ':';
    }
  }

  &__body {
    order: 2;
    flex-grow: 1;
    flex-basis: hb-calculate-rems(100px);
    padding-left: 0 !important;

    .su-alert & .su-alert__heading {
      margin-bottom: hb-calculate-rems(10px);
      font-weight: hb-theme-font-weight(bold);
      margin-top: 0;
      font-size: hb-calculate-rems(29px);
      letter-spacing: -0.012em;
    }
  }

  &__text {
    margin-bottom: 0;

    a {
      color: var(--palette--su-color-black);
      text-decoration: underline;
      transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: var(--palette--su-color-black);
        background-color: var(--palette--su-color-digital-blue-light);
        text-decoration: underline;
      }
    }
  }

  &__icon {
    margin-right: hb-calculate-rems(5px);
    display: inline-block;
    max-width: hb-calculate-rems(20px);

    i,
    .su-far,
    .su-fas {
      font-style: normal;
    }
  }

  &__dismiss {
    @include responsive-spacing('margin', null null null 1);
    order: 3;
    height: 100%;
    align-content: flex-end;
    flex-shrink: 1;
    text-align: right;

    @include grid-media-max('xs') {
      width: 100%;
    }

    .su-alert__dismiss-button {
      padding: 0;
      background-color: transparent;
      text-transform: uppercase;
      font-weight: hb-theme-font-weight(semibold);
      color: color('alert-dark-text', $humsci-su-alert-colors);
      font-size: hb-calculate-rems(17px);
      letter-spacing: 0.1em;

      .su-far,
      .su-fas,
      .fas {
        margin-left: 0.5em;
      }

      i,
      .su-far,
      .su-fas,
      .fas {
        font-style: normal;
        text-decoration: none;
      }

      &.su-text-black {
        &:hover,
        &:focus {
          background-color: transparent;
          color: var(--palette--su-color-black);
        }
      }
    }
  }

  .centered-container {
    @include hb-page-width;
    padding: hb-calculate-rems(16px) 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include grid-media-min('md') {
      padding: hb-calculate-rems(19px) 0;
    }
  }
}

// Optional open footer area.
// -----------------------------------------------------------------------------
.su-alert__footer {
  a {
    color: color('alert-dark-text', $humsci-su-alert-colors);
    text-decoration: none;

    &:hover,
    &:focus {
      color: color('alert-dark-text', $humsci-su-alert-colors);
      text-decoration: underline;
    }
  }

  .su-link {
    &::after {
      background: color('alert-dark-text', $humsci-su-alert-colors);
    }

    &:hover,
    &:focus {
      text-decoration: underline;

      &::after {
        background: color('alert-dark-text', $humsci-su-alert-colors);
      }
    }
  }
}

.su-alert__text + .su-alert__footer {
  @include responsive-spacing('margin', 0 null null null);
}

.su-alert__dismiss ~ .su-alert__body {
  @include grid-media-max('sm') {
    margin-bottom: 1em;
  }
}
