// Gradient Hero Slider styles.

// Slick JS carousel / slider controls
.paragraph--type--hs-gradient-hero-slider {
  @include hb-hero-full-width;

  @include slick-container;
  @include slick-dots;
  @include slick-arrows;
  position: relative;

  // styles specific to the main content area are applied by targeting
  // the sidebar classes. We can use these classes to move the slick dots.
  .slick-dots {
    // To make it fit in small viewports
    width: 100%;
    bottom: 0;

    @include grid-media-min('md') {
      width: auto;
    }

    :not(.hs-full-width).hb-three-column--no-sidebar &,
    .hb-three-column--one-sidebar &,
    .hb-three-column--two-sidebar & {
      bottom: hb-calculate-rems(-48px);
    }

    li {
      button {
        width: hb-calculate-rems(24px);
        height: hb-calculate-rems(24px);
        padding: 0;
        background-color: transparent;

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: hb-calculate-rems(4px);
          background-color: transparent;
          outline: 1px solid var(--palette--secondary);

          @include hb-themes(('colorful', 'airy')) {
            border-radius: hb-calculate-rems(5px);
          }
        }

        &:hover,
        &:focus {
          background-color: transparent;

          &::before {
            background-color: var(--palette--secondary);
          }
        }
      }

      &.slick-active button {
        background-color: transparent;

        &::before {
          background-color: var(--palette--secondary);
        }
      }
    }

  }
}
