// Gradient Hero Slider styles.

@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/heros' as *;
@use '../mixins/swiper' as *;

// Swiper slideshow for Gradient Hero Slider.
.paragraph--type--hs-gradient-hero-slider {
  @include hb-hero-full-width;
  @include swiper-container;
  @include swiper-pagination;
  @include swiper-arrows;

  position: relative;

  // Styles for swiper slider pagination.
  .swiper-controls-wrapper {
    .hs-full-width & {
      margin-top: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .swiper-pagination {
    @include grid-media-min('md') {
      .hs-full-width & {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
