@use '../variables/general' as *;
@use '../functions/general' as *;
@use '../functions/animation' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/links' as *;

.hb-vertical-card,
.hb-card--date-stacked,
.hb-card--structured {
  // Needed to make the styles work when the anchor is the wrapper.
  .hb-card__title a,
  .hb-card__title a > div > * {
    .hb-dark-pattern &,
    .hb-dark-inversion .views-element-container & {
      color: var(--link-base-current-color);
    }
  }

  // Needed to make the styles work when the anchor is the wrapper.
  .hb-card__title a > div > * {
    display: inline;
  }

  // Apply hover styles only to cards with a link.
  &.hb-card--linked {
    &:hover,
    &:focus,
    &.is-focused {
      cursor: pointer;

      // Needed to make the styles work when the anchor is the wrapper.
      .hb-card__title a,
      .hb-card__title a > div > * {
        color: color('black', 'global');
      }

      // Arrow shift on hover.
      .hb-card__title a::after {
        transform: translateX(#{hb-calculate-rems(2.5px)});
      }

      .hb-card__img img {
        transform: scale($hb-image-hover-scale);
      }
    }

    // Styles when there's a video on a card.
    &:has(.hb-video-lazy:hover),
    &:has(.hb-video-lazy:focus-within) {
      .hb-card__title a,
      .hb-card__title a > div > * {
        color: var(--link-base-current-color);
      }

      .hb-card__title a::after {
        transform: translateX(0);
      }
    }
  }


  .hb-card__img {
    overflow: hidden;

    img {
      width: 100%;
      transition: hb-transition(transform);
    }
  }

  .hb-media-image {
    margin: 0;
  }
}
