@use '../variables/general' as *;
@use '../functions/animation' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/links' as *;

.hb-vertical-card,
.hb-card--date-stacked,
.hb-card--structured {
  // Needed to make the styles work when the anchor is the wrapper.
  .hb-card__title a,
  .hb-card__title a > div > * {
    @include hb-link;

    .hb-dark-pattern &,
    .hb-dark-inversion .views-element-container & {
      color: var(--link-base-current-color);
    }
  }

  // Needed to make the styles work when the anchor is the wrapper.
  .hb-card__title a > div > * {
    display: inline;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    @include hb-colorful {
      .hb-raised-cards & {
        text-decoration-color: color(secondary-darken-12);
      }
    }

    // Needed to make the styles work when the anchor is the wrapper.
    .hb-card__title a,
    .hb-card__title a > div > * {
      color: color('black', global);
      text-decoration-color: color(primary);

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        color: var(--link-base-hover-current-color);
        text-decoration-color: var(--link-base-hover-current-color);
      }
    }
  }

  &:hover,
  &:focus,
  &.is-focused {
    .hb-card__img img {
      transform: scale($hb-image-hover-scale);
    }
  }

  .hb-card__img {
    overflow: hidden;

    img {
      width: 100%;
      transition: hb-transition(transform);
    }
  }

  .hb-media-image {
    margin: 0;
  }
}
