// Lockup

// A lockup with the Stanford wordmark logo and department/unit name. It is used
// in the header of a website and links to the homepage of the department/unit.
// When building a department lockup, besides the Stanford wordmark, the most
// obvious element should be the most granular relevant department.

@use '../variables/su-core-colors' as *;
@use '../functions/fonts' as *;
@use '../functions/color' as *;
@use '../functions/general' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/flex-grid' as *;
@use '../mixins/general' as *;

.su-lockup,
.su-lockup > a {
  @include grid-media('md') {
    @include flex-container;
    align-items: stretch;
    justify-content: flex-start;
    vertical-align: bottom;
  }
}

.su-lockup {
  a {
    font-weight: hb-theme-font-weight(regular);
    text-decoration: none;
  }
}

.su-lockup__cell1 {
  min-height: 26px;
  vertical-align: bottom;
  width: auto;

  @include grid-media('md') {
    margin-right: -1px;
    padding-right: 7px;
    padding-bottom: 0;
    align-self: flex-end;
    border-right: solid 1px var(--palette--su-color-black);
    display: flex;
    flex-shrink: 1;
    max-width: 160px;
    min-height: 32px;
  }
}

.su-lockup__cell2 {
  @include grid-media('md') {
    padding-top: 0;
    padding-left: 7px;
    align-self: flex-end;
    border-left: solid 1px var(--palette--su-color-black);
    flex-grow: 1;
    vertical-align: bottom;
  }
}

.su-lockup__wordmark {
  @include logo;
  color: color(su-brand);
  font-size: 36px;
  line-height: 17px;
  vertical-align: bottom;

  @include grid-media('md') {
    font-size: 46px;
    line-height: 21px;
  }
}

.su-lockup__wordmark-wrapper {
  line-height: 26px;

  @include grid-media('md') {
    line-height: 32px;
  }
}

.su-lockup__line1,
.su-lockup__line2,
.su-lockup__line3,
.su-lockup__line4,
.su-lockup__line5 {
  @include font-smoothing;
  color: var(--palette--su-color-black);
  display: block;
}

.su-lockup__line1 {
  font-size: hb-calculate-rems(28px);

  @include grid-media-max('sm') {
    font-size: hb-calculate-rems(26px);
  }
}

.su-lockup__line2 {
  font-size: hb-calculate-rems(26px);
}

.su-lockup__line3 {
  margin-top: hb-calculate-rems(5px);
  font-size: hb-calculate-rems(26px);
  font-style: italic;

  @include grid-media-max('sm') {
    margin: 0;
    font-size: hb-calculate-rems(19px);
  }
}

.su-lockup__line4 {
  margin-top: hb-calculate-rems(5px);
  font-size: hb-calculate-rems(25px);
  font-weight: hb-theme-font-weight(semibold);
  letter-spacing: hb-calculate-rems(0.5px);
  line-height: 1em;
  margin-left: hb-calculate-rems(-2px);
  text-transform: uppercase;
}

.su-lockup__line5 {
  font-size: hb-calculate-rems(27px);
  line-height: 1em;
  width: 100%;

  @include grid-media('md') {
    margin-top: 8px;
    font-size: hb-calculate-rems(30px);
  }
}

// Lockup option A: Multidisciplinary (or long school name)
.su-lockup--option-a {
  > a {
    @include grid-media-max('sm') {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    line-height: hb-calculate-rems(26px);

    @include grid-media-max('sm') {
      margin-left: -2px;
    }

    @include grid-media('md') {
      font-size: hb-calculate-rems(32px);
      line-height: 0.7em;
    }
  }

  .su-lockup__line5 {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(7.5px);
      margin-left: -2px;
      order: 2;

      &::after {
        margin-top: hb-calculate-rems(7.5px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('md') {
      font-size: hb-calculate-rems(21px);
    }
  }
}

// Lockup option B: Unit (2 lines, big/small)
.su-lockup--option-b {
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    margin-bottom: 0.2em;

    @include grid-media('md') {
      margin-top: hb-calculate-rems(-4px);
      font-size: hb-calculate-rems(19px);
    }

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(5px);
      margin-bottom: hb-calculate-rems(2px);
      margin-left: -2px;
    }
  }

  .su-lockup__line2 {
    line-height: 0.7em;

    @include grid-media-max('sm') {
      margin-left: -2px;
      line-height: hb-calculate-rems(26px);
    }
  }
}

// Lockup option C: Multidisciplinary + Unit (2 lines, big/small)
.su-lockup--option-c {
  > a {
    @include grid-media-max('sm') {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      margin-left: -2px;
      order: 3;
    }
  }

  .su-lockup__line1 {
    margin-bottom: 0.2em;

    @include grid-media('md') {
      margin-top: hb-calculate-rems(-4px);
      font-size: hb-calculate-rems(19px);
    }

    @include grid-media-max('sm') {
      margin-bottom: hb-calculate-rems(2px);
    }
  }

  .su-lockup__line2 {
    line-height: 0.7em;

    @include grid-media-max('sm') {
      line-height: hb-calculate-rems(26px);
    }
  }

  .su-lockup__line5 {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(7.5px);
      margin-left: -2px;
      order: 2;

      &::after {
        margin-top: hb-calculate-rems(7.5px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('md') {
      font-size: hb-calculate-rems(21px);
    }
  }
}

// Lockup option D: Unit + Level (1 line)
.su-lockup--option-d {
  .su-lockup__line2,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    @include grid-media('sm') {
      margin-top: hb-calculate-rems(-7px);
    }

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(5px);
      margin-bottom: hb-calculate-rems(2px);
      margin-left: -2px;
    }
  }

  .su-lockup__line3 {
    @include grid-media('md') {
      font-size: hb-calculate-rems(18px);
      line-height: 0.7em;
    }
  }
}

// Lockup option E: Unit (2 lines) + Level
.su-lockup--option-e {
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    @include grid-media('sm') {
      margin-top: hb-calculate-rems(-7px);
      font-size: hb-calculate-rems(26px);
    }

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(5px);
      margin-left: -2px;
    }
  }

  .su-lockup__line2 {
    line-height: hb-calculate-rems(26px);

    @include grid-media-max('sm') {
      margin-left: -2px;
    }
  }

  .su-lockup__line3 {
    margin-top: hb-calculate-rems(5px);
    font-style: italic;

    @include grid-media('md') {
      margin-top: hb-calculate-rems(8px);
      font-size: hb-calculate-rems(19px);
      line-height: 0.7em;
    }
  }
}

// Lockup option F: Unit (2 lines, big/super small)
.su-lockup--option-f {
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    margin-top: hb-calculate-rems(5px);
    margin-bottom: 2px;

    @include grid-media('md') {
      margin-top: hb-calculate-rems(-4px);
      font-size: hb-calculate-rems(13px);
    }

    @include grid-media-max('sm') {
      margin-bottom: hb-calculate-rems(2px);
      margin-left: -2px;
    }
  }

  .su-lockup__line2 {
    margin-left: -2px;
    line-height: 0.7em;

    @include grid-media-max('sm') {
      line-height: hb-calculate-rems(26px);
    }
  }
}

// Lockup option G: Multidisciplinary + Unit (2 lines, big/super small)
.su-lockup--option-g {
  > a {
    @include grid-media-max('sm') {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    margin-top: hb-calculate-rems(5px);
    margin-bottom: 2px;

    @include grid-media('md') {
      margin-top: hb-calculate-rems(-4px);
      margin-bottom: 2px;
      font-size: hb-calculate-rems(13px);
    }

    @include grid-media-max('sm') {
      margin-top: 0;
      margin-bottom: hb-calculate-rems(2px);
      margin-left: -2px;
    }
  }

  .su-lockup__line2 {
    margin-left: -2px;
    line-height: 0.7em;

    @include grid-media-max('sm') {
      line-height: hb-calculate-rems(26px);
    }
  }

  .su-lockup__line5 {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(7.5px);
      order: 2;

      &::after {
        margin-top: hb-calculate-rems(10px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('md') {
      font-size: hb-calculate-rems(21px);
    }
  }
}

// Lockup option H: School + Unit (2 lines)
.su-lockup--option-h {
  .su-lockup__line2,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__cell2,
  .su-lockup__line4 {
    @include grid-media-max('sm') {
      margin-left: -2px;
    }
  }

  .su-lockup__wordmark {
    @include grid-media-max('sm') {
      display: block;
    }
  }

  .su-lockup__line4 {
    margin-bottom: hb-calculate-rems(-3px);
    line-height: 0.95em;

    @include grid-media-max('sm') {
      margin-bottom: 4px;

      &::after {
        margin-top: hb-calculate-rems(7.5px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }
  }

  .su-lockup__line3 {
    margin-top: 0;
    margin-bottom: -3px;
    font-style: normal;
    line-height: 1em;
    text-transform: capitalize;

    @include grid-media-max('sm') {
      font-size: hb-calculate-rems(26px);
    }
  }
}

// Lockup option I: School + Unit + Level
.su-lockup--option-i {
  .su-lockup__line2,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__cell2,
  .su-lockup__line4 {
    @include grid-media-max('sm') {
      margin-left: -2px;
    }
  }

  .su-lockup__wordmark {
    @include grid-media-max('sm') {
      display: block;
    }
  }

  .su-lockup__line4 {
    margin-bottom: hb-calculate-rems(-3px);
    line-height: 0.95em;

    @include grid-media-max('sm') {
      &::after {
        margin-top: hb-calculate-rems(7.5px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }
  }

  .su-lockup__line3 {
    line-height: 0.7em;
    text-transform: capitalize;

    @include grid-media('md') {
      font-size: hb-calculate-rems(18px);
    }

    @include grid-media-max('sm') {
      line-height: 1.15em;
    }
  }
}

// Lockup option J: Multidisciplinary + Unit (2 lines)
.su-lockup--option-j {
  > a {
    @include grid-media-max('sm') {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    @include grid-media('md') {
      margin-top: hb-calculate-rems(-7px);
    }

    @include grid-media-max('sm') {
      margin-bottom: -2px;
    }
  }

  .su-lockup__line2 {
    margin-top: hb-calculate-rems(3px);
    line-height: 0.7em;

    @include grid-media-max('sm') {
      margin-bottom: -2px;
      line-height: hb-calculate-rems(26px);
    }
  }

  .su-lockup__line5 {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(7.5px);
      margin-left: -2px;
      order: 2;

      &::after {
        margin-top: hb-calculate-rems(9px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('md') {
      font-size: hb-calculate-rems(21px);
    }
  }
}

// Lockup option K: Alt School + Unit (1 line)
.su-lockup--option-k {
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line1 {
    font-size: hb-calculate-rems(33px);
    font-weight: hb-theme-font-weight(semibold);
    line-height: 0.7em;
    text-transform: uppercase;

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(11px);
      margin-left: -2px;
      font-size: hb-calculate-rems(26px);
      line-height: hb-calculate-rems(26px);

      &::after {
        margin-top: hb-calculate-rems(5px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }
  }

  .su-lockup__line5 {
    @include grid-media-max('sm') {
      margin-left: -2px;
      font-size: hb-calculate-rems(26px);
    }
  }
}

// Lockup option L: School
.su-lockup--option-l {
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(5px);
      margin-bottom: -2px;
    }

    @include grid-media('md') {
      font-size: hb-calculate-rems(33px);
      line-height: 0.7em;
    }
  }
}

// Lockup option M: Unit (2 lines)
.su-lockup--option-m {
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line2 {
    margin-top: hb-calculate-rems(3px);
    line-height: 0.7em;

    @include grid-media-max('sm') {
      margin-top: 0;
      margin-left: -2px;
      line-height: hb-calculate-rems(26px);
    }
  }

  .su-lockup__line1 {
    @include grid-media('md') {
      margin-top: hb-calculate-rems(-7px);
    }

    @include grid-media-max('sm') {
      margin-top: 4px;
      margin-left: -2px;
    }
  }
}

// Lockup option N: Unit (1 line)
.su-lockup--option-n {
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line1 {
    line-height: 0.7em;

    @include grid-media('md') {
      font-size: hb-calculate-rems(32px);
    }

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(5px);
      margin-left: -2px;
      line-height: hb-calculate-rems(26px);
    }
  }
}

// Lockup option O: School (vertical)
.su-lockup--option-o {
  .su-lockup__cell2,
  .su-lockup__cell1 {
    border: 0;
  }

  .su-lockup__line1,
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line4 {
    @include grid-media-max('sm') {
      margin-left: -2px;
    }
  }
}

// Lockup option P: School + Unit (1 line)
.su-lockup--option-p {
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__wordmark {
    @include grid-media-max('sm') {
      display: block;
    }
  }

  .su-lockup__line1 {
    margin-bottom: -3px;
    line-height: 1em;
  }

  .su-lockup__line4 {
    margin-bottom: -3px;
    line-height: 1em;

    @include grid-media-max('sm') {
      font-size: hb-calculate-rems(25px);

      &::after {
        margin-top: hb-calculate-rems(6px);
        margin-bottom: hb-calculate-rems(7px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      margin-left: -2px;
    }
  }
}

// Lockup option Q: Multidisciplinary + Unit + Level
.su-lockup--option-q {
  > a {
    @include grid-media-max('sm') {
      display: flex;
      flex-direction: column;
    }
  }

  .su-lockup__line2,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__cell2 {
    @include grid-media-max('sm') {
      order: 3;
    }
  }

  .su-lockup__line1 {
    @include grid-media('md') {
      margin-top: hb-calculate-rems(-7px);
    }

    @include grid-media-max('sm') {
      margin-left: -2px;
    }
  }

  .su-lockup__line3 {
    font-size: hb-calculate-rems(18px);
    line-height: 0.7em;

    @include grid-media-max('sm') {
      line-height: 1.15em;
      margin-left: -2px;
    }
  }

  .su-lockup__line5 {
    font-size: hb-calculate-rems(20px);
    font-weight: hb-theme-font-weight(semibold);
    text-transform: uppercase;

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(7.5px);
      margin-left: -2px;
      order: 2;

      &::after {
        margin-top: hb-calculate-rems(7.5px);
        margin-bottom: hb-calculate-rems(5px);
        border-bottom: 1px solid var(--palette--su-color-black);
        content: '';
        display: block;
        width: 120px;
      }
    }

    @include grid-media('md') {
      font-size: hb-calculate-rems(21px);
    }
  }
}

// Lockup option R: Unit (vertical)
.su-lockup--option-r {
  .su-lockup__cell2,
  .su-lockup__cell1 {
    border: 0;
  }

  .su-lockup__line1,
  .su-lockup__line2,
  .su-lockup__line3,
  .su-lockup__line4 {
    display: none;
  }

  .su-lockup__line5 {
    font-size: hb-calculate-rems(21px);

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(7.5px);
      margin-left: -2px;
      font-size: hb-calculate-rems(26px);
    }
  }
}

// Lockup option S: School + Unit (vertical)
.su-lockup--option-s {
  .su-lockup__wordmark {
    display: block;
  }

  .su-lockup__line1,
  .su-lockup__line2 {
    font-size: hb-calculate-rems(26px);

    @include grid-media-max('sm') {
      margin-left: -2px;
      line-height: hb-calculate-rems(26px);
    }
  }

  .su-lockup__line1 {
    @include grid-media-max('sm') {
      margin-bottom: hb-calculate-rems(2px);
    }
  }

  .su-lockup__line3,
  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__line4 {
    &::after {
      margin-top: hb-calculate-rems(7.5px);
      margin-bottom: hb-calculate-rems(5px);
      border-bottom: 1px solid var(--palette--su-color-black);
      content: '';
      display: block;
      width: 120px;
    }
  }

  .su-lockup__cell1 {
    padding: 0;
    border: 0;
  }

  .su-lockup__cell2 {
    padding: 0;
    border: 0;
    width: 100%;
  }
}

// Lockup option T: School + Unit + Level (vertical)
.su-lockup--option-t {
  .su-lockup__wordmark {
    display: block;
  }

  .su-lockup__line1,
  .su-lockup__line2 {
    font-size: hb-calculate-rems(26px);

    @include grid-media-max('sm') {
      margin-left: -2px;
      line-height: hb-calculate-rems(26px);
    }
  }

  .su-lockup__line1 {
    @include grid-media-max('sm') {
      margin-bottom: hb-calculate-rems(2px);
    }
  }

  .su-lockup__line3 {
    margin: 0;
    font-size: hb-calculate-rems(20px);

    @include grid-media-max('sm') {
      margin-top: hb-calculate-rems(3px);
      margin-left: -2px;
      font-size: hb-calculate-rems(18px);
    }
  }

  .su-lockup__line4 {
    &::after {
      margin-top: hb-calculate-rems(7.5px);
      margin-bottom: hb-calculate-rems(5px);
      border-bottom: 1px solid var(--palette--su-color-black);
      content: '';
      display: block;
      width: 120px;
    }
  }

  .su-lockup__line5 {
    display: none;
  }

  .su-lockup__cell1 {
    padding: 0;
    border: 0;
  }

  .su-lockup__cell2 {
    padding: 0;
    border: 0;
    width: 100%;
  }
}
