@use '../variables/general' as *;
@use '../functions/animation' as *;
@use '../functions/general' as *;
@use '../mixins/icons' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;

.hb-media-video:has(.hb-video-lazy) {
  position: relative;

  // Margin to give enough space between the play button and the text.
  @include hb-themes(('colorful', 'airy')) {
    margin-bottom: hb-calculate-rems(8px);
  }

  @include hb-traditional {
    margin-bottom: hb-calculate-rems(6px);
  }

  // Needs more space if it's followed by text.
  &:has(+ p) {
    margin-bottom: hb-calculate-rems(16px);
  }
}

.hb-video-lazy {
  .hb-video-lazy__thumb {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    aspect-ratio: 16 / 9;

    // Trigger play button hover styles
    &:hover .hb-video-lazy__play {
      background-color: var(--palette--secondary-darken-12);
    }

    &:focus-within .hb-video-lazy__play {
      background-color: var(--palette--secondary);
    }

    .views-field &,
    .text-long & {
      aspect-ratio: unset;
    }

    .align-center.stanford_image_small_square &,
    .align-center.stanford_image_small &,
    .align-center.stanford_image_medium &,
    .align-center.stanford_image_medium_square & {
      width: fit-content;
      margin: 0 auto;
    }
  }

  .hb-video-lazy__thumb img {
    margin: 0 auto;

    .full & {
      width: 100%;
    }
  }

  .hb-video-lazy__iframe {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    .align-center.stanford_image_small_square &,
    .align-center.stanford_image_small &,
    .align-center.stanford_image_medium &,
    .align-center.stanford_image_medium_square & {
      margin: 0 auto;
    }
  }

  &:has(.hb-video-lazy__iframe) {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .hb-video-lazy__play {
    position: absolute;
    left: hb-calculate-rems(16px);
    border: $hb-thin-border;
    border-color: var(--palette--white);
    background-color: var(--palette--secondary);
    font-size: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: hb-calculate-rems(2px);
    width: hb-calculate-rems(54px);
    cursor: pointer;

    @include hb-themes(('colorful', 'airy')) {
      border-radius: 50%;
      bottom: hb-calculate-rems(-8px);
      height: hb-calculate-rems(54px);
    }

    @include hb-traditional {
      bottom: hb-calculate-rems(-6px);
      height: hb-calculate-rems(49px);
    }

    .hs-full-width & {
      @include grid-media-min('md') {
        left: 10%;
        bottom: hb-calculate-rems(-16px);
        width: hb-calculate-rems(80px);

        @include hb-themes(('colorful', 'airy')) {
          height: hb-calculate-rems(80px);
        }

        @include hb-traditional {
          height: hb-calculate-rems(84px);
        }
      }
    }

    // Styles when view modes are selected on a WYSYWIG or thumbnail is on a Spotlight.
    .stanford_image_small_square &,
    .stanford_image_small & {
      @include hb-themes(('colorful', 'airy')) {
        width: hb-calculate-rems(44px);
        height: hb-calculate-rems(44px);
      }

      @include hb-traditional {
        width: hb-calculate-rems(44px);
        height: hb-calculate-rems(39px);
      }
    }

    .full &,
    .stanford_image_xl &,
    .stanford_image_xl_square &,
    .hb-spotlight & {
      @include grid-media-min('md') {
        width: hb-calculate-rems(74px);

        @include hb-themes(('colorful', 'airy')) {
          height: hb-calculate-rems(74px);
        }

        @include hb-traditional {
          height: hb-calculate-rems(70px);
        }
      }
    }

    .align-center.stanford_image_small_square &,
    .align-center.stanford_image_small &,
    .align-center.stanford_image_medium &,
    .align-center.stanford_image_medium_square & {
      left: unset;
      margin-left: hb-calculate-rems(16px);
    }

    &:not(.hb-video-lazy__play--no-js) {
      .no-js & {
        display: none;
      }
    }

    &:hover {
      background-color: var(--palette--secondary-darken-12);
    }

    &:active,
    &:focus {
      background-color: var(--palette--secondary);
    }

    &::before {
      @include hb-icon-background('play', 'white');

      content: '';
      display: block;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;

      @include hb-themes(('colorful', 'airy')) {
        background-size: hb-calculate-rems(35px);
      }

      @include hb-traditional {
        background-size: hb-calculate-rems(40px);
      }

      .hs-full-width & {
        @include grid-media-min('md') {
          @include hb-themes(('colorful', 'airy')) {
            background-size: hb-calculate-rems(50px);
          }

          @include hb-traditional {
            background-size: hb-calculate-rems(70px);
          }
        }
      }

      // Styles when view modes are selected on a WYSYWIG or thumbnail is on a Spotlight.
      .stanford_image_small_square &,
      .stanford_image_small & {
        @include hb-themes(('colorful', 'airy')) {
          background-size: hb-calculate-rems(30px);
        }

        @include hb-traditional {
          background-size: hb-calculate-rems(35px);
        }
      }

      .full &,
      .stanford_image_xl &,
      .stanford_image_xl_square &,
      .hb-spotlight & {
        @include grid-media-min('md') {
          @include hb-themes(('colorful', 'airy')) {
            background-size: hb-calculate-rems(55px);
          }

          @include hb-traditional {
            background-size: hb-calculate-rems(60px);
          }
        }
      }
    }
  }
}

.google-form {
  border: none;
  width: 100%;
  min-height: hb-calculate-rems(300px);
  margin-bottom: hb-spacing-width();
}

// Hotfix for caption/credit positioning bug with the media image field
.field-hs-event-image,
.field-hs-news-image,
.field-hs-event-series-image,
.field-hs-person-square-img,
.field-hs-publication-image,
.field-hs-accordion-image, // This still goes full width of the accordion, but keeps it contained to the image area.
.hb-spotlight__image-wrapper,
.hb-hero-overlay__image-wrapper,
.vertical-link-card__img,
.hb-card__img {
  article {
    position: relative;
  }
}

// This adds caption/credit positioning for the caption credit media template.
.hb-caption-credit-image {
  position: relative;
}
