@use '../functions/animation' as *;
@use '../functions/general' as *;
@use '../mixins/icons' as *;

.hb-video-lazy {
  .hb-video-lazy__thumb {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .views-field & {
      aspect-ratio: auto;
    }
  }

  .hb-video-lazy__thumb img,
  .hb-video-lazy__iframe {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &:has(.hb-video-lazy__iframe) {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    .views-field & {
      aspect-ratio: auto;
      padding-bottom: 76%;
    }
  }

  .hb-video-lazy__iframe {
    .views-field & {
      position: absolute;
      z-index: 0;
      inset: 0;
      width: 100%;
      height: 100%;
      min-height: 1px;
      object-fit: cover;
    }
  }

  .hb-video-lazy__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--palette--white);
    opacity: 1;
    font-size: 0;
    padding: 0;
    border: none;
    transition: hb-transition(opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,
    &:focus,
    &:focus-visible {
      opacity: 0.75;
    }

    // additional focus styles for keyboard users only
    // that compliments browser default styles
    &:focus-visible {
      outline: 5px auto -webkit-focus-ring-color; // Chrome only
    }

    &::before {
      @include hb-icon-background('play', 'black');

      content: '';
      display: block;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: hb-calculate-rems(35px);
      height: hb-calculate-rems(50px);
      width: hb-calculate-rems(50px);
    }
  }
}

.google-form {
  border: none;
  width: 100%;
  min-height: hb-calculate-rems(300px);
  margin-bottom: hb-spacing-width();
}

// Hotfix for caption/credit positioning bug with the media image field
.field-hs-event-image,
.field-hs-news-image,
.field-hs-event-series-image,
.field-hs-person-square-img,
.field-hs-publication-image,
.field-hs-accordion-image, // This still goes full width of the accordion, but keeps it contained to the image area.
.hb-spotlight__image-wrapper,
.hb-hero-overlay__image-wrapper,
.vertical-link-card__img,
.hb-card__img {
  article {
    position: relative;
  }
}

// This adds caption/credit positioning for the caption credit media template.
.hb-caption-credit-image {
  position: relative;
}
