// Customization for specific node types.

// Color overrides for links in wells in the Canyon color pairing.
@include hb-themes(('colorful', 'airy', )) {
  .hc-pairing-canyon {
    .node-event-full,
    .node-person-full {
      .hb-well [class*="field-"] {
        a:not([class]),
        a.mailto,
        a[href^="mailto"],
        a.ext {
          color: var(--palette--primary);

          &:hover,
          &:focus {
            color: var(--palette--tertiary-darken-20);
          }
        }

        // Categories should always be black.
        &.hb-categories {
          a,
          a:hover,
          a:focus {
            color: var(--palette--black);
          }
        }
      }
    }
  }
}
