// Base pager styles use by both the mini and full pagers

@use '../variables/general' as *;
@use '../functions/fonts' as *;
@use '../functions/general' as *;
@use '../functions/animation' as *;
@use '../functions/color' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/buttons' as *;

.js-pager__items {
  margin: hb-spacing-width() 0;
  padding: 0;
  text-align: center;

  li {
    display: inline;
    font-weight: hb-theme-font-weight(semibold);
    margin: hb-calculate-rems(10px);
  }

  li:not(.pager__item),
  .pager__item--first,
  .pager__item--last,
  .pager__item--next,
  .pager__item--previous {
    --link-base-current-color: color(link-base);
    --link-base-hover-current-color: color(link-base-hover);

    a {
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
        background-image: none;
        background-color: transparent;
      }

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        border: none;
      }
    }
  }
}

// Full pager classes
// These styles are for the page numbers only shown in the full pager.
.pager {
  &__items {
    list-style: none;
    margin: hb-calculate-rems(6px) 0 0;
  }

  &__item {
    --link-base-current-color: color(gray-dark, global);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: inline-block;
      padding: hb-calculate-rems(6px) hb-calculate-rems(9px);
      border-radius: $hb-button-border-radius;
      min-width: hb-calculate-rems(31px);
      text-align: center;
      text-decoration: none;
      transition: hb-transition(background-color);
      background-image: none;

      // adjust padding for increase of font-size and line-height
      @include grid-media-min('md') {
        padding: hb-calculate-rems(6px) hb-calculate-rems(12px);
      }

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        border: $hb-thin-border;
        border-color: transparent;
      }

      &:hover,
      &:focus {
        background-color: color(gray-medium, global);

        .hb-dark-pattern &,
        .hb-dark-inversion .views-element-container & {
          background-color: transparent;
          border-color: var(--link-base-hover-current-color);
        }
      }
    }

    &.is-active {
      --link-base-current-color: color('white', global);
      --link-base-hover-current-color: color('white', global);

      background-color: color(gray-dark, global);
      display: inline-block;
      border-radius: $hb-button-border-radius;

      a {
        &:hover,
        &:focus {
          cursor: default;
          background-color: transparent;
        }
      }
    }

    .hb-dark-pattern &,
    .hb-dark-inversion .views-element-container & {
      --link-base-current-color: color(link-base-dark);
      --link-base-hover-current-color: color(
        'link-base-hover-dark'
      );
    }

    // Buttons in infinite scroll pager.
    a.hs-button {
      @include hb-button;
    }
  }
}
