// Note: this scss is the base of the hero, AND the carousel patterns
// If you change something here, you will likely need to change it and override it in the carousel.scss
.hb-hero-overlay {
  @include hb-hero-component;

  .ptype-hs-hero-image & {
    background-color: var(--palette--primary-hero-overlay);
  }

  &::before {
    .ptype-hs-hero-image & {
      content: none;
    }
  }

  &__image-wrapper {
    @include hb-hero-image-wrapper;

    &::before {
      background-color: var(--palette--primary-hero-overlay);
    }
  }

  &__text {
    @include hb-hero-text;
    @include hb-traditional {
      text-align: center;
    }

    @include grid-media-min('sm') {
      padding: hb-calculate-rems(60px) 0;
    }

    @include grid-media-min('lg') {
      padding: hb-calculate-rems(66px) 0;
    }

    h2,
    h3,
    .field-hs-hero-body {
      @include hb-traditional {
        margin: 0 auto;
      }
    }

    .field-hs-hero-body {
      @include hb-hero-body-field;
    }

    a {
      @include hb-hero-anchor-link;
    }

    .field-hs-hero-link {
      @include hb-hero-link-field;
    }
  }
}

// If the hero image only has an image, the default (when single) or the
// slideshow_slide (when inside a slideshow) view modes is used, with
// different templates and styles.
.paragraph--type--hs-hero-image.paragraph--view-mode--default,
.paragraph--type--hs-hero-image.paragraph--view-mode--slideshow-slide {
  position: relative;
  @include hb-hero-full-width($background: true);
}

// Only the default view mode has an colored overlay.
.paragraph--type--hs-hero-image.paragraph--view-mode--default {
  &::before {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    z-index: $hb-z-index-hero1-overlay;
    @include hb-hero-overlay-animation;
    background-color: var(--palette--primary-hero-overlay);
  }
}
