.hb-callout-box {
  width: 100%;
  position: relative;
  z-index: $hb-z-index-small-1;
  margin-bottom: hb-spacing-width('xs');

  // Width changes on larger screens and floats apply with the align classes
  @include grid-media-min('md') {
    width: 40%;

    &--align-right {
      float: right;
      margin-left: hb-spacing-width('xs');
    }

    &--align-left {
      float: left;
      margin-right: hb-spacing-width('xs');
    }
  }

  .hs-font-splash:first-of-type {
    margin-top: 0;
  }

  &--well {
    @include hb-well;

    .hs-font-splash {
      margin-bottom: 0;
    }
  }
}

// Float should only apply if text areas other siblings should clear the float element
.ptype-hs-callout-box {
  & + div:not(.ptype-hs-text-area) {
    clear: both;
  }
}
