// Overrides and additions to the accordion of the HS Layouts module
.field-hs-accordion-description {
  overflow: auto;

  // Link color overrides for Mountain color pairing.
  @include hb-themes(('colorful', 'airy')) {
    .hc-pairing-mountain & {
      a:not([class]), a.mailto, a[href^='mailto:'], a.ext, a.hs-external-link, a[href*="//"].hs-external-link {
        color: var(--palette--secondary);

        &:hover,
        &:focus {
          color: var(--palette--secondary-darken-12);
        }
      }

      a.hs-external-link,
      a[href*="//"].hs-external-link {
        &::after {
          background-image: svg(hc-get-icons('ext-link', map-get(map-get($hc-colorful-pairings, 'mountain'), 'secondary')));
        }

        &:hover,
        &:focus {
          &::after {
            background-image: svg(hc-get-icons('ext-link', map-get(map-get($hc-colorful-pairings, 'mountain'), 'secondary-darken-12')));
          }
        }
      }
    }
  }
}
