@use '../variables/zindex' as *;
@use '../variables/keyframes.hero' as *;
@use '../functions/general' as *;
@use '../functions/animation' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/general' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/text' as *;
@use '../mixins/icons' as *;
@use '../mixins/buttons' as *;
@use '../mixins/heros' as *;
@use '../mixins/generate-css-vars' as *;
@use '../mixins/swiper' as *;

$container-xlarge: 1200px;
$container-large: 992px;
$container-medium: 769px;
$container-small: 576px;

.paragraph--type--hs-carousel {
  @include swiper-container;
  @include swiper-pagination;
  @include swiper-arrows;

  position: relative;
  container-name: carousel;
  container-type: inline-size;

  .hb-hero-overlay__image-wrapper::before {
    display: none;
  }

  // Use border-box for all elements within the carousel.
  * {
    box-sizing: border-box;
  }

  // Styles for the slide element.
  .hb-hero-overlay {
    @include hb-themes(('colorful', 'airy')) {
      @include clearfix;

      height: auto;
      min-height: auto;

      &::before {
        $offset: clamp(#{hb-calculate-rems(100px)}, 18cqi, #{hb-calculate-rems(200px)});

        background-color: color('gray-light', 'global');
        height: calc(100% - #{$offset});
        top: $offset;

        @container carousel (width > #{$container-xlarge}) {
          height: 100%;
          top: 0;
        }
      }
    }

    @include hb-traditional {
      min-height: hb-calculate-rems(350px);

      @container carousel (width > #{$container-medium}) {
        min-height: hb-calculate-rems(495px);
      }

      &::before {
        animation: traditionalHeroOverlay;
      }
    }

    // Styles for the collapsible caption.
    .hb-media-image .field-media-image-caption {
      @include hb-themes(('colorful', 'airy')) {
        padding-block: 3% hb-calculate-rems(32px);
        padding-inline: hb-calculate-rems(8px);
        transition: padding-block .2s ease-in-out;

        @container carousel (width > #{$container-medium}) {
          padding-block: 0 hb-calculate-rems(6px);
        }

        &.is-open {
          padding-block: 0 hb-calculate-rems(40px);
        }

        .toggle-caption__content {
          padding: 0;
        }
      }
    }
  }

  // Styles for when the hero has no image.
  .hb-hero-overlay--no-image {
    @include hb-themes(('colorful', 'airy')) {
      &::before {
        height: calc(100% - hb-calculate-rems(48px));
        top: hb-calculate-rems(48px);

        @container carousel (width > #{$container-xlarge}) {
          height: 100%;
          top: 0;
        }
      }
    }

    .hb-hero-overlay__image-wrapper {
      @include hb-themes(('colorful', 'airy')) {
        @container carousel (width > #{$container-xlarge}) {
          margin-left: 0;
        }
      }
    }

    .hb-hero-overlay__text {
      @include hb-themes(('colorful', 'airy')) {
        margin: 0 auto !important;
      }
    }
  }

  // Styles for when the hero has no text.
  .hb-hero-overlay--no-text {
    @include hb-themes(('colorful', 'airy')) {
      .hb-hero-overlay__inner {
        // Max width of the container
        // + padding of 32px on each side
        // + 14px on each side for the colored section = 92px extras.
        max-width: calc($container-xlarge + hb-calculate-rems(92px));
      }
    }
  }

  // Styles for the wrapper.
  .hb-hero-overlay__inner {
    width: 100%;
    margin: auto;
    display: initial;

    @include hb-themes(('colorful', 'airy')) {
      display: flex;
      flex-direction: column;
      max-width: hb-calculate-rems(1440px);
      padding-bottom: hb-calculate-rems(24px);
      padding-inline: hb-calculate-rems(10px);
      position: relative;

      @container carousel (width > #{$container-medium}) {
        padding-inline: hb-calculate-rems(16px);
      }

      @container carousel (width > #{$container-xlarge}) {
        padding: 0 hb-calculate-rems(32px);
        flex-direction: row-reverse;
      }
    }

    @include hb-traditional {
      padding-inline: hb-calculate-rems(32px);
      padding-block: hb-calculate-rems(48px);
      max-width: $container-xlarge;

      @container carousel (width > #{$container-medium}) {
        padding-inline: hb-calculate-rems(48px);
        padding-block: 0;
      }
    }
  }

  // Styles for the image container.
  .hb-hero-overlay__image-wrapper {
    @include hb-themes(('colorful', 'airy')) {
      padding-inline: hb-calculate-rems(12px);
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: hb-calculate-rems(12px);
        height: calc(100% - hb-calculate-rems(56px));
        background-color: color('secondary');

        @container carousel (width > #{$container-medium}) {
          width: hb-calculate-rems(14px);
        }
      }

      &::before {
        top: hb-calculate-rems(40px);
        left: 0;
      }

      &::after {
        bottom: hb-calculate-rems(40px);
        right: 0;
      }

      @container carousel (width > #{$container-medium}) {
        padding-inline: hb-calculate-rems(14px);
      }

      @container carousel (width > #{$container-xlarge}) {
        margin-left: hb-calculate-rems(-70px);
      }

      img {
        height: auto;
        object-fit: cover;

        @container carousel (width > #{$container-xlarge}) {
          min-width: hb-calculate-rems(786px);
          max-width: hb-calculate-rems(1228px);
          min-height: hb-calculate-rems(420px);
          max-height: hb-calculate-rems(656px);
        }

        &.animate {

          /* stylelint-disable max-nesting-depth */
          .hb-has-animation-enhancements & {
            animation-name: colorfulHeroImage;
          }

          /* stylelint-enable max-nesting-depth */
        }
      }
    }

    @include hb-traditional {
      left: 0;
      top: 0;
    }
  }

  // Styles for the text container.
  .hb-hero-overlay__text {
    @include hb-themes(('colorful', 'airy')) {
      padding: hb-calculate-rems(12px) hb-calculate-rems(16px) hb-calculate-rems(16px);
      border-bottom: 4px solid color('tertiary-reversed');
      background-color: color('banner-background');
      justify-content: center;
      flex-direction: column;
      display: flex;

      // Override hb-page-width width.
      width: calc(100% - hb-calculate-rems(80px)) !important;
      margin: hb-calculate-rems(-24px) auto 0 !important;
      max-width: hb-calculate-rems(650px) !important;
      min-height: auto !important;

      @container carousel (width > #{$container-medium}) {
        // Override hb-page-width width.
        padding: hb-calculate-rems(16px) hb-calculate-rems(24px) hb-calculate-rems(20px);
        width: calc(100% - hb-calculate-rems(128px)) !important;
        margin: hb-calculate-rems(-32px) auto 0 !important;
      }

      @container carousel (width > #{$container-large}) {
        max-width: hb-calculate-rems(800px) !important;
      }

      @container carousel (width > #{$container-xlarge}) {
        padding: hb-calculate-rems(16px) hb-calculate-rems(24px) hb-calculate-rems(32px);

        // Override hb-page-width properties.
        min-height: hb-calculate-rems(180px) !important;
        max-width: hb-calculate-rems(470px) !important;
        min-width: hb-calculate-rems(400px) !important;
        width: 100% !important;
        margin: 0 !important;
      }

      &.animate {
        .hb-has-animation-enhancements.js & {
          opacity: 1;
          animation-duration: 2000ms;
          animation-name: colorfulHeroText;
        }
      }
    }

    @include hb-traditional {
      padding: hb-calculate-rems(10px) hb-calculate-rems(16px) hb-calculate-rems(16px);
      background-color: color-mix(in srgb, color('black', 'global') 70%, transparent);
      min-height: auto !important;

      // Override hb-page-width max-width.
      max-width: hb-calculate-rems(450px) !important;

      // Override hb-page-width margin.
      margin: auto 0 !important;

      // Override pattern-hero width.
      width: 100% !important;
      text-align: left;

      @container carousel (width > #{$container-medium}) {
        // Override hb-page-width width.
        max-width: hb-calculate-rems(520px) !important;
        padding-block: hb-calculate-rems(16px) hb-calculate-rems(24px);
        padding-inline: hb-calculate-rems(24px);
      }

      &.animate {
        .hb-has-animation-enhancements.js & {
          opacity: 1;
          animation-duration: 1700ms;
          animation-name: traditionalHeroText;
        }
      }
    }


    h2 {
      @include hb-heading-2;

      padding-block: 0 hb-calculate-rems(2px);
      margin: 0;
    }

    h2,
    .field-hs-hero-body {
      width: auto;

      @include grid-media-min('sm') {
        width: auto;
      }

      @include grid-media-min('md') {
        width: auto;
      }

      @include grid-media-min('lg') {
        width: auto;
      }
    }

    // Styles for the body.
    .field-hs-hero-body {
      display: inline-block;
      margin: 0;

      @include hb-themes(('colorful', 'airy')) {
        padding-block: hb-calculate-rems(6px) hb-calculate-rems(8px);

        @container carousel (width > #{$container-xlarge}) {
          padding-block: hb-calculate-rems(6px) hb-calculate-rems(4px);
        }
      }

      @include hb-traditional {
        padding-block: hb-calculate-rems(4px) hb-calculate-rems(10px);

        @container carousel (width > #{$container-medium}) {
          padding-block: hb-calculate-rems(6px) hb-calculate-rems(12px);
        }
      }
    }

    // Styles for the link.
    .field-hs-hero-link {
      @include hb-themes(('colorful', 'airy')) {
        padding-block: hb-calculate-rems(10px);

        @container carousel (width > #{$container-medium}) {
          padding-block: hb-calculate-rems(12px);
        }

        @container carousel (width > #{$container-xlarge}) {
          padding-block: hb-calculate-rems(12px) hb-calculate-rems(2px);
        }
      }

      @include hb-traditional {
        padding-block: hb-calculate-rems(4px) hb-calculate-rems(2px);

        @container carousel (width > #{$container-medium}) {
          padding-block: hb-calculate-rems(12px) hb-calculate-rems(2px);
        }
      }

      a {
        padding: hb-calculate-rems(4px) hb-calculate-rems(24px) hb-calculate-rems(6px);
        margin: 0;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include grid-media-min('md') {
      @include hb-traditional {
        top: calc(50% - #{hb-calculate-rems(76px)});
        bottom: unset;
      }

      @include hb-themes(('colorful', 'airy')) {
        top: calc(50% - #{hb-calculate-rems(62px)});
        bottom: unset;
      }

      // styles specific to the main content area are applied by targeting
      // the sidebar classes. We can use these classes to move the swiper bullets.
      :not(.hs-full-width).hb-three-column--no-sidebar &,
      .hb-three-column--one-sidebar &,
      .hb-three-column--two-sidebar & {
        top: calc(50% - #{hb-calculate-rems(46px)});
        bottom: unset;
      }
    }
  }

}
