@use '../mixins/heros' as *;

.paragraph--type--hs-banner {
  @include hb-hero-full-width($background: true);

  .field-hs-banner-image {
    // ensure absolute positioning of credit/captions
    // within a banner positions correctly
    position: relative;
  }
}

// Styles when component is in a collection
.field-hs-collection-items[class*="item-per-row--"] .paragraph-item.ptype-hs-banner {
  grid-column: span 12;
  margin-bottom: 0 !important;
}
