@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/general' as *;
@use '../mixins/heros' as *;
@use '../mixins/layout' as *;
@use '../mixins/buttons' as *;

.hb-spotlight {
  background-color: color('spotlight');

  @include grid-media-min('md') {
    margin: hb-spacing-width() 0;
  }

  &--background-gray {
    background-color: color('gray-medium', 'global');
  }

  // Add a unique background-color for Lake on Colorful.
  // Note this is an extraordinary use case.
  // Targeting styles per color pairing should not become standard practice.
  .hc-pairing-lake & {
    background-color: color('secondary-highlight');
  }

  &--classic {
    @include hb-hero-full-width;

    padding: hb-spacing-width('md') 0;

    @include grid-media-min('md') {
      padding: hb-spacing-width() 0;
    }

    // Styles for lazy load videos to make it work with new design.
    &:has(.hb-video-lazy) {
      .hb-spotlight__text {
        @include grid-media-between('xs', 'md') {
          padding-inline: hb-calculate-rems(16px);
        }
      }

      .hb-video-lazy__play {
        // Styles to have the same width of the border decoration on small screen sizes.
        @include grid-media-between('xs', 'sm') {
          width: hb-calculate-rems(60px);
          height: hb-calculate-rems(60px);

          &::before {
            background-size: hb-calculate-rems(50px);
          }
        }
      }

    }
  }

  .hb-video-lazy__play {
    bottom: hb-calculate-rems(-12px);

    @include grid-media-min('md') {
      &::before {
        @include hb-themes(('colorful', 'airy')) {
          background-size: hb-calculate-rems(55px);
        }

        @include hb-traditional {
          background-size: hb-calculate-rems(60px);
        }
      }
    }
  }

  &__wrapper {
    @include hb-page-width;
    display: block;

    @include grid-media-min('md') {
      display: flex;
      align-items: center;

      .hb-spotlight--image-default & {
        flex-direction: row-reverse;
      }

      .hb-spotlight--image-left & {
        flex-direction: row;
      }
    }
  }

  &__title {
    @include hb-hero-title;
    margin: 0 0 hb-spacing-width('xs');

    @include grid-media-min('md') {
      margin: 0 0 hb-spacing-width('xs');
    }
  }

  &__text {
    .hb-spotlight--classic & {
      @include hb-themes(('colorful', 'airy')) {
        position: relative;
        padding-top: hb-spacing-width('md');

        &::before {
          top: 0;

          @include hb-colorful-text-bar('secondary');

          // Add a unique secondary color for Ocean on Colorful.
          // Note this is an extraordinary use case.
          // Targeting styles per color pairing should not become standard practice.
          .hc-pairing-ocean & {
            @include hb-colorful-text-bar(secondary-darken-12);
          }
        }
      }

      @include grid-media-min('md') {
        flex-basis: 55%;
        flex-grow: 1;
        max-width: 75%;
      }
    }

    .field-hs {
      &-spotlight-link {
        margin-top: hb-spacing-width('md');

        a,
        button {
          @include hb-themes(('colorful', 'airy')) {
            @include hb-secondary-button;

            // Add a unique secondary color for Ocean on Colorful.
            // Note this is an extraordinary use case.
            // Targeting styles per color pairing should not become standard practice.
            .hc-pairing-ocean & {
              color: color('secondary-darken-12');
              border-color: color('secondary-darken-12');

              &:hover {
                background-color: color('secondary-darken-12');
                border-color: color('secondary-darken-12');
                color: color('white', 'global');
              }
            }
          }

          @include hb-traditional {
            @include hb-button;
          }

          padding: hb-calculate-rems(4px) hb-calculate-rems(20px);
        }
      }
    }
  }

  &__image-wrapper {
    .hb-spotlight--classic & {
      margin-bottom: hb-spacing-width('md');

      @include grid-media-min('md') {
        width: 45%;
        margin-bottom: 0;
      }
    }

    .hb-spotlight--classic.hb-spotlight--image-default & {
      @include grid-media-min('md') {
        margin-left: hb-spacing-width();
      }
    }

    .hb-spotlight--classic.hb-spotlight--image-left & {
      @include grid-media-min('md') {
        margin-right: hb-spacing-width();
      }
    }

    img {
      width: 100%;
    }
  }
}

.hb-spotlight--expanded {
  position: relative;

  @include hb-traditional {
    .hs-paragraph-style--well &,
    .hs-paragraph-style--well-full-width & {
      background-color: color('white', 'global');
    }
  }

  .hb-spotlight__wrapper {
    position: relative;
    width: 100% !important;
  }

  .hb-spotlight__text {
    @include hb-themes(('colorful', 'airy')) {
      padding: hb-calculate-rems(20px);
      margin: hb-calculate-rems(20px);
      background: color('white', 'global');

      @include grid-media-min('md') {
        padding: hb-calculate-rems(30px) hb-calculate-rems(40px);
        margin: 0;
        flex-basis: 55%;
        flex-grow: 1;
        max-width: 75%;
      }
    }

    @include hb-traditional {
      padding: hb-calculate-rems(40px);

      @include grid-media-min('md') {
        flex-basis: 60%;
        flex-grow: 1;
      }
    }

    .field-hs-spotlight-link {
      margin-top: hb-calculate-rems(20px);
    }

    .hb-spotlight__title {
      &,
      h2 {
        margin-top: 0;
        margin-bottom: hb-calculate-rems(15px);
      }

      @include hb-themes(('colorful', 'airy')) {
        color: color('primary');
      }
    }
  }

  .hb-spotlight__image-wrapper {
    @include hb-traditional {
      @include grid-media-min('md') {
        flex-basis: 40%;
        max-width: 500px;
      }
    }

    @include hb-themes(('colorful', 'airy')) {
      .hb-caption-credit-image .field-media-image-caption {
        z-index: 0;
      }

      @include grid-media-min('md') {
        width: 45%;
        max-width: 500px;
      }
    }
  }

  // Styles for lazy load videos to make it work with new design.
  &:has(.hb-video-lazy) {
    .hb-spotlight__text {
      @include grid-media-between('xs', 'md') {
        padding-top: hb-calculate-rems(32px);
      }
    }
  }

  .hb-media-video:has(.hb-video-lazy) {
    margin-bottom: 0;
  }

  .hb-video-lazy__play {
    bottom: hb-calculate-rems(8px);

    @include grid-media-between('xs', 'md') {
      left: hb-calculate-rems(32px);
      z-index: 3;
    }

    @include grid-media-min('md') {
      bottom: hb-calculate-rems(16px);
    }
  }

  @include grid-media-min('md') {
    @include hb-themes(('colorful', 'airy')) {
      &.hb-spotlight--image-default .hb-video-lazy__play {
        left: unset;
        right: hb-calculate-rems(16px);
      }
    }
  }
}

.hb-spotlight--expanded.hb-spotlight--image-default:has(
    .hb-spotlight__image-wrapper
  ),
.hb-spotlight--expanded.hb-spotlight--image-left:has(
    .hb-spotlight__image-wrapper
  ) {
  .hb-spotlight__text {
    min-height: fit-content !important;

    @include hb-themes(('colorful', 'airy')) {
      transform: translate(0%, -15%);
    }
  }
}

.hb-spotlight--expanded.hb-spotlight--image-default:has(
    .hb-spotlight__image-wrapper
  ) {
  .hb-spotlight__text {
    @include hb-themes(('colorful', 'airy')) {
      @include grid-media-min('md') {
        transform: translate(14%, 0%);
      }
    }
  }
}

.hb-spotlight--expanded.hb-spotlight--image-left:has(
    .hb-spotlight__image-wrapper
  ) {
  .hb-spotlight__text {
    @include hb-themes(('colorful', 'airy')) {
      @include grid-media-min('md') {
        transform: translate(-14%, 0%);
      }
    }
  }
}

