@use '../functions/fonts' as *;
@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;

.hb-color-band {
  position: relative;
  padding: hb-calculate-rems(12px) hb-calculate-rems(24px)
    hb-calculate-rems(2px);
  margin: hb-calculate-rems(30px) 0;
  text-align: center;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 50vw;
    position: absolute;
    top: 0;
    bottom: 0;

    .layout-builder & {
      display: none;
    }
  }

  &::before {
    left: -50vw;
  }

  &::after {
    right: -50vw;
  }

  &--limited-width,
  .hb-three-column--one-sidebar & {
    &::before,
    &::after {
      display: none;
    }
  }

  &--default,
  &--default::before,
  &--default::after {
    background-color: color('primary-hero-overlay');
  }

  &--cardinal,
  &--cardinal::before,
  &--cardinal::after {
    background-color: color('cardinal', 'global');
  }

  &--gray,
  &--gray::before,
  &--gray::after {
    background-color: color('gray-dark', 'global');
  }

  &--light,
  &--light::before,
  &--light::after {
    background-color: color('spotlight');
  }

  &--light {
    .hb-color-band--title {
      color: color('black', 'global');
    }

    .hb-color-band--text {
      color: color('black', 'global');
    }

    .hb-color-band--link .hs-more-link a,
    .hb-color-band--link.hs-more-link a,
    .hb-color-band--link .hs-more-link button,
    .hb-color-band--link.hs-more-link button {
      color: color('black', 'global');

      &:hover,
      &:focus {
        color: color('black', 'global');

        &::after {
          background-color: color('black', 'global');
        }
      }
    }

    .hb-color-band--link .hs-more-link a::after,
    .hb-color-band--link.hs-more-link a::after,
    .hb-color-band--link .hs-more-link button::after,
    .hb-color-band--link.hs-more-link button::after {
      background-color: color('black', 'global');
    }
  }

  &--title {
    color: color('white', 'global');

    margin: 0 0 hb-calculate-rems(12px);
  }

  &--text {
    color: color('white', 'global');

    margin: 0;
    padding: 0 hb-calculate-rems(12px) hb-calculate-rems(12px);
    font-size: hb-calculate-rems(22px);
    font-weight: hb-theme-font-weight(semibold);

    @include hb-themes(('colorful', 'airy')) {
      padding: 0 hb-calculate-rems(12px) hb-calculate-rems(12px);
    }
  }

  &--link .hs-more-link {
    color: color('white', 'global');
  }

  &--link .hs-more-link a,
  &--link.hs-more-link a,
  &--link .hs-more-link button,
  &--link.hs-more-link button {
    color: color('white', 'global');

    display: inline-block;
    margin-bottom: hb-calculate-rems(12px);

    &:hover,
    &:focus {
      color: color('white', 'global');
      text-decoration: underline;

      &::after {
        background-color: color('white', 'global');
      }
    }
  }

  &--link .hs-more-link a::after,
  &--link.hs-more-link a::after,
  &--link .hs-more-link button::after,
  &--link.hs-more-link button::after {
    background-color: color('white', 'global');
    mask-size: 85%;
  }

  hr {
    margin-block: 0.31em;
    border: 0;
    font-size: hb-calculate-rems(36px);
  }
}
