// This styling is for the Photo Gallery Grid and Photo Gallery Slideshow.

@use '../variables/colorful-pairings' as *;
@use '../variables/traditional-pairings' as *;
@use '../functions/general' as *;
@use '../mixins/buttons' as *;

.stanford-gallery {
  .su-gallery-description {
    margin-bottom: hb-spacing-width('md');
  }

  .su-gallery-button a {
    @include hb-button;
    margin-top: hb-spacing-width('md');
  }

  .hb-media-image {
    position: relative;
  }
}
