// This styling is for the Photo Gallery Grid and Photo Gallery Slideshow.

@use '../settings/variables.colorful-pairings' as *;
@use '../settings/variables.traditional-pairings' as *;

.stanford-gallery {
  .su-gallery-description {
    margin-bottom: hb-spacing-width('md');
  }

  .su-gallery-button a {
    @include hb-button;
    margin-top: hb-spacing-width('md');
  }

  .hb-media-image {
    position: relative;
  }
}
