// Spotlight Slider styles

@use '../functions/general' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/general' as *;
@use '../mixins/heros' as *;
@use '../mixins/swiper' as *;

// .ptype-hs-sptlght-slder {
//   @include hb-themes(('colorful', 'airy')) {
//     margin-block: 3rem 0 !important;
//   }

//   @include hb-traditional {
//     margin-block: 2rem 0 !important;
//   }
// }

.paragraph--type--hs-sptlght-slder {
  @include hb-hero-full-width;
  @include swiper-container;
  @include swiper-pagination;
  @include swiper-arrows;
  position: relative;

  .hs-full-width & {
    .hb-spotlight {
      margin-top: 0;
    }
  }

  // swiper pagination do not display in mobile
  .swiper-pagination {
    @include hb-themes(('colorful', 'airy')) {
      bottom: hb-calculate-rems(38px);
    }

    @include hb-traditional {
      bottom: hb-calculate-rems(20px);
    }

    @include grid-media-max('sm') {
      @include visually-hidden;
    }
  }

  &:has(.hb-spotlight--expanded) {
    .swiper-pagination {
      bottom: hb-calculate-rems(21px);
    }
  }

  .swiper-pagination-bullet {
    height: hb-calculate-rems(4.5px);
  }
}

.paragraph--type--hs-sptlght-slder.paragraph--type--hs-sptlght-slder--no-image {
  @media only screen and (max-width: 767px) {
    .hb-spotlight {
      height: 100%;
    }

    .swiper-button-prev {
      @include hb-traditional {
        bottom: 15% !important;
      }

      @include hb-themes(('colorful', 'airy')) {
        bottom: 25% !important;
      }
    }

    .swiper-button-next {
      @include hb-traditional {
        bottom: 55% !important;
      }

      @include hb-themes(('colorful', 'airy')) {
        bottom: 55% !important;
      }
    }
  }
}

// Full Width Spotlight Sliders.
// Only full width if no sidebars present in page layout.
.hb-three-column--no-sidebar
  .paragraph--type--hs-sptlght-slder.paragraph--style--full-width {
  left: calc(-50vw + 50%);
  position: relative;
  width: 100vw;
}
