@use '../functions/general' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/text' as *;

$container-small: hb-calculate-rems(576px);

.hb-card--structured {
  .hb-card__subtitle {
    @include hb-heading-5;
  }

  .hb-card__subtitle,
  .hb-card__description,
  .hb-card__category,
  .hb-card__columns {
    &:not(:last-child) {
      margin-block-end: hb-calculate-rems(12px);
    }

    .views-field {
      margin-block-end: hb-calculate-rems(6px);
    }
  }

  .hb-card__category {
    .views-label {
      margin-block-end: hb-calculate-rems(6px);
    }
  }

  .hb-card__columns {
    display: flex;
    flex-wrap: wrap;

    .views-field {
      padding-inline-end: hb-calculate-rems(11px);
      width: 100%;

      @container card (width > #{$container-small}) {
        width: 50%;
      }
    }
  }
}
