@use '../variables/general' as *;
@use '../functions/general' as *;
@use '../functions/animation' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/icons' as *;
@use '../mixins/text' as *;
@use '../mixins/links' as *;

$container-small: hb-calculate-rems(576px);

.hb-vertical-linked-card {
  container-type: inline-size;
  container-name: card;
  display: flex;
  flex-direction: column;
  isolation: isolate;

  @include hb-traditional {
    --link-base-current-color: #{color('black', 'global')};
    --link-base-hover-current-color: #{color('gray-dark', 'global')};
  }

  @include hb-themes(('colorful', 'airy')) {
    --link-base-current-color: #{color('white', 'global')};
    --link-base-hover-current-color: #{color('gray-medium', 'global')};
  }

  .hs-well,
  .hs-breakout-box {
    --link-base-current-color: #{color('link-base')};
    --link-base-hover-current-color: #{color('link-base-hover')};
  }

  position: relative;
  background-color: transparent;

  @include hb-themes(('colorful', 'airy')) {
    color: color('white', 'global');
  }
}

.hb-vertical-linked-card__img {
  overflow: hidden;

  @include hb-themes(('colorful', 'airy')) {
    margin-inline-start: hb-calculate-rems(12px);

    @container card (width > #{$container-small}) {
      margin-inline-start: hb-calculate-rems(40px);
    }

    &:has(+ .hb-vertical-linked-card__title) {
      margin-block-end: hb-calculate-rems(-28px);
    }
  }

  @include hb-traditional {
    margin-inline: hb-calculate-rems(24px);
  }

  img {
    width: 100%;
    transition: hb-transition(transform);
  }

  // When hovering over the image, the display: inline-block in article and
  // the scale transformation creates a baseline gap at the bottom of the image,
  // and adds bottom spacing below the image as well.
  .hb-caption-credit-image {
    display: block;
  }

  .hb-media-image {
    margin: 0;
  }
}

.hb-vertical-linked-card__title {
  --link-base-current-color: #{color('white', 'global')};
  --link-base-hover-current-color: #{color('white', 'global')};

  position: relative;
  hyphens: auto;
  word-break: normal;
  overflow-wrap: anywhere;
  transition: hb-transition(background-color);

  @include hb-themes(('colorful', 'airy')) {
    padding: hb-calculate-rems(16px);
    margin-block: 0;
    margin-inline-end: hb-calculate-rems(10px);
    background-color: color('secondary');

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: calc(100% - #{hb-calculate-rems(28px)});
      width: calc(100% - #{hb-calculate-rems(2px)});
      top: hb-calculate-rems(28px);
      right: hb-calculate-rems(-10px);
      z-index: -1;
      background-color: color('primary-dark');

      @container card (width > #{$container-small}) {
        width: calc(100% - #{hb-calculate-rems(16px)});
        right: hb-calculate-rems(-24px);
      }
    }

    &:not(:has(+ .hb-vertical-linked-card__description))::after {
      height: calc(100% - #{hb-calculate-rems(8px)});
    }

    @container card (width > #{$container-small}) {
      padding: hb-calculate-rems(16px) hb-calculate-rems(20px)
        hb-calculate-rems(16px) hb-calculate-rems(24px);
      margin-inline-end: hb-calculate-rems(24px);
    }
  }

  @include hb-traditional {
    padding: hb-calculate-rems(12px) hb-calculate-rems(16px);
    color: color('white', 'global');
    background-color: color('primary');
    margin: 0;

    @container card (width > #{$container-small}) {
      padding: hb-calculate-rems(16px) hb-calculate-rems(20px);
    }
  }
}

.hb-vertical-linked-card__title__link {
  color: var(--link-base-current-color);
  text-decoration-thickness: 5%;
  text-underline-offset: 10%;

  &:hover, &:focus {
    color: var(--link-base-hover-current-color);
    text-decoration-thickness: 9%;
  }

  &:focus-visible {
    outline-color: color('white', 'global');
  }
}


.hb-vertical-linked-card__description {
  @include hb-description;
  word-break: normal;
  overflow-wrap: anywhere;
  background-color: color('primary-dark');

  @include hb-themes(('airy', 'colorful')) {
    padding: hb-calculate-rems(16px) hb-calculate-rems(24px)
      hb-calculate-rems(24px);
    margin-inline-start: hb-calculate-rems(12px);

    @container card (width > #{$container-small}) {
      padding: hb-calculate-rems(16px) hb-calculate-rems(32px)
        hb-calculate-rems(32px);
      margin-inline-start: hb-calculate-rems(40px);
    }

    // For those scenarios that a breakout box or hs-well style is being used in a WYSIWYG.
    .hs-well,
    .hs-breakout-box {
      color: color('black', 'global');
    }
  }

  @include hb-traditional {
    margin-inline: hb-calculate-rems(10px);
    padding: hb-calculate-rems(12px) hb-calculate-rems(20px);
    background-color: color('tertiary-reversed');

    @container card (width > #{$container-small}) {
      padding: hb-calculate-rems(16px) hb-calculate-rems(32px);
    }
  }
}

// .hb-stretch-vertical-linked-cards helper class.
.hb-stretch-vertical-linked-cards {
  .hb-vertical-linked-card {
    height: 100%;
  }

  .hb-vertical-linked-card__description {
    flex-grow: 1;
  }
}

// Hover styles for vertical linked card.
.hb-vertical-linked-card--linked {
  &:hover,
  &:focus,
  &.is-focused {
    cursor: pointer;

    .hb-vertical-linked-card__title {
      @include hb-themes(('colorful', 'airy')) {
        background-color: color('secondary-darken-12');
      }

      @include hb-traditional {
        background-color: color('primary-dark');
      }
    }

    .hb-vertical-linked-card__title__link {
      text-decoration-thickness: 9%;
    }

    .hb-vertical-linked-card__img {
      img {
        transform: scale($hb-image-hover-scale);
      }
    }

    // Styles when there's a video on a card.
    &:has(.hb-video-lazy:hover),
    &:has(.hb-video-lazy:focus-within) {
      .hb-vertical-linked-card__title {
        @include hb-themes(('colorful', 'airy')) {
          background-color: color('secondary');
        }

        @include hb-traditional {
          background-color: color('primary');
        }
      }

      .hb-vertical-linked-card__title__link::after {
        transform: translateX(0);
      }
    }
  }
}
