@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/buttons' as *;

$container-small: hb-calculate-rems(576px);

.hb-vertical-button-card {
  position: relative;

  .hs-button a {
    width: 100%;
    font-size: hb-calculate-rems(18px);
    hyphens: auto;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  .hb-card__title:only-child {
    margin: 0;
  }

  .hb-card__content {
    .hb-raised-cards--uniform-height & {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  @include hb-traditional {
    border: 2px solid color('secondary');

    .hb-card__title {
      margin-block-end: hb-calculate-rems(16px);
    }

    .hb-card__graphics {
      padding: hb-calculate-rems(24px) hb-spacing-width('sm') 0;
      margin-block-end: hb-calculate-rems(32px);
    }

    .hb-card__content {
      padding: hb-calculate-rems(32px) hb-spacing-width('sm');
      flex-grow: 1;

      &:has(.hs-button) {
        padding-block-end: 0;

        .hb-card__description {
          margin-block-end: hb-calculate-rems(16px);
        }
      }
    }

    &:has(.hb-card__graphics) {
      .hb-card__content {
        padding-block-start: 0;
      }
    }

    .hs-button {
      position: relative;
      margin-top: auto;
      margin-inline: hb-calculate-rems(-24px);

      a,
      a[href*="//"].hs-external-link,
      .hs-external-link a[href*="//"] {
        @include hb-secondary-button;

        border-width: 0;
        border-top-width: 2px;
        width: 100%;
      }

      a[href*="//"].hs-external-link,
      .hs-external-link a[href*="//"] {
        margin-right: 0;

        --link-base-current-color: #{color('secondary')};
        --link-base-hover-current-color: #{color('white', 'global')};

        &:focus {
          --link-base-hover-current-color: #{color('secondary')};
        }
      }
    }
  }

  @include hb-themes(('colorful', 'airy')) {
    background-color: transparent;

    .hb-card__graphics {
      &,
      .hb-raised-cards & {
        padding: 0 hb-calculate-rems(36px);
        margin-block-end: hb-calculate-rems(-40px);
      }
    }

    .hb-card__title {
      margin-block-end: 0;
      color: color('secondary');
    }

    .hb-card__content {
      padding: hb-calculate-rems(18px);
      box-shadow: hb-calculate-rems(1px) hb-calculate-rems(7.5px)
        hb-calculate-rems(35px)
        color-mix(in srgb, color('black', 'global') 10%, transparent);
      background-color: color('white', 'global');
      border: 2px solid color('tertiary-highlight');

      .hb-dark-pattern &,
      .hb-dark-inversion .views-element-container & {
        background-color: color('primary-dark');
      }


      @container card (width > #{$container-small}) {
        padding: hb-calculate-rems(32px) hb-calculate-rems(36px);
      }

      .hb-raised-cards--uniform-height & {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    &:has(.hb-card__description) {
      .hb-card__title {
        margin-block-end: hb-calculate-rems(16px);
      }
    }

    &:has(.hb-card__graphics) {
      .hb-card__content {
        padding-top: hb-calculate-rems(64px);
      }
    }

    .hb-card__description {
      margin-block: 0 auto;
    }

    .hs-button {
      display: flex;
      flex-direction: column;
      gap: hb-calculate-rems(4px);

      margin-block-start: hb-calculate-rems(24px);

      a {
        padding: hb-calculate-rems(4px) hb-calculate-rems(24px)
          hb-calculate-rems(6px);
        background-color: color('primary');
        border-color: color('primary');

        &:hover,
        &:focus,
        &.is-focused {
          background-color: color('primary-dark');
          border-color: color('primary-dark');
        }
      }

      a[href*="//"].hs-external-link,
      .hs-external-link a[href*="//"] {
        margin-right: 0;
        color: color('white', 'global');

        --link-base-current-color: #{color('white', 'global')};
        --link-base-hover-current-color: #{color('white', 'global')};
      }
    }
  }
}
