@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../mixins/theme' as *;
@use '../mixins/buttons' as *;

$container-small: hb-calculate-rems(576px);

.hb-vertical-button-card {
  position: relative;

  .hs-button {
    width: 100%;
    font-size: hb-calculate-rems(18px);
    hyphens: auto;
    word-break: normal;
    overflow-wrap: anywhere;

    &:hover,
    &:focus,
    &.is-focused {
      background-color: color('primary-dark');
      border-color: color('primary-dark');
    }
  }

  @include hb-traditional {
    border: 2px solid color('secondary');

    .hb-card__title,
    .hb-card__description {
      margin-block-end: hb-calculate-rems(20px);

      @container card (width > #{$container-small}) {
        margin-block-end: hb-calculate-rems(24px);
      }
    }

    .hb-card__graphics {
      padding: hb-calculate-rems(10px) hb-calculate-rems(10px) 0;

      @container card (width > #{$container-small}) {
        padding: hb-calculate-rems(16px) hb-calculate-rems(16px) 0;
      }
    }

    .hb-card__content {
      padding: hb-calculate-rems(20px) hb-calculate-rems(20px) 0;
      flex-grow: 1;

      @container card (width > #{$container-small}) {
        padding: hb-calculate-rems(24px) hb-calculate-rems(32px) 0;
      }

      &:has(.hb-card__description) {
        .hb-card__title {
          margin-block-end: hb-calculate-rems(6px);

          @container card (width > #{$container-small}) {
            margin-block-end: hb-calculate-rems(6px);
          }
        }
      }
    }

    &:has(.hb-card__graphics) {
      .hb-card__content {
        padding-block-start: hb-calculate-rems(16px);

        @container card (width > #{$container-small}) {
          padding-block-start: hb-calculate-rems(24px);
        }
      }

      .hb-card__title,
      .hb-card__description {
        margin-block-end: hb-calculate-rems(16px);

        @container card (width > #{$container-small}) {
          margin-block-end: hb-calculate-rems(24px);
        }
      }
    }

    .hs-button {
      @include hb-secondary-button;

      position: relative;
      border-width: 0;
      border-top-width: 2px;
      margin-top: auto;
      margin-inline: hb-calculate-rems(-20px);

      @container card (width > #{$container-small}) {
        margin-inline: hb-calculate-rems(-32px);
      }
    }


  }

  @include hb-themes(('colorful', 'airy')) {
    background-color: transparent;

    .hb-card__graphics {
      &,
      .hb-raised-cards & {
        padding: 0 hb-calculate-rems(20px);
        margin-block-end: hb-calculate-rems(-48px);

        @container card (width > #{$container-small}) {
          padding-inline: hb-calculate-rems(32px);
        }
      }
    }

    .hb-card__title {
      margin-block: hb-calculate-rems(2px) 0;

      @container card (width > #{$container-small}) {
        margin-block-start: hb-calculate-rems(6px);
      }
    }

    .hb-card__content {
      padding: hb-calculate-rems(24px);
      box-shadow: hb-calculate-rems(1px) hb-calculate-rems(7.5px)
        hb-calculate-rems(35px)
        color-mix(in srgb, color('black', 'global') 10%, transparent);
      background-color: color('white', 'global');

      @container card (width > #{$container-small}) {
        padding: hb-calculate-rems(24px) hb-calculate-rems(32px) hb-calculate-rems(32px);
      }

      .hb-raised-cards--uniform-height & {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    &:has(.hb-card__graphics) {
      .hb-card__content {
        padding-top: hb-calculate-rems(64px);
      }
    }

    .hb-card__description {
      margin-block: hb-calculate-rems(8px);
    }

    .hs-button {
      margin-block: hb-calculate-rems(16px) hb-calculate-rems(2px);

      @container card (width > #{$container-small}) {
        margin-block: hb-calculate-rems(20px) hb-calculate-rems(4px);
      }
    }
  }
}
