@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../functions/animation' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/icons' as *;

.hb-three-column__main .views-exposed-form,
.hb-three-column__sidebar-1 .views-exposed-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: hb-spacing-width('md');

  form {
    max-width: 100%;
  }

  .form-item {
    width: 100%;
    margin-bottom: hb-spacing-width('xs');

    @include grid-media-min('md') {
      width: calc(50% - #{hb-calculate-rems(18px)});
      margin-right: hb-calculate-rems(18px);
    }
  }

  .form-actions {
    display: flex;
    align-self: flex-start;

    @include grid-media-min('lg') {
      margin-top: hb-calculate-rems(34px);
    }
  }

  .form-submit:not(:last-child) {
    width: auto;

    &:not(:last-child):not([data-drupal-selector^='edit-reset']) {
      margin-right: hb-spacing-width('xxs');
    }
  }
}

.hb-three-column__main .views-exposed-form {
  .form-item {
    @include grid-media-min('lg') {
      width: calc(33% - #{hb-calculate-rems(18px)});
    }
  }
}

.hb-three-column__sidebar-1 .views-exposed-form {
  .form-item {
    @include grid-media-min('lg') {
      margin-right: 0;
      width: 100%;
    }
  }
}

.views-exposed-form .select-preact {
  button {
    border-color: color('gray-400', 'global') !important;
    padding-inline: hb-calculate-rems(16px);

    .select-preact__checkmark {
      width: 13px;
      height: 10px;
      background-repeat: no-repeat;

      @include hb-icon-background('checkmark', 'gray-900');
    }

    svg {
      transition: hb-transition(transform);
    }

    @include hb-traditional {
      border-radius: 0 !important;
    }

    &[aria-expanded='true'] {
      background-color: color('gray-100', 'global') !important;
      color: color('gray-900', 'global') !important;

      svg {
        transform: rotate(180deg);
      }

      @include hb-colorful {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        & + div {
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }
}

.breadbox {
  display: flex;
  flex-wrap: wrap;
  gap: hb-calculate-rems(20px);
  align-items: center;
  width: 100%;

  &--hidden {
    display: none;
  }
}

.breadbox__item {
  display: inline-flex;
  align-items: center;
  gap: hb-calculate-rems(6px);
  border: 1px solid color('gray-dark', 'global');
  color: color('gray-dark', 'global');
  padding: hb-calculate-rems(4px) hb-calculate-rems(10px);
  font-size: hb-calculate-rems(14px);
  line-height: 140%;
  background: color('white', 'global');
  cursor: pointer;

  @include hb-colorful {
    border-radius: hb-calculate-rems(100px);
  }

  @include hb-traditional {
    border-radius: hb-calculate-rems(4px);
  }

  &::before {
    @include hb-icon-background('close', 'gray-dark');

    content: '';
    display: block;
    width: hb-calculate-rems(8px);
    height: hb-calculate-rems(8px);
    background-size: hb-calculate-rems(8px) hb-calculate-rems(8px);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    border-color: color('gray-medium', 'global');
    background: color('gray-medium', 'global');
  }
}

