@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../functions/animation' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/icons' as *;

.hb-three-column__main .views-exposed-form,
.hb-three-column__sidebar-1 .views-exposed-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  align-items: end;
  gap: hb-calculate-rems(16px);
  margin-bottom: hb-calculate-rems(38px);

  form {
    max-width: 100%;
  }

  .form-item {
    width: 100%;

    @include grid-media-min('md') {
      max-width: hb-calculate-rems(390px);
    }
  }

  .form-item-with-actions {
    display: contents;
  }

  .form-actions {
    width: fit-content;

    .form-submit {
      width: auto;

      &:not(:last-child) {
        margin-right: hb-spacing-width('xxs');
      }
    }
  }
}

.views-exposed-form .select-preact {
  button {
    border-color: color('gray-400', 'global') !important;

    .select-preact__option-label {
      overflow: hidden;
      max-width: calc(100% - hb-calculate-rems(30px));
      padding: hb-calculate-rems(8px) hb-calculate-rems(5px) hb-calculate-rems(8px) 0;
      display: flex;
      align-items: center;
      gap: hb-calculate-rems(6px);
    }

    .select-preact__checkmark::before {
      content: '';
      width: hb-calculate-rems(13px);
      height: hb-calculate-rems(10px);
      background-size: hb-calculate-rems(13px) hb-calculate-rems(10px);
      background-repeat: no-repeat;
      flex-shrink: 0;

      @include hb-icon-background('checkmark', 'gray-900');
    }

    svg {
      transition: hb-transition(transform);
    }

    @include hb-traditional {
      border-radius: 0 !important;
    }

    &[aria-expanded='true'] {
      background-color: color('gray-100', 'global') !important;
      color: color('gray-900', 'global') !important;

      svg {
        transform: rotate(180deg);
      }

      @include hb-colorful {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        & + div {
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }
}

.breadbox {
  display: flex;
  flex-wrap: wrap;
  gap: hb-calculate-rems(20px);
  align-items: center;
  width: 100%;
  grid-column: 1 / -1;
  margin-top: hb-calculate-rems(16px);

  &--hidden {
    display: none;
  }
}

.breadbox__item {
  display: inline-flex;
  align-items: center;
  gap: hb-calculate-rems(6px);
  border: 1px solid color('gray-dark', 'global');
  color: color('gray-dark', 'global');
  padding: hb-calculate-rems(4px) hb-calculate-rems(10px);
  font-size: hb-calculate-rems(14px);
  line-height: 1.5;
  background: color('white', 'global');
  cursor: pointer;

  @include hb-colorful {
    border-radius: hb-calculate-rems(100px);
  }

  @include hb-traditional {
    border-radius: hb-calculate-rems(4px);
  }

  &::before {
    @include hb-icon-background('close', 'gray-dark');

    content: '';
    display: block;
    width: hb-calculate-rems(8px);
    height: hb-calculate-rems(8px);
    background-size: hb-calculate-rems(8px) hb-calculate-rems(8px);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    border-color: color('gray-medium', 'global');
    background: color('gray-medium', 'global');
  }
}

