/* Hides Show row weights button on node edits
 * from non-developer roles.
*/
.tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight {
  display: none;
}

.role-administrator .tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight {
  display: inline;
}

/* Hides text format container from non-developer roles. */
.text-format-wrapper .form-wrapper.filter-wrapper {
  display: none;
}

.role-administrator .text-format-wrapper .form-wrapper.filter-wrapper {
  display: block;
}
