/* Hides Show row weights button on node edits
 * from non-developer roles.
*/

.tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight.action-link--icon-show {
  display: none;
}

.tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight.action-link--icon-hide,
.role-administrator .tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight,
/* Gin theme selector targeting */
.role-administrator .tabledrag-toggle-weight-wrapper .tabledrag-toggle-weight.action-link--icon-show {
  display: inline;
}

/* Hides text format container from non-developer roles. */
.text-full .form-wrapper.filter-wrapper {
  display: none;
}

.role-administrator .text-full .form-wrapper.filter-wrapper {
  display: block;
}
