// Colorful Theme Fonts
// Source Sans Pro
$hb-colorful-font--sans: $su-font-sans;
$hb-traditional-font--serif: $su-font-serif;
$hb-traditional-font--sans: $su-font-sans;

// Source Sans Pro and Source Serif Pro Font Weights
$hb-font-weights: (
  regular: 400,
  semibold: 600,
  bold: 700
);
