$-font-stack-helvetica: (
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif,
);
$-font-stack-georgia: (
  "Georgia",
  "Times",
  "Times New Roman",
  serif,
);
$su-font-sans: 'Source Sans 3', 'Source Sans Pro', $-font-stack-helvetica;
$su-font-serif: 'Source Serif 4', 'Source Serif Pro', $-font-stack-georgia;

// Theme base fonts.
$hb-colorful-font--sans: $su-font-sans;
$hb-traditional-font--serif: $su-font-serif;
$hb-traditional-font--sans: $su-font-sans;

// Source Sans Pro and Source Serif Pro Font Weights
$hb-font-weights: (
  regular: 400,
  semibold: 600,
  bold: 700
);
