$su-site-max-width: 1500px;

// Screen sizes.

$su-screen-xs: 0;
$su-screen-sm: 576px;
$su-screen-md: 768px;
$su-screen-lg: 992px;
$su-screen-xl: 1200px;
$su-screen-2xl: $su-site-max-width;

// Breakpoint variables.

$su-breakpoint-xs: 'only screen and (min-width: #{$su-screen-xs})';
$su-breakpoint-xs-only: 'only screen and (min-width: #{$su-screen-xs}) and (max-width: #{$su-screen-sm - 1})';
$su-breakpoint-sm: 'only screen and (min-width: #{$su-screen-sm})';
$su-breakpoint-sm-only: 'only screen and (min-width: #{$su-screen-sm}) and (max-width: #{$su-screen-md - 1})';
$su-breakpoint-md: 'only screen and (min-width: #{$su-screen-md})';
$su-breakpoint-md-only: 'only screen and (min-width: #{$su-screen-md}) and (max-width: #{$su-screen-lg - 1})';
$su-breakpoint-lg: 'only screen and (min-width: #{$su-screen-lg})';
$su-breakpoint-lg-only: 'only screen and (min-width: #{$su-screen-lg}) and (max-width: #{$su-screen-xl - 1})';
$su-breakpoint-xl: 'only screen and (min-width: #{$su-screen-xl})';
$su-breakpoint-xl-only: 'only screen and (min-width: #{$su-screen-xl}) and (max-width: #{$su-screen-2xl - 1})';
$su-breakpoint-2xl: 'only screen and (min-width: #{$su-screen-2xl})';
$su-breakpoint-2xl-only: $su-breakpoint-2xl;
