@media (min-width: 1500px) {
  .hero-text-overlay {
    .image,
    .image img {
      height: 100%;
      max-height: 760px;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }
}

.hero-text-overlay {
  position: relative;

  .image {
    &:before {
      bottom: 0;
      content: '';
      display: flex;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
      background-image: linear-gradient(90deg, #00505c 14.95%, rgba(255, 255, 255, 0) 99.98%);
    }

    &.color-purple:before {
      background-image: linear-gradient(90deg, #53284f 14.95%, rgba(255, 255, 255, 0) 99.98%);
    }

    &.color-paloalto:before {
      background-image: linear-gradient(90deg, #175e54 14.95%, rgba(255, 255, 255, 0) 99.98%);
    }

    &.color-coolgrey:before {
      background-image: linear-gradient(90deg, #4d4f53 14.95%, rgba(255, 255, 255, 0) 99.98%);
    }

    &.color-brown:before {
      background-image: linear-gradient(90deg, #5e3032 14.95%, rgba(255, 255, 255, 0) 99.98%);
    }
  }

  .overlay-text {
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    left: 0;
    line-height: 23px;
    margin: 0 0 0 3em;
    padding: 2em;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 35%;
    z-index: 2;

    h2,
    .title h2 {
      font-size: 35px;
      font-weight: 300;
      line-height: 42px;
      margin-top: 0;
    }

    div.text-long,
    p {
      margin-bottom: 35px;
    }
  }
}

#main-content .hero-text-overlay .overlay-text {
  a,
  .link a,
  .decanter-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    padding: 1rem 2rem 1.5rem;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      transition: background-color 0.5s ease;
    }
  }

  &.color-default {
    a,
    .decanter-button {
      &:hover,
      &:focus {
        background: #007e8f;
      }
    }
  }

  &.color-purple {
    a,
    .decanter-button {
      &:hover,
      &:focus {
        background: #ac53a6;
      }
    }
  }

  &.color-paloalto {
    a,
    .decanter-button {
      &:hover,
      &:focus {
        background: #267f87;
      }
    }
  }

  &.color-coolgrey {
    a,
    .decanter-button {
      &:hover,
      &:focus {
        background: #72757e;
      }
    }
  }

  &.color-brown {
    a,
    .decanter-button {
      &:hover,
      &:focus {
        background: #ab5f61;
      }
    }
  }
}

@media (max-width: 1200px) {
  .hero-text-overlay .overlay-text {
    width: 45%;
  }
}

@media (max-width: 1100px) {
  .hero-text-overlay .overlay-text {
    margin: 0 0 0 3em;
    width: 55%;
  }
}

@media (max-width: 1050px) {
  .hero-text-overlay {
    .image {
      &.color-default:before {
        background-image: linear-gradient(90deg, #00505c 29.95%, rgba(255, 255, 255, 0) 150%);
      }

      &.color-purple:before {
        background-image: linear-gradient(90deg, #53284f 29.95%, rgba(255, 255, 255, 0) 150%);
      }

      &.color-paloalto:before {
        background-image: linear-gradient(90deg, #175e54 29.95%, rgba(255, 255, 255, 0) 150%);
      }

      &.color-coolgrey:before {
        background-image: linear-gradient(90deg, #4d4f53 29.95%, rgba(255, 255, 255, 0) 150%);
      }

      &.color-brown:before {
        background-image: linear-gradient(90deg, #5e3032 29.95%, rgba(255, 255, 255, 0) 150%);
      }
    }

    .overlay-text {
      margin: 0 0 0 1em;
      padding: 35px;
      width: 95%;
    }
  }
}

@media (max-width: 975px) {
  .hero-text-overlay {
    .image {
      &.color-default:before {
        background-image: linear-gradient(0deg, #00505c 50.95%, rgba(255, 255, 255, 0) 85%);
      }

      &.color-purple:before {
        background-image: linear-gradient(0deg, #53284f 50.95%, rgba(255, 255, 255, 0) 85%);
      }

      &.color-paloalto:before {
        background-image: linear-gradient(0deg, #175e54 50.95%, rgba(255, 255, 255, 0) 85%);
      }

      &.color-coolgrey:before {
        background-image: linear-gradient(0deg, #4d4f53 50.95%, rgba(255, 255, 255, 0) 85%);
      }

      &.color-brown:before {
        background-image: linear-gradient(0deg, #5e3032 50.95%, rgba(255, 255, 255, 0) 85%);
      }
    }

    .overlay-text {
      border: 0;
      margin: 0;
      position: relative;
      transform: none;
      width: 100%;

      &.color-default {
        background: #00505c;
      }

      &.color-purple {
        background: #53284f;
      }

      &.color-paloalto {
        background: #175e54;
      }

      &.color-coolgrey {
        background: #4d4f53;
      }

      &.color-brown {
        background: #5e3032;
      }
    }
  }
}

@media (max-width: 576px) {
  .hero-text-overlay .image {
    &.color-default:before {
      background-image: linear-gradient(0deg, #00505c 39.95%, rgba(255, 255, 255, 0) 95%);
    }

    &.color-purple:before {
      background-image: linear-gradient(0deg, #53284f 39.95%, rgba(255, 255, 255, 0) 95%);
    }

    &.color-paloalto:before {
      background-image: linear-gradient(0deg, #175e54 39.95%, rgba(255, 255, 255, 0) 95%);
    }

    &.color-coolgrey:before {
      background-image: linear-gradient(0deg, #4d4f53 39.95%, rgba(255, 255, 255, 0) 95%);
    }

    &.color-brown:before {
      background-image: linear-gradient(0deg, #5e3032 39.95%, rgba(255, 255, 255, 0) 95%);
    }
  }
}
