.hero-text-overlay {

  border: 5px solid darkblue;

  &.color-red {
    border: 5px solid darkred;
  }

  &.color-green {
    border: 5px solid darkgreen;
  }

  .image {

  }

  .overlay-text {

  }

}
