@use 'true' as *;
@use '../../../src/scss/partials/variables/theme';
@use '../../../src/scss/partials/functions/animation' as *;
@use '../../../src/scss/partials/mixins/theme' as t;

@include describe('HB Animation Function') {

  // Colorful
  @include describe('the hb-transition() function used with Colorful') {
    theme.$hb-current-theme: 'colorful';

    @include it('returns the theme variable values for the transition-duration and transition-timing-function properties') {
      @include assert {
        @include output {
          @include t.hb-colorful {
            transition: hb-transition(color);
          }
        }

        @include contains {
          transition: color 150ms ease-in-out;
        }
      }
    }
  }

  // Traditional
  @include describe('the hb-transition() function used with Traditional') {
    theme.$hb-current-theme: 'traditional';

    @include it('returns the theme variable values for the transition-duration and transition-timing-function properties') {
      @include assert {
        @include output {
          @include t.hb-traditional {
            transition: hb-transition(color);
          }
        }

        @include contains {
          transition: color 300ms ease-in-out;
        }
      }
    }
  }

  // Airy
  @include describe('the hb-transition() function used with Airy') {
    theme.$hb-current-theme: 'airy';

    @include it('returns the theme variable values for the transition-duration and transition-timing-function properties') {
      @include assert {
        @include output {
          @include t.hb-airy {
            transition: hb-transition(color);
          }
        }

        @include contains {
          transition: color 150ms ease-in-out;
        }
      }
    }
  }

}
