@include describe('Color Functions') {

  @include describe('When given a valid key value,') {
    $current-theme: 'colorful' !global; // need to override default setting

    @include describe('the theme-color() function') {
      @include it('returns the Colorful theme teal color.') {
        $test: theme-color(su-teal);
        $expect: #00505c;

        @include assert-equal($test, $expect, "The Colorful su-teal color value either does not match or does not exist.");
      }
    }
  }
}