@use 'true' as *;
@use '../../../src/scss/partials/variables/theme';
@use '../../../src/scss/partials/functions/general' as g;

@include describe('HB Spacing Width Function') {

  @include describe('When given a valid key value,') {
    theme.$hb-current-theme: 'colorful';

    @include describe('the hb-spacing-width() function') {
      @include it('returns the medium pixel value for the Colorful theme.') {
        $test: g.hb-spacing-width('md');
        $expect: '2rem';

        @include assert-equal($test, $expect, 'The medium value either does not match or does not exist.');
      }
    }
  }

  @include describe('When given a valid key value,') {
    theme.$hb-current-theme: 'traditional';

    @include describe('the hb-spacing-width() function') {
      @include it('returns the medium pixel value for the Traditional theme.') {
        $test: g.hb-spacing-width('md');
        $expect: '1.75rem';

        @include assert-equal($test, $expect, 'The medium value either does not match or does not exist.');
      }
    }
  }
}

@include describe('HB Sidebar Width Function') {

  @include describe('the hb-sidebar-width() function') {
    theme.$hb-current-theme: 'colorful';

    @include it('returns the sidebar width for the Colorful theme.') {
      $test: g.hb-sidebar-width();
      $expect: 22.5%;

      @include assert-equal($test, $expect, 'The sidebar width either does not match or does not exist.');
    }
  }

  @include describe('the hb-sidebar-width() function') {
    theme.$hb-current-theme: 'traditional';

    @include it('returns the sidebar width for the Traditional theme.') {
      $test: g.hb-sidebar-width();
      $expect: 18%;

      @include assert-equal($test, $expect, 'The sidebar width either does not match or does not exist.');
    }
  }
}

@include describe('HB Calculate Rems Function') {
  @include describe('the hb-calculate-rems() function') {
    @include it('returns the rem value based on the root font size.') {
      $test: g.hb-calculate-rems(16px);
      $expect: '1rem';

      @include assert-equal($test, $expect, 'The rem value either does not match or does not exist.');
    }
  }
}
