@use 'true' as *;
@use '../../../src/scss/partials/variables/theme';
@use '../../../src/scss/partials/mixins/theme' as t;


// Describe what you're testing
@include describe('Theme-specific mixins') {

  // Colorful
  @include describe('hb-colorful() mixin') {
    theme.$hb-current-theme: 'colorful';

    @include it('returns some properties specific to Colorful') {
      @include assert {
        @include output {
          @include t.hb-colorful {
            color: green;
          }
        }

        @include contains {
          color: green;
        }
      }
    }

    @include it('does not return styles because the mixin does not match the $hb-current-theme') {
      @include assert {
        @include output {
          @include t.hb-airy {
            color: yellow;
          }
        }

        @include expect {}
      }
    }
  }

  // Traditional
  @include describe('hb-traditional() mixin') {
    theme.$hb-current-theme: 'traditional';

    @include it('returns some properties specific to Traditional') {
      @include assert {
        @include output {
          @include t.hb-traditional {
            color: purple;
          }
        }

        @include contains {
          color: purple;
        }
      }
    }

    @include it('does not return styles because the mixin does not match the $hb-current-theme') {
      @include assert {
        @include output {
          @include t.hb-colorful {
            color: green;
          }
        }

        @include expect {}
      }
    }
  }

  // Airy
  @include describe('hb-airy() mixin') {
    theme.$hb-current-theme: 'airy';

    @include it('returns some properties specific to Airy') {
      @include assert {
        @include output {
          @include t.hb-airy {
            color: yellow;
          }
        }

        @include contains {
          color: yellow;
        }
      }
    }

    @include it('does not return styles because the mixin does not match the $hb-current-theme') {
      @include assert {
        @include output {
          @include t.hb-traditional {
            color: purple;
          }
        }

        @include expect {}
      }
    }
  }

  // Multi-theme
  @include describe('Multi-theme hb-themes() mixin') {
    theme.$hb-current-theme: 'colorful';

    @include it('returns some properties specific to Colorful') {
      @include assert {
        @include output {
          @include t.hb-themes(('colorful', 'traditional')) {
            color: brown;
          }
        }

        @include contains {
          color: brown;
        }
      }
    }

    @include it('does not return styles because the mixin does not include a reference to the $hb-current-theme') {
      @include assert {
        @include output {
          @include t.hb-themes(('airy', 'traditional')) {
            color: orchid;
          }
        }

        @include expect {}
      }
    }

    @include it('does not return styles when empty array passed') {

      // the mixin just returns since the array is empty
      @include assert {
        @include output {
          @include t.hb-themes(()) {
            color: papayawhip;
          }
        }

        @include expect {}
      }
    }
  }
}
