{% set attributes = attributes.addClass('basic-node') %}

<div{{ attributes }}>

  {% if sidebar %}
    <div class="basic-node__sidebar decanter-width-one-fourth">
      {{ sidebar }}
    </div>
  {% endif %}

  <div class="basic-node__main {% if sidebar %} decanter-width-three-fourths{% endif %}">
    {{ page_title }}
    {{ content }}
  </div>

</div>
