<div class="hs-login">

  {% if preface %}
    <div class="preface">
      {{ preface }}
    </div>
  {% endif %}

  <div class="link">
    {{ link }}
  </div>

  {% if postface %}
    <div class="postface">
      {{ postface }}
    </div>
  {% endif %}
</div>
