@charset "UTF-8";

///
/// POSTCARD HORIZONTAL COMPONENT
///

// An extensible content container with options for a wide variety of content.
// Horizontal layout.

// Decanter

@import
  'decanter-no-markup';

// Stanford Math Research Center

@import
  '../utilities/mixins/mixins';

.mrc-postcard--horizontal {
  @include margin(null null 2em);
  @include mrc-card-container;

  .mrc-postcard__img {
    @include margin(null 0 null null);
    @include media($medium-screen) {
      float: left;
      max-width: 50%;

      @include margin(null 30px null null);
    }

    img {
      width: 100%;

      @include margin(null null 0.5em);

      @include media($medium-screen) {
        width: auto;
      }
    }
  }

  .mrc-postcard__title {
    clear: none;

    @include margin(0 null null);
  }

  .mrc-postcard__button {
    @include margin(0.5em null null);
    @include more-link(more-link, more-link-hover);
  }
}
