@charset "UTF-8";

///
/// VIDEO LIST COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-video-list__video {
  .video-embed-field-lazy img {
    object-fit: cover;

    @media (min-width: 482px) and (max-width: 619px) {
      height: 315px;
    }

    @media (min-width: 620px) and (max-width: 899px) {
      height: 470px;
    }

    @media (min-width: 900px) and (max-width: 1200px) {
      height: 585px;
    }

    @include media($large-screen) {
      height: 655px;
    }
  }
}
