.layout-region {
  border: 3px dashed #979797;
  padding: 2px;
  margin-bottom: 3px;

  .views-field .field-content,
  .string {
    overflow: hidden;
  }

  .add-block {
    position: relative;
    z-index: 999;
  }
}
