@import 'decanter-no-markup';

.three-column-w-image {
  .image-wrapper {
    float: left;
    width: 50%;

    @include padding(null 20px 20px null);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .break-below-top .main-above:after {
    border-bottom: 6px solid $color-sun;
    content: "";
    display: block;
    width: 50px;
    position: relative;
    left: 50%;

    @include padding(5px null null);
  }
}