@charset "UTF-8";

//
// Page layout: Three column with image
//

@import
  'decanter-no-markup',
  '../../../../themes/humsci/su_humsci_theme/scss/utilities/mixins/index';

.three-column-w-image {
  .image-wrapper {
    @include padding(0 0 1em 0);

    width: 100%;
    position: relative;
    z-index: 99;

    img {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
    }

    @include media($medium-screen) {
      width: auto;
      max-width: 40%;

      @include padding(0 1em 0.5em 0);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: unset;

    @include margin(0 null null);
  }

  .views-block .block__title {
    clear: both;
  }

  .break-below-top .main-above {
    display: block;
  }

  .main-below {
    @include accent-dash(0.25em, $color-black, 2.125em);

    &:before {
      @include margin(null 0 null null);

      vertical-align: inherit;
    }

    p {
      width: 100%;

      @include media($medium-screen) {
        width: 90%;
      }
    }
  }
}
