@import 'decanter-no-markup';

.three-column-w-image {

  .image-wrapper {
    @include padding(0 0 1em 0);
    width: 100%;
    img {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
    }
    @include media($medium-screen) {
      float: left;
      width: auto;
      max-width: 40%;
      @include padding(0 1em .5em 0);
    }
  }

  .break-below-top .main-above {
    display: block;
    &:after {
      border-bottom: 0.25em solid #eaab00;
      content: "";
      display: inline-block;
      width: 2.125em;
    }
  }
}