.is-horizontal ul.hs-paragraphs-tabs {
  margin: 30px 10px;
}

.is-horizontal ul.hs-paragraphs-tabs li {
  min-width: 100px;
  border-bottom: none;
}
.is-horizontal ul.hs-paragraphs-tabs li.is-active {
  margin: 0;
}

.is-horizontal ul.hs-paragraphs-tabs a {
  padding: 10px 0;
}
