@charset "UTF-8";

//
// Media elements.
//

.media {
  iframe {
    width: 100vw;
    height: 56.25vw;
    background: red;
  }

  .align-left & {
    margin: 0 1em 1em 0;
  }

  .align-right & {
    margin: 0 0 1em 1em;
  }
}
