@charset "UTF-8";

///
/// VISITORS LIST COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-visitors-list {
  border-bottom: 1px solid $color-black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include margin(null null 1rem);
  @include padding(0.25em null 1.25em);

  @include media($medium-screen) {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media($large-screen) {
    grid-template-columns: repeat(3, 1fr);
  }

  .mrc-visitors-list__name {
    @include margin(0 null 0.25em);
  }

  .mrc-visitors-list__title {
    @include margin(null null 0.25em);

    @include media($medium-screen) {
      @include margin(0);
    }
  }

  .mrc-visitors-list__university {
    @include margin(null null 0.25em);
  }

  .mrc-visitors-list__academic-year {
    @include margin(null null 0.25em);

    @include media($medium-screen) {
      @include margin(0);
    }
  }
}
