#toolbar-item-shortcuts-tray {
  display: block;
}

#toolbar-item-administration-tray,
#toolbar-item-administration {
  display: none;
}

#toolbar-item-shortcuts {
  pointer-events: none;
  cursor: default;
}
