/* Course type colors. */

.form-item--field-hs-curriculum-course-color-style-selector .ssui__option {
  background-color: var(--color-cmap-requirement-type, transparent);
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.grey-500 {
  --color-cmap-requirement-type: #979694;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.brick-dark {
  --color-cmap-requirement-type: #42081b;
}

.form-item--field-hs-curriculum-course-color-style-selector .ssui__option.plum {
  --color-cmap-requirement-type: #620059;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.digital-red {
  --color-cmap-requirement-type: #b1040e;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.spirited {
  --color-cmap-requirement-type: #e04f39;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.poppy-light {
  --color-cmap-requirement-type: #f9a44a;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.olive-dark {
  --color-cmap-requirement-type: #7a863b;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.bay-dark {
  --color-cmap-requirement-type: #417865;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.sky-dark {
  --color-cmap-requirement-type: #009ab4;
}

.form-item--field-hs-curriculum-course-color-style-selector
  .ssui__option.lagunita-light {
  --color-cmap-requirement-type: #016895;
}
