hs_capx.settings:
  type: config_object
  mapping:
    username:
      type: string
      label: Username
    password:
      type: string
      label: Password
    orphan_action:
      type: string
      label: 'Orphan Action'

hs_capx.capx_importer.*:
  type: config_entity
  label: 'Capx importer config'
  mapping:
    uuid:
      type: string
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    organizations:
      type: sequence
      label: 'Organizations'
      sequence:
        type: string
        label: 'Organization'
    childOrganizations:
      type: boolean
      label: 'Include Child Organizations'
    workgroups:
      type: sequence
      label: 'Workgroups'
      sequence:
        type: string
        label: 'workgroup'
    tagging:
      type: sequence
      label: 'Content Tagging'
      sequence:
        type: sequence
        lable: 'Term Ids'
        sequence:
          type: integer
          label: 'Term Id'
    importWhat:
      type: int
      label: 'What should be imported'
