@use 'sass:map';
@use '../variables/colorful-pairings' as *;
@use '../variables/traditional-pairings' as *;
@use '../functions/general' as *;
@use '../functions/svg' as *;
@use '../functions/icons' as *;
@use 'theme' as *;

// This mixin could use some additional work to DRY up the code.
@mixin hb-icon-background($icon, $color, $mask: false) {
  $method: if($mask, 'mask-image', 'background-image');

  @include hb-themes(('colorful', 'airy')) {
    @if map.has-key($humsci-colorful-globals, $color) {
      $icon-color: map.get($humsci-colorful-globals, $color);
      #{$method}: svg(hc-get-icons($icon, $icon-color));
    } @else {
      $icon-color: map.get(map.get($humsci-colorful-pairings, 'cardinal'), $color);
      #{$method}: svg(hc-get-icons($icon, $icon-color));

      .hc-pairing-ocean & {
        $icon-color: map.get(map.get($humsci-colorful-pairings, 'ocean'), $color);
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-mountain & {
        $icon-color: map.get(
          map.get($humsci-colorful-pairings, 'mountain'),
          $color
        );
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-cardinal & {
        $icon-color: map.get(
          map.get($humsci-colorful-pairings, 'cardinal'),
          $color
        );
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-lake & {
        $icon-color: map.get(map.get($humsci-colorful-pairings, 'lake'), $color);
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-canyon & {
        $icon-color: map.get(map.get($humsci-colorful-pairings, 'canyon'), $color);
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .hc-pairing-cliff & {
        $icon-color: map.get(map.get($humsci-colorful-pairings, 'cliff'), $color);
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }
    }
  }

  @include hb-traditional {
    @if map.has-key($humsci-traditional-globals, $color) {
      $icon-color: map.get($humsci-traditional-globals, $color);
      #{$method}: svg(hc-get-icons($icon, $icon-color));
    } @else {
      $icon-color: map.get(
        map.get($humsci-traditional-pairings, 'cardinal'),
        $color
      );
      #{$method}: svg(hc-get-icons($icon, $icon-color));

      .ht-pairing-cardinal & {
        $icon-color: map.get(
          map.get($humsci-traditional-pairings, 'cardinal'),
          $color
        );
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .ht-pairing-bluejay & {
        $icon-color: map.get(
          map.get($humsci-traditional-pairings, 'bluejay'),
          $color
        );
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .ht-pairing-warbler & {
        $icon-color: map.get(
          map.get($humsci-traditional-pairings, 'warbler'),
          $color
        );
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .ht-pairing-firefinch & {
        $icon-color: map.get(
          map.get($humsci-traditional-pairings, 'firefinch'),
          $color
        );
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }

      .ht-pairing-vireo & {
        $icon-color: map.get(
          map.get($humsci-traditional-pairings, 'vireo'),
          $color
        );
        #{$method}: svg(hc-get-icons($icon, $icon-color));
      }
    }
  }

  @if $mask {
    background-color: var(--palette--#{$color});
  }
}

// The external link icon base implementation which sets the sizing and spacing.
// This has two use cases.
// It is used alongside the hb-link--inline mixin when an external icon is needed. The WYSIWYG hs-external-link class is an example of this.
// And within the fa-ext class in block-layout.scss to add an external link icon.
@mixin hb-external-link-icon {
  margin-right: hb-calculate-rems(2px);
  position: relative;

  &::after {
    @include hb-icon-background('ext-link', 'link-base-color', true);

    content: '';
    display: inline-block;
    position: relative;
    mask-position: center right;
    mask-repeat: no-repeat;
    mask-size: hb-calculate-rems(11px);
    height: hb-calculate-rems(20px);
    width: hb-calculate-rems(11px);
    margin-bottom: hb-calculate-rems(-5px);
    padding-left: hb-calculate-rems(15px);
    background-color: var(--link-base-current-color);
  }

  &:hover::after,
  &:focus::after {
    background-color: var(--link-base-hover-current-color);
  }
}

// Return a specific color of the fa-ext icon
// This mixin can be used to trigger the icon to change colors when the
// containing element it is associated with changes state (such as hover and/or focus).
@mixin hb-ext-icon-color($color) {
  .fa-ext::after {
    @include hb-icon-background('ext-link', $color);
    background-repeat: no-repeat;
    background-position: center right;
  }
}

@mixin hb-icon-link-arrow($color: 'black') {
  mask-repeat: no-repeat;
  mask-position: left;
  mask-size: 55%;

  @include hb-themes(('airy', 'colorful')) {
    @include hb-icon-background('arrow-right', $color, true);
  }

  @include hb-traditional {
    @include hb-icon-background('arrow-right-long', $color, true);
  }
}

@mixin hb-icon-type($type, $color) {
  @include hb-icon-background($type, $color);
  background-repeat: no-repeat;
  background-position: top left;
}

@mixin hb-fa-mailto-icon {
  span.fa-mailto {
    margin-left: hb-calculate-rems(4px);

    span.fa-envelope {
      color: var(--palette--tertiary);
    }
  }

  &:hover,
  &:focus {
    span.fa-mailto {
      span.fa-envelope {
        color: var(--palette--tertiary-darken-20);
      }
    }
  }
}
