@charset "UTF-8";

//
// Accent Dash
// Adds color dash to the left of text.
//

@mixin accent-dash($dash-height, $dash-color, $dash-width) {
  &::before {
    border-bottom: $dash-height solid $dash-color;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: $dash-width;

    @include margin(null 10px null null);
  }
}
