@charset "UTF-8";

//
// Card
// Adds global styles for cards.
//

@mixin card {
  background: $color-white;
  box-shadow: $box-shadow;
  display: block;

  @include media($medium-screen) {
    display: flex;
  }

  @include margin(null null 2em);
  @include padding(1em);
}
