@charset "UTF-8";

//
// Card
// Adds global styles for cards.
//

// Card
@mixin card {
  background: $color-white;
  box-shadow: $box-shadow;

  @include padding(0.75em);

  .view &,
  .field-block .entity-reference & {
    @include margin(0 0 1.5em);
  }
}

// Horizontal card
// Custom display settings for horizontal cards
@mixin horizontal-card {
  display: block;

  @include media($medium-screen) {
    display: flex;
  }
}
