@charset "UTF-8";

//
// Date Stacked
// For generating a square with a stacked abbreviated month and numbered day.
//

@mixin date-stacked {
  background: $color-black;
  bottom: -35px;
  box-shadow: $box-shadow;
  color: $color-white;
  left: 35px;
  position: absolute;
  text-align: center;

  @include margin(null 0 null null);
  @include padding(20px 25px);

  .date-month {
    font-size: $lead-font-size;
    font-weight: $font-x-light;
    line-height: $heading-line-height;
    text-transform: uppercase;
  }

  .date-day {
    font-weight: $font-normal;
  }
}
