@charset "UTF-8";

//
// Date Stacked
// For generating a square with a stacked abbreviated month and numbered day.
//

@mixin date-stacked {
  position: absolute;
  bottom: -35px;
  left: 35px;
  margin-right: 0;
  padding: 20px 25px;
  background: #333;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  .date-month {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.4em;
  }

  .date-day {
    font-weight: 400;
  }
}
