@charset "UTF-8";

//
// Heading Dash
// Adds color dash below headings.
//

@mixin heading-dash($dash-height, $dash-color, $dash-width) {
  &::after {
    border-bottom: $dash-height solid $dash-color;
    content: '';
    display: block;
    width: $dash-width;

    @include padding(.1em null null);
  }

  &.no-dash {
    &::after {
      display: none;
    }
  }
}
