@charset "UTF-8";

//
// Breakout Box (hs-well)
// Adds a breakout box with background color to CKeditor font styles
//

@mixin hs-well {
  background-color: $color-cloud;
  padding: 2rem 1.8rem;
  border: 0 none;
  display: table;
}
