@import 'decanter-no-markup';

.field-hs-row-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.counted-items-2 {
    > div {
      width: 100%;

      @include margin(0);

      @include media(768px) {
        width: calc(50% - 25px);

        @include margin(null null 0 null);
      }
    }
  }

  &.counted-items-3 {
    > div {
      width: 100%;

      @include margin(0);

      @include media(768px) {
        width: calc(50% - 25px);

        @include margin(null null 0 null);
      }

      @include media(960px) {
        width: calc(33.334% - 30px);
      }
    }
  }

  &.counted-items-4 {
    > div {
      width: 100%;

      @include margin(0);

      @include media(768px) {
        width: calc(50% - 25px);

        @include margin(null null 0 null);
      }

      @include media(960px) {
        width: calc(33.334% - 30px);
      }

      @include media(1200px) {
        width: calc(25% - 35px);
      }
    }
  }
}
