
{% set attributes = attributes.addClass('mrc-date-stacked') %}

<div{{ attributes }}>
  <div class="mrc-date-stacked__month">{{ month }}</div>
  <div class="mrc-date-stacked__day">{{ day }}</div>
</div>
