@charset "UTF-8";

///
/// FEATURED EVENT CARD COMPONENT
///

// For highlighting a single event. Includes date, time, location, title,
// description teaser, and image.

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-featured-event-card {
  @include mrc-card-container;
  @include mrc-flex-medium;

  .mrc-featured-event-card__img {
    margin-right: 0;

    img {
      width: 100%;
    }

    @include media($medium-screen) {
      margin-right: 30px;

      img {
        width: auto;
      }
    }
  }

  .mrc-featured-event-card__content {
    flex: 1 4 auto;

    #pattern-date-stacked {
      @include media($medium-screen) {
        @include margin(0 null null);
      }
    }

    .mrc-featured-event-card__date {
      @include mrc-date-stacked;
    }

    .mrc-featured-event-card__subcontent {
      flex-wrap: wrap;

      @include margin(1em null 0.25em);
      @include mrc-flex-medium;

      .mrc-featured-event-card__time {
        @include margin(0 0 0.25em 0);

        @include media($medium-screen) {
          @include margin(0);

          &:after {
            content: "|";

            @include padding(0 0.25em);
          }
        }
      }

      .mrc-featured-event-card__location {
        @include margin(0 null null);
      }
    }

    .mrc-featured-event-card__speaker {
      .views-label {
        display: block;
        float: left;
      }
    }

    .mrc-featured-event-card__title {
      @include margin(0.75em null null);
    }

    .mrc-featured-event-card__teaser {
      @include margin(1em null null);
    }
  }
}
