@use 'sass:meta';
@use '../variables/theme' as *;
@use '../variables/fonts' as *;
@use '../variables/colors.su-core' as *;
@use '../variables/colors.traditional' as *;
@use '../variables/colors.colorful' as *;
@use '../functions/general' as *;
@use '../functions/color' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/theme' as *;
@use '../mixins/text' as *;
@use '../mixins/generate-css-vars' as *;

// Font definitions.
@use '../fonts/fonts';

// Files from main
@use '../objects/layouts.flex-grid' as *;
@use '../objects/layouts.general' as *;
@use '../objects/layouts.views' as *;
@use '../components/media';

.paragraph-admin-preview {
  @include generate-css-vars('su-core', $su-core-colors);

  @include hb-themes(('colorful', 'airy')) {
    @include generate-css-vars('colorful-global', $colorful-global-colors);
  }

  @include hb-traditional {
   @include generate-css-vars('traditional-global', $traditional-global-colors);
  }

  // Load some stylesheet.
  // All styles will be prefixed with the `.paragraph-admin-preview` class.
  @include meta.load-css(
    '../base/normalize',
  );

  @include meta.load-css(
    '../base/color-pairings',
  );

  @include meta.load-css(
    '../base/base',
  );

  @include meta.load-css(
    '../base/forms',
  );

  @include meta.load-css(
    '../base/tables',
  );

  @include meta.load-css(
    '../base/details',
  );

  @include meta.load-css(
    '../components/buttons',
  );

  @include meta.load-css(
    '../components/block-layout',
  );

  @include meta.load-css(
    '../components/pattern.color-band',
  );

  // Utility classes.
  @include meta.load-css(
    '../utilities/utilities',
    $with: ('hb-current-theme': $hb-current-theme)
  );

  // Link current color variables.
  .paragraph-item {
    --link-base-current-color: #{color('link-base')};
    --link-base-hover-current-color: #{color('link-base-hover')};
  }

  // Style fixes for specific elements.
  .hb-color-band {
    &::before,
    &::after {
      display: none;
    }
  }

  .paragraph--type--hs-sptlght-slder.paragraph--view-mode--preview,
  .paragraph--type--hs-carousel.paragraph--view-mode--preview {
    padding-right: 0;
  }

  .paragraph--type--hs-gradient-hero-slider {
    .swiper-pagination {
      bottom: 0;
    }
  }

  .paragraph--type--hs-carousel .swiper-container {
    .swiper-button-prev,
    .swiper-button-next {
      @include hb-traditional {
        bottom: 4.76rem;
      }
    }
  }

  .ptype-hs-carousel .ptype-hs-hero-image,
  .paragraph--type--hs-carousel.ptype-hs-hero-image {
    .hb-hero-overlay {
      background-color: transparent;
    }
  }

  .hs-paragraph-style--well-full-width {
    left: auto;
    width: auto;
  }

  .ptype-hs-view {
    h2 {
      font-size: 1.5rem;
    }
  }

  .ptype-hs-timeline .ptype-hs-timeline-item:not(:last-child) {
    .hb-timeline-item[open]::after {
      content: none;
    }
  }

  .ptype-hs-callout-box > p {
    margin: 0 0 1rem !important;
    font-size: 0.875rem;
  }

  // .field-hs-postcard-link a {
  //   color: transparent;

  //   &:hover,
  //   &:focus {
  //     color: transparent;
  //   }
  // }

  // Gin styles overrides.
  @include hb-description;

  box-sizing: border-box;
  font-family: $su-font-sans;
  -webkit-font-smoothing: antialiased;

  a:hover {
    text-decoration: unset;
  }

  div.link {
    display: block;
    text-decoration: none;
  }

  blockquote::before {
    content: none;
    background-color: transparent;
  }

  details summary {
    background-color: transparent;
    font-weight: 400;
  }

  // .hb-vertical-linked-card__title__link.ext {
  //   --link-base-current-color: #{color('white', 'global')};
  //   --link-base-hover-current-color: #{color('white', 'global')};
  // }

  // // Vertical Linked cards.
  // .hb-vertical-button-card .hs-button {
  //   @include hb-traditional {
  //     background-color: transparent;
  //     border-color: var(--palette--secondary);
  //     color: var(--palette--secondary);
  //     border-width: 0;
  //     border-top-width: 2px;
  //     margin-top: auto;
  //     margin-left: hb-calculate-rems(-24px);
  //     margin-right: hb-calculate-rems(-24px);

  //     &:hover, &:focus {
  //       color: var(--palette--white);
  //       background-color: var(--palette--secondary);
  //     }
  //   }
  // }
}

.hb-raised-cards--uniform-height
  .field-hs-collection-items
  .ptype-hs-postcard
  .paragraph-admin-preview {
  display: flex;

  & div:only-child:not(.hb-card__date-tile, .hb-pill) {
    width: 100%;
  }
}
