{%- set attributes = attributes.addClass('hb-hero-overlay') -%}

{% if variant %}
  {% set variant_class = "hb-hero-overlay--color-#{variant}" %}
  {% set attributes = attributes.addClass(variant_class) %}
{% endif %}

{% spaceless %}
  <div{{ attributes }}>
    <div class="hb-hero-overlay__image-wrapper">
      {{ image }}
    </div>

    <div class="hb-hero-overlay__text">
      {{ overlay_text }}
    </div>
  </div>
{% endspaceless %}
