@import 'colors',
'decanter-no-markup';

.hs-text-area {
  &[class^="color-"] {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);

    > * {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  div[class^="decanter-width"] &[class^="color-"]{
    width: 100%;
    left: 0;
  }

  &.color-8C1515 {
    @include paragraph-colors('red');
  }

  &.color-000000 {
    @include paragraph-colors('black');
  }

  &.color-4D4F53 {
    @include paragraph-colors('cool-gray');
  }


  &.color-D5d0C0 {
    @include paragraph-colors('light-taupe');
  }

  &.color-928B81 {
    @include paragraph-colors('dark-taupe');
  }

  &.color-009B76 {
    @include paragraph-colors('bright-green');
  }

  &.color-0F6C91 {
    @include paragraph-colors('bright-blue');
  }

  &.color-006374 {
    @include paragraph-colors('deep-blue');
  }

  &.color-EAAB00 {
    @include paragraph-colors('bright-yellow');
  }

  &.color-E98300 {
    @include paragraph-colors('bright-orange');
  }

  &.color-53284F {
    @include paragraph-colors('deep-purple');
  }
}