@charset "UTF-8";

.layout-region-node-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 0;
  margin: 0;
  left: 0;
}

.layout-region-node-footer__content {
  padding-left: 40px;

  .entity-content-form-footer {
    float: left;
    padding-right: 20px;
  }
}
