// $current-theme needs to be set otherwise the tests will fail
$default-theme: 'colorful';
$current-theme: $default-theme;
$colorful-variation: 'colorful-teal';

@import 'true';
@import '../../src/scss/main.scss';

// Import all test partials here
@include describe('Sass Unit Tests') {
  @import 'tools/mixins.themes';
  @import 'tools/functions.colors';
  @import 'tools/functions.fonts';
}
