@charset "UTF-8";

///
/// EVENT DATE STACKED COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins',
  'patterns/atoms/date-stacked/scss/date-stacked';

.mrc-event-date-stacked-card {
  @include mrc-card-container;

  h2 {
    font-size: $lead-font-size;
  }

  .mrc-event-date-stacked__item {
    clear: both;

    @include margin(null null 1em);

    .mrc-event-date-stacked__content {
      display: table-cell;
      width: 90%;

      .mrc-event-date-stacked__program {
        font-size: $small-font-size;

        @include margin(0 0 0.25em 0);
      }

      .mrc-event-date-stacked__time-location {
        @include margin(0 0 0.25em 0);
      }

      .mrc-event-date-stacked__speaker {
        font-size: $small-font-size;

        @include margin(0 0 0.25em 0);

        .views-label {
          display: block;
          float: left;
        }
      }

      .mrc-event-date-stacked__title {
        @include margin(0 null 0.25em);
      }
    }
  }

  .mrc-date-stacked {
    float: left;

    @include margin(null 1em 1em null);
  }

  .mrc-event-date-stacked__time-location {
    font-size: $small-font-size;

    .mrc-event-date-stacked__time{
      float:left;
    }

    .pipe {
      float: left;
      margin: 0 3px;
    }
  }
}
