{% set attributes = attributes.addClass('masonry-item') %}

<div{{ attributes }}>
  <div class="inner masonry-item--inner">
    <div class="masonry-item--image">
      {{ image }}
    </div>
    <div class="masonry-item--body">
      {{ body }}
    </div>
  </div>
</div>
