@charset "UTF-8";

///
/// EVENT NODE STYLES
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-event__img {
  @include mrc-float-left;
  @include margin(null 2em 0.5em null);
}

.mrc-event__location {
  font-size: $h3-font-size;
  font-weight: $font-light;
  margin-top: 0;
}

.mrc-event__date,
.mrc-event__time {
  font-size: $h2-font-size;

  @include margin(null null 0.8em);
}

.mrc-event__map-admission {
  @include margin(0.5em 0);

  &:after {
    content: "\2014";
    display: block;
    font-size: $lead-font-size;
    font-weight: $font-bold;

    @include margin(1em null null);
  }

  .mrc-event__map {
    float: none;
    margin-right: 0;

    @include media($medium-screen) {
      float: left;
      margin-right: 0.5em;
    }


    &:before {
      color: $color-bright-red;
      content: "\f041";
      font-family: FontAwesome;
      margin-right: 0.15em;
    }
  }

  .mrc-event__admission {
    margin-left: 0;

    @include media($medium-screen) {
      margin-left: 0.5em;
    }


    &:before {
      content: "\f145";
      font-family: FontAwesome;
      margin-right: 0.15em;
    }
  }
}

.mrc-event__sponsor {
  font-style: italic;
  margin-top: 1em;
}

.mrc-event__contact {
  font-style: italic;
  margin-top: 1em;
}

.decanter-embed-container {
  margin-top: 1em;
}

h1.page-title {
  margin-top: 0;
}