.react-paragraphs-wrapper {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.react-paragraphs-wrapper:last-child {
  margin-bottom: 0;
}

[class*="react-width-"] {
  margin-right: 15px;
}

[class*="react-width-"]:last-child {
  margin-right: 0;
}

.react-width-1-of-12 {
  flex: 1 0 0;
}

.react-width-2-of-12 {
  flex: 2 0 0;
}

.react-width-3-of-12 {
  flex: 3 0 0;
}

.react-width-4-of-12 {
  flex: 4 0 0;
}

.react-width-5-of-12 {
  flex: 5 0 0;
}

.react-width-6-of-12 {
  flex: 6 0 0;
}

.react-width-7-of-12 {
  flex: 7 0 0;
}

.react-width-8-of-12 {
  flex: 8 0 0;
}

.react-width-9-of-12 {
  flex: 9 0 0;
}

.react-width-10-of-12 {
  flex: 10 0 0;
}

.react-width-11-of-12 {
  flex: 11 0 0;
}

.react-width-12-of-12 {
  flex: 12 0 0;
}
