#drupal-off-canvas {
  .cke_top {
    border-bottom: 1px solid #d1d1d1;

    &,
    * {
      background-color: #f8f8f8;
      color: #484848;
    }
  }

  .cke_button_icon {
    margin-right: 5px;
  }
}
