@use '../variables/fonts' as *;
@use '../variables/zindex' as *;
@use '../functions/general' as *;
@use '../mixins/theme' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/text' as *;
@use '../mixins/icons' as *;

.hb-media-image {
  .field-media-image-caption {
    @include hb-caption-credit;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    cite,
    code,
    li,
    dd,
    dt,
    span,
    strong,
    em,
    p,
    .hs-button,
    .hs-button--big,
    .hs-secondary-button,
    .hs-more-link,
    .hs-external-link,
    .hs-file-link,
    .hs-pdf-link,
    .hs-private-link {
      display: inline;
      margin-right: hb-calculate-rems(
        1.5px
      ); // Adds spacing to elements for readability with spacing between inline text elements
    }

    code,
    h1,
    h2,
    h3,
    .hs-font-splash {
      font-family: $hb-colorful-font--sans;
    }

    blockquote {
      font-family: $hb-colorful-font--sans;

      &:nth-child(n)::before,
      &:nth-child(n)::after,
      &:nth-child(n) > *::before,
      &:nth-child(n) > *::after {
        display: none;
      }
    }

    hr {
      display: none !important;
    }

    .toggle-caption__toggle {
      position: relative;
      padding: 0;
      text-align: center;
      background: none;
      border: none;
    }

    &.collapsible-caption {
      display: flex;
      flex-direction: column;
      text-align: left;
      background: none;
      padding: 0 hb-calculate-rems(6px) hb-calculate-rems(6px);

      .toggle-caption__toggle,
      .toggle-caption__close {
        background: none;
        border: none;
      }

      .toggle-caption__toggle {
        &::before {
          @include hb-icon-background('info', 'white');

          content: '';
          display: block;
          width: hb-calculate-rems(25px);
          height: hb-calculate-rems(25px);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .toggle-caption__toggle.is-open {
        background-color: var(--palette--black);
        width: hb-calculate-rems(18px);
        height: hb-calculate-rems(22px);

        &::before {
          @include hb-icon-background('close', 'white');

          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-size:  hb-calculate-rems(14px) hb-calculate-rems(14px);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .toggle-caption__content {
        position: relative;
        background-color: var(--palette--black);
        padding: hb-calculate-rems(2px) hb-calculate-rems(4px);
      }
    }
  }
}

// Refine caption/credit styles for vertical linked postcards
.hb-vertical-linked-card {
  .hb-media-image {
    .field-media-image-caption {
      @include hb-themes(('airy', 'colorful')) {
        @include grid-media-min('xs') {
          font-size: hb-calculate-rems(12px);
        }

        @include grid-media-min('sm') {
          padding-bottom: hb-calculate-rems(36px);
          padding-left: hb-calculate-rems(12px);
          font-size: hb-calculate-rems(11px);
          z-index: 0;
        }
      }
    }
  }
}

// Caption/credit styles for images placed within the body section text area on node detail pages and for WYSIWYG (text area) images
.node {
  figure {
    position: relative;
    z-index: $hb-z-index-figure;
    box-sizing: border-box;

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-spacing-width('sm');
    }

    @include hb-traditional {
      margin-bottom: hb-spacing-width('xs');
    }

    article:not(.hb-media-video):not(.hb-media-embed) {
      position: relative;

      + figcaption {
        @include hb-caption-credit;
      }
    }
  }
}
