@use '../variables/general' as *;
@use '../functions/general' as *;
@use '../mixins/flex-grid' as *;
@use '../mixins/breakpoints' as *;

$container-small: hb-calculate-rems(576px);

// Loops through the number of available columns (12). Classes determine the number
// of columns that the image in cards will span.
@mixin hb-image-sizes() {
  @for $i from 1 through 12 {
    $areas: '';
    $areas-right: '';

    @for $j from 1 through $i {
      $areas: $areas + 'a ';
      $areas-right: 'a ' + $areas-right;
    }

    @if $i < 12 {
      @for $j from 1 through (12 - $i) {
        $areas: $areas + 'b ';
        $areas-right: 'b ' + $areas-right;
      }
    }

    &-#{$i}-of-12 {
      .hb-card--horizontal:has(.hb-card__graphics) .hb-card__wrapper {
        @container card (width > #{$container-small}) {
          grid-template-areas: '#{$areas}';
        }
      }

      @if $i == 12 {
        .hb-card--horizontal:has(.hb-card__graphics) .hb-card__content {
          display: none;
        }
      }
    }
  }
}

.hb-card-image {
  // Creates the base classes that are not tied to a media query
  // Example: .hb-card-image-4-of-12
  @include hb-image-sizes;

  // Loops though the media query breakpoints to create responsive classes
  // Example: .hb-card-image-md-4-of-12
  @each $bp-key, $bp-value in $hb-grid-media {
    @include grid-media-min($bp-key) {
      &-#{$bp-key} {
        @include hb-image-sizes;
      }
    }
  }
}
