@use '../functions/general' as *;
@use '../mixins/theme' as *;

// Override color of base and base hover link for dark mode pattern.
.hb-dark-pattern,
.hb-dark-inversion .views-element-container {
  --link-base-current-color: var(--palette--link-base-color-dark);
  --link-base-hover-current-color: var(--palette--link-base-hover-color-dark);
}

.hb-dark-pattern.hb-local-footer {
  @include hb-colorful {
    --link-base-current-color: var(--palette--white);
    --link-base-current-hover-color: var(--palette--gray-medium);
  }
}

// Dark mode pattern utility class
.hb-dark-pattern {
  color: var(--palette--white);
  background-color: var(--palette--primary-dark);

  .views-element-container & {
    padding: hb-spacing-width('xs');

    .field-content,
    .views-label {
      color: var(--palette--white);
    }
  }
}

// Dark mode inversion for full site toggle
.hb-dark-inversion {
  .views-element-container {
    color: var(--palette--white);
    background-color: var(--palette--primary-dark);
    padding: hb-spacing-width('xs');

    .field-content,
    .views-label {
      color: var(--palette--white);
    }
  }
}
