// Dark mode pattern utility class
.hb-dark-pattern {
  color: var(--palette--white);
  background-color: var(--palette--primary-dark);

  .views-element-container & {
    padding: hb-spacing-width('xs');

    .field-content,
    .views-label {
      color: var(--palette--white);
    }
  }
}

// Dark mode inversion for full site toggle
.hb-dark-inversion {
  .views-element-container {
    color: var(--palette--white);
    background-color: var(--palette--primary-dark);
    padding: hb-spacing-width('xs');

    .field-content,
    .views-label {
      color: var(--palette--white);
    }
  }
}
