// WYSIWYG text area styles

@use '../variables/colorful-pairings' as *;
@use '../variables/traditional-pairings' as *;
@use '../variables/general' as *;
@use '../functions/fonts' as *;
@use '../functions/general' as *;
@use '../functions/animation' as *;
@use '../mixins/theme' as *;
@use '../mixins/general' as *;
@use '../mixins/breakpoints' as *;
@use '../mixins/text' as *;
@use '../mixins/links' as *;
@use '../mixins/icons' as *;

// General WYSIWYG styles (all fields).
.text-long,
.text-with-summary,
.views-field-body,
.hb-card__description {
  *:not([class]):last-child {
    margin-bottom: 0;
  }
}

.text-long,
.text-with-summary,
.views-field-body {
  line-height: var(--normal-line-height);
}

.hb-card__description .views-field-body,
.hb-vertical-linked-card__description .views-field-body,
.hb-callout-box .text-long,
.hb-table-wrap tbody,
.hb-table-wrap .hb-table-pattern__body,
.text-with-summary blockquote,
.text-long blockquote {
  line-height: var(--condensed-line-height);
}

// Flexible and private page text areas.
.field-hs-text-area,
.field-hs-priv-text-area {
  @include clearfix;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 0;
    margin-right: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include hb-traditional {
      margin-bottom: hb-calculate-rems(4px);
    }

    &:only-child {
      margin: 0;
    }
  }

  h1 {
    margin-top: hb-spacing-width();

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-spacing-width('xxs');
    }
  }

  h2 {
    margin-top: hb-spacing-width('md');

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(12px);

      @include grid-media-min('md') {
        margin-top: hb-spacing-width();
        margin-bottom: hb-spacing-width('xxxs');
      }
    }
  }

  h3 {
    @include hb-traditional {
      margin-top: hb-spacing-width('xs');
    }

    @include hb-themes(('colorful', 'airy')) {
      margin-top: hb-spacing-width('sm');
      margin-bottom: hb-calculate-rems(10px);
    }
  }

  h4 {
    margin-top: hb-calculate-rems(18px);

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(4px);
    }
  }

  h5 {
    margin-top: hb-calculate-rems(18px);

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(3px);
    }
  }

  h6 {
    margin-top: hb-calculate-rems(18px);

    @include hb-themes(('colorful', 'airy')) {
      margin-bottom: hb-calculate-rems(3px);
    }
  }

  // jump to link target - remove link styles from anchor tag
  a:not([href]):not([class]) {
    border-bottom: 0;
    transition: none;
    background-image: none;
  }

  a {
    overflow: hidden;

    img {
      transform: scale(1);
      transition: hb-transition(transform);

      &:hover,
      &:focus {
        transform: scale($hb-image-hover-scale);
      }
    }
  }

  // Only in the textarea, does the well get display: table for being floated
  .hs-well,
  .pullquote {
    display: table;
  }
}

// Utility classes used in Content Type WYSIWYGs and in Text Area WYSIWYG components
// hs-caption and D7 import utility class map and loop
$captions: (hs-caption, caption);

@each $caption in $captions {
  .#{$caption},
  .views-row #{$caption},
  .views-row #{$caption} a {
    @include hb-caption;
  }
}

$credits: (hs-credits, credits);

@each $credit in $credits {
  .#{$credit},
  .views-row #{$credit},
  .views-row #{$credit} a {
    @include hb-caption($italic: true);
  }
}

// Default caption alignment behavior without caption/credit overlay styles.
.caption {
  figcaption {
    text-align: right;
  }
}

.hs-font-lead,
.summary {
  font-size: hb-calculate-rems(20px);
  font-weight: hb-theme-font-weight(semibold);
  line-height: 127%;
  color: var(--palette--gray-dark);

  @include grid-media-min('lg') {
    font-size: hb-calculate-rems(22px);
  }

  .hb-dark-pattern & {
    color: var(--palette--gray-light);
  }

  li & {
    margin: hb-calculate-rems(-3px) 0 0;
  }
}

.hs-font-lead {
  @include hb-font-lead-animation;
}

.hs-font-splash {
  @include hb-font-splash-animation;

  @include hb-traditional {
    ~ .hs-font-lead {
      animation-duration: 1450ms !important;
      animation-delay: 250ms;

      @media (prefers-reduced-motion: reduce) {
        animation-delay: -1s;
        animation-duration: 1s !important;
        animation-iteration-count: 1;
      }
    }
  }

  &,
  .infotext {
    @include hb-heading-1;

    @include grid-media-min('md') {
      margin: hb-spacing-width() 0 hb-spacing-width('xxs');
    }

    @include hb-themes(('colorful', 'airy')) {
      color: var(--palette--primary);

      .hb-dark-pattern & {
        color: var(--palette--gray-light);
      }
    }

    @include hb-traditional {
      color: var(--palette--primary);
    }

    li & {
      margin: hb-calculate-rems(-3px) 0 0;
    }
  }
}

.hs-short-line-length {
  max-width: hb-calculate-rems(700px);
}

.hs-table--borderless {
  thead {
    th {
      border: 0;
    }
  }

  td {
    border-left: 0;
    border-right: 0;
  }
}

// Drupal base classes used in Content Type WYSIWYGs and in Text Area WYSIWYG components
.emphasized-text,
.hs-emphasized-text {
  font-style: italic;
  font-weight: inherit;
  font-size: inherit;
}

// Views style application for hs-emphasized-text
.views-row .hs-emphasized-text,
.views-row .hs-emphasized-text a {
  @include hb-text-reset;
  font-style: italic;
  font-weight: inherit;
  font-size: inherit;
}

// media
.align {
  &-right {
    max-width: 100%;

    @include grid-media-min('sm') {
      max-width: 50%;
    }

    @include grid-media-min('md') {
      max-width: 75%;
    }

    @include hb-themes(('colorful', 'airy')) {
      margin: 0 0 hb-spacing-width('sm') hb-spacing-width('sm');
    }

    @include hb-traditional {
      margin: 0 0 hb-spacing-width('xs') hb-spacing-width('xs');
    }
  }

  &-left {
    max-width: 100%;

    @include grid-media-min('sm') {
      max-width: 50%;
    }

    @include grid-media-min('md') {
      max-width: 75%;
    }

    @include hb-themes(('colorful', 'airy')) {
      margin: 0 hb-spacing-width('sm') hb-spacing-width('sm') 0;
    }

    @include hb-traditional {
      margin: 0 hb-spacing-width('xs') hb-spacing-width('xs') 0;
    }
  }

  &-center {
    @include hb-themes(('colorful', 'airy')) {
      margin: 0 auto hb-spacing-width('sm');
    }

    @include hb-traditional {
      margin: 0 auto hb-spacing-width('xs');
    }

    img {
      margin: 0 auto;
    }
  }
}

.drupal-media-style-align-right,
// .drupal-media-style-align-center,
.drupal-media-style-align-left {
  max-width: 100%;
}

.drupal-media-style-align-right .align-right,
.drupal-media-style-align-center .align-center,
.drupal-media-style-align-left .align-left {
  max-width: 100%;
  margin: 0;
  float: none;
}

.drupal-media:has(article.hb-media-image) {
  @include hb-themes(('colorful', 'airy')) {
    margin-bottom: hb-spacing-width('sm');
  }

  @include hb-traditional {
    margin-bottom: hb-spacing-width('xs');
  }

  figcaption {
    font-style: italic;
    font-size: 12px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    text-align: right;
    line-height: 140%;
    height: auto;
    box-sizing: border-box;
    color: var(--palette--white) !important;
    border: none;
    background: linear-gradient(to top, var(--palette--black), transparent) !important;

    @include grid-media-min('sm') {
      padding: hb-calculate-rems(24px) hb-calculate-rems(12px)
        hb-calculate-rems(16px) 15% !important;
    }
  }
}

.drupal-media-style-align-center:has(.hb-media-image) figcaption {
  left: 50%;
  transform: translateX(-50%);
}

// Override style coming from ckeditor5 module.
.ck.ck-content .drupal-media-style-align-center article:not(.hb-media-video) {
  max-width: 100% !important;
}

// blockquotes
// The text area blockquote content is placed inside of a paragraph tag.
blockquote:nth-child(n) {
  @include hb-blockquote;

  .hb-local-footer & {
    margin: 0 0 hb-calculate-rems(20px); // adjust blockquote browser spacing defaults when placed in the local footer
  }
}

a[href*="//"].hs-external-link,
.hs-external-link a[href*="//"]
{
  @include hb-link--inline;
  @include hb-external-link-icon;
}

a.hs-private-link,
.hs-private-link a,
a.private-link,
.private-link a {
  @include hb-link--inline;

  &::before {
    content: '';
    display: inline-block;
    height: hb-calculate-rems(16px);
    width: hb-calculate-rems(16px);
    margin-bottom: hb-calculate-rems(-2px);
    margin-right: hb-calculate-rems(2px);

    @include hb-icon-background('lock', 'link-base-color', true);
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--link-base-current-color);
  }

  &:hover::before {
    background-color: var(--link-base-hover-current-color);
  }
}

.hs-mailto-link a,
a.hs-mailto-link {
  @include hb-fa-mailto-icon;

  // The font awesome icon is hidden by default in themes, this shows it
  .fa-mailto {
    display: initial;
  }
}

// hs-more-link and D7 import utility class map and loop
$more-links: (hs-more-link);

@each $more-link in $more-links {
  a.#{$more-link},
  button.#{$more-link},
  .#{$more-link} a,
  .#{$more-link} button {
    margin-bottom: hb-calculate-rems(20px);

    @include hb-more-link;
  }
}

a.hs-pdf-link {
  @include hb-icon-link-inline('pdf');

  // Outline pdf icon option
  &--outline {
    @include hb-icon-link-inline('pdf');

    &::before {
      font-weight: 400;
    }
  }
}

a.hs-file-link {
  @include hb-icon-link-inline('file');

  // Outline file icon option
  &--outline {
    @include hb-icon-link-inline('file');

    &::before {
      font-weight: 400;
    }
  }
}

// Breakout Box
// Adds a breakout box with background color to CKeditor font styles
.hs-breakout-box {
  @include hb-themes(('colorful', 'airy')) {
    background-color: var(--palette--spotlight);
  }

  @include hb-traditional {
    background-color: var(--palette--spotlight);
  }

  padding: hb-calculate-rems(20px) hb-calculate-rems(18px);
  border: 0 none;
  width: 100%;
  box-sizing: border-box;
}
