@use 'sass:map';
@use 'sass:list';
@use '../variables/flex-grid' as *;
@use 'general' as *;

///
/// The $su-grid-screens map defined in the grid variables file is used as the
/// $breakpoints argument by default.
///
/// Returns the breakpoint name with a dash in front. If the smallest breakpoint
/// (xs) is passed through, a blank string is returned.
///
/// @name breakpoint-insert
///
/// @param {String} $name the key in the breakpoint map. eg: sm
/// @param {Map} $breakpoints [$su-grid-screens] The breakpoint map
///
/// @example
/// breakpoint-insert(xs)
/// Returns a blank string
///
/// breakpoint-insert(sm)
/// Returns "-sm"
///
@function breakpoint-insert($name, $breakpoints: $su-grid-screens) {
  @return "-#{$name}";
}

///
/// The $su-grid-screens map defined in the grid variables file is used as the
/// $breakpoints argument by default.
///
/// Maximum breakpoint width. Null for the largest (2xl) breakpoint.
/// The maximum value is calculated as the minimum of the following breakpoint
/// minus 1px.
///
/// @name breakpoint-max
///
/// @param {String} $name the key in the breakpoint map. eg: sm
/// @param {Map} $breakpoints [$su-grid-screens] The breakpoint map
///
/// @example
/// breakpoint-max(sm)
/// Returns "767px"
///
@function breakpoint-max($name, $breakpoints: $su-grid-screens) {
  $next: breakpoint-next($name, map.keys($breakpoints));
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

///
/// The $su-grid-screens map defined in the grid variables file is used as the
/// $breakpoints argument by default.
///
/// Minimum breakpoint width. Null for the smallest (xs) breakpoint.
///
/// breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, 2xl: 1500px))
/// Returns "576px"
///
/// @name breakpoint-min
///
@function breakpoint-min($name, $breakpoints: $su-grid-screens) {
  $min: map.get($breakpoints, $name);
  @return if($min !=0, $min, null);
}

///
/// breakpoint-next($name, $breakpoint-names)
///
/// The $su-grid-screens map defined in the grid variables file is used as the
/// $breakpoints argument by default.
///
/// Name of the next breakpoint, or null for the last breakpoint.
///
/// breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, 2xl: 1500px))
/// Returns "md"
///
@function breakpoint-next($name, $breakpoints: map.keys($su-grid-screens)) {
  $n: list.index($breakpoints, $name);

  @if is-integer($n) {
    @return if($n < list.length($breakpoints), list.nth($breakpoints, $n + 1), null);
  }

  @else {
    @error "Could not find breakpoint shortcode in breakpoint-next mixin";
  }
}

///
/// breakpoint-previous($name, $breakpoint-names)
///
/// The $su-grid-screens map defined in the grid variables file is used as the
/// $breakpoints argument by default.
///
/// Name of the previous breakpoint, or null if the breakpoint does not exist.
///
/// breakpoint-previous(lg, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, 2xl: 1500px))
/// Returns "md"
///
@function breakpoint-previous($name, $breakpoints: map.keys($su-grid-screens)) {
  $n: list.index($breakpoints, $name);

  @if is-integer($n) and $n >1 {
    @return if($n <= list.length($breakpoints), list.nth($breakpoints, $n - 1), null);
  }

  @else {
    @return null;
  }
}
