{% set attributes = attributes.addClass('masonry') %}

<div{{ attributes }}>
  <div class="masonry-sizer masonry-sizer--item"></div>
  <div class="masonry-sizer masonry-sizer--gap"></div>
  {{ items }}
</div>
